{% set pageName = "Contact Design Ops" %}
{% set pageDescription = "Contact the Department for Education Design Ops team with ideas, queries or comments." %}
{% set selectedNav = "Design Ops" %}
{% set lastUpdated = "December 2022" %}
{% set backlog_issue_id = "41" %}

{% extends "layouts/content-with-sidenav.html" %}



{% block beforeContent %}{% endblock %}

{% block content %}

<p>You can contact us in the following ways:</p>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      <a class="govuk-link govuk-link--no-visited-state" href="mailto:design.ops@education.gov.uk">design.ops@education.gov.uk</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      DfE slack
    </dt>
    <dd class="govuk-summary-list__value">
     <a class="govuk-link govuk-link--no-visited-state" href="https://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#design-ops</a>
    </dd>
  </div>
   <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Cross-government Slack
    </dt>
    <dd class="govuk-summary-list__value">
     <a class="govuk-link govuk-link--no-visited-state" href="https://ukgovernmentdigital.slack.com/archives/C04GXQ0320Z" target="_blank">#dfe-design-ops</a>
    </dd>
  </div>
  </dl>

{% endblock %}