
.app-back-to-top {
  display: none;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429
}

@media print {
  .app-back-to-top {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-back-to-top {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .app-back-to-top {
      font-size: 14pt;
      line-height: 1.2
  }
}

@media(min-width: 40.0625em) {
  .app-back-to-top {
      display:block;
      position: -webkit-sticky;
      position: absolute;
      bottom: 30px;
      margin-bottom: 0px;
      padding-left: 15px
  }

  .app-back-to-top a,.app-back-to-top a:link,.app-back-to-top a:visited {
      color: #1d70b8
  }

  .app-back-to-top a:focus {
      color: #0b0c0c;
      background-color: #fd0;
      box-shadow: 0 -2px #fd0,0 4px #0b0c0c
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -5px;
  margin-right: 10px;
  vertical-align: middle
}
