.ncs-form-group--error {
  border-left: 5px solid $bright_purple;

  .ncs-error-message {
    color: $bright_purple;
  }

  .ncs-input--error {
    border-color: $bright_purple;
  }

  .ncs_error__top {
    display: none;
  }
}

@media (min-width: 50em) {
  .app-question--short  .form-elements{
      clear: both;
      position: relative;
      display:flex;
      flex-wrap:wrap;

    .govuk-hint{
      display: none;
    }

    .govuk-radios__item:nth-child(3) {
        white-space: nowrap
    }

    .govuk-radios {
        text-align: center;
        position: relative;
        margin: 0
    }

    .govuk-radios__item {
        position: relative;
        padding-left: 0;
        width: 20%;
        display: block;
        text-align: center;
        float: left;
        clear: none;
        margin: 0
    }

    .govuk-radios__item:last-child {
        margin-right: 0
    }

    .govuk-radios__input+.govuk-radios__label::after,
    .govuk-radios__input+.govuk-radios__label::before {
        left: calc(50% + 2px);
        transform: translateX(-50%)
    }

    .govuk-radios__label {
        padding-top: 3em;
        padding-left: 5px;
        padding-right: 5px
    }

    .govuk-error-message {
        margin-bottom: 0
    }

    .app-question__question {
        border-right: 1px solid $primary_black;
        width: 40%;
        padding-right: 25px;
        flex-direction: column
    }

    .app-question__question h1 {
        margin: auto 0
    }

    .app-question__question .govuk-error-message {
        margin-bottom: .5em
    }

    .app-question__answer,
    .app-question__question {
        display: flex;
        flex: 1 0 auto;
        margin: 0
    }

    .app-question__answer {
        width: 60%;
        align-self: center;
        justify-content: center;
    }

    .govuk-fieldset__heading {
        clear: both
    }

    .govuk-form-group {
        margin-bottom: 0
    }
  }
}

.ncs-skill-assessment {
  .ncs_error__top {
    display: block;
  }

  .form-elements {
    .ncs-error-message {
      display: none;
    }
  }
}