@import '../variables.scss';

.ncs-highlight-box {
    .ncs-highlight-box__card {
        min-height: 170px;
        background-color: $light_blue_25;
        padding: 10px;
        margin-bottom: 15px;
    }

    .ncs-highlight-box__link {  
        text-decoration: none;

        &:hover, &:focus {
            .ncs-highlight-box__card {
                h3 {
                    text-decoration: underline;
                    color: $primary_black;
                }
            }
        }
        &:focus {
            .ncs-highlight-box__card {
                outline: $focus_yellow solid 3px;
                outline-offset: 0;
                box-shadow: inset 0 0 0 3px $primary_black;
            }
        }
    }
}

@media (max-width: 640px){
    .ncs-highlight-box__card {
        min-height: auto;
    }
}

