{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Images" %}
{% set pageDescription = "Guidance for publishing images on the National Careers Service website. " %}
{% set pageCaption = "National Careers Service style" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "branding-guidelines"%}
{% set ncs_branding_nav = "true"%}
{% set isChildSection = "true"%}

{% set ncs_hide_parent_nav = "true" %}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "July 2023 "%}
{% set backlog_issue_id = "97" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<div class="govuk-inset-text">
<p>Our image guidance is constantly evolving. We'll update it when we receive new research and feedback on how users interact with images on the <a href="https://nationalcareers.service.gov.uk/" target="_blank" rel="noopener noreferrer">National Careers Service website</a>.</p>
</div>
<p>Having image guidance specific for the National Careers Service helps us:</p>
<ul>
    <li>create a consistent look and feel </li>
    <li>articulate an image style that accurately reflects our values</li>
    <li>focus on the accessibility of website images</li>
    <li>represent as many of our user groups and personas as possible</li>
</ul>
<h2>GOV.UK Design System guidance</h2>
<p>You should always follow the <a href="https://design-system.service.gov.uk/styles/images/" target="_blank" rel="noopener noreferrer">GOV.UK Design System guidance on images</a>.</p>
<h2>Diversity and representation</h2>
<p>Images on the National Careers Service website should follow these general best practice guidelines.</p>
<p><strong>Representation</strong>: images should represent a wide range of people of different ethnicities, genders, ages, abilities, body sizes and other characteristics.</p>
<p><strong>Context</strong>: images should be appropriate and not inadvertently offend or misrepresent any group. This includes being conscious of the potential for images to enforce stereotypes of the types of people in roles, occupations and other activities displayed in the images.</p>
<p><strong>Consultation</strong>: you should share images with stakeholders and colleagues to get their expert input and ensure accurate and respectful representation. Feedback from users should also always be considered.</p>
<p><strong>Review</strong>: images should be regularly reviewed and updated so they continue to reflect diverse audiences and keep up with any changing societal norms and standards while also allowing more chances to show diversity in images.</p>
<h2>Background of images</h2>
<p>You should check images to ensure they do not show anything inappropriate or controversial, such as health or safety breaches or prominent logos of other organisations in the background.</p>
<h2>Image sources</h2>
<p>Ideally, you should aim to use photography commissioned by the National Careers Service so that images will be instantly recognised and create brand awareness.</p>
<p>However, it will not always be possible to commission our own images due to constraints with budgets, locations and hiring models. Therefore, you can use stock images when needed, as long as they meet our criteria.</p>
<p>You should try to use stock images from libraries which require a subscription so that the images on the website are less likely to be seen on non-National Careers Service products. This will help us retain a certain level of brand awareness while using stock image websites.</p>
<p>An exception to this is when we use images for case studies, for example on the job profiles. Use a real image of the person, not a stock image. We found that users like seeing a real person talking authentically about their career story.</p>
<h2>Strategic communications and policy involvement</h2>
<p>If you add images to represent or relate to policy offers, you should ensure images are checked by the relevant policy team.</p>
<p>This is to confirm that images accurately illustrate what is on offer and do not mislead users on what they can achieve. For example, if you add an image to introduce Skills Bootcamps, it is important that this shows a role that is available through the scheme.</p>
<p>Strategic communications can also help you assess the appropriateness of any images used that correlate with adult skills offerings.</p>
<h2>Mobile optimisation</h2>
<p>You should use 100% width for full size images so they are optimised for mobile devices. You can do this by adding <code style="color:#d13118; background-color: #f3f2f1">width="100%"</code> in the img tag.</p>
<p>For example: <code style="color:#d13118; background-color: #f3f2f1">img src="/media/warehouse.png" alt="person in high visibility jacket. " width="100%"</code></p>
<h2>Header images</h2>
<p>There are some additional requirements you must follow if you use the <a href="/design-system/ncs-design-system/components/image-headers">National Careers Service header image component</a>.</p>
<h2>Images on job profiles</h2>
<p>We have images and real career stories on some of the job profiles on the National Careers Service. These require specific dimensions to make sure they fit into the design and remain high quality.</p>
<p>You can see an example of the types of images we add to job profiles on the <a href="https://nationalcareers.service.gov.uk/job-profiles/ecologist">ecologist job profile</a> and the <a href="https://nationalcareers.service.gov.uk/job-profiles/business-analyst">business analyst job profile</a>.</p>
<p>To fit into the design, an image should be:</p>
<ul>
    <li>at least 1mb before editing</li>
    <li>landscape, or able to be cropped to landscape</li>
    <li>630px wide</li>
    <li>between 384px and 425px in height</li>
{% endblock%}