{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Tools" %}
{% set pageDescription = "Tools you can use to help understand users, build better services and get things done more easily." %}
{% set selectedNav = "Tools" %}

{% block content %}

    <div class="dfe-grid-container dfe-grid-container--thirds">

        <div class="dfe-card">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/tools/inclusivity-calculator">Inclusivity calculator</a>
                </h2>
                <p>Estimate how many people might have a disability, impairment or other characteristics which might affect how they use your service.</p>
            </div>
        </div>

    </div>

{% endblock %}