{% extends "layouts/content-with-sidenav-right.html" %}

{% set pageName = "Tools" %}
{% set pageDescription = "Tools you can use to help understand users, build better services and get things done more easily." %}
{% set selectedNav = "Tools" %}

{% block content %}
    <div class="dfe-grid-container dfe-grid-container--thirds">
        <div class="dfe-card">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/tools/inclusivity-calculator">How many people might have an access need</a>
                </h2>
                <p>The inclusivity calculator helps you estimate how many people might have a disability, impairment or other characteristics which might affect how they use your service.</p>
            </div>
        </div>
        <div class="dfe-card">
            <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/tools/proposition-checker">Check if your product should be on GOV.UK</a>
                </h2>
                <p>This tool will help you to determine whether your product should be on or connected to GOV.UK and whether it meets the GOV.UK proposition.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block related %}
    <h2 class="govuk-heading-m">Related content</h2>
    <p><a href="/design-ops/tools">Tools you can and cannot use in DfE</a>.</p>
{% endblock%}