<div class="govuk-panel ncs-panel--confirmation govuk-!-margin-bottom-6">
  <div class="govuk-panel__body">
    <div class="ncs-progress ncs-progress--complete status-100">
      <div class="ncs-progress__count govuk-body">
        <span class="govuk-!-font-size-36">100%</span>
        <span class="govuk-visually-hidden">Complete</span>
      </div>
      <div class="ncs-progress__bar">
        <span class="ncs-progress__100"></span>
      </div>
    </div>
  </div>
  <h1 class="ncs-panel__title govuk-panel__title" data-gtm-vis-recent-on-screen-8675592_489="1439" data-gtm-vis-first-on-screen-8675592_489="1439" data-gtm-vis-total-visible-time-8675592_489="100" data-gtm-vis-has-fired-8675592_489="1">
    Assessment complete
  </h1>
</div>