{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk/design-system/dfe-frontend/contribute"%}

{% set pageName = "Contribute" %}
{% set pageDescription = "How to suggest a new component or pattern in the design system." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "dfefrontend"%}
{% set lastUpdated = "May 2024"%}
{% set backlog_issue_id = "14" %}
{% set isChildSection = "true"%}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="/design-system">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/styles">Styles</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/components">Components</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/patterns">Patterns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Proposing a component or pattern</h2>
      <p>The contents of the DfE Design System must be of a high quality and meet user needs. To guarantee this, all
        components and patterns need to meet certain criteria.</p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">New proposals criteria</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Criteria</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Useful</th>
            <td class="govuk-table__cell">
              <p>You can demonstrate that this component or pattern would be useful for other DfE teams or services.</p>
              <p>The need for the pattern or component has been validated through user research.</p>
              <p>Evidence could be screenshot or links to versions of it being used in different services.</p>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Unique</a>
            </th>
            <td class="govuk-table__cell">It does not replicate something already in the GOV.UK or DfE Design System.
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Users</a>
            </th>
            <td class="govuk-table__cell">There are other user groups completing similar tasks who would benefit from
              this
              component or pattern.</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Check the backlog</h2>
      <p>If your idea is not on the <a href="https://github.com/orgs/DFE-Digital/projects/38" target="_blank"
          class="govuk-link" rel="noopener noreferrer">DfE Frontend backlog</a>, and meets the criteria above, add an
        issue.</p>

      <p>If you cannot access the project, or add an issue, <a href="/design-ops">contact the DesignOps team</a> to
        discuss it.</p>

      <h2 class="govuk-heading-m">What to include</h2>
      <p>At this stage, you just need to present your idea and evidence of the user needs. You can include screenshots
        or
        links to versions of the component or pattern in use, but avoid spending time working on a specific design or
        writing
        code.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>The Components and patterns working group will discuss your proposal. If they think it is something that should
        be
        added to DfE design system, they will publish it. </p>

      <h2 class="govuk-heading-m">More information</h2>
      <p>If you’ve got a question about the DfE Design System, <a href="/design-ops" class="govuk-link">contact the
          DesignOps team</a>.</p>
    </div>
  </div>
</div>
{% endblock%}