{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Data sources" %}
{% set pageDescription = "Let users know where information has come from." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system" %}
{% set childSection = "design-patterns" %}
{% set isChildSection = "true" %}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "December 2024" %}
{% set backlog_issue_id = "" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
      <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/data-sources-explainer.png"
        alt="A diagram representing three different data sources, feeding into one final product. The example uses lists of schools, academies and trusts, feeding inton one box." width="100%">
      <figcaption>A diagram representing three different data sources, feeding into one final product. The example uses lists of schools, academies and trusts, feeding inton one box.</figcaption>
    </figure>

    <!-- When to use this pattern -->
    <h2 id="when-to-use">When to use this pattern</h2>
    <p>
      This pattern should be used when:
    </p>
    <ul>
      <li>information is <strong>automatically taken</strong> from an external service or product and displayed on a page</li>
      <li>Maybe a point here</li>
    </ul>

    <!-- When not to use this pattern -->
    <h2 id="when-not-to-use">When not to use this pattern</h2>
    <p>
      This pattern should not be used when:
    </p>
    <ul>
      <li>information is <strong>automatically taken</strong> from a different page within the same service or product</li>
      <li>Maybe a point here</li>
    </ul>
      
    <!-- How it works -->
    <h2 id="how-it-works">How it works</h2>
    <p>
      Generally follows a rule of declaring how much information is being references (e.g. "all" or a specific part), then declaring where it has come from (i.e. external source or internal) and the date of when it was taken.
    </p>
    <p>
      Follow the same groupings as how the information is being presented on the page
    </p>

    <!-- Basic pattern -->
    <h3 id="basic-pattern">When information comes from the same source</h3>
    <p>
      When all of the information on the page comes from the same source.
    </p>

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-basic.html', 'Basic data sources', 'data-sources-basic', codeSnippet.htmlCodeDataSourceBasic, codeSnippet.nunjucksCodeDataSourceBasic) }}

    <!-- Complex pattern -->
    <h3 id="complex-pattern">When information comes from different sources</h3>
    <p>
      When information comes from different sources and is displayed on the same page, even in the same component.
    </p>

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-complex.html', 'Complex data sources', 'data-sources-complex', codeSnippet.htmlCodeDataSourceComplex, codeSnippet.nunjucksCodeDataSourceComplex) }}

    <!-- Edited pattern -->
    <h3 id="edited-pattern">When the source becomes a person</h3>
    <p>
      When the information being displayed has been changed by a person within the service or product.
    </p>

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-edited.html', 'Edited data sources', 'data-sources-edited', codeSnippet.htmlCodeDataSourceEdited, codeSnippet.nunjucksCodeDataSourceEdited) }}

    <!-- Upcoming iterations -->
    <h2 id="upcoming-iterations">Upcoming iterations</h2>
    <p>
      Write some bits here about our upcoming "seperate page" talking about the how and why information is taken and when
    </p>

    <!-- Research on this pattern -->
    <h2>Research on this pattern</h2>
    <p>
      [need to reword this specific to fiat - go back to David's slack message. also, ask Rachel about most applicable UN to reference]
      We have not done research on this pattern, but it is being used in <a
      href="https://design-histories.education.gov.uk/manage-free-school-projects">Manage free school projects</a> to meet this need from our <a
        href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user
        needs database (opens a DfE Microsoft List)</a>:
    </p>
    
    <p><strong>User need 72:</strong> when I am having trouble using the system, I need to get help so that I can resolve my issue and get back to work.</p>

  </div>
</div>


{% endblock %}