{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Data sources" %}
{% set pageDescription = "Let users where data has come from and when it was last updated." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system" %}
{% set childSection = "design-patterns" %}
{% set isChildSection = "true" %}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "December 2024" %}
{% set backlog_issue_id = "293" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
      <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/data-sources-explainer.png"
        alt="A diagram representing three different data sources, feeding into one final product. The example uses lists of schools, academies and trusts, feeding inton one box." width="100%">
      <figcaption>A diagram representing three different data sources feeding into one product. The data sources in this example are lists of schools, academies and trusts.</figcaption>
    </figure>

    <!-- When to use this pattern -->
    <h2 id="when-to-use">When to use this pattern</h2>
    <p>
      This pattern should be used when data is:
    </p>
    <ul>
      <li>automatically taken from an external source and displayed in a service</li>
      <li>edited by someone in a service</li>
    </ul>

    <!-- When not to use this pattern -->
    <h2 id="when-not-to-use">When not to use this pattern</h2>
    <p> This pattern should not be used when information is automatically taken from another page in the <strong>same</strong> service.</p>
      
    <!-- How it works -->
    <h2 id="how-it-works">How it works</h2>

    <p>'Data last updated' content can be misinterpreted without context. For example, when the data was last updated at the source
      compared to when it was last imported from the source.</p>

    <p>
      To give users confidence in the data, tell them what the source is and when the data was last retrieved from it:
    </p>

    <p>[Information type] was taken from [Source name] on [Date].</p>

    <!-- Basic pattern -->
    <h3 id="basic-pattern">Multiple pieces of data from one source</h3>
    <p>
      Each data source entry should match the way you group imported data in your service.
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-basic.html', 'Basic data sources', 'data-sources-basic', codeSnippet.htmlCodeDataSourceBasic, codeSnippet.nunjucksCodeDataSourceBasic) }}

    <!-- Complex pattern -->
    <h3 id="complex-pattern">Data from multiple sources</h3>
    <p>
      When data is imported from multiple sources and displayed on the same page, separate data source entries based on the different sources.
    </p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-complex.html', 'Complex data sources', 'data-sources-complex', codeSnippet.htmlCodeDataSourceComplex, codeSnippet.nunjucksCodeDataSourceComplex) }}

    <!-- Edited pattern -->
    <h3 id="edited-pattern">Someone has edited data in your service</h3>
    <p> When you or someone else has edited data in your service, use an email address to represent the person rather than a name.</p>
      
    <p>This will help users identify who they need to contact if they have any questions about the data.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

    {{ sample.code('/design-system/rsd-design-system/design-patterns/data-sources/example-data-sources-edited.html', 'Edited data sources', 'data-sources-edited', codeSnippet.htmlCodeDataSourceEdited, codeSnippet.nunjucksCodeDataSourceEdited) }}

    <!-- Research on this pattern -->
    <h2>Research on this pattern</h2>

    <p>The <a href="https://design-histories.education.gov.uk/find-information-about-academies-trusts">Find information about academies and trusts</a> team identified that some internal users often state where they have sourced data from when producing documents.</p> 
      
    <p>The team created this design pattern to support this user behaviour and meet this need from the
      <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">
        Regional Services Division user needs database (opens a DfE Microsoft List)</a>:
    </p>
    
    <p><strong>User need 88:</strong> when using data from different systems, I need to feel confident in the data I am using so that I don't need to go to multiple sources to check the accuracy of the data.</p>

  </div>
</div>

{% endblock %}