{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk/design-ops/maturity" %}
{% set selectedNav = "DesignOps" %}
{% set subNav = "Design-maturity" %}
{% set pageName = "Design maturity" %}
{% set pageDescription = "How we measure design maturity and how it informs our priorities." %}

{% set backlog_issue_id = "27" %}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l  govuk-!-margin-top-5">DesignOps</span>
                <h1 class="govuk-heading-xl">{{pageName}}</h1>
                <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>
                <nav class="app-sub-navigation" aria-label="Application menu">
                    <ul class="app-sub-navigation__list">
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/design-ops">Overview</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/design-ops/professions">Professions</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" href="/design-ops/priorities">Our
                                priorities</a>
                        </li>
                        <li class="app-sub-navigation__item">
                            <a class="app-sub-navigation__link" aria-current="page" href="/design-ops/maturity">Design
                                maturity</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}


<section>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {% include "includes/_side-nav.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">

                <p>We run a survey every September which asks several questions about how we're doing in the design
                    profession, how well it's supported, funded and understood.</p>

                <p>We use the <a href="https://www.nngroup.com/articles/ux-maturity-model/" class="govuk-link"
                        target="_blank" rel="noopener noreferrer">Nielsen Normal Group - User
                        Experience (UX) Maturity Model</a> to understand maturity.</p>

                <table class="govuk-table">
                    <caption class="govuk-table__caption">UX Maturity Model</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__header">
                            <th scope="col">Level</th>
                            <th scope="col">Maturity</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell govuk-!-width-one-quarter">Absent</td>
                            <td class="govuk-table__cell">UX is ignored or nonexistent.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">Limited</td>
                            <td class="govuk-table__cell">UX work is rare, done haphazardly, and lacking importance.
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">3</td>
                            <td class="govuk-table__cell">Emergent</td>
                            <td class="govuk-table__cell">The UX work is functional and promising but done
                                inconsistently and inefficiently.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">4</td>
                            <td class="govuk-table__cell">Structured</td>
                            <td class="govuk-table__cell">The organization has semisystematic UX-related methodology
                                that is widespread, but with varying degrees of effectiveness and efficiency.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">5</td>
                            <td class="govuk-table__cell">Integrated</td>
                            <td class="govuk-table__cell">UX work is comprehensive, effective, and pervasive.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">6</td>
                            <td class="govuk-table__cell">User-driven</td>
                            <td class="govuk-table__cell">Dedication to UX at all levels leads to deep insights and
                                exceptional user-centered–design outcomes.</td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="govuk-heading-l">How we use the results</h2>
                <p>We use the results to inform our priorities for the design profession and prioritise inititatives.
                </p>

                <p>As a result of running the survey in previous years, we have:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>changed how we get details of training needs</li>
                    <li>created working groups to collaborate on cross-profession epics</li>
                    <li>created a design profession strategy</li>
                    <li>enabled digital teams to share their work in the open with design histories</li>
                </ul>


            </div>
        </div>
    </div>
</section>

{% endblock %}