    <form class="dfeuk-header__search-form dfeuk-header__search-form--search-results" id="search" action="/search" method="get" role="search">
        <label class="dfeuk-u-visually-hidden" for="search-results-field">Search the DfE digital service manual</label>
        <input class="dfeuk-search__input" id="search-results-field" name="searchterm" type="search" value="{{query}}" autocomplete="off">
        <button class="dfeuk-search__submit" type="submit">
          <svg class="dfeuk-icon dfeuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
          </svg>
          <span class="dfeuk-u-visually-hidden">Search</span>
        </button>
      </form>