{% extends "layouts/content-full-width.html" %}
{% set pageName = "Profession maturity" %}
{% set pageDescription = "The benefits of a mature profession and how we measure this on an annual basis." %}
{% set selectedNav = "Professions" %}
{% set zeroMainMargin = "true"%}
{% block content %}
<section style="background: #ebf2f6;">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/professions">Professions</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 80px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>

<section class="" style="background: #ffffff;">
    <div class="dfe-width-container" style="padding: 80px 0px 40px 0px">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">How communities of practice support design maturity</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h3 class="govuk-heading-m">Builds teamwork across the department</h3>
                <p>Communities of practice let people from different teams work together. Normally, you might only work
                    with people in the same team as you.</p>
                <p>In a community of practice, you could work with people across different professions and teams and
                    work together on common problems or objectives.</p>

                <h3 class="govuk-heading-m">Improve processes</h3>
                <p>Working together means we can create processes which work for designers across the department.</p>
                <p>With everyone having an opportunity and say on how we do things, cast a second, or third eye over
                    guidance, and agreeing common ways of doing things, we can design and build more consistent service
                    which work better for our users.</p>

                <h3 class="govuk-heading-m">Improving skills and knowledge</h3>
                <p>Being part of a community and a profession gives us a chance to learn from each other. This ongoing
                    learning makes us all more skilled and knowledgeable, which in the long run, makes our whole design
                    profession more effective.</p>
                <p>We've recently run workshops and sessions on accessibility. Especially focusing on how we use digital
                    tools such as whiteboarding tools and considering colleagues with access needs.</p>

                <h3 class="govuk-heading-m">Better communication</h3>
                <p>The communities also break down the siloes between different teams. By regularly talking with
                    colleagues from other areas, we can understand problems which may be shared or specific to a
                    business area.</p>
                <p>This improves how we communicate as a whole, making it easier to get things done.</p>

                <h2 class="govuk-heading-l" id="how-we-measure-maturity">How we measure maturity</h2>
                <p>We carry out an annual design maturity survey across the design professions every September. This
                    helps to identify how any initiatives are working and if there are areas we need to focus on
                    improving.</p>

                <p>We measure our maturity against the <a href="https://www.nngroup.com/articles/ux-maturity-model/"
                        class="govuk-link" target="_blank" rel="noopener noreferrer">Nielsen Normal Group - User
                        Experience (UX) Maturity Model</a>.</p>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__header">
                            <th scope="col">Level</th>
                            <th scope="col">Maturity</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell govuk-!-width-one-quarter">Absent</td>
                            <td class="govuk-table__cell">UX is ignored or nonexistent.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">Limited</td>
                            <td class="govuk-table__cell">UX work is rare, done haphazardly, and lacking importance.
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">3</td>
                            <td class="govuk-table__cell">Emergent</td>
                            <td class="govuk-table__cell">The UX work is functional and promising but done
                                inconsistently and inefficiently.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">4</td>
                            <td class="govuk-table__cell">Structured</td>
                            <td class="govuk-table__cell">The organization has semisystematic UX-related methodology
                                that is widespread, but with varying degrees of effectiveness and efficiency.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">5</td>
                            <td class="govuk-table__cell">Integrated</td>
                            <td class="govuk-table__cell">UX work is comprehensive, effective, and pervasive.</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">6</td>
                            <td class="govuk-table__cell">User-driven</td>
                            <td class="govuk-table__cell">Dedication to UX at all levels leads to deep insights and
                                exceptional user-centered–design outcomes.</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="govuk-grid-column-one-third">
                <section style="background: #e8f5ff; margin-bottom: 40px; margin-top: 0px;">
                    <div class="dfe-width-container" style="padding: 30px;">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <h2 class="govuk-heading-l govuk-!-margin-bottom-6">View maturity survey results</h2>
                                <ul class="govuk-list">
                                    <li>
                                        <a class="govuk-link"
                                            href="/professions/maturity/results/september-2023">September 2023
                                            results</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link"
                                            href="/professions/maturity/results/september-2022">September 2022
                                            results</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock %}