{% extends "layouts/content-with-sidenav.html" %}
{% set canonical = "https://design.education.gov.uk/design-system/content-strategies"%}

{% set pageName = "Creating a content strategy" %}
{% set pageDescription = "How to create a content strategy to ensure a seamless user experience, efficient content
planning, and effective collaboration while aligning organisational goals with user needs." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Content"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "12 October 2023 "%}
{% set backlog_issue_id = "119" %}


{% block beforeContent %}{% endblock %}

{% block content %}
{% markdown %}

## Writing a content strategy

A content strategy helps:

* create a consistent experience for users across your product or service
* plan the content design process and timescales with a roadmap
* you and your team explain the role content plays within your product
* others from outside the content design profession understand how you meet user needs
* helps subject matter experts, policy colleagues and stakeholders to contribute and work collaboratively with you
* bring organisational and team goals and user needs together

The strategy explains how you create and maintain content, and then measure its success. It gives an overview of the
products or services covered by the content strategy, including their users and purpose.

### Existing strategies

Your strategy should take into consideration, and reference where relevant other strategies, such as:

* [DfE GOV.UK content
strategy](https://educationgovuk.sharepoint.com/sites/communications/SitePages/dfe-govuk-content-strategy.aspx?)
* [DfE vision and goals](https://educationgovuk.sharepoint.com/sites/strategy-and-vision)
* [policy objectives, for example family
hubs](https://www.gov.uk/government/collections/family-hubs-and-start-for-life-programme)

## Understanding your audience

Think about who will use your strategy and for what purpose. The strategy should help you make sure that everyone
understands the purpose of the content on your product or service.

The strategy can be used to evidence and explain why you develop content and how you iterate and improve it.

## Documenting and sharing

There are many benefits to working in the open, by documenting and sharing your content design process, such as:

* onboard new team members
* explain and evidence decision making
* document your work to share with others (including service assessors)
* make it easy for everyone to contribute and find things

You can choose any format for your strategy. Though you should look to maintain consistency across your strategy and
other team documents. For example, in discovery you may use SharePoint folders and documents, then choose something like
Confluence in later stages of development.

## Co-creating a content strategy

Work with your team to identify:

1. The goals for your users.
2. How content will help them to meet those goals.

For example, content will provide:

* accurate and up-to-date information so users can find products or services within a directory
* clear and concise instructions to help users complete a task
* easy to understand eligibility requirements that help users get it right first time
* plain English guidance with a reading age no higher than 8 years old

Record how you will meet these goals whilst creating, testing and iterating content. Also include how you will work with
others such as subject matter experts, policy experts, developers and business analysts. You might want to consider
including a stakeholder matrix.

## Monitoring and measuring

Include how you will monitor the success of your strategy, typically through:

* user testing
* insights from usage data about journeys across content or through your service (this can come from Google Analytics,
Clarity, HotJar, but also transactional data)
* feedback loops

Working with your business analysts, performance managers or similar, set benchmarks and measure against them. Your
product team should publish ([service performance data](https://www.gov.uk/service-manual/measuring-success)) alongside
your key performance indicators (KPIs). You should include a section on the performance of your content within this
regular reporting.

### Examples of measures

These examples are from the Family hubs.

The service helps families and professionals to find services in their local area:

* X number of users accessing the service
* X number of services listed from each LA are shown in the product
* % of users landing on a service listing page from the search
* % of users sent communication materials who click on links into the service
* % of users following links in notifications
* % of users proceeding following hint text appearing

Service listings contain high quality, up to date and consistent information:

* X number of issues reported with accuracy of information
* % of links that are correct
* 0 spelling mistakes
* % of listing updated within the last 6 months

Families and local authorities are satisfied with the product

* % of positive and negative responses on feedback form and via email in relation to content
* % of positive and negative feedback on DfE telephone helpline in relation to content

### Quality assurance

Include how you will quality assure your content. Reference how your products support the DfE’s vision and objectives,
quoting any external standards it must also take into consideration.

You should include the cadence for how content needs are identified, developed and tested ahead of publishing. Include
how you gain sign-off and [conduct reviews and
2is](https://design.education.gov.uk/design-system/reviewing-and-checking-content).

You should also consider who is best to review your strategy and how you share it with the team.

### Governance and ownership

Whilst the content strategy should be written by the content designer, it should be owned by the product manager or the
person responsible at a senior level for the product or service. It should be agreed to by all relevant internal senior
stakeholders.

You should document within your strategy the key stakeholders and who has responsibility for things such as:

* the factual accuracy of the content
* sign-off
* reporting

## Iterating the strategy

Consider iterating the content strategy as your understanding of users’ needs improves. When you move to a new project
phase like discovery to alpha or if you are trying to solve a different problem to when you created it, for example if
your product or service vision has changed.

## Scheduling regular reviews

You should review your content strategy when you transition from phases, such as discovery into alpha. You should also
use your regular reporting, so if you do it monthly or quarterly, as an opportunity to review and reflect on your
strategy.

You will gain a deeper understanding of your service and users as time goes by. Your data and reporting allow you to
further refine how you can measure success, and this should be reflected in your strategy.

You should also consider you content or product life cycle and agree a strategy for the end of the life cycle.

## Further reading

* [Everything you need to do a content strategy by Content Design
London](https://www.contentdesign.london/blog/everything-you-need-to-do-content-strategy)
* [The importance of end-to-end strategy by Content Design
London](https://contentdesign.london/blog/the-importance-of-end-to-end-strategy)

{% endmarkdown %}
{% endblock %}