{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Brand styles" %}
{% set pageDescription = "Use our brand styles to make your service look and feel like the National Careers Service. " %}
{% set pageCaption = "National Careers Service" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set hasChildren = "true"%}
{% set isChildSection = "true"%}


{% set ncs_hide_parent_nav = "true" %}
{% set ncs_branding_main_nav = "true" %}
{% set dateUpdated = "July 2023"%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>You should still follow existing GOV.UK conventions when you apply our brand styles.</p>
<p>For example, do not assign new meanings to colours, do not change the style of buttons or adjust the thickness of borders on form inputs.</p>
<h2>GOV.UK styles</h2>
<p>You should use the <a href="https://design-system.service.gov.uk/styles/" target="_blank" rel="noopener noreferrer">GOV.UK styles</a> for styles we have not specificied here, such as typography, spacing and layout.</p>

{% endblock%}