{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Branding guidelines" %}
{% set pageDescription = "Guidelines for branding National Careers Service products. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set hasChildren = "true"%}
{% set isChildSection = "true"%}


{% set ncs_hide_parent_nav = "true" %}
{% set ncs_branding_nav = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>Branding content.</p>

{% endblock%}