{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Branding styles" %}
{% set pageDescription = "Use our branded styles to make your service look and feel like the National Careers Service. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set hasChildren = "true"%}
{% set isChildSection = "true"%}


{% set ncs_hide_parent_nav = "true" %}
{% set ncs_branding_nav = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>You should still follow existing GOV.UK conventions when you apply our brand styles.</p>
<p>For example, do <strong>not</strong>:</p> 
<ul>
    <li>assign new meanings to colours</li>
    <li>change the style of buttons</li>
    <li>adjust the thickness of borders on form inputs</li>
</ul>

{% endblock%}