{% extends "./../example-layout.html" %}
{%- from "./macro.njk" import ncsSearch -%}

{% block pageTitle %}
  Search component | NCS component library
{% endblock %}

{%- set componentId = 'search__body' -%}

{% block sample %}
  {{ ncsSearch({
    action: '#',
    method: 'get',
    id: 'fac-search-course-form',
    class: 'ncs-search ncs-search__form find-a-course-page',
    type: 'search_form',
    fieldset: [
      {
        input: {
          id: 'location-input',
          name: 'townOrPostcode',
          class: 'govuk-input govuk-!-width-full ui-autocomplete-input'
        },
        label: {
          class: 'ncs-label govuk-label',
          text: 'Town, city or postcode'
        },
        hint: {
          text: 'Enter Town, city or postcode'
        }
      },
      {
        input: {
          id: 'search-input',
          name: 'searchTerm',
          class: 'govuk-input search-input govuk-!-width-full',
          type: 'search',
          ariaLabel: 'Enter a keyword',
          title: 'Enter a keyword',
          autocomplete: 'off'
        },
        label: {
          class: 'ncs-label govuk-label',
          text: 'Course or keyword'
        },
        hint: {
          text: 'Enter a keyword'
        }
      }
    ]
  }) }}
{% endblock %}