{% extends "./../example-layout.html" %}
{%- from "./macro.njk" import ncsSearch -%}

{% block pageTitle %}
  Search component | NCS component library
{% endblock %}

{%- set componentId = 'search__body' -%}

{% block sample %}
  {{ ncsSearch({
    action: '#',
    method: 'get',
    id: 'header-search',
    class: 'ncs-search ncs-search__bar site-search ui-front',
    type: 'search_bar',
    fieldset: {
      input: {
        id: 'searchTerm',
        name: 'searchTerm',
        type: 'search',          
        class: 'govuk-input search-input js-search-focus focus js-autocomplete ui-autocomplete-input',
        ariaLabel: 'Enter a keyword',
        dataAutocompleteMaxlength: '7',
        dataAutocompleteMinlength: '2',
        dataAutocompleteSource: '#',
        autocomplete: 'off'
      },
      label: {
        class: 'ncs-label govuk-label',
        text: 'Course or keyword'
      },
      hint: {
        text: 'Enter a keyword'
      }
    }
  }) }}
{% endblock %}