{% extends "layouts/content-full-width.html" %}

{% set canonical = "https://design.education.gov.uk/design-system/styles/colour" %}
{% set pageName = "Colour" %}
{% set pageDescription = "Department for Education colour styles for services." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Styles"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set dateUpdated = "25 July 2023 "%}
{% set backlog_issue_id = "200" %}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l  govuk-!-margin-top-5">Design system</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page"
                href="/design-system/dfe-frontend/styles/">Styles</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/components">Components</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/patterns">Patterns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">


      <h2 class="govuk-heading-l">Colour palette</h2>

      <p>Always use the <a href="https://design-system.service.gov.uk/styles/colour/" class="govuk-link" target="_blank"
          rel="noopener noreferrer">GOV.UK colour palette</a> first.</p>

      <p>Where you want to use an accent colour or departmental blue in your service, use this palette.</p>

      <p>You must not change the colour of GOV.UK Design System components to these colours, for example, buttons.</p>

      <p>Do not use the hexadecimal (hex) codes directly, use the mixin name. For example, if you wanted to use the DfE
        department colour blue use: <code>$color_dfe-blue</code> instead of <code>#003a69</code>.</p>


      <div class="dfe-manual-flex">

        <div class="dfe-manual-colour-chip">
          <div class="dfe-manual-colour-chip--color-block dfe-blue">

            <div><span class="dfe-manual-colour-chip--color-block-contrast--black">A</span>
              <div class="dfe-manual-colour-chip--color-block-contrast--fail">Fail</div>
            </div>
            <div><span class="dfe-manual-colour-chip--color-block-contrast--white">A</span>
              <div class="dfe-manual-colour-chip--color-block-contrast--pass">Pass</div>
            </div>
          </div>
          <div class="dfe-manual-colour-chip--info">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p class="govuk-heading-s">Variable name</p>
                <p>$color_dfe-blue;</p>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-half">
                <p class="govuk-heading-s">Hex</p>
                <p>#003A69</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <p class="govuk-heading-s">RGB</p>
                <p>0, 58, 105</p>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-full">
                <p class="govuk-heading-s">Notes</p>
                <p>This is the official government identity colour for the Department for Education.</p>
              </div>
            </div>
          </div>
        </div>


        <div class="dfe-manual-colour-chip">
          <div class="dfe-manual-colour-chip--color-block dfe-secondary-blue">

            <div><span class="dfe-manual-colour-chip--color-block-contrast--black">A</span>
              <div class="dfe-manual-colour-chip--color-block-contrast--fail">Fail</div>
            </div>
            <div><span class="dfe-manual-colour-chip--color-block-contrast--white">A</span>
              <div class="dfe-manual-colour-chip--color-block-contrast--pass">Pass</div>
            </div>
          </div>
          <div class="dfe-manual-colour-chip--info">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p class="govuk-heading-s">Variable name</p>
                <p>$color_dfe-secondary-blue;</p>
              </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-one-half">
                <p class="govuk-heading-s">Hex</p>
                <p>#347CA9</p>
              </div>
              <div class="govuk-grid-column-one-half">
                <p class="govuk-heading-s">RGB</p>
                <p>52, 124, 169</p>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-5">
              <div class="govuk-grid-column-full">
                <p class="govuk-heading-s">Notes</p>
                <p>This colour should be used as a secondary accent to the primary department colour.</p>
              </div>
            </div>
          </div>
        </div>



      </div>

      <h2 class="govuk-heading-l">Colour modifiers and tools</h2>

      <p>You can use tint and shades of the colour palette to introduce different ways of using the colours.</p>

      <h3 class="govuk-heading-m">Tint</h3>
      <p>Make a colour lighter by mixing it with white.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            $colour
          </dt>
          <dd class="govuk-summary-list__value">
            The colour to tint
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            $percentage
          </dt>
          <dd class="govuk-summary-list__value">
            Percentage of white to mix with $colour
          </dd>
        </div>
      </dl>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Tint usage</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Adds 50% white to the primary dfe blue color.</p>
          <code>$govuk-tint($color_dfe-blue, 50);</code>
        </div>
      </div>



      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">dfe-blue tints</h2>
        </div>
        <div class="govuk-summary-card__content">

          <div class="dfe-manual-shade-grid">
            <div class="dfe-manual-shade-grid--chip blue-0">0</div>

            <div class="dfe-manual-shade-grid--chip blue-10">10</div>

            <div class="dfe-manual-shade-grid--chip blue-20">20</div>

            <div class="dfe-manual-shade-grid--chip blue-30">30</div>

            <div class="dfe-manual-shade-grid--chip blue-40">40</div>

            <div class="dfe-manual-shade-grid--chip blue-50">50</div>

            <div class="dfe-manual-shade-grid--chip blue-60">60</div>

            <div class="dfe-manual-shade-grid--chip blue-70">70</div>

            <div class="dfe-manual-shade-grid--chip blue-80">80</div>

            <div class="dfe-manual-shade-grid--chip blue-90">90</div>
          </div>
        </div>
      </div>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">dfe-seconday-blue tints</h2>
        </div>
        <div class="govuk-summary-card__content">

          <div class="dfe-manual-shade-grid">
            <div class="dfe-manual-shade-grid--chip sec-blue-0">0</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-10">10</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-20">20</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-30">30</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-40">40</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-50">50</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-60">60</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-70">70</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-80">80</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-90">90</div>
          </div>
        </div>
      </div>


      <h3 class="govuk-heading-m">Shade</h3>
      <p>Make a colour darker by mixing it with black.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            $colour
          </dt>
          <dd class="govuk-summary-list__value">
            The colour to shade
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            $percentage
          </dt>
          <dd class="govuk-summary-list__value">
            Percentage of black to mix with $colour
          </dd>
        </div>
      </dl>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Shade usage</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Adds 50% black to the primary dfe blue color.</p>
          <code>$govuk-shade($color_dfe-blue, 50);</code>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">dfe-blue shade</h2>
        </div>
        <div class="govuk-summary-card__content">

          <div class="dfe-manual-shade-grid">
            <div class="dfe-manual-shade-grid--chip blue-shade-0">0</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-10">10</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-20">20</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-30">30</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-40">40</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-50">50</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-60">60</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-70">70</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-80">80</div>

            <div class="dfe-manual-shade-grid--chip blue-shade-90">90</div>
          </div>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">dfe-seconday-blue shade</h2>
        </div>
        <div class="govuk-summary-card__content">

          <div class="dfe-manual-shade-grid">
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-0">0</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-10">10</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-20">20</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-30">30</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-40">40</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-50">50</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-60">60</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-70">70</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-80">80</div>
            <div class="dfe-manual-shade-grid--chip sec-blue-shade-90">90</div>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-l">Future changes</h2>

      <ul>
        <li>Variable names will change to start <code>dfe-</code>.</li>
        <li>Legacy color names will be removed in Version 3</li>
      </ul>

    </div>
  </div>
</div>

{% endblock %}