{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}

{% set pageName = "Trust details" %}
{% set pageDescription = "Show academy trust details and allow certain users to edit them." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2024 "%}
{% set backlog_issue_id = "105" %}

Show academy trust details and allow certain users to edit them.

{% set htmlCode = '<code class="hljs language-html">
    &lt;footer class=&quot;govuk-footer&quot; role=&quot;contentinfo&quot;&gt;
        &lt;div class=&quot;govuk-width-container&quot;&gt;
          &lt;div class=&quot;govuk-footer__navigation&quot;&gt;
            &lt;div class=&quot;govuk-footer__section govuk-grid-column-two-thirds&quot;&gt;
              &lt;h2 class=&quot;govuk-footer__heading govuk-heading-m&quot;&gt;Get help&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__list govuk-footer__list--column-1&quot;&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;mailto:testEmail@education.gov.uk?subject=Service%20Name:%20support%20query&quot;&gt;
                    Email Service Support for help with using this system
                  &lt;/a&gt;
                  &lt;p&gt;We aim to respond within 5 working days, or one working day for more urgent queries.&lt;/p&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    How to use this system (opens in a new tab)
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;govuk-footer__section govuk-grid-column-one-third&quot;&gt;
              &lt;h2 class=&quot;govuk-footer__heading govuk-heading-m&quot;&gt;Give feedback&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__list&quot;&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;Give feedback (opens in a new tab)&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;Suggest a change (opens in a new tab)&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;hr class=&quot;govuk-footer__section-break&quot;&gt;
          &lt;div class=&quot;govuk-footer__meta&quot;&gt;
            &lt;div class=&quot;govuk-footer__meta-item govuk-footer__meta-item--grow dfe-footer__meta-item--grow&quot;&gt;
              &lt;h2 class=&quot;govuk-visually-hidden&quot;&gt;Support links&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__inline-list&quot;&gt;
                &lt;li class=&quot;govuk-footer__inline-list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    Accessibility statement
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__inline-list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    Cookies
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;govuk-footer__meta-item&quot;&gt;
              &lt;a class=&quot;govuk-footer__link govuk-footer__copyright-logo&quot; href=&quot;https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/&quot;&gt;© Crown copyright&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/footer&gt;
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ sample.code('/design-system/rsd-design-system/design-patterns/contact-details/example.html', 'Contact details', 'contact-details',
        htmlCode) }}
        <br>

        <h2>When to use this component</h2>
        <p>Use this pattern to display read-only trust details. Provide another page to let users edit the details when required.</p>

        <h2>When not to use this component</h2>
        <p>Do not use this pattern if your design only has one trust details field. For example, a person's name.</p>

        <h2>How to use this component</h2>
        <p>If displaying trust details on a standalone page, use the <a href="https://design-system.service.gov.uk/components/summary-list/">summary list component</a>.

        <img src="public/assets/images/trust-summary-list.png" alt="A summary list with details about a trust.">
      
        <p>If displaying trust details alongside other summary lists on a page, use the <a href="https://design-system.service.gov.uk/components/summary-list/#summary-cards">summary card</a> design.</p>

        <img src="public/assets/images/trust-summary-cards.png" alt="2 summary cards. One is called Trust details, and another is called Reference numbers.">
        
        <p>Whichever design you use, the trust details section should:</p>
        <ul>
          <li>have more than one trust details field</li>
          <li>provide a change link in the third column, if the fields are editable</li>
          <li>point to one edit page, even if you have a change link for each field</li>
        </ul>
        
        <p>It should <strong>not</strong>:</p>
        <ul>
          <li>allow users to edit fields on the same page. For example, using AJAX-enabled forms. Take users to a separate edit page</li>
          <li>provide a change link if users are not allowed to edit the information. This may be the case if a certain user group only needs to read it</li>
        </ul>
        
        <h2>Editing trust details</h2>
        
        <p>If users are allowed to edit the trust details, create an editing page and allow users to access it via the change link(s).</p>
        
        <h3>Retrieving trust details</h3>
        
        <p>Some users want to search for a trust using a trust reference number (TRN), trust ID, or trust name.</p>
        
        <p>If this is the case, you can use a text input box and primary action button.</p>

        <img src="public/assets/images/trn-trust-reference-number.png" alt="A text input for TRN (trust reference number) with a primary action button.">
        
        <p>When users search for the trust, provide a page to allow users to confirm the retrieved information matches what they need.</p>

         <img src="public/assets/images/is-this-the-correct-trust.png" alt="A table with trust details. Underneath the table is a radio button question, Is this the correct trust?.">
        
        <p>When the user selects Yes, direct them to the relevant page in their user journey. If they select No, direct them back to the trust search page.</p>
        
        <h3>Entering trust details manually</h3>
        
        <p>There could be trust information that needs to be entered manually, rather than retrieved from a search. For example, the name and email address of a contact in the trust.</p>
        
        <p>In this case, add extra rows in your summary list or card, and let users enter the information manually. See the <a href="https://dfe-gov-uk.visualstudio.com/Academies-and-Free-Schools-SIP/_wiki/wikis/Academies-and-Free-Schools-SIP.wiki/7376/Contact-details">contact details design pattern</a>.</p>
        
        <h2>Research on this pattern</h2>
        
        <p>We have not done research on this design pattern, but the pattern is being used to meet these needs from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database</a>:</p>
        <ul>
          <li>user need 1: When reaching out to a trust or academy, I need up-to-date details of people involved in the trust/academy so that I can get in touch with the right person</li>
          <li>user need 24: When I need to contact a trust involved in a conversion or transfer project, I need to know the name and email address of the key trust contact, so that I can make contact with the correct person at the trust</li>
        </ul>

    </div>
</div>

{% endblock%}
