{% macro ncsHomepageHeader(params) %}
  <header class="ncs-hero homepage-hero">
    
    <!-- Desktop image -->
    <div class="d-only"><img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/homepage-desktop-header.png" alt="Woman sat at a laptop and wearing a headset in an office."/></div>

    <!-- Mobile image -->
    <div class="m-only"><img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/homepage-mobile-header.png" alt="Woman sat at a laptop and wearing a headset in an office."/></div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">
            <div class="ncs-logo"></div>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    <div class="block mb-5">
                        <span>Welcome</span>
                        <span>to</span>
                        <span>the</span>
                    </div>
                    <div class="block ncs">
                        <span>National</span>
                        <span>Careers</span>
                        <span>Service</span>
                    </div>
                </h1>
                <div class="sub-heading">
                    <p class="block">
                        <span>Get</span><span>information,</span><span>advice</span><span>and</span><span>guidance</span><span>to</span><span>help</span><span>you</span><span>make</span><span>decisions</span><span>at</span><span>all</span><span>stages</span><span>in</span><span>your</span><span>career.</span>
                    </p>
                    <p class="block">
                        <span>Available</span><span>to</span><span>people</span><span>who</span><span>live</span><span>in</span><span>England.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endmacro %}

{% macro ncsPageHeader(params) %}
  <header class="ncs-hero page-hero">
    <!-- Desktop image -->
    <div class="d-only"><img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-header.jpg" alt=""/></div>

    <!-- Mobile image -->
    <div class="m-only"><img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-mobile-header.jpg" alt=""/></div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    <div class="block ncs">
                        <span>Skills</span>
                        <span>assessment</span>
                    </div>
                </h1>
                <div class="sub-heading">
                    <p class="block">
                        <span>Find</span><span>out</span><span>about</span><span>careers</span><span>that</span><span>might</span><span>be</span><span>right</span><span>for</span><span>you</span><span>by</span><span>taking</span><span>one</span><span>of</span><span>our</span><span>assessments.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endmacro %}
