{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Colour" %}
{% set pageDescription = "We apply brand colours to National Careers Service products. " %}
{% set pageCaption = "National Careers Service style" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "branding-guidelines"%}
{% set ncs_branding_nav = "true"%}
{% set isChildSection = "true"%}

{% set ncs_hide_parent_nav = "true" %}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>Our brand colours help users recognise services delivered by the National Careers Service. This assures users they can trust the careers guidance and advice they receive.</p>
<h2>Using colour</h2>
<p>If you're using <a href="https://frontend.design-system.service.gov.uk/">GOV.UK Frontend</a> or the <a href="https://prototype-kit.service.gov.uk/docs/">GOV.UK Prototype Kit</a>, use the <a href="https://frontend.design-system.service.gov.uk/sass-api-reference/#colours">Sass variables</a> provided rather than copying the hexadecimal (hex) colour values. This means that your service will always use the most recent colour.</p>
<h2>Colour contrast</h2>
<p>Our text and background colours are designed to meet accessibility needs.</p>
<p>We meet at least <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">level AA of the Website Content Accessibility Guidelines (WCAG) for contrast</a>.</p>
<h2>Brand colour</h2>
<p>Pink is the National Careers Service's brand colour. This does not mean you should use it as the dominant colour on a website. Overusing the pink can make content hard to read on screen.</p>
<p>National Careers Service pink works best on websites when it's used for the National Careers Service logo and occasionally as a keyline or accent.</p>
<table class="govuk-table app-reading-width">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Brand colour</th>
          <th scope="col" class="govuk-table__header">Hex</th>
        </tr>
      </thead>
<tbody class="govuk-table__body">
 <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch" style="background-color:#d53880"></span>
          <code>$govuk-colour("pink")</code>
        </th>
        <td class="govuk-table__cell">
            <code>#d53880</code>
          </td>
          </tr>
  </tbody>
</table>
<h2>Colour palette</h2>
<p>Use the National Careers Service colour palette for supporting materials like illustrations or in components where appropriate.</p>
<p>To reference colours from the palette directly you should use the <code style="color:#d13118; background-color: #f3f2f1">govuk-colour function</code>. For example, <code style="color:#d13118; background-color: #f3f2f1">color: govuk-colour("light-blue")</code>.</p>
<p>If you need to use tints of this palette, use either 25% or 50%.</p>
<table class="govuk-table app-reading-width">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Colour</th>
      <th scope="col" class="govuk-table__header">Hex</th>
    </tr>
  </thead>
<tbody class="govuk-table__body">

 <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch" style="background-color:#d53880"></span>
          <code>$govuk-colour("pink")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#d53880</code>
        </td>
      </tr>
 <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#f499be"></span>
          <code>$govuk-colour("light-pink")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#f499be</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#5694ca"></span>
          <code>$govuk-colour("light-blue")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#5694ca</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#5694ca25"></span>
          <code>$govuk-colour("light-blue")(25%)</code>
        </th>
        <td class="govuk-table__cell">
          <code>#5694ca25</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#b1b4b6"></span>
          <code>$govuk-colour("mid-grey")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#b1b4b6</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#f3f2f1"></span>
          <code>$govuk-colour("light-grey")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#f3f2f1</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#505a5F"></span>
          <code>$govuk-colour("dark-grey")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#505a5F</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#912b88"></span>
          <code>$govuk-colour("bright-purple")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#912b88</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#0b0c0c"></span>
          <code>$govuk-colour("black")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#0b0c0c</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch app-swatch-border" style="background-color:#ffffff; border-color:#b1b4b6"></span>
          <code>$govuk-colour("white")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#ffffff</code>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header app-colour-list-column--name" scope="row">
          <span class="app-swatch " style="background-color:#003078"></span>
          <code>$govuk-colour("dark-blue")</code>
        </th>
        <td class="govuk-table__cell">
          <code>#003078</code>
        </td>
      </tr>

  </tbody>
</table>
<h2>GOV.UK colours</h2>
<p>You should use the <a href="https://design-system.service.gov.uk/styles/colour/">GOV.UK main colours</a> alongside the National Careers Service colours for elements not specified here. This includes text, links and focus states.</p>

{% endblock%}