{% extends "layouts/content-full-width.html" %}

{% set canonical = "https://design.education.gov.uk/design-system/styles/typography" %}
{% set pageName = "Typography" %}
{% set pageDescription = "Font family and styles for Department for Education services." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Styles"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set dateUpdated = "February 2024 "%}
{% set backlog_issue_id = "" %}

{# Add changes with newest at the top #}
{% set changeLog = [
{
change: 'Page added to the design manual.',
changeDate: '24 February 2024'
}
]
%}

{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system">Design system</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system/styles">Styles</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
          Typography
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
      <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
      <nav class="app-sub-navigation" aria-label="Application menu">
        <ul class="app-sub-navigation__list">
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" aria-current="page" href="/design-system/styles/typography">Overview</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="/design-system/styles/typography/examples">Examples</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Overview</h2>

      <p>By default, you must use the <a href="https://design-system.service.gov.uk/styles/typeface/">GOV Frontend
          typography</a> and GDS Transport typeface for sites on GOV.UK</p> 
          
          <p>If your site is on education.gov.uk, you must use the inter typeface.</p>
          <p>The only exception to this is where you are using education.gov.uk to host a service in private beta and will eventually be on service.gov.uk domain. You're fine to use the GDS Transport and GOV.UK header in this instance.</p>

          <p>If you're unsure, <a href="/design-ops">contact DesignOps</a>.</p>

      <p>To ensure your service meets the <a
          href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk">requirements
          for when your service isn't on GOV.UK</a>, you should use the following guidance.</p>

      <h3 class="govuk-heading-m">Typeface vs font</h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Typeface
          </dt>
          <dd class="govuk-summary-list__value">
            This is the name given to a specific design of letting, in this case Inter is a typeface. Other examples of
            typefaces include Aptos, Arial, and Helvetica.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Font
          </dt>
          <dd class="govuk-summary-list__value">
            Fonts are variations of the typeface, for example, light, regular, bold, and style, for example, italic,
            underlined.
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Import the Inter typeface</h2>

      <p>We are migrating to use the web-font <a href="https://rsms.me/inter/" target="_blank">Inter</a> in our products
        and services that are not provided on GOV.UK.</p>

      <p>Inter is a web-based, open source font. If your product is available to the internet you can include these by
        adding the following imports to your SCSS/CSS files, otherwise you'll need to bundle the physical fonts in your
        build. Styles will drop to system fonts if the internet is not available.</p>


      <h3 class="govuk-heading-m">Create a settings.scss file</h3>

      <div class="govuk-inset-text">This guidance is accurate up to and including version <strong>13.16.2</strong> of the GOV.UK Prototype kit.</div>

      <p>If something doesn't work <a href="/design-ops">contact DesignOps</a> for help so we can understand the
        problem and improve guidance where possible.</p>

      <p>If it doesn't exist, create a settings.scss file in <strong>/app/assets/sass</strong> folder.</p>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">settings.scss file</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Add the following code to the file.</p>
          <code>@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap');</code>
          <code>$govuk-font-family: 'Inter', sans-serif;</code>
        </div>
      </div>

      <p>All styles which use the GDS Transport typeface will now be replaced with the Inter typeface.</p>
      <p>You do not need to use different classes.</p>

      <nav class="govuk-pagination govuk-pagination--block govuk-!-margin-top-9" role="navigation"
        aria-label="Pagination">
        <div class="govuk-pagination__prev">
          <a class="govuk-link govuk-pagination__link" href="/design-system/styles" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
              height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
              </path>
            </svg>
            <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden">
                page</span></span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Styles overview</span></a>
        </div>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="/design-system/styles/typography/examples" rel="next"> <svg
              class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
              width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
              </path>
            </svg> <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden">
                page</span></span><span class="govuk-visually-hidden">:</span>
            <span class="govuk-pagination__link-label">Examples of the Inter typography scale</span></a>
        </div>
      </nav>



    </div>
  </div>
</div>

{% endblock %}