{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Buttons" %}
{% set pageDescription = "Details of the National Careers Service button components. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "components"%}
{% set ncs_components_nav = "true"%}
{% set isChildSection = "true"%}

{% set ncs_hide_parent_nav = "true" %}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>Buttons content.</p>

{% endblock%}