{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Missing data" %}
{% set pageDescription = "Explain why data is missing and what users can do about it." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "December 2024 "%}
{% set backlog_issue_id = "294" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2>When to use this pattern</h2>
    <p>Use this pattern to tell users that data they expected to see cannot be displayed. </p>

    <h2>When not to use this pattern</h2>

    <p>Do not use this pattern to help users add missing information in a <a href="https://design-system.service.gov.uk/components/summary-list"></a>summary list. Instead, follow the <a href="https://design-system.service.gov.uk/components/summary-list/#summary-cards:~:text=Showing%20missing%20information">show missing information in summary lists</a> guidance.</p> 

    <h2>How it works</h2>
    <p>There are 2 variations you can use, depending on the context:</p>

    <ol>
      <li>Data can be added outside the service.</li>
      <li>Data can <strong>not</strong> be added.</li>
    </ol>

    <h3>Data can be added outside the service</h3>

    <p>An example is missing data from <a href="https://get-data-schools.service.gov.uk/">GIAS (Get Information about Schools)</a> that would normally appear in <a href="https://design-histories.education.gov.uk/find-data-about-academies-trusts">FIAT (Find information about academies)</a>.</p>
    
    <p>A user may not be able to directly add the missing data in FIAT, but they may want to speak to a school and ask them to update GIAS.</p>
    
    <p>In this case, make it clear that the data comes from another place.</p>
    
    <p>For example, "Missing from [place]".</p>
    
    <p>You may want to add a link to where the data can be added, if this is something the user can do.
    
    <p>For example, "Add this to [place]".</p>

    <h3>Data can not be added</h3>

<p>An example is missing Ofsted reports, where users expect that data has been published and uploaded to the data source.</p>

<p>Avoid words that suggest the user can add this data themselves, like "Empty".</p>

<p>Consider using "Not available" because it:</p>

<ul>
  <li>makes it clear that the data cannot be provided</li>
  <li>does not indicate that there is an error with the service</li>
</ul>
    
    <h2>Research on this pattern</h2>
    <p>We have not done research on this design pattern, but we believe using it can help teams to meet this <a href="https://design-histories.education.gov.uk/manage-free-school-projects/risk-rating-iteration">Manage free school projects</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
    
    <p><strong>User need 122:</strong> when I am using data from a system, I need to know why there are blank fields, so that I don't spend time going to places to understand why there is missing data.</p>
    
  </div>
</div>


{% endblock%}