{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "How we write emails" %}
{% set pageDescription = "Guidance to design and write emails for digital DfE services." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "May 2023 "%}
{% set backlog_issue_id = "" %}

{% block content %}
<p>We follow GOV.UK guidance to <a href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages" target="_blank"> plan and write text messages and emails (opens in new tab)</a>.</p>

<p>Review the <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/89" target="_blank"> GitHub issue (opens in new tab)</a> to see the latest updates to this page.</p>

<p>If you’re using Notify, use the <a href="https://www.notifications.service.gov.uk/using-notify target="_blank"> Notify guidance (opens in new tab)</a>.</p>

{% endblock %}