{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk/design-ops/professions"%}

{% set pageName = "Professions" %}
{% set pageDescription = "Understand more about the design professions." %}
{% set selectedNav = "DesignOps" %}
{% set subNav = "Professions" %}
{% set lastUpdated = "May 2024" %}
{% set backlog_issue_id = "23" %}



{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l  govuk-!-margin-top-5">DesignOps</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="/design-ops/professions">Professions</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops/priorities">Our priorities</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops/maturity">Design maturity</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>

    <div class="govuk-grid-column-three-quarters">

      <p>Design in the Department for Education is about creating services that meet the needs of learners and those
        working in the education sector effectively and efficiently.</p>
      <p>It involves understanding what the user needs to do, turning these into concepts and products, and ensuring
        that what we design aligns with accessibility and design standards.</p>
      <h2 class="govuk-heading-l">Our design professions</h2>

      <h3 class="govuk-heading-m">Content design</h3>

      <p>Content designers make government information clear and understandable for everyone by:</p>

      <ul>
        <li>producing clear, concise content using plain English and plain language</li>
        <li>planning and managing content creation and strategies, delivery, and governance to ensure that it meets the
          needs of our users</li>
        <li>ensuring that all content is accessible to people with disabilities, complying with level AA standard of
          WCAG 2.2</li>
      </ul>

      <p>Find out more about the <a href="/design-ops/professions/content-design">content design profession</a>.</p>

      <h3 class="govuk-heading-m">Interaction design</h3>

      <p>Interaction designers ensure that our users can use digital services in the most effective way possible. They
        focus on:</p>

      <ul>
        <li>design products that are intuitive, reducing complexity and enhancing user satisfaction</li>
        <li>build interactive prototypes and work with user researchers and service designers to iterate designs</li>
        <li>work closely with developers to ensure that designs are properly implemented</li>
      </ul>

      <p>Find out more about the <a href="/design-ops/professions/interaction-design">interaction design profession</a>.
      </p>

      <h3 class="govuk-heading-m">Service design</h3>

      <p>Service designers are a key role in creating seamless, efficient, and effective services. Our service
        designers:</p>

      <ul>
        <li>understand and visualise service processes to identify pain points and areas for improvement</li>
        <li>collaborate across teams and professions including policy makers, product, and users to co-create outcomes
        </li>
        <li>design supporting processes that enable seamless touchpoints both online and offline</li>
      </ul>

      <p>Find out more about the <a href="/design-ops/professions/service-design">service design profession</a>.</p>


    </div>
  </div>
</div>


{% endblock %}