<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/design-system/figma" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to figma</a>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if title === 'Figma' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/figma">Figma</a>
        </li>
         <li class="dfe-vertical-nav__section-item {% if title === 'Figma in DfE' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/figma/figma-in-dfe">Figma in DfE</a>
        </li>
    </ul>
</nav>