{% extends "layouts/layout.html" %}
{% set serviceNav = "Design system" %}
{% set path = "design-system/figma" %}
{% set title = "Figma" %}
{% set description = "Training and guidance for using Figma in DfE services." %}
{% set mainClasses = 'govuk-!-padding-top-0' %}

{% block content %}

    <section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <a href="/design-system" class="govuk-back-link govuk-!-margin-top-2">Back to design system</a>
                    <span class="govuk-caption-xl govuk-!-margin-top-5">Professions</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>

            </div>
        </div>
    </section>

    <section style="background-color:#ffffff;" class="govuk-!-padding-top-7">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                        <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                            <div class="govuk-grid-column-one-half text-column">
                                <h2 class="govuk-heading-l govuk-!-margin-top-2">Figma for beginners</h2>
                                <p class="govuk-body">Figma has a set of videos on YouTube to help you understand the basics of Figma and some
                                of its features.</p>
                                <a href="https://www.youtube.com/watch?v=Cx2dkpBxst8&list=PLXDU_eVOJTx7QHLShNqIXL1Cgbxj7HlN4"
                                target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">YouTube
                                playlist</a>
                            </div>
                            <div class="govuk-grid-column-one-half image-column">
                                <iframe width="100%" height="340"
                            src="https://www.youtube-nocookie.com/embed/Cx2dkpBxst8?si=_4dBspeyALX-cQXO"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="govuk-width-container govuk-!-margin-top-5">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l">Get started</h2>
                </div>
            </div>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">
                    <div class="dfe-grid-container dfe-grid-container--wider">

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="https://help.figma.com/hc/en-us/categories/360002051613-Getting-Started"
                                    class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Figma and
                                    FigJam</a>
                                </h2>
                                <p class="govuk-body">Getting familiar with the design and whiteboarding tools.</p>
                            </div>
                        </div>

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="https://www.figma.com/resource-library/design-basics/"
                                    class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Design
                                    basics</a>
                                </h2>
                                <p class="govuk-body">The basics of product design, mockups, and design ethics.</p>
                            </div>
                        </div>

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/design-system/figma/figma-in-dfe"
                                    class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Working with
                                    Figma in DfE</a>
                                </h2>
                                <p class="govuk-body">The interaction designers at DfE give their top tips for getting started with Figma.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <section style="background: #ffffff;">

        <div class="govuk-width-container" style="padding: 0px 0 40px 0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l govuk-!-margin-top-2">Core design features</h2>
                </div>
            </div>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    <div class="dfe-panel">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Containers</h3>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://www.figma.com/best-practices/groups-versus-frames/"
                                        class="govuk-link govuk-!-font-size-24">Groups vs frames</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/watch?v=LHY9cm_2zwU&list=PLXDU_eVOJTx6zk5MDarIs0asNoZqlRG23&index=4"
                                        class="govuk-link govuk-!-font-size-24">Constraints</a>
                                    </li>

                                    <li>
                                        <a href="https://www.youtube.com/watch?v=QvLGRrQKsfQ&list=PLXDU_eVOJTx53btRMBES-ASBBm03-bUCJ&index=3"
                                        class="govuk-link govuk-!-font-size-24">Frames and pages</a>
                                    </li>

                                    <li>
                                        <a href="https://www.figma.com/best-practices/everything-you-need-to-know-about-layout-grids/"
                                        class="govuk-link govuk-!-font-size-24">Layout grids</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Styles</h3>
                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://www.figma.com/best-practices/components-styles-and-shared-libraries/styles-and-style-tips/"
                                        class="govuk-link govuk-!-font-size-24">Styles and style tips</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/watch?v=gtQ_A3imzsg&list=PLXDU_eVOJTx6zk5MDarIs0asNoZqlRG23&index=8"
                                        class="govuk-link govuk-!-font-size-24">Creating styles</a>
                                    </li>

                                    <li>
                                        <a href="https://www.figma.com/best-practices/typography-systems-in-figma/"
                                        class="govuk-link govuk-!-font-size-24">Typography systems</a>
                                    </li>

                                    <li>
                                        <a href="https://www.youtube.com/watch?v=9FuKfFBC4TU&list=PLXDU_eVOJTx53btRMBES-ASBBm03-bUCJ&index=1"
                                        class="govuk-link govuk-!-font-size-24">CSS colour names</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Auto layout</h3>
                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040451373-Create-dynamic-designs-with-Auto-layout"
                                        class="govuk-link govuk-!-font-size-24">Create dynamic designs with auto
                                        layout</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/playlist?list=PLXDU_eVOJTx55HFubfbTL3ellJjBM2QE2"
                                        class="govuk-link govuk-!-font-size-24">Auto layout YourTube playlist</a>
                                    </li>

                                    <li>
                                        <a href="https://www.figma.com/community/file/784448220678228461"
                                        class="govuk-link govuk-!-font-size-24">Figma auto layout playground</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section style="background: #ffffff;">

        <div class="govuk-width-container" style="padding: 0px 0 60px 0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-l govuk-!-margin-top-2">Prototyping</h2>
                </div>
            </div>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    <div class="dfe-panel">

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Interactions</h3>

                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040315773"
                                        class="govuk-link govuk-!-font-size-24">Interactions and animations</a>
                                    </li>
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040035874"
                                        class="govuk-link govuk-!-font-size-24">Prototype actions</a>
                                    </li>

                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040035834"
                                        class="govuk-link govuk-!-font-size-24">Prototype triggers</a>
                                    </li>

                                </ul>

                            </div>
                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Animations</h3>
                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360039818874-Create-advanced-animations-with-Smart-Animate"
                                        class="govuk-link govuk-!-font-size-24">Smart animate</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/watch?v=crPzZ8lK7KM&feature=youtu.be"
                                        class="govuk-link govuk-!-font-size-24">Animating actions</a>
                                    </li>

                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360051748654/"
                                        class="govuk-link govuk-!-font-size-24">Easing curves</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="govuk-grid-column-one-third">
                                <h3 class="govuk-heading-m">Presentation</h3>
                                <ul class="govuk-list govuk-list--spaced">
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040318013"
                                        class="govuk-link govuk-!-font-size-24">Preview a prototype</a>
                                    </li>
                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360039823894"
                                        class="govuk-link govuk-!-font-size-24">Prototype devices</a>
                                    </li>

                                    <li>
                                        <a href="https://help.figma.com/hc/en-us/articles/360040531773"
                                        class="govuk-link govuk-!-font-size-24">Sharing your prototypes</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>

       <section style="background-color: #ffffff;"  class="govuk-!-padding-top-5 govuk-!-padding-bottom-9">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Support</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-!-padding-top-1 govuk-!-margin-bottom-5" style="background-color: #003a69;"></div>
                    <p class="govuk-body-l">Where to get help and support with Figma if you need it.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-!-padding-top-1 govuk-!-margin-bottom-5" style="background-color: #aecbdd;"></div>

                    <h3>
                    DfE community channels
                </h3>
                    <p class="govuk-body">
                        <a href="https://ukgovernmentdfe.slack.com/archives/C06169P51D2" target="_blank" class="govuk-link"
                        rel="noopener noreferrer">#figma</a> or <a
                        href="https://ukgovernmentdfe.slack.com/archives/C7JG0399S" target="_blank" class="govuk-link"
                        rel="noopener noreferrer">#design</a>
                    </p>

                    <h3>
                    For access and licences
                </h3>
                    <p class="govuk-body">
                        <a href="https://ukgovernmentdfe.slack.com/archives/CMS9V0JQL" target="_blank" class="govuk-link"
                        rel="noopener noreferrer">#digital-tools-support</a>
                    </p>

                </div>
            </div>
        </div>
    </section>


   

{% endblock %}