{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Our approach" %}
{% set pageDescription = "How we design and build services at the National Careers Service. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "our approach"%}
{% set hasChildren = "true"%}
{% set isChildSection = "true"%}
{% block heroExtra %}
<p><strong class="govuk-tag">National Careers Service</strong></p>

  {% endblock%}


{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>At the National Careers Service, we take a user-centred, iterative, inclusive and open approach to design.</p>
<h2>User-centred</h2>
<p>We put users at the centre of our decisions to make sure the National Careers Service website and its components work for the people who need it. </p>
<h2>Iterative</h2>
<p>We should always test and refine our designs as we learn more about our users and the way they use the website.</p>
<h2>Inclusive</h2>
<p>The National Careers Service website is for everyone. We want to make sure people with different physical, mental health, social, cultural or learning needs can use our design.</p>
<h2>Open</h2>
<p>We want to work in the open at the National Careers Service.</p>
<p>We aim to share our learning and our work and be transparent in our design decisions. This means we hold ourselves accountable and have confidence in our solutions.</p>

{% endblock%}