<!DOCTYPE html>
<html lang="en-gb">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://rsms.me/">
  <title>{% block pageTitle %}example|RSD Design Pattern library{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  {# Ensure that older IE versions always render with the correct rendering engine #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="/assets/css/app.min.css" rel="stylesheet">
</head>

<body class="govuk-template__body app-example-page js-enabled {{componentId}}">
  <div class="app-example-wrapper" data-module="app-tabs">
    {% block sample %} &nbsp; {% endblock %}
  </div>
</body>

</html>