{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Our approach" %}
{% set pageDescription = "How we design and build services at the Regional Services Division." %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "Our approach" %}
{% set parentSection = "rsd-design-system"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2024 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}
<p>In RSD, we use the GOV.UK Design System so that the look and function of the products is similar across the suite, and
    to GOV.UK. </p>
<p>However, each team has interpreted and applied the design system to their context. This means that the products may
    be meeting similar or the same needs, but the solutions look or function differently.</p>
<p>Over time we want our suite of products to become consistent, so that it&#39;s easier for users to learn and use
    multiple products. </p>
<p>By creating a library of design patterns and applying these to meet user needs, we will create this similarity and
    also:</p>
<ul>
    <li>it will be quicker to design and build our products</li>
    <li>we will spend less time solving problems which other teams have already solved</li>
    <li>it will make it easier to maintain the suite of products once they are managed by Service Support</li>
</ul>
<p>We have had some user feedback that it&#39;s easy to use a product because they are familiar with another product
    which works similarly. We have also had feedback that where one product does something but another product does not,
    it&#39;s confusing and they waste time trying to work out how to achieve their goal. </p>
<p>We will continue to gather insight from users to understand where inconsistency is causing them problems, and where
    consistency may help them. </p>
<h2>Rolling-out design patterns across RSD</h2>
<h3>If you are designing something new or improving an existing design</h3>
<p>Check the <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database</a> to see if the user need you identified is
    documented for other products.</p>
<p>If it is:</p>
<ul>
    <li>the need will link to any associated design patterns used in existing products</li>
    <li>you should apply the pattern or re-use the design</li>
    <li>you should also update the user needs database to reflect your need and pattern</li>
</ul>
<p>If it is not:</p>
<ul>
    <li>document the new need in the user needs database</li>
    <li>create a new design</li>
    <li>capture your reasons for deviating from the design pattern in the design pattern <strong>and</strong> user needs
        database</li>
</ul>
<h3>If you have an existing design which you are not planning to iterate</h3>
<p>Over time we want to update existing designs to follow our design patterns as well. </p>
<p>If you do not have the opportunity to apply a design pattern to new work or an iteration, please prioritise 2 aspects
    of your product to update and follow a design pattern. </p>
<h2 id="rsd-patterns">RSD patterns</h2>
<p>Here are patterns:</p>
<ul>
    <li><a href="https://dfe-gov-uk.visualstudio.com/Academies-and-Free-Schools-SIP/_workitems/edit/162180">currently awaiting triage</a></li>
    <li><a href="https://dfe-gov-uk.visualstudio.com/Academies-and-Free-Schools-SIP/_workitems/edit/161927">in development or have been prioritised for development</a></li>
</ul>
<h2>Ceremonies</h2>
<p>We will use the interaction design community of practice (2pm Wednesday, weekly) to share designs at an early stage
    and discuss design patterns. RSD&#39;s Head of UCD will join these sessions to support teams to do this. </p>
<p>We will use the UCD community meeting (2pm Monday, monthly) to discuss iterations to existing patterns, and potential
    new patterns. </p>
<h2>Prioritisation</h2>
<p>We will prioritise design patterns through the programme &#39;front door&#39; prioritisation process. This means SLT
    and PMs will have input into prioritisation. </p>
<p>The cross-cutting UCD group will suggest a shortlist of design patterns as candidates for prioritisation, based on <a
        href="https://dfe-gov-uk.visualstudio.com/Academies-and-Free-Schools-SIP/_wiki/wikis/Academies-and-Free-Schools-SIP.wiki/5596/WSJF-in-ADO">WSJF</a> and input from across the programme.</p>

{% endblock%}
