{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "DesignOps" %}
{% set pageName = "Our design goals" %}
{% set pageDescription = "Our design goals are central to our commitment to designing inclusive, accessible, usable
services, and maturing the DfE design profession." %}

{% block hero %}
<section class="dfe-page-header">
   <div class="dfe-width-container">
      <div class="govuk-breadcrumbs">
         <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
               <a class="govuk-breadcrumbs__link" href="/design-ops">DesignOps</a>
            </li>

            <li class="govuk-breadcrumbs__list-item">
               {{pageName}}
            </li>
         </ol>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
            <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
         </div>
      </div>
   </div>
</section>
{% endblock %}


{% block content %}
<section id="accessibility">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Goal 1</span>
            <h2 class="govuk-heading-l">Accessibility</h2>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <p class="govuk-body-l">Raise the standard of accessible and inclusive design across the department.</p>
         </div>
         <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Initiatives</caption>
               <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                     <th scope="col" class="govuk-table__header">Initiative</th>
                     <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Progress</th>
                  </tr>
               </thead>
               <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Recruit accessibility specialist</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Develop an accessibility standard and framework</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Able objectives for leadership and design</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">All staff to have accessibility training</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>

<section class="dfe-width-container">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
      </div>
   </div>
</section>

<section class="" style="background: #ffffff;" id="people">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Goal 2</span>
            <h2 class="govuk-heading-l">People</h2>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <p class="govuk-body-l">A consistent approach to recruitment and onboarding for design professionals with
               clear objectives for professions and community.</p>
         </div>
         <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Initiatives</caption>
               <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                     <th scope="col" class="govuk-table__header">Initiative</th>
                     <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Progress</th>
                  </tr>
               </thead>
               <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Establish a <a
                           href="/inside-design/working-group/people">working group</a> to deliver initiatives for this
                        goal</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Publish updated job descriptions for all design
                        professions and roles</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Profession objectives that support learning,
                        development, and design maturity</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Develop and implement a consistent interview process
                        for design professions</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Design and implement a consistent onboarding process
                        for permanent and contingency staff</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>
<section class="dfe-width-container">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
      </div>
   </div>
</section>


<section class="" style="background: #ffffff;" id="standards">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Goal 3</span>
            <h2 class="govuk-heading-l">Standards</h2>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <p class="govuk-body-l">A Design Standard for implementing consistent content design, service patterns and
               components in digital products and services.</p>
         </div>
         <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Initiatives</caption>
               <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                     <th scope="col" class="govuk-table__header">Initiative</th>
                     <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Progress</th>
                  </tr>
               </thead>
               <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Establish a <a
                           href="/inside-design/working-group/patterns-and-components">working group</a> to deliver
                        initiatives for this goal</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Establish a <a
                           href="/inside-design/working-group/content-styles">working group</a> for content styles</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Develop and publish a frontend design system for DfE
                        services to use</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Ongoing</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Publish a framework for designers to assure design work
                        at different phases</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--yellow">Started</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Publish and implement improved guidance for designers
                        assessing services. </th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>

<section class="dfe-width-container">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
         <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
      </div>
   </div>
</section>


<section class="govuk-!-margin-bottom-9" style="background: #ffffff;" id="maturity">
   <div class="dfe-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-l">Goal 4</span>
            <h2 class="govuk-heading-l">Maturity</h2>
         </div>
      </div>
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-third">
            <p class="govuk-body-l">Mature the design profession around a framework of guidance, principles, good
               practice, learning and development.</p>
         </div>
         <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Initiatives</caption>
               <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                     <th scope="col" class="govuk-table__header">Initiative</th>
                     <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Progress</th>
                  </tr>
               </thead>
               <tbody class="govuk-table__body">   <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Run, evaluate, and publish design maturity survey
                     results for September 2022</th>
                  <td class="govuk-table__cell">
                     <strong class="govuk-tag govuk-tag--green">Complete</strong>
                  </td>
               </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Run, evaluate, and publish design maturity survey
                        results for September 2023</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Run, evaluate, and publish design maturity survey
                        results for September 2024</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Ensure all designers have access to learning and
                        development opportunities for their profession</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">Complete</strong>
                     </td>
                  </tr>

                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Support and implement capability based pay framework
                        into priority groups</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                     </td>
                  </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Develop and implement skills bootcamps and tools for
                        design learning</th>
                     <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</section>
{% endblock %}