{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Accessibility" %}
{% set pageDescription = "Everyone who works on Department for Education services has a role to play in making services accessible and inclusive." %}

{% set selectedNav = "Accessibility" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = "April 2023 "%}
{% set backlog_issue_id = "11" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important - Changes to WCAG are coming
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">Read the guidance for understanding and applying the <a href="/accessibility/understanding-wcag/draft-2-2">9 new criteria in WCAG 2.2</a>.</p>
    <p>These are coming into force between June and September 2023 with compliance expected within 6 to 9 months after.</p>
  </div>
</div>

    <div class="govuk-inset-text">Accessibility assurance should not be left until carrying out an evaluation. Manual and automated ccessibility testing, testing with users with access needs and design reviews should be done throughout the service delivery lifecycle.</div>

<p><a href="/tools/inclusivity-calculator" >Estimate how many people using your website might be disabled</a>. This will help you consider the types of people who may be using your service and who you should be testing with.</p>



<p>We are <a href='/accessibility/standards'>legally required</a> to ensure all content available through a browser (websites, services, and apps) are accessible, regardless of whether they are for staff internal use, or external users.</p>

<p>When we talk about accessibility we must not think of it as just for disabled people, it also means supporting everyone with temporary, situational and permanent access needs who may be using assisitve technology.</p>

<p>In the UK, <a href="https://www.scope.org.uk/media/disability-facts-figures/" target="_blank">one in five people have a disability</a> and around <a href="https://adhdaware.org.uk/what-is-adhd/neurodiversity-and-other-conditions/" target="_blank">15% of people are thought to be neurodiverse</a> .</p>



{% endblock %}
