{% set pageName = "Readers get what they need" %}
{% set canonical = "https://design.education.gov.uk/standards/plain-language/readers-get-what-they-need"%}
{% set pageDescription = "Ensure we understand who the users of the content are and their needs." %}
{% set selectedNav = "DesignOps" %}
{% set lastUpdated = "February 2024" %}
{% set backlog_issue_id = "231" %}
{% set standard = "language" %}
{% set setSelectedSideNav = "Readers get what they need" %}

{% extends "layouts/content-full-width.html" %}

{% block hero %}
<section class="dfe-page-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l  govuk-!-margin-top-5">Use plain language</span>
                <h1 class="govuk-heading-xl">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">

               
      {% include "includes/_side-nav.html"%}

            </div>

            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-l">Identify the readers</h2>
                <p>Find out who the users are and what they need through research.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                </ul>


                <h2 class="govuk-heading-l">Identify the readers' purpose</h2>
                <p>Find out what task the user wants or needs to do.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">Identify the context in which readers will read the document</h2>
                <p>Make sure everyone can use the content and takes into account how - and where - people are looking at
                    it.
                </p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">3.
                            Provide a joined up experience across all channels</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">5.
                            Make sure everyone can use the service</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">Select the document type or types</h2>
                <p>Think about the user's context, their aims and how they will use the content. Test your design with users and evaluate if you've chosen the right format for content. </p>

                <p>You should follow the guidance in the <a href="/design-system/content-design">content design</a> section of the design manual.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                  
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">8.
                           Iterate and improve frequently</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">Select content that reader needs</h2>
                <p>Look at the full context when considering what the user is trying to achieve, not just the interaction with the service.</p>
                <p>Find a way to communicate business or policy requirements to users in a way that meets their needs.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                  
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">2.
                            Solve a whole problem for users</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                </ul>


            </div>


        </div>
    </div>
</section>
{% endblock %}