{% set pageName = "Readers find what they need" %}
{% set canonical = "https://design.education.gov.uk/standards/plain-language/readers-find-what-they-need"%}
{% set pageDescription = "Use content design techniques, such as acceptance criteria and heading structures to allow
users to do the thing they need to do." %}
{% set selectedNav = "DesignOps" %}
{% set lastUpdated = "February 2024" %}
{% set backlog_issue_id = "231" %}
{% set standard = "language" %}
{% set setSelectedSideNav = "Readers can easily find what they need" %}

{% extends "layouts/content-full-width.html" %}

{% block hero %}
<section class="dfe-page-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l  govuk-!-margin-top-5">Use plain language</span>
                <h1 class="govuk-heading-xl">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section>
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">


                {% include "includes/_side-nav.html"%}

            </div>

            <div class="govuk-grid-column-three-quarters">

                <h2 class="govuk-heading-l">Structure the document for readers</h2>
                <p>We work with user researchers to find out what's important to the users. We then design content that
                    helps users find the information they need.</p>
                <p>We structure content so it answers what most people want to know first.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                </ul>

                <p>Additional guidance, patterns or components to support meeting this standard:</p>

                
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://design-system.service.gov.uk/components/warning-text/">Warning text - GOV.UK Design System</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">Use information design techniques that enable readers to find information</h2>
                <p>We design content using approved GOV.UK components and patterns, which help users see what the page is about, navigate the page and make decisions about what to do next.</p>

            <p>We use DfE specific patterns and components, where appropriate.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>

                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">5.
                            Make sure everyone can use the service</a>
                    </li>

                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">13.
                            Use and contribute to open patterns, common components and patterns</a>
                    </li>
                </ul>

                <p>Additional guidance, patterns or components to support meeting this standard:</p>

                
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">GOV.UK style guide</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="/design-system/style-guide">DfE style guide</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://design-system.service.gov.uk">GOV.UK Design system</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="/design-system">DfE Design system</a>
                    </li>
                </ul>

            

                <h2 class="govuk-heading-l">Use headings to help readers predict what comes next</h2>
                <p>We use headings and sub-headings to help users see what the page is about and to navigate the content. </p>
                <p>We optimise content for the search engines by including relevant search terms in the headings.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">1.
                            Understand users and their needs</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                </ul>

                <p>Additional guidance, patterns or components to support meeting this standard:</p>

                
                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a class="govuk-link"
                            href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk">Writing for GOV.UK</a>
                    </li>
                    <li>
                        <a class="govuk-link"
                            href="https://design-system.service.gov.uk/styles/headings/">Headings (GOV.UK Design system)</a>
                    </li>
                </ul>

                <h2 class="govuk-heading-l">Keep supplementary information separate</h2>
                <p>We give people the information they need at the most appropriate time in their journey.</p>

                <p>We link users to further information, rather than duplicating information or providing everything upfront.</p>

                <p>You can meet this by working to the following Service Standard points:</p>

                <ul class="govuk-list govuk-list--spaced">

                    <li>
                        <a class="govuk-link"
                            href="https://apply-the-service-standard.education.gov.uk/service-standard/1-understand-user-needs">4.
                            Make the service simple to use</a>
                    </li>
                </ul>

              


            </div>


        </div>
    </div>
</section>
{% endblock %}