{% extends "layouts/content-with-sidenav.html" %}

{% set seoPageName = "Types of content we publish in the Department for Education" %}
{% set seoPageDescription = "" %}
{% set pageName = "Types of content we publish" %}
{% set pageDescription = "We publish content through a variety of channels and we also publish content within services." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "April 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}

               
<p>If you’re unsure where your service or content should sit, use <a href="https://should-your-product-be-on-gov.herokuapp.com/" target="_blank">Check if your product should be on GOV.UK (opens in a new tab) </a>.</p>

<p>We produce written content, video, images and graphics to support our users to access and deliver services.</p>

<p>Each of our channels has the capability of housing these content types. User needs should direct the creation of content, what is created, and at which point it should be delivered to support the users as they progress through their user journey.</p>

<p>We typically use external providers to procure videos, graphics, images and marketing. Depending on the level of requirement we can accommodate some requests within teams. </p>

  <h2 class="govuk-heading-m" id="start-with-govuk-design-system">Channels we use</h2>

  <h3 class="govuk-heading-s">GOV.UK mainstream content</h3>

<p>This is content for the general public and is managed by Government Digital Services (GDS) and Central Digital and Data Office (CDDO).</p>

<p>DfE works with GDS to produce content for parents and carers for things like looking for childcare or a school place.</p>

<p>Examples of mainstream DfE services:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.gov.uk/types-of-school" target="_blank">Types of schools (opens in new tab)</a></li>
  <li><a href="https://www.gov.uk/schools-admissions" target="_blank">School admissions (opens in new tab)</a></li>
  <li><a href="https://www.gov.uk/school-term-holiday-dates" target="_blank">School term and holiday dates (opens in new tab)</a></li>
</ul>

<h3 class="govuk-heading-s">GOV.UK specialist content</h3>

<p>This content is managed by DfE’s digital communications team. We use this to publish statutory guidance, policy papers and detailed guides for professionals. We also publish some guidance for parents and press releases. </p>

<p>The following are examples of specialist content.</p>

<h3 class="govuk-heading-s">Services housed on the service domain</h3>

<p>These services for the general public are public facing services, and are developed and managed by teams within DfE.</p>

<h3 class="govuk-heading-s">Services housed on the education domain</h3>

<p>These services are for professionals and are developed and managed by teams within DfE.</p>

<h3 class="govuk-heading-s">Campaign sites</h3>

<p>These are managed by <a href="https://gcs.civilservice.gov.uk/" target="_blank">Government Communications Service (GCS) (opens in new tab)</a> (some are managed by third-party providers) they're aimed at the general public and are used over a specific time period with a specific objective.</p>

<p>Contact Clare Arolker at <a href="mailto:Clare.Arolker@education.gov.uk">Clare.Arolker@education.gov.uk</a>  or Indira Pereira-Lopes at <a href="mailto:Indira.Pereira-Lopes@education.gov.uk">Indira.Pereira-Lopes@education.gov.uk</a> if you think that <a href="https://www.gov.uk/guidance/content-design/campaigns-on-gov-uk-standards-and-guidelines" target="_blank">a single page campaign site (opens in new tab)</a> will best meet your user's needs.</p>

<p>For campaign sites, digital communications team will:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>provide advice and guidance on your application</li>
  <li>submit your request to GDS</li>
  <li>give 'Head of Digital' approval</li>
</ul>

<h3 class="govuk-heading-s">Communication channels</h3>

<p>We also use several communication channels to engage with different audiences and direct users to our services and guidance.</p>

<p>These include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>GOV.UK Notify - for notifications (mails sent within the service)</li>
  <li>Intranet and internal services (DfE staff)</li>
  <li>Media and Education Blogs (media and professionals)</li>
  <li>Sector newsletters (professionals and stakeholders)</li>
  <li>Social media (media, professionals, public and stakeholders)</li>
</ul>

<p>As content designers we often have to join up user journeys across multiple channels, both on and offline, to deliver services. We're often comunicating with our regional networks and professionals we support to understand the benefits of content design for our users.</p>
 

{% endblock %}