{% extends "layouts/content-with-sidenav.html" %}

{% set seoPageName = "Reviewing and checking content" %}
{% set seoPageDescription = "" %}
{% set pageName = "Reviewing and checking content" %}
{% set pageDescription = "We conduct a vareity of checks ahead of publishing content." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "May 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}
{% markdown %}
## Reviewing and checking content (2i) 

As you draft content in various formats, such as like Word, Figma, Lucid and Whitehall, you'll need to complete regular reviews on your content and designs. 

You will usually make changes as you move from low fidelity to high fidelity versions and ultimately to your ready for ‘live’ version.   

## Reviews and content crits  

You can organise a review or content critique (crit) yourself and ask people to attend through Teams or Slack channels.   

Things to do in a review or crit: 

* provide the context of the piece of content  
* explain the type of feedback you want 
* explain to attendees that you're looking for honest feedback delivered in a constructive way
* explain how you want the feedback (for example, in comments or edits on your document) 

It’s useful to timebox activities and, if on a large call, consider using breakout rooms to encourage discussion.  

## Prior to the 2i check

Before the 2i stage, check you’ve done the following: 

* checked the factual accuracy with a policy or subject matter expert 
* gained appropriate sign off 
* have a publication or ‘go live’ plan in place 
* named the service or publication following GOV.UK naming conventions 

If the content needs to change whilst preparing the final version in the content management system, then you must check back that the content is still accurate.  

## The 2i check 

A 2i check (meaning a second pair of eyes) should be completed on the preview of the final content in position within the service or website ahead of publication or ‘go live’. 

The 2i check is the final check.  

## Checks by content type 

You may need to vary the checks based on the type of content and where it is being published.  
Service specific considerations: 

* name 
* start page 
* headers and footers 
* footer pages 
* components  
* style 

There is [guidance on how to make your service look like GOV.UK](https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk). There is also guidance in the DfE service manual, including [how to apply the DfE headers] (https://design.education.gov.uk/design-system/components/header).  

GOV.UK publication specific considerations: 

* title 
* template 
* collection and taxonomy tagging 
* change notes

There is [GOV.UK guidance on reviewing documents and publishing content on Whitehall](https://www.gov.uk/guidance/how-to-publish-on-gov-uk/reviewing-and-approving-content). This also includes guidance on what we, as a government department, should and should not publish. 

Manuals and guidance (including technical guides) specific checks: 

* name 
* titles 
* signposting from specialist content and collections 

There is a section for manuals in the [GOV.UK planning, writing and managing content guide](https://www.gov.uk/guidance/content-design/content-types).  

## Example check list 

You can download this checklist to adapt for your own team's use.  
 
|## Title (or name) checks |## Checked (Y/N)| 
|Clearly identifies the content |-|
|Fits the character limit (65 for Whitehall) |-|
|Avoids use of acronyms (are understood where used) |-|
|Front loaded with keywords |-|
|No full stop |-|
|Not already in use |-|
|Logically sits with other content, such as collections |-|
|Starts with a verb for services and manuals |-|

| ## Summary or description checks |Checked (Y/N) |
|The audience and purpose are clear (task) |-|
|Does not repeat the title |-|
|Use and understanding of acronyms is clear |-|
|Fits the character limit (160 for Whitehall publisher) |-|
|Front loaded with keywords |-|
|Full sentence with a full stop |-|

| ## Body text checks | Checked (Y/N) |
|Does not repeating the title or summary |-|
|Purposeful and clear |-|
|In plain English with technical terms explained |-|
|Tenses are consistent |-|
|Uses short sentences and paragraphs (recommended less than 25 words per sentence and 8 lines per paragraph) |-|
|Subheadings (recommended every 3 to 5 paragraphs) |-|
|Content length is suitable |-|
|Headings are nested in an appropriate and accessible order |-|
|Bullet points do not mix negative and positive points |-|
|Bullet points and numbered steps used appropriately (as per style guide) |-|
|Follows style guidance on bullets |-|
|Correct type of content and appropriate channel |-|
|Bullet points have a lead in line and start with a lower-case letter |-|
|No full stops in abbreviations or acronyms |-|
|Describes the destination of any links (don’t use ‘click here’) |-|
|Uses ‘and’ rather than ‘&’ (unless in a name) |-|
|Does not use bold, italics, CAPS, semicolons, underlining or exclamation marks |-|
|Headings, bullet points and acronyms are formatted correctly |-|
|Use ‘to’ not - |-|
|Writes out email addresses in full in lower case. (For GOV.UK content, use < > markdown either side of the address. For services, use mailto links with full email addresses visible. This ensures that email addresses can be copied by users using webmail, and the mailto links work for mail clients.)  |-|
|Does not use e.g., i.e. and etc - use 'for example', 'like', 'such as' and 'including' 
|There are no full stops in links |-|

| ## Images and videos checks | Checked (Y/N) |

|Useful and of high quality|
|Information is also available in text format |-|
|DfE have the rights to publish |-|
|Credit given to source where applicable |-|
|Follows DfE guidelines on use and style (brand and style guide) |-|
|Closed captions are included for video and timed with speech |-|
|Everything shown visually is explained verbally and in text for video |-|
|Images have alt text (directing users to where it is described in the main body test) |-|


{% endmarkdown %}
{% endblock %}