{% extends "layouts/content-with-sidenav.html" %}

{% set seoPageName = "Reviewing and checking content" %}
{% set seoPageDescription = "" %}
{% set pageName = "Reviewing and checking content" %}
{% set pageDescription = "We conduct a variety of reviews and checks ahead of publishing content." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "May 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}
{% markdown %}
As you draft content in various formats, such as Word, Figma, Lucid or Whitehall content publisher, you'll need to complete regular reviews on your content and designs.  
 
## Reviews and content crits 
 
You can organise a review or content critique (crit) yourself and ask people to attend through Teams or [Community Slack channels](https://design.education.gov.uk/community). You can also join one of the <a href="https://ukgovernmentdigital.slack.com/archives/C062GAGLW" rel="noopener norferrer" target="_blank">cross-government design slack channels (opens in new tab)</a>.
 
To prepare for a review or crit:  
 
* provide the context of the piece of content 
* explain the type of feedback you want 
* explain to attendees that you're looking for honest feedback delivered in a constructive way 
* explain how you want the feedback (for example, in comments or edits on your document) 
 
It’s useful to timebox activities (set a timer for each activity) and, if on a large call, consider using breakout rooms to encourage discussion. It can be helpful to do review or crits in person using post-its and printouts. 
 
There is helpful advice in the <a href="https://designnotes.blog.gov.uk/2017/11/27/using-design-crits-to-improve-collaboration/" rel="noopener norferrer" target="_blank">blog post on using design crits to improve collaboration in this blog post (opens in new tab)</a>.  
 
## Prior to the 2i check 
 
A 2i check (meaning a second pair of eyes) should be done on the final version in context, this will usually be in the production or test environment or in a preview on a content management system. 
 
Before the 2i stage, check you’ve done the following:  
 
* checked the factual accuracy with a policy or subject matter expert  
* has <a href="https://educationgovuk.sharepoint.com/sites/communications/SitePages/publish-gov-uk.aspx#get-clearance-to-publish-content" rel="noopener norferrer" target="_blank">clearance to publish (opens in Sharepoint)</a> this will vary by project  
* have a publication or ‘go live’ plan in place  
* named the service or publication following <a href="https://www.gov.uk/service-manual/design/naming-your-service" rel="noopener norferrer" target="_blank">GOV.UK naming conventions (opens in new tab)</a> 
 
If the content needs to change whilst preparing the final version in the content management system, then you must check that the content is still accurate. 
 
The 2i check is the final check. 
 
## 2i checks by content type  
 
You may need to vary the checks based on the type of content and where it is being published. 
 
Service specific considerations:  
 
* name of content, service or page 
* start page  
* branded headers and footers  
* statement pages, such as privacy and accessibility  
* components 
* style  
 
There is <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk" rel="noopener norferrer" target="_blank">guidance on how to make your service look like GOV.UK</a>. There is also guidance in the DfE service manual, including [how to apply the DfE headers](https://design.education.gov.uk/design-system/components/header). 
 
GOV.UK publication specific considerations:  
 
* title  
* template  
* collection and taxonomy tagging  
* change notes 
 
There is <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/reviewing-and-approving-content" rel="noopener norferrer" target="_blank">GOV.UK guidance on reviewing documents and publishing content on Whitehall</a>. This also includes guidance on what we, as a government department, should and should not publish.  
 
Manuals and guidance (including technical guides) specific checks:  
 
* name  
* titles  
* signposting from specialist content and collections  
 
There is a section for manuals in the <a href="https://www.gov.uk/guidance/content-design/content-types" rel="noopener norferrer" target="_blank">GOV.UK planning, writing and managing content guide</a>. 
 
## Example check list  
 
You can use adapt this checklist for your own team's use. 
  
### Title (or name)  
 
Things to check: 
* clearly identifies the content 
* fits the character limit (65 for Whitehall) 
* avoids use of acronyms (are understood where used) 
* is front loaded with keywords 
* has no full stop 
* is not already in use 
* logically sits with other content, such as collections 
* starts with a verb for services and manuals 
 
### Summary or description 
 
Things to check: 
* defines the audience 
* gives a clear purpose 
* does not repeat the title 
* avoids the use of acronyms
* fits the character limit (160 for Whitehall publisher) 
* is front loaded with keywords 
* is a full sentence with a full stop 
 
### Body text 
 
Things to check: 
* does not repeat the title or summary 
* is purposeful and clear 
* is in plain English with technical terms explained 
* uses consistent tense 
* uses short sentences and paragraphs (recommended fewer than 25 words per sentence and 8 lines per paragraph) 
* has subheadings (recommended every 3 to 5 paragraphs) 
* is suitable in terms of length 
* has nested heading in an appropriate and accessible order 
* has bullet points that do not mix negative and positive points, have a lead in line and start with a lower-case letter 
* has appropriately styled bullet points and numbered steps 
* uses the correct content type, template and channel 
* has no full stops in abbreviations or acronyms 
* describes the destination of any links (do not use ‘click here’) 
* uses ‘and’ rather than ‘&’ (unless in a name) 
* does not use bold, italics, CAPS, semicolons, underlining or exclamation marks 
* uses ‘to’ not ‘-’  
* does not use e.g. or i.e. and etc instead use 'for example', 'like', 'such as' or ‘including' 
* has no full stops in links 
 
### Images and videos 
 
Things to check:  
* useful and of high quality 
* visual information is also available in text format (such as in a flow diagram)
* DfE have the rights to publish 
* credit given to source where applicable (for example, source NHS England)
* follows DfE guidelines on use and style (brand and style guide) 
* closed captions are included for video and timed with speech 
* everything shown visually is explained verbally and in text for video 
* images have alt text (directing users to where it is described in the main body test) 
 
For email addresses check they are written out in full and all lower case.  
 
For GOV.UK content, use < > markdown either side of the address. For services, use mailto links with full email addresses visible. This ensures that email addresses can be copied by users using webmail, and the mailto links work for mail clients. 

Whilst checklist can help, you should check and refer to the <a href="https://www.gov.uk/topic/government-digital-guidance/content-publishing" rel="noopener norferrer" target="_blank">GOV.UK content publishing guidance, which includes the style and formats guide</a>. 

{% endmarkdown %}
{% endblock %}