{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}

{% set pageName = "Banner notification" %}
{% set pageDescription = "The National Careers Service banner notification tells users about something they need to know
that's not directly related to the page. " %}
{% set pageCaption = "National Careers Service component" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "components"%}
{% set ncs_components_nav = "true"%}
{% set isChildSection = "true"%}

{% set ncs_hide_parent_nav = "true" %}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "102" %}

{% set htmlCode = '<code class="hljs language-html">
  <span class="hljs-tag"> &lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;govuk-notification-banner ncs-notification-banner&quot;</span> <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;alert&quot;</span>
      <span class="hljs-attr">aria-labelledby</span>=<span class="hljs-string">&quot;govuk-notification-banner-title&quot;</span>
      <span class="hljs-attr">data-module</span>=<span class="hljs-string">&quot;govuk-notification-banner&quot;</span>&gt;</span>
           <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;govuk-notification-banner__content&quot;</span>&gt;</span>
              <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;govuk-notification-banner__heading&quot;</span>&gt;</span> Save Your Progress:&lt;/<span class="hljs-name">p</span>&gt;
                <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;govuk-body&quot;</span>&gt;</span>Add the css or scss style to your stylesheet&lt;/<span class="hljs-name">p</span>&gt;
                 <span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-list govuk-list--bullet"</span>&gt;</span>
                 <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>return and continue<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                 <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>view report online<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
                 <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>download and report anytime<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
              <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      {{ sample.code('/design-system/ncs-design-system/dfe-frontend/components/banner-notification/example.html',
      'banner notification example', 'banner-notification', htmlCode) }}

      <h2>When to use this component</h2>
      <p>You can use the banner notification to keep content about something not directly related to the page content
        together, such as information about saving progress in a form and returning to it later.</p>
      <p>Using the banner notification makes it easy for users to skip over the content after reading the heading if
        they do not want to take the action.</p>

      <h2>When not to use this component</h2>
      <p>Do not use the banner notification component unless you've identified a related task that only some users may
        want to take and be aware of.</p>

      <h2>How to use this component</h2>
      <p>You can copy the HTML and paste it where you'd like to display the banner notification on your page. </p>
      <p>You can then edit the heading and paragraph elements to show the content you'd like.</p>

    </div>
  </div>
</div>

{% endblock%}