      <div class="govuk-notification-banner ncs-notification-banner" role="region"
                 aria-labelledby="govuk-notification-banner-title"
                 data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        Save Your Progress:
                    </p>
                    <p class="govuk-body">Add the css or scss style to your stylesheet</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>return and continue</li>
                        <li>view report online</li>
                        <li>download and report anytime</li>
                    </ul>

                </div>
            </div>