



{% extends "layouts/question-page.html" %}

{% set pageName = "Contact DigiComms and Central Digital and Data Office (CDDO)" %}
{% set pageDescription = "Based on your answers it looks like your content meets the GOV.UK proposition." %}
{% set selectedNav = "Tools" %}
{% set isBeta = "false" %}

{% set backlog_issue_id = "" %}

{% block backlink %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

 <div class="govuk-panel govuk-panel--confirmation ">
      <h1 class="govuk-panel__title">
        Get it on GOV.UK
      </h1>
      <div class="govuk-panel__body">
        Based on your answers your content meets the GOV.UK proposition.
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <p>
      Contact DigiComms and Central Digital Data Office (CDDO).</p>

    <p>

      Normally, content on GOV.UK that is meant for the general public is known as 'mainstream' content .<br><br>
      This content is managed and maintained by CDDO.<br><br>
      You must <a
        href="https://dfe.service-now.com/serviceportal?id=sc_category&sys_id=611828a6db6c2f403b929334ca9619f6"> contact
        the DigiComms team to discuss this further.</a> They will also be able to contact CDDO should a need for a
      mainstream page be confirmed.<br><br>
      Find out more about the <a href="https://www.gov.uk/guidance/content-design/content-types"> different content
        types used on GOV.UK by DigiComms and CDDO. </a>


    </p>

    <p>
      <a href="/tools/proposition-checker">Start again</p>

    {% endblock %}