
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation ">
      <h1 class="govuk-panel__title">
        Contact DigiComms
      </h1>
      <div class="govuk-panel__body">
        Based on your answers it looks like your content or service meets the GOV.UK proposition.
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <p>
      You need to build guidance pages on GOV.UK.</p>

      <p>
       
  GOV.UK is for services, information and guidance that only government can provide, and makes interacting with government as easy as possible.<br><br>
  It’s designed so that users do not need to understand the complex structures of government to access information and services.<br><br>
  You should <a href= "https://dfe.service-now.com/serviceportal?id=sc_category&sys_id=611828a6db6c2f403b929334ca9619f6"> contact the DigiComms team to discuss your product further.

      </p>

       {% if data['question5'] === 'Yes'%}

  <h3 class="govuk-heading-m">
      Your product will need a service assessment
    </h3>
    <p>As the product has more than 100,000 transactions a year, or is subject to Cabinet Office spend controls, it will need a <a href="https://apply-the-service-standard.education.gov.uk/service-assessments" target="_blank">service assessment</a>.</p>
    {% endif %}

    <p><a href="/">Start again</p>

  </div>
</div>



{% endblock %}
