{% extends "layouts/question-page.html" %}

{% set pageName = "Do you need to provide additional guidance to support users using your product?" %}
{% set pageDescription = "" %}
{% set selectedNav = "Tools" %}
{% set isBeta = "false" %}

{% set backlog_issue_id = "" %}

{% block backlink %}  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


     <form method="post" action="/tools/proposition-checker/question4a">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Do you need to provide additional guidance to support users using your product?
                    </h1>
          </legend>

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="question4a-1" name="question4a" type="radio" value="Yes"
                {% if data['question4a'] === 'Yes' %}checked{% endif%}>
              <label class="govuk-label govuk-radios__label" for="question4a-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="question4a-2" name="question4a" type="radio" value="No"
                 {% if data['question4a'] === 'No' %}checked{% endif%}>
              <label class="govuk-label govuk-radios__label" for="question4a-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>

    </form>


   

    {% endblock %}