{% extends "layout.html" %}

{% block pageTitle %}
Get pages on GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation ">
      <h1 class="govuk-panel__title">
        Get pages on GOV.UK
      </h1>
      <div class="govuk-panel__body">
        Based on your answers it looks like your content or service meets the GOV.UK proposition.
      </div>
    </div>

    <h2 class="govuk-heading-m">
      Next steps
    </h2>



    <p>
      You have said your content may be for a technical audience, you should consider using different content types on
      GOV.UK to display this information and make sure general users don't access the content unnecessarily.<br><br>

      You must <a
        href="https://dfe.service-now.com/serviceportal?id=sc_category&sys_id=611828a6db6c2f403b929334ca9619f6"> contact
        the DigiComms team to discuss this further.</a><br><br> DigiComms can also support in the development of new
      guidance pages if existing GOV.UK content does properly support your service.<br><br>
      Find out more about the <a href="https://www.gov.uk/guidance/content-design/content-types"> different content
        types used on GOV.UK by DigiComms and CDDO. </a>
    </p>
    <p><a href="/">Start again</p>
    </div>
  </div>

{% endblock %}