{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk/design-ops/priorities" %}
{% set selectedNav = "DesignOps" %}
{% set subNav = "Priorities" %}
{% set pageName = "Our priorities" %}
{% set pageDescription = "Find out about the design profession priorities." %}

{% set backlog_issue_id = "27" %}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l  govuk-!-margin-top-5">DesignOps</span>
            <h1 class="govuk-heading-xl">{{pageName}}</h1>
            <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>
            <nav class="app-sub-navigation" aria-label="Application menu">
               <ul class="app-sub-navigation__list">
                  <li class="app-sub-navigation__item">
                     <a class="app-sub-navigation__link" href="/design-ops">Overview</a>
                  </li>
                  <li class="app-sub-navigation__item">
                     <a class="app-sub-navigation__link" href="/design-ops/professions">Professions</a>
                  </li>
                  <li class="app-sub-navigation__item">
                     <a class="app-sub-navigation__link" aria-current="page" href="/design-ops/priorities">Our
                        priorities</a>
                  </li>
                  <li class="app-sub-navigation__item">
                     <a class="app-sub-navigation__link" href="/design-ops/maturity">Design maturity</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block content %}


<section>
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-one-quarter">
            {% include "includes/_side-nav.html"%}
         </div>
         <div class="govuk-grid-column-three-quarters">

            <p>Our design priorities are central to our commitment to designing inclusive, accessible, usable
               services, and maturing the DfE design profession.</p>

            <p>These 3 priority areas align to the departments priorities. You can find out more about each one, and
               what work we're doing to meet the objective.</p>


            <h3 class="govuk-heading-m">Build DDT capability across the department</h3>
            <p>Enable designers to learn new skills and grow the design maturity and awareness in the department.</p>
            <p><a href="/design-ops/priorities/build-capability">Read more about this priority <span
                     class="govuk-visually-hidden">to build DDT capability across the department</span></a></p>


            <h3 class="govuk-heading-m">Raise standards across all DfE services</h3>
            <p>Enable designers to create consistent and accessible products and services for users.</p>
            <p><a href="/design-ops/priorities/raise-standards">Read more about this priority <span
                     class="govuk-visually-hidden">to raise standards across all DfE services</span></a></p>


            <h3 class="govuk-heading-m">Increase productivity across delivery teams</h3>
            <p>Support designers with tools and technology and to make use of common components and patterns.</p>
            <p><a href="/design-ops/priorities/increase-productivity">Read more about this priority <span
                     class="govuk-visually-hidden">to increase productivity across delivery teams</span></a></p>

         </div>
      </div>
   </div>
</section>

{% endblock %}