{% extends "./../example-layout.html" %}

{% block pageTitle %}
Edit contact details design pattern (contact per row) | RSD component library
{% endblock %}

{% block sample %}
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-l">Secondary title here</span>
  Edit Trust contacts
</h1>
<div class="govuk-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson1Name">
      Contact person 1 name
    </label>
    <input class="govuk-input" id="trustContactsPerson1Name" name="trustContactsPerson1Name" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson1EmailAddress">
      Contact person 1 email address
    </label>
    <input class="govuk-input" id="trustContactsPerson1EmailAddress" name="trustContactsPerson1EmailAddress" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson2Name">
      Contact person 2 name
    </label>
    <input class="govuk-input" id="trustContactsPerson2Name" name="trustContactsPerson2Name" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson2EmailAddress">
      Contact person 2 email address
    </label>
    <input class="govuk-input" id="trustContactsPerson2EmailAddress" name="trustContactsPerson2EmailAddress" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson3Name">
      Contact person 3 name
    </label>
    <input class="govuk-input" id="trustContactsPerson3Name" name="trustContactsPerson3Name" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson3EmailAddress">
      Contact person 3 email address
    </label>
    <input class="govuk-input" id="trustContactsPerson3EmailAddress" name="trustContactsPerson3EmailAddress" type="text">
  </div>
</div>
{% endblock %}
