{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Search for an establishment" %}
{% set pageDescription = "Search for and select an establishment, like an academy trust or school." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "October 2024 "%}
{% set backlog_issue_id = "105" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/search-for-an-establishment-read-only-basic.png"
            alt="Search an establishment for read-only purpose (basic)" width="100%">
          <figcaption>Search an establishment for read-only purpose (basic)</figcaption>
        </figure>

        <h2>How it works </h2>

        <p>This pattern has 2 variations, depending on the context.</p>

        <ol>
          <li>Read information about an establishment, like an academy trust or a school. Use this variation to help users find detailed information about an establishment.</li>
          <li>Select an establishment. Use this one to help users store details about an establishment. For example, in a project on a case management system.</li>
        </ol>
        
        <h3>Read information about an establishment</h3>

        <p>The variation has 3 pages:</p>

        <ol>
          <li>Page with a search box, for basic keyword searching.</li>
          <li>Establishment results list, showing the most important information about each establishment. Allow users to choose which option they want to see detailed information about.</li>
          <li>Establishment details, showing detailed information about the selected establishment.</li>
        </ol>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/search-for-an-establishment-read-only-basic.png"
            alt="Search an establishment for read-only purpose (basic)" width="100%">
          <figcaption>Read information about an establishment - basic version</figcaption>
        </figure>

        <p><strong>Page with a search box</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/search-for-an-establishment/example-search-box-page-basic', 'Page with a search box (basic)', 'search-box-page-basic',
          codeSnippet.htmlCodeReadingProjectNotes) }}

        <p><strong>Establishment results list</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/search-for-an-establishment/example-establishment-results-list', 'Establishment results list', 'establishment-results-list',
          codeSnippet.htmlCodeReadingProjectNotes) }}

        <p><strong>Establishment details</strong></p>
          {{ sample.code('/design-system/rsd-design-system/design-patterns/search-for-an-establishment/example-establishment-details.html', 'Establishment details', 'establishment-details',
            codeSnippet.htmlCodeReadingProjectNotes) }}
        
        <h4>Progressive enhancement</h4>

        <p>You can use the <a href="https://github.com/alphagov/accessible-autocomplete">autocomplete component on GitHub</a> as a progressive enhancement to the search box.</p>
        
        <p>This will reduce the number of pages in the journey to 2:</p>

        <ol>
          <li>Page with a search box. Present a list of results under the text input, as users type. When users select a result from the dynamic search list and then Continue, take them to the next page.</li>
          <li>Establishment details, showing detailed information about the selected establishment.</li>
        </ol>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/search-for-an-establishment-read-only-progressive-enhancement.png"
            alt="Search an establishment for read-only purpose (progressive enhancement)" width="100%">
          <figcaption>Read information about an establishment - progressive enhancement</figcaption>
        </figure>

        <p><strong>Page with a search box (progressive enhancement)</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/notes/example-reading-project-notes.html', 'Reading project notes', 'reading-project-notes',
        codeSnippet.htmlCodeReadingProjectNotes) }}

        <h3>Select an establishment</h3>

        <p>This variation has 3 pages:</p>

        <ol>
          <li>Page with a search box, for basic keyword searching.</li>
          <li>Establishment results list, showing the most important information about each establishment. Allow users to select an option from the list.</li>
          <li>Establishment details, showing detailed information about the selected establishment. Allow users to confirm if this is the establishment they were looking for. If it is, let them select it so they can store information about it somewhere. If it's not, take them back to the establishment results list.</li>
        </ol>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/search-for-an-establishment-journey-basic.png"
            alt="Searching for an establishment as part of a longer journey (basic)" width="100%">
          <figcaption>Select an establishment - basic version</figcaption>
        </figure>

        <p><strong>Page with a search box</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/notes/example-reading-project-notes.html', 'Reading project notes', 'reading-project-notes',
          codeSnippet.htmlCodeReadingProjectNotes) }}

        <p><strong>Establishment results list</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/notes/example-reading-project-notes.html', 'Reading project notes', 'reading-project-notes',
          codeSnippet.htmlCodeReadingProjectNotes) }}

        <p><strong>Establishment details</strong></p>
          {{ sample.code('/design-system/rsd-design-system/design-patterns/notes/example-reading-project-notes.html', 'Reading project notes', 'reading-project-notes',
            codeSnippet.htmlCodeReadingProjectNotes) }}
        
        <h4>Progressive enhancement</h4>

        <p>You can use the <a href="https://github.com/alphagov/accessible-autocomplete">autocomplete component on GitHub</a> as a progressive enhancement to the search box.</p>
        
        <p>This will reduce the number of pages in the journey to 2:</p>

        <ol>
          <li>Page with a search box. Present a list of results under the text input, as users type. When users select a result from the dynamic search list and then Continue, take them to the next page.</li>
          <li>Establishment details, showing detailed information about the selected establishment. Allow users to confirm if this is the establishment they were looking for. If it's not, take them back to the page with a search box.</li>
        </ol>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/search-for-an-establishment-journey-progressive-enhancement.png"
            alt="Searching for an establishment as part of a longer journey (progressive enhancement)" width="100%">
          <figcaption>Select an establishment - progressive enhancement</figcaption>
        </figure>

        <p><strong>Page with a search box (progressive enhancement)</strong></p>
        {{ sample.code('/design-system/rsd-design-system/design-patterns/notes/example-reading-project-notes.html', 'Reading project notes', 'reading-project-notes',
        codeSnippet.htmlCodeReadingProjectNotes) }}

        <h3>Reference numbers</h3>

        <p>There are many different unique references for establishments, including:</p>
        <ul>
          <li>Unique Reference Number (URN) – from <a href="https://get-information-schools.service.gov.uk">Get Information about Schools</a></li>
          <li>UK Provider Reference Number (UKPRN) - from <a href="https://www.ukrlp.co.uk">UK Register of Learning Providers</a></li>
          <li>Group Identifier (Group ID) - also known as Trust Reference Number (TRN)</li>
          <li>Companies House number - from <a href="https://find-and-update.company-information.service.gov.uk">Find and update company information</a></li>
        </ul>
        <p>You should research with your users to see which references they are familiar with.</p>
        <p>If they are familiar with one or more references, design for those to save users' time and help avoid errors.</p>

        <h2>Research on this pattern</h2>
        <p>We have not done research on this design pattern, but parts of the pattern are being used in <a href="https://design-histories.education.gov.uk/find-information-about-academies-trusts">Find information about academies and trusts</a> and <a href="https://design-histories.education.gov.uk/manage-free-school-projects">Manage free school projects</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
        
        <p><strong>User need 96:</strong> When I need to find information about an establishment, I need flexibility in what I can search by, so that I can easily find the school/trust I am looking for.</p>

    </div>
</div>

{% endblock%}
