{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}

{% set pageName = "Search for an establishment" %}
{% set pageDescription = "Show information of an establishment and allow certain users to select the one they want." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2024 "%}
{% set backlog_issue_id = "105" %}

{% set htmlCodeContactPerCardReadOnly = '<code class="hljs language-html">
&lt;div class=&quot;govuk-summary-card&quot;&gt;
  &lt;div class=&quot;govuk-summary-card__title-wrapper&quot;&gt;
    &lt;h2 class=&quot;govuk-summary-card__title&quot;&gt;
      Project managed by
    &lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-summary-card__content&quot;&gt;
    &lt;dl class=&quot;govuk-summary-list&quot;&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Name
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Alex James
        &lt;/dd&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Email address
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          alex.james@example.com
        &lt;/dd&gt;
      &lt;/div&gt;
    &lt;/dl&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;govuk-summary-card&quot;&gt;
  &lt;div class=&quot;govuk-summary-card__title-wrapper&quot;&gt;
    &lt;h2 class=&quot;govuk-summary-card__title&quot;&gt;
      Team lead
    &lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-summary-card__content&quot;&gt;
    &lt;dl class=&quot;govuk-summary-list&quot;&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Name
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          
        &lt;/dd&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Email address
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          
        &lt;/dd&gt;
      &lt;/div&gt;
    &lt;/dl&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>' %}

{% set htmlCodeContactPerRowReadOnly = '<code class="hljs language-html">
&lt;div class=&quot;govuk-summary-card&quot;&gt;
  &lt;div class=&quot;govuk-summary-card__title-wrapper&quot;&gt;
    &lt;h2 class=&quot;govuk-summary-card__title&quot;&gt;
      DfE contacts
    &lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-summary-card__content&quot;&gt;
    &lt;dl class=&quot;govuk-summary-list&quot;&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Contact person 1 job title 
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Alex James&lt;br/&gt;
          alex.james@example.com
        &lt;/dd&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Contact person 2 job title
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Name&lt;br/&gt;
          email address here
        &lt;/dd&gt;
      &lt;/div&gt;
    &lt;/dl&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;govuk-summary-card&quot;&gt;
  &lt;div class=&quot;govuk-summary-card__title-wrapper&quot;&gt;
    &lt;h2 class=&quot;govuk-summary-card__title&quot;&gt;
      Trust contacts
    &lt;/h2&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-summary-card__content&quot;&gt;
    &lt;dl class=&quot;govuk-summary-list&quot;&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Contact person 1 job title 
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Alex James&lt;br/&gt;
          alex.james@example.com
        &lt;/dd&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Contact person 2 job title
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Name&lt;br/&gt;
          email address here
        &lt;/dd&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-summary-list__row&quot;&gt;
        &lt;dt class=&quot;govuk-summary-list__key&quot;&gt;
          Contact person 3 job title
        &lt;/dt&gt;
        &lt;dd class=&quot;govuk-summary-list__value&quot;&gt;
          Name&lt;br/&gt;
          email address here
        &lt;/dd&gt;
      &lt;/div&gt;
    &lt;/dl&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <p>Show contact details and allow certain users to edit them.</p>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img src="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/check-a-service-is-suitable-new.svg"
            alt="The flow of searching of an establishment" width="100%" style="border: 1px solid #b1b4b6;">
          <figcaption>The flow of searching of an establishment</figcaption>
        </figure>


        <h2>When to use this pattern</h2>
        <p>When users need to search for information about an establishment (e.g. academy trust), or provide details about the establishment.</p>

        <h2>How it works </h2>

        <p>There could be a few different scenarios:</p>

        <ul>
          <li>searching for an establishment as read-only information</li>
          <li>searching for an establishment and add the retrieved result to a one-off journey</li>
          <li>searching for an establishment and store the retrieved result into your service</li>
        </ul>
        
        <h3>Searching for an establishment as read-only information</h3>

        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img src="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/check-a-service-is-suitable-new.svg"
            alt="Searching for an establishment as read-only information" width="100%" style="border: 1px solid #b1b4b6;">
          <figcaption>The flow of searching for an establishment as read-only information</figcaption>
        </figure>

        <h4>Basic Design</h4>

        <p>input page (simple input box)</p>
        <p>results page to confirm a single result (card per result)</p>
        
        <h4>Progressive enhancement</h4>

        <p>input page (autocomplete)</p>
        <p>result page (single result)</p>

        <h3>Searching for an establishment and add the retrieved result to a one-off journey</h3>
        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img src="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/check-a-service-is-suitable-new.svg"
            alt="Searching for an establishment and add the retrieved result to a one-off journey" width="100%" style="border: 1px solid #b1b4b6;">
          <figcaption>searching for an establishment and add the retrieved result to a one-off journey</figcaption>
        </figure>

        <p>input page (simple input box)</p>
        <p>results page to confirm a single result (card per result)</p>
        
        <h4>Progressive enhancement</h4>

        <p>input page (autocomplete)</p>
        <p>result page (single result)</p>


        <h3>Searching for an establishment and store the retrieved result into your service</h3>
        <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
          <img src="https://design-system.service.gov.uk/patterns/check-a-service-is-suitable/check-a-service-is-suitable-new.svg"
            alt="Searching for an establishment and store the retrieved result into your service" width="100%" style="border: 1px solid #b1b4b6;">
          <figcaption>searching for an establishment and store the retrieved result into your service</figcaption>
        </figure>

        <h4>Basic Design</h4>

        <p>read-only start page with a change link (could be empty)</p>
        <p>input page (simple input box)</p>
        <p>results page to confirm a single result (card per result)</p>
        <p>read-only start page with the updated result</p>
        
        <h4>Progressive enhancement</h4>

        <p>read-only start page with a change link (could be empty)</p>
        <p>input page (autocomplete)</p>
        <p>results page to confirm a single result (card per result)</p>
        <p>read-only start page with the updated result</p>

        <h2>Research on this pattern</h2>
        <p>We have not done research on this design pattern, but the pattern is being used in <a href="https://design-histories.education.gov.uk/prepare-conversions-transfers">Prepare conversions and transfers</a> and <a href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes">Complete conversions, transfers and changes</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
        
        <p><strong>User need 22:</strong> when I have a question about project data in MAP Complete and Prepare, I need the name and email address of the DO or RCS caseworker responsible for the project, so I can get in touch with them to address my query.</p>

    </div>
</div>

{% endblock%}
