{% extends "layouts/layout.html" %}

{% set serviceNav = "DesignOps" %}
{% set path = "designops" %}
{% set title = "DesignOps" %}
{% set description = "The DesignOps team supports design teams to work effectively and efficiently, with standards,
 guidance,
and support." %}
{% set mainClasses = 'govuk-!-padding-top-0 govuk-!-padding-bottom-0' %}

{% block content %}

  <section style="background-color:#ffffff; border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">{{title}}</h1>
          <p class="govuk-body-l">{{description}}</p>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-0">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Who we are</h2>
          <p class="govuk-body">The team is led by the head of design, and is a multidiscipline team who work on
                    developing
                    guidance, processes, tools and supporting design and the wider department.</p>
          <div class="dfe-grid-container govuk-!-margin-top-9"
                    style="grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));">
            <div class="dfe-card">
              <img src="/assets/images/andy-jones.jpeg" alt="">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                                Andy Jones
                            </h3>
                <p class="govuk-!-margin-bottom-0 govuk-body-s">Head of Design</p>
              </div>
            </div>
            <div class="dfe-card">
              <img src="/assets/images/kerry-lyons.jpeg" alt="">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                                Kerry Lyons
                            </h3>
                <p class="govuk-!-margin-bottom-0 govuk-body-s">Senior Content Designer</p>
              </div>
            </div>
            <div class="dfe-card">
              <img src="/assets/images/jake-lloyd.jpeg" alt="">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                                Jake Lloyd
                            </h3>
                <p class="govuk-!-margin-bottom-0 govuk-body-s">Senior Accessibility Specialist</p>
              </div>
            </div>
            <div class="dfe-card">
              <img src="/assets/images/adam-dumbell.jpeg" alt="">
              <div class="dfe-card-container">
                <h3 class="govuk-heading-m">
                                Adam Dumbell
                            </h3>
                <p class="govuk-!-margin-bottom-0 govuk-body-s">User Researcher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="background-color:#ffffff;" class="govuk-!-padding-top-0 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h2 class="govuk-heading-l govuk-!-margin-top-9">How we can help</h2>
          <p class="govuk-body">The DesignOps team can help you with:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>design standards and guidance</li>
            <li>design tools and resources</li>
            <li>getting started using the Design history product</li>
            <li>preparing for a service assessment</li>
            <li>accessibility guidance, support, and audit triage</li>
            <li>prototyping, GitHub, and Heroku</li>
            <li>design system and frontend framework</li>
          </ul>
          <p class="govuk-body">If you have any design or accessibility related questions, you can get in touch with the team in the following ways:</p>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">DfE Teams channel</dt>
              <dd class="govuk-summary-list__value">
                <a href="https://teams.microsoft.com/l/channel/19%3A9asYY78SvRyuar9Kg6MxWjhXzJ3x_PmrSzJDHp4nn8Q1%40thread.tacv2/General?groupId=8ac54cd0-dd0f-4b97-9c4f-a6ccd558e1c6&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9" class="govuk-link govuk-link--no-visited-state">DesignOps</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Cross-Gov Slack</dt>
              <dd class="govuk-summary-list__value">
                <a href="" class="govuk-link govuk-link--no-visited-state">#DfE-DesignOps</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email</dt>
              <dd class="govuk-summary-list__value">
                <a href="mailto:design.ops@education.gov.uk" class="govuk-link govuk-link--no-visited-state">design.ops@education.gov.uk</a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l  govuk-!-margin-top-9">What our products help people do</h2>

          <h3 class="govuk-heading-m">Accessibility and inclusive design manual</h3>
          <p class="govuk-body">The <a href="https://accessibility.education.gov.uk/" class="gov.uk-link">Accessibility and inclusive design manual</a> supports teams to deliver consistently accessible and inclusive products and websites everyone can use.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/accessibility-manual">
                <span class="govuk-visually-hidden">Accessibility and inclusive design manual </span>Source code in GitHub</a>
            </li>
            <li>
              <a class="govuk-link" href="https://design-histories.education.gov.uk/accessibility-manual">
                <span class="govuk-visually-hidden">Accessibility and inclusive design manual </span>Design history</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Apply the Service Standard in DfE</h3>
          <p class="govuk-body">
            <a href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE (ASSiDfE)</a> enables teams to build DfE products and websites that apply the Government Service Standard throughout delivery.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/apply-the-service-standard-in-dfe">
                <span class="govuk-visually-hidden">ASSiDfE </span>Source code in GitHub</a>
            </li>
            <li>
              <a class="govuk-link" href="https://design-histories.education.gov.uk/apply-the-service-standard-in-dfe">
                <span class="govuk-visually-hidden">ASSiDfE </span>Design history</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Create and manage standards</h3>
          <p class="govuk-body">
            <a href="https://create-and-manage-standards.education.gov.uk/sign-in">Create and manage standards</a> supports standard owners in DfE to co-create and manage digital, data and technology standards in a consistent, supported way.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/manage-standards/issues">
                <span class="govuk-visually-hidden">Create and manage </span>Source code in GitHub</a>
            </li>
            <li>
              <a class="govuk-link" href="https://design-histories.education.gov.uk/standards-manual-and-management">
                <span class="govuk-visually-hidden">Create and manage </span>Design history</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Design histories</h3>
          <p class="govuk-body">
            <a href="https://design-histories.education.gov.uk/">Design histories</a> empower service teams to work in the open, document design decisions and changes to a service over time.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/design-history">
                <span class="govuk-visually-hidden">Design histories </span>Source code in GitHub</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Design manual</h3>
          <p class="govuk-body">The <a href="https://design.education.gov.uk/">Design manual</a> supports everyone to design consistent, accessible, user-centred products and services in DfE.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/design">
                <span class="govuk-visually-hidden">Design manual </span>Source code in GitHub</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Find and use standards</h3>
          <p class="govuk-body">
            <a href="https://standards.education.gov.uk/">Find and use standards</a> allows people to easily find, understand and apply DfE digital, data, and technology standards.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/dfe-standards/issues">
                <span class="govuk-visually-hidden">Find and use </span>Source code in GitHub</a>
            </li>
            <li>
              <a class="govuk-link" href="https://design-histories.education.gov.uk/standards-manual-and-management">
                <span class="govuk-visually-hidden">Find and use </span>Design history</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m govuk-!-margin-top-7">Service assessment service</h3>
          <p class="govuk-body">The <a href="https://service-assessments.education.gov.uk/" class="gov.uk-link">Service assessment service</a> allows teams to book, manage and assess DfE products and services that need a service assessment.</p>
          <p class="govuk-body">Additional information:</p>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="https://github.com/DFE-Digital/dops-sas" >
                <span class="govuk-visually-hidden">Service assessment service </span>Source code in GitHub</a>
            </li>
            <li>
              <a class="govuk-link" href="https://design-histories.education.gov.uk/service-assessment">
                <span class="govuk-visually-hidden">Service assessment service </span>Design history</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

{% endblock %}