/* colours */

$light_pink: #f499be;
$primary_pink: #d53880;
$bright_purple: #912b88;
$primary_black: #0b0c0c;
$secondary_black: #000000;
$alternative_black: #464646;
$highlighter_blue: #D3EAFF;
$background_white: #FFFFFF;
$light_grey: #f3f2f1;
$dark_grey: #505a5f;
$background_grey: #b1b4b6;
$inactive_grey: #AEAEAE;
$focus_yellow: #ffdd00;
$text_black: #000000;
$text_white: #FFFFFF;
$hyperlink_blue: #3670B3;
$light_blue: #5694ac40;
$light_blue_25: #5694ca25;




