<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/content-design" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to
        content design</a>
    <ul class="dfe-vertical-nav__section">
           <li class="dfe-vertical-nav__section-item {% if title === 'Content strategies' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/content-strategies">Content strategies</a>
        </li>
            <li class="dfe-vertical-nav__section-item {% if title === 'Naming your service' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/naming-service">Naming your service</a>
        </li>
           <li class="dfe-vertical-nav__section-item {% if title === 'Guidance to meet the Plain Language standard' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/plain-language">Guidance to meet the Plain Language standard</a>
        </li>
           <li class="dfe-vertical-nav__section-item {% if title === 'Quality and assurance' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/quality-and-assurance">Quality and assurance</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if title === 'Publishing content' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/publishing-content">Publishing content</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if title === 'Style guide' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/content-design/style-guide">Style guide</a>
        </li>
    </ul>
</nav>