{% extends "layouts/layout.html" %}

{% set serviceNav = "Content design" %}
{% set path = "content-design" %}
{% set title = "Content design" %}
{% set description = "Content design makes things easier for people to understand and use." %}
{% set mainClasses = 'govuk-!-padding-top-0 govuk-!-padding-bottom-0' %}

{% block content %}

  <section style="background-color:#ffffff; border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl">{{title}}</h1>
          <p class="govuk-body-l">{{description}}</p>
        </div>

      </div>
    </div>
  </section>

  <section style="background-color:#ffffff;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l">Guidelines</h2>
          <p class="govuk-body">The guidelines for what we publish, how we publish, and the styles in which we write content.</p>
          <div class="dfe-grid-container">

            <div class="dfe-card">
              <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                  <a href="/content-design/content-strategies"
                                class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Content strategies</a>
                </h2>
                <p class="govuk-body">A content strategy helps you create and maintain content that meets user needs and organisational goals.</p>
              </div>
            </div>
            <div class="dfe-card">
              <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                  <a href="/content-design/plain-language"
                                class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Guidance to meet the Plain Language standard</a>
                </h2>
                <p class="govuk-body">The principles of plain language and guidance to meet the standard.</p>
              </div>
            </div>
            <div class="dfe-card">
              <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                  <a href="/content-design/quality-and-assurance"
                                class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Quality and assurance</a>
                </h2>
                <p class="govuk-body">The quality and assurance processes we use to check and improve the content we publish.</p>
              </div>
            </div>

            <div class="dfe-card">
              <div class="dfe-card-container">
                <h2 class="govuk-heading-m">
                  <a href="/content-design/publishing-content"
                                class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Publishing content</a>
                </h2>
                <p class="govuk-body">Understand the types of content we publish and the different ways we publish content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background-color:#ffffff; border-bottom: 1px solid #b1b4b6;" class="govuk-!-padding-top-5 govuk-!-padding-bottom-9 govuk-!-margin-top-0">
      <div class="govuk-width-container">

        <div class="govuk-grid-row">

          <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-5">
            <div class="govuk-grid-row split-panel split-panel--bg-white">
              <div class="govuk-grid-column-one-half text-column">
                <h2 class="govuk-heading-l">Style guide</h2>
                <p class="govuk-body">The list of words we use that support the GOV.UK style guide and are used across Department for Education products and services.</p>
                <p class="govuk-body">
                  <a href="/content-design/style-guide" class="govuk-link govuk-!-font-weight-bold">Use the guide</a>
                </p>
              </div>
              <div class="govuk-grid-column-one-half image-column">
                <div class="image-container" style="background-image: url('/assets/images/atoz.png');"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  {% endblock %}