{% extends "layouts/content-full-width.html" %}

{% set pageName = "Card" %}
{% set pageDescription = "Use the DfE card component when you need to group content in a visually appealing way." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "" %}
{% set backlog_issue_id = "13" %}


{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/components/card">Guidance</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page"
                href="/design-system/components/card/variants">Variants</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/components/card/properties">Properties</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <section class="custom-dfe-section">
        <h2 class="govuk-heading-l">Basic cards</h2>

        <p>An example of a basic card component used in a group.</p>

        <section id="basic">

          <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#example2">
                  Example
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#html2">
                  HTML
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#nunjucks2">
                  Nunjucks
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="example2">

              <div class="dfe-grid-container">
                <div class="dfe-card">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                    </h3>
                    <p>A short description for the card.</p>
                  </div>
                </div>
                <div class="dfe-card">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                    </h3>
                    <p>A short description for the card.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="govuk-tabs__panel" id="html2">

              <pre><code>&lt;div class=&quot;dfe-grid-container&quot;&gt;
    &lt;div class=&quot;dfe-card&quot;&gt;
        &lt;div class=&quot;dfe-card-container&quot;&gt;
          &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
              &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Card title&lt;/a&gt;
          &lt;/h3&gt;
          &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;dfe-card&quot;&gt;
        &lt;div class=&quot;dfe-card-container&quot;&gt;
          &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
              &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Card title&lt;/a&gt;
          &lt;/h3&gt;
          &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nunjucks2">
              {% raw %}
              <pre><code>{% from 'node_modules/dfe-webfrontend/packages/components/card/macro.njk' import card %}
{{ card({
    cards: [
        {
            "imageCard": false,
            "imagePath": "/images/sample-image.jpg",
            "altText": "Sample Image",
            "headingLevel": "3",
            "linkCard": true,
            "link": "#",
            "openInNewTab": false,
            "heading": "Sample Card Title",
            "description": "A short description for the card.",
            "meta": ""
        },
        {
          "imageCard": false,
          "imagePath": "/images/sample-image.jpg",
          "altText": "Sample Image",
          "headingLevel": "3",
          "linkCard": true,
          "link": "#",
          "openInNewTab": false,
          "heading": "Sample Card Title",
          "description": "A short description for the card.",
          "meta": ""
      }
    ]
}) }}</code></pre>
              {% endraw%}
            </div>
          </div>
        </section>

      </section>

      <section class="custom-dfe-section">
        <h2 class="govuk-heading-l">Basic with meta information</h2>

        <p>An example of a basic card component used in a group which has meta data.</p>

        <section id="all">

          <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#example">
                  Example
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#html">
                  HTML
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#nunjucks">
                  Nunjucks
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="example">

              <div class="dfe-grid-container">
                <div class="dfe-card">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                    </h3>
                    <p>A short description for the card.</p>
                    <p class="govuk-body-s">Meta information.</p>
                  </div>
                </div>
                <div class="dfe-card">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
                    </h3>
                    <p>A short description for the card.</p>
                    <p class="govuk-body-s">Meta information.</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="govuk-tabs__panel" id="html">

              <pre><code>&lt;div class=&quot;dfe-grid-container&quot;&gt;
  &lt;div class=&quot;dfe-card&quot;&gt;
      &lt;div class=&quot;dfe-card-container&quot;&gt;
        &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Card title&lt;/a&gt;
        &lt;/h3&gt;
        &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;p class=&quot;govuk-body-s&quot;&gt;Meta information.&lt;/p&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;dfe-card&quot;&gt;
      &lt;div class=&quot;dfe-card-container&quot;&gt;
        &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Card title&lt;/a&gt;
        &lt;/h3&gt;
        &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;p class=&quot;govuk-body-s&quot;&gt;Meta information.&lt;/p&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nunjucks">
              {% raw %}
              <pre><code>{% from 'node_modules/dfe-webfrontend/packages/components/card/macro.njk' import card %}
{{ card({
    cards: [
        {
            "imageCard": false,
            "imagePath": "/images/sample-image.jpg",
            "altText": "Sample Image",
            "headingLevel": "3",
            "linkCard": true,
            "link": "#",
            "openInNewTab": false,
            "heading": "Sample Card Title",
            "description": "A short description for the card.",
            "meta": "Meta information"
        },
        {
          "imageCard": false,
          "imagePath": "/images/sample-image.jpg",
          "altText": "Sample Image",
          "headingLevel": "3",
          "linkCard": true,
          "link": "#",
          "openInNewTab": false,
          "heading": "Sample Card Title",
          "description": "A short description for the card.",
          "meta": "Meta information"
      }
    ]
}) }}</code></pre>
              {% endraw%}
            </div>
          </div>
        </section>

      </section>

      <section class="custom-dfe-section">
        <h2 class="govuk-heading-l">Cards with image</h2>

        <p>An example of a card component used in a group which has meta data and an image.</p>

        <section id="all">

          <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#example3">
                  Example
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#html3">
                  HTML
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#nunjucks3">
                  Nunjucks
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="example3">

              <div class="dfe-grid-container">
                <div class="dfe-card">
                  <img src="/assets/images/assessment-blog.png" alt="Sample Image">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Sample Card
                        Title</a>
                    </h3>
                    <p>A short description for the card.</p>
                    <p class="govuk-body-s">Meta information</p>
                  </div>
                </div>
                <div class="dfe-card">
                  <img src="/assets/images/assessment-blog.png" alt="Sample Image">
                  <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                      <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Sample Card
                        Title</a>
                    </h3>
                    <p>A short description for the card.</p>
                    <p class="govuk-body-s">Meta information</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="govuk-tabs__panel" id="html3">

              <pre><code>&lt;div class=&quot;dfe-grid-container&quot;&gt;
  &lt;div class=&quot;dfe-card&quot;&gt;
      &lt;img src=&quot;/assets/images/assessment-blog.png&quot; alt=&quot;Sample Image&quot;&gt;
      &lt;div class=&quot;dfe-card-container&quot;&gt;
        &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Sample Card Title&lt;/a&gt;
        &lt;/h3&gt;
        &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;p class=&quot;govuk-body-s&quot;&gt;Meta information&lt;/p&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;dfe-card&quot;&gt;
      &lt;img src=&quot;/assets/images/assessment-blog.png&quot; alt=&quot;Sample Image&quot;&gt;
      &lt;div class=&quot;dfe-card-container&quot;&gt;
        &lt;h3 class=&quot;govuk-heading-m&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;govuk-link govuk-link--no-visited-state dfe-card-link--header&quot;&gt;Sample Card Title&lt;/a&gt;
        &lt;/h3&gt;
        &lt;p&gt;A short description for the card.&lt;/p&gt;
        &lt;p class=&quot;govuk-body-s&quot;&gt;Meta information&lt;/p&gt;
      &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nunjucks3">
              {% raw %}
              <pre><code>{% from 'node_modules/dfe-webfrontend/packages/components/card/macro.njk' import card %}
{{ card({
    cards: [
        {
            "imageCard": true,
            "imagePath": "/assets/images/assessment-blog.png",
            "altText": "Sample Image",
            "headingLevel": "3",
            "linkCard": true,
            "link": "#",
            "openInNewTab": false,
            "heading": "Sample Card Title",
            "description": "A short description for the card.",
            "meta": "Meta information"
        },
        {
          "imageCard": true,
          "imagePath": "/assets/images/assessment-blog.png",
          "altText": "Sample Image",
          "headingLevel": "3",
          "linkCard": true,
          "link": "#",
          "openInNewTab": false,
          "heading": "Sample Card Title",
          "description": "A short description for the card.",
          "meta": "Meta information"
      }
    ]
}) }}</code></pre>
              {% endraw%}
            </div>
          </div>
        </section>

      </section>

    </div>
  </div>
</div>
{% endblock %}