{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Missing information" %}
{% set pageDescription = "Make it clear to users why information is missing." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "December 2024 "%}
{% set backlog_issue_id = "288" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2>When to use this pattern</h2>
    <p>Use this pattern to inform users that information they expect to see cannot be displayed. </p>

    <h2>When not to use this pattern</h2>

    <p>Do not use this pattern to help users add missing information in a <a href="https://design-system.service.gov.uk/components/summary-list"></a>summary list. Instead, follow the <a href="https://design-system.service.gov.uk/components/summary-list/#summary-cards:~:text=Showing%20missing%20information">show missing information in summary lists</a> guidance.</p> 

    <p></p>There are 2 variations you can use:

Read information about an establishment. Use this variation to help users find detailed information about an establishment, like an academy trust or a school.
Select an establishment. Use this one to help users store details about an establishment. For example, in a project on a case management system.
    
    <h2>How it works</h2>

    <h3>Summary li</h3>

    <p>Use a <a href="https://design-system.service.gov.uk/components/summary-list/#summary-cards">summary card</a> to present the risk rating and summary.</p>

    <p>The summary card could include:</p>

    <ul>
      <li>a 'Change' link, if users have permissions to update the risk rating and summary</li>
      <li>the date the risk rating was provided</li>
      <li><a href="https://design-system.service.gov.uk/components/tag/">tags</a> that show the risk rating. The CSS classes are mentioned below</li>
      <li>a summary of the risk rating. Show the summary in paragraphs, if paragraphs were entered by a user</li>
    </ul>

    <p><strong>Risk rating summary card, without a Change link</strong></p>
    {{ sample.code('/design-system/rsd-design-system/design-patterns/risk-rating/example-summary-card-read-only.html', 'Summary card (read-only)', 'summary-card-read-only', codeSnippet.htmlCodeSummaryCardReadOnly) }}

    <p><strong>Risk rating summary card, with a Change link</strong></p>
    {{ sample.code('/design-system/rsd-design-system/design-patterns/risk-rating/example-summary-card-editable.html', 'Summary card (editable)', 'summary-card-editable', codeSnippet.htmlCodeSummaryCardEditable) }}

    <h3>Tag CSS classes</h3>
    <p>Use these CSS classes for the tags:</p>
    <ul>
      <li><code>govuk-tag--green</code></li>
      <li><code>dfe-tag--amber</code>. This is a custom CSS class because there isn't an amber tag in the GOV.UK Design System:
        <div class="code-example">
          <pre style="background: #f3f2f1; padding: 10px; overflow: hidden;">
  &lt;style&gt;
  .dfe-tag--amber {
    color: #66420d;
    background: #ffe4bc;
  }
  &lt;/style&gt;</pre>    
        </div>
      </li>
      <li><code>govuk-tag--red</code></li>
    </ul>

    <h3>Update risk rating and summary</h3>

    <p>Clicking the 'Change' link in the summary card takes users to a separate page.<p>

    <p>The page has a:</p>

    <ul>
      <li><a href="https://design-system.service.gov.uk/components/radios/">radios</a> list for the risk rating. Each list item has one or more <a href="https://design-system.service.gov.uk/components/tag/">tags</a> to indicate the rating</li>
      <li><a href="https://design-system.service.gov.uk/components/textarea/">textarea</a> for the risk summary. Make the height of the textarea proportional to the amount of text you expect users to enter</li>
      <li><a href="https://design-system.service.gov.uk/components/button/">button</a> to save the updated rating and summary</li>
    </ul>

    {{ sample.code('/design-system/rsd-design-system/design-patterns/risk-rating/example-risk-rating.html', 'Risk rating', 'risk-rating', codeSnippet.htmlCodeRiskRating) }}

    <p>When users update the information and click the button, take them back to the summary card page.</p> 
      
    <p>Show a <a href="https://design-system.service.gov.uk/components/notification-banner/success/">success banner</a> to assure users that the rating and summary have been updated.</p>
    
    {{ sample.code('/design-system/rsd-design-system/design-patterns/risk-rating/example-updating-risk-rating-success-banner.html', 'Updating risk rating success banner', 'updating-risk-rating-success-banner', codeSnippet.htmlCodeUpdatingRiskRatingSuccessBanner) }}

    <h3>Error messages</h3>
    <p>Make sure errors follow the <a href="https://design-system.service.gov.uk/components/error-message/">error message</a> guidance, with specific error messages for specific error states.</p>
    
    <h4>If a radio button has not been selected</h4>
    <p>Say 'Select a risk rating'.</p>
    
    <h4>If the textarea has not been filled in</h4>
    <p>Say 'Enter the risk summary'.</p>
    
    <h2>Research on this pattern</h2>
    <p>This pattern is being used in <a href="https://design-histories.education.gov.uk/manage-free-school-projects/risk-rating-iteration">Manage free school projects</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
    
    <p><strong>User need 122:</strong> when I am using information from a system, I need to know why there are blank fields, so that I don't spend time going to places to understand why there is missing information.</p>
    
    <p>Here's a <a href="https://design-histories.education.gov.uk/manage-free-school-projects/risk-rating-iteration">design history post about the risk rating pattern</a>.</p>
    
  </div>
</div>


{% endblock%}