{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "DfE style guide" %}
{% set pageDescription = "This style guide is for anyone creating content for DfE, to help make things clear and consistent across all of our services." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "August 2023 "%}
{% set backlog_issue_id = "111" %}

{% block content %}

<ul class="dfe-atoz govuk-!-margin-top-3">

    <li><a class="govuk-link" href="#a">A</a></li>

    <li><a class="govuk-link" href="#b">B</a></li>

    <li><a class="govuk-link" href="#c">C</a></li>

    <li><a class="govuk-link" href="#d">D</a></li>

    <li><a class="govuk-link" href="#e">E</a></li>

    <li><a class="govuk-link" href="#f">F</a></li>

    <li><a class="govuk-link" href="#g">G</a></li>

    <li><a class="govuk-link" href="#h">H</a></li>

    <li><a class="govuk-link" href="#i">I</a></li>

    <li><a class="govuk-link" href="#j">J</a></li>

    <li><a class="govuk-link" href="#k">K</a></li>

    <li><a class="govuk-link" href="#l">L</a></li>

    <li><a class="govuk-link" href="#m">M</a></li>

    <li><a class="govuk-link" href="#n">N</a></li>

    <li><a class="govuk-link" href="#o">O</a></li>

    <li><a class="govuk-link" href="#p">P</a></li>

    <li><a class="govuk-link" href="#q">Q</a></li>

    <li><a class="govuk-link" href="#r">R</a></li>

    <li><a class="govuk-link" href="#s">S</a></li>

    <li><a class="govuk-link" href="#t">T</a></li>

    <li><a class="govuk-link" href="#u">U</a></li>

    <li><a class="govuk-link" href="#v">V</a></li>

    <li><a class="govuk-link" href="#w">W</a></li>

     <li><a class="govuk-link" href="#x">X</a></li>

    <li><a class="govuk-link" href="#y">Y</a></li>

    <li><a class="govuk-link" href="#z">Z</a></li>

</ul>



{% markdown %}

 Always use the <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">Government Digital Service (GDS) style guide</a> first. 
 
 This style guide includes words that differ the GDS style guide and are used across multiple teams or areas in DfE.

It is a guide, not a set of rules. If your service uses niche language, or research shows your users say something else, use the words your users understand.  

If a word you use isn't here, <a class="govuk-link" href="https://ukgovernmentdfe.slack.com/archives/C6L4J5DK6">start a conversation in the DfE #contentdesign Slack channel</a>, or email <a class="govuk-link" href="mailto:design.ops@education.gov.uk">design.ops@education.gov.uk</a> and suggest it is added.

You can also <a class="govuk-link" href="https://github.com/DFE-Digital/design/issues/111">contribute to the DfE style guide on GitHub</a>.

## A

### academic year 

Use months rather than the academic year when communicating with the public, especially if the content is aimed at an international audience. 

For example, "Teacher training lasts around 9 months, usually starting in September." 

Instead of, "Teacher training lasts one academic year."

If you need to write about a specific academic year, <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#dates">follow GDS guidance for dates and date ranges</a>.

### acronyms
We follow <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#abbreviations-and-acronyms">GDS guidance for acronyms</a>, however when the users of a product or service are civil servants, they often recognise the acronym more than the full name.

When this is the case, we write the acronym out first and then follow that with the full name in brackets. 

For example, Education and Skills Funding Agency (ESFA) would follow GDS guidance.  

We would write ESFA (Education and Skills Funding Agency) if writing for civil servants using a casework management system. 

You do not need to explain the acronym in full on every page in a series if the user will complete that journey in 1 sitting. For example, when completing a task on a task list.

If the task in the task list was to "Contact ESFA (Education and Skills Funding Agency) about a thing", you would not need to use the full name in the task on the next page. You could just use the acronym there.

You can use the <a class="govuk-link" href="https://educationgovuk.sharepoint.com/sites/lvedfe00014/Lists/DepartmentalAbbreviations/AllItems.aspx">departmental subject taxononmy</a> to find out what acronyms in DfE stand for.

### adult-led 
Hyphenated when used to describe an adult leading something, for example, 'an adult-led activity'. Not hyphenated in other circumstances 'this activity is adult led'. 

### apprenticeship name 
Use capitals for the names of specific courses, apprenticeships and their levels. 

For example, you could do the Finance Assistant Level 2 Intermediate Apprenticeship to become an accounting technician. 

Use sentence case when referring to a course or apprenticeship in general. 

For example, you could do a level 3 advanced apprenticeship in finance or accounting to become an accounting technician. 

## B

### baby
A child aged 0 to 12 months. If they are older than 12 months, use child. 

### buy or buying
Not procure or procurement. 

## C

### capitalisation 

We follow <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#capitalisation">GDS guidance for capitalisation</a> and casing.

### child-led 

Hyphenated when used to describe a child leading something, for example, 'a child-led activity'. Not hyphenated in other circumstances, for example, 'this activity is child led'. 

### continuing professional development (CPD)

Lower case except when used as an abbreviation (which should be spelled-out first).

## D

### dates
We follow GDS guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#dates">how to write dates</a>.

### DBS check

Write out in full first time use name of service, follow [acronyms guidance](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#abbreviations-and-acronyms).

There are four levels, ‘basic’, ‘standard’, ‘enhanced’ and ‘enhanced with barred lists’. You may need to be specific about which level you are referring to. See [DBS checks](https://www.gov.uk/government/organisations/disclosure-and-barring-service/about#dbs-checks).


### DfE Sign-in 
Lower case 'f', upper case S, and hyphen. 


## E

### early career teacher (ECT) 
This term replaces 'newly qualified teacher'. Newly qualified teacher used to apply to a teacher's first year of teaching, whereas an early career teacher applies to a teacher in their first two years of teaching. Lower case. 

## F
### further education 

Lower case. See [GOV.UK style guide](https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#f)

## G

### Get Into Teaching 

Capitalise each word of Get Into Teaching. 

Do not use the acronym GIT when communicating to users.  

## H

### Higher Education

Upper case.

### Higher Education institution (HEI)

Avoid using in content aimed at a general audience.

A generic term for organisations that teach at degree level or higher (’higher education’). Usually a university but some still call themselves colleges or use another term.

### hyphenation

We follow the <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#hyphenation">GDS guidance on hyphenation</a>.


## I

### IT 

Not ICT.  

### IT support 

Use IT support instead of IT service provider or IT support provider. 

## J

### job titles 

We try to avoid generic job titles because they can change regularly. We don't use the job title as an identifier alongside a name, for example:  

Delivery officer: Joe Bloggs  
Caseworker: Francis Blunderbuss  

 

We describe the thing that the job role does. This should make more sense to more people and help guard against future changes, for example:  

Prepared for advisory board by: Joe Bloggs  
Completed by: Francis Blunderbuss 
<br>Case owner    
Project owner 



## K
### key stages 

Follow GDS guidance to <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#key-stage">use lower case for key stages</a>.

Where key stages are referenced in services that are used by people who may not be familiar with the key stage system, add the age range in brackets afterwards. 

For example, you will teach pupils in key stage 3 (ages 11 to 14). 

## L
### local council vs local authority 

GDS guidance says use <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#local-council">local council</a>. 

Follow this unless you are writing for civil servants. They usually refer to a local authority instead. Use the language of your users.

## M
### multi-academy trust 

Hyphenate multi-academy. You may see this abbreviated as MAT. Follow the acronym guidance for MAT. 


## N
### National Careers Service (not NCS) 

Never abbreviate National Careers Service to NCS. NCS is an abbreviation of National Citizen Service. 

### national professional qualifications (NPQ)

Lower case except when used as an acronym.

### numbers 

Create a consistent way of writing time periods of 12 months or more.  

Write the length of apprenticeships and courses in years and months while following the convention for numbers in GDS guidance. 

For example: 

This course takes approximately one year to complete. 

This apprenticeship takes 2 years and 6 months to complete. 

You can use <a class="govuk-link" href="https://accessiblenumbers.com/">guidance to design services for people who need help with numbers</a>.

## O

### off-the-job training 

Hyphenate. 

 

### on-the-job training 

Hyphenate. 

## P
### parents and carers 

Always use parents and carers for inclusivity. 

 

### pupil versus student 

Use 'pupil' when referring to primary or secondary school age children, and then use 'student' when referring to people in a Further or Higher Education setting. 

## Q 

## R

### recruitment cycle 

Use 'recruitment cycle' not 'recruitment year' for content aimed at providers and civil servants. 

## S

### service name 

Try and use the service name as part of a sentence rather than using it as a noun. For example, we would say: 

If you want to start teacher training, you can find postgraduate teacher training courses. 

Instead of: 

If you want to start teacher training, you can use Find postgraduate teacher training.  

When you use the noun form, try to put it at the start of the sentence so it doesn't look like a typo. 

For example: 

Find a postgraduate teacher training course can show you where you can train. 

If you have to refer to the service by name. This can include: 

- privacy statements 

- accessibility statements 

- cookies policies 

- emails from the service  

In those cases, you should capitalise the first letter of the service to make it clear that's the name of the service. Avoid using single quotes and the word 'service' at the end. 

For example: 

This accessibility statement applies to Complete conversions, transfers and changes. 

There are some exceptions where we use the word service as part of the name.

These are: 

- Apprenticeship service 

- Apprentice assessment service 

- My apprenticeship service 

- National Careers Service 

### single academy trust 

No hyphen. 

### special educational needs co-ordinator (SENCo) or special educational needs and disabilities co-ordinator (SENDCo)

We follow <a class="govuk-link" href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style#special-educational-needsspecial-educational-needs-and-disabilities-send">GDS guide for SEN and SEND</a> and apply it to SENCo (special educational needs co-ordinator) and SENDCo (special educational needs and disabilities co-ordinator).

### subject knowledge enhancement course (SKE) 

Use lower case. Users spell out the acronym so we should say 'an SKE' (users pronounce it an 'es-kay-ee') rather than 'a SKE'. 

## T

### teacher reference number (TRN)

Lower case. Use upper case for the acronym.

### teacher training adviser 

Use 'teacher training adviser', not 'Get Into Teaching advisers'.  

Do not use 'advisor'. 

Describe what a teacher training adviser does when you first mention them. For example: 

A teacher training adviser can guide you through the application process free of charge. They'll help you with things like choosing a course and writing your application. 

 

### Teaching Vacancies 

A service for advertising, finding and applying for teaching jobs. It is capitalised. 

Previously sometimes known in DfE by the acronym TVS. This was from the previous name Teacher Vacancy Service. Avoid using this or any other acronym. 

 

### trainee 

When a candidate has been 'recruited', refer to them as trainees rather than candidates. This is relevant to provider-facing content. DfE has a service called Register trainee teachers. 

### training partner 

Use 'training partner' to describe a SCITT or lead school that works with an accredited body.  

In Publish, the accredited body that ratifies the courses for the school will see 'Training partners' in the primary navigation. See this <a class="govuk-link" href="https://becoming-a-teacher.design-history.education.gov.uk/publish-teacher-training-courses/viewing-training-partners-and-their-courses-if-youre-an-accredited-body/">design history about viewing training partners and their courses</a> if you're an accredited body.

Avoid the term 'ratify' as providers do not always know what it means. 
  
  

## U

### unique reference number (URN)

Lower case except when used as an acronym. Previously known as an Edubase ID. The format will often need to be explained.

### unsuccessful application 

Do not say 'you were unsuccessful'. Try to make an unsuccessful application less about the person. For example, 'Your application was unsuccessful on this occasion, but you can apply again'. 


## V

## W

## X

## Y

## Z


{% endmarkdown %}
{% endblock %}
