{% extends "layouts/content-full-width.html" %}

{% set pageName = "Head of Profession for Design" %}
{% set pageDescription = "The head of profession for design, enables and empowers designers across the department with the tools, support, standards, and guidance for delivering good design outcomes." %}
{% set selectedNav = "Inside design" %}
{% set setSelectedSideNav = "SideNav Text" %}
{% set lastUpdated = "October 2023 "%}
{% set backlog_issue_id = "" %}

{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #ebf2f6;">
        <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/inside-design">Inside design</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 80px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
                <div class="govuk-grid-column-one-third dfe-text-align--centre"></div>
            </div>
        </div>
    </section>
    <section class="" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 40px 0px 80px 0px">
            <div class="dfe-width-container">
                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-two-thirds">

                        <h2 class="govuk-heading-l">The role</h2>
                        <p>The head of profession is responsibility for:</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#vision-and-strategic-leadership">vision and strategic leadership</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#expert-practitioner">being an expert design practioner</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#community">developing the design community</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#quality-and-standards">ensuring quality and standards</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#people">developing people and capability</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#organisational-delivery">supporting organisational delivery</a>
                            </li>
                        </ul>

                        <h2 id="vision-and-strategic-leadership">Vision and strategic leadership</h2>

                        <ul>
                            <li>Setting the vision and strategy for the design profession across the department</li>
                            <li>Collaborate with the wider Department to ensure that the vision for the profession aligns to the wider needs of the department.</li>
                            <li>Creating a plan and roadmap to build and strengthen the professional capability and excellence.</li>
                            <li>Working across government and the sector to ensure a cohesive approach to the specialism, create opportunities for collaboration through existing networks – or setting up new networks where they don’t exist</li>
                            <li>Hold authority to ensure that specialists are able to contribute towards building the profession and participate in communities, backed by DDaT Committee.</li>
                            <li>Raising the profile of the profession across the department</li>
                            <li>Develop an attraction and retention strategy, to grow professional capability in the department</li>
                        </ul>

                        <div class="govuk-inset-text">

                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Publish the <a href="https://trello.com/b/MUHTdo0w/head-of-profession-for-design-work" class="govuk-link">design objectives and goals</a> and relevant initiatives in the open</li>
                                <li>Published <a href="/inside-design/goals" class="govuk-link">progress against the 4 key design goals</a></li>
                                <li>Lead a working group for developing the communites, professions, people and objectives in the design profession</li>
                            </ul>
                        </div>

                        <h2 id="expert-practitioner">Expert practitioner</h2>

                        <ul>
                            <li>Is the expert practitioner in their field with a high level of knowledge of current and new methodologies/strategies/technologies/techniques and a track record of delivery.</li>
                            <li>Retains an element of practice of their profession to keep their skills sharp and to work towards strategic departmental objectives</li>
                            <li>for example, unblocking delivery, product strategies, content strategies, architectural designs and patterns, etc.</li>
                        </ul>

                        <div class="govuk-inset-text">
                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Developing tools and services to support design professionals such as the <a href="https://design-histories.education.gov.uk/" class="govuk-link">Design history service</a></li>
                                <li>Supporting teams or incidents with design advice and peer reviews</li>
                            </ul>

                        </div>

                        <h2 id="community">Community</h2>

                        <ul>
                            <li>Developing professional communities to support our people to grow, establish standards and consistency, support rapid delivery through sharing and learning from one another</li>
                            <li>Working cross Government and externally to build connections into professional communities</li>
                            <li>Working with other Heads of Profession in related professions within their job family</li>
                        </ul>
                        <div class="govuk-inset-text">
                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Established <a href="/inside-design/working-group/people" class="govuk-link">working groups</a> centred around problem areas for developing the design professions</li>
                                <li>Active member of the cross-government heads of design working group</li>
                            </ul>

                        </div>

                        <h2 id="quality-and-standards">Quality and standards</h2>

                        <ul>
                            <li>Creating accessible knowledge, standards, and practice to set good conditions for people in their professions to work effectively, and ensuring they are well enforced through service assessments</li>
                            <li>Being the guardian of quality and standards of the practitioners within the profession and the principles and policies of the profession</li>
                            <li>Lead by example in the application of standards</li>
                            <li>Grow the assessor pool in the profession, to assure service delivery and build profession sustainability</li>
                        </ul>
                        <div class="govuk-inset-text">
                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Developed guidance for all professions to <a href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link">apply and understand the Service Standard</a></li>
                                <li><a href="https://design-histories.education.gov.uk/service-assessment-plus/introducing-assure-your-service" class="govuk-link">Leaning the service assessment process</a></li>
                                <li>Developing design and accessibility standards and assurance processes</li>
                            </ul>

                        </div>

                        <h2 id="people">People</h2>

                        <ul>
                            <li>Building and growing a forward thinking and diverse team within the profession</li>
                            <li>Building the professional capability across the department</li>
                            <li>Define the competency, professional practice, skills profile, and expertise expectations at different grades across the profession</li>
                            <li>Setting approach for recruitment, onboarding, retention, graduate pipelines, diversification and developing the framework for professional development of people in their specialism</li>
                            <li>Develop the framework for professional development of people in their specialism and tracking capability</li>
                        </ul>
                        <div class="govuk-inset-text">
                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Working to improve the recruitment and onboarding experience for designers</li>
                                <li>Ensuring that we reach the widest audience possible when recruiting into design roles</li>
                                <li>Supporting capability based pay framework implementation</li>
                                <li>Along with the Heads of Design in Ministry of Justice and Government Digital Service, create and implement a new design skills and capability framework</li>
                            </ul>

                        </div>

                        <h2 id="organisational-delivery">Organisational Delivery</h2>

                        <ul>
                            <li>Establishing close relationships with all delivery teams to understand their needs and challenges and to be able to identify areas of profession related join-up</li>
                            <li>Advising and consulting for the senior management team on questions relating to the profession</li>
                            <li>Providing consulting support for programmes with performance issues or where a particular specialism is lacking or causing delivery issues.</li>
                            <li>Feed up to date capability information into the workforce plan.</li>
                            <li>Making evidenced based decisions on the best tools, platforms, services, and content which supports the professions across the department.</li>
                        </ul>
                        <div class="govuk-inset-text">
                            <h3 id="">How we do this</h3>

                            <ul>
                                <li>Work to support and build relationships with portfolio leadership to support with recruitment, people, or design needs</li>
                                <li>Take part in design peer reviews and service assessments, including cross-government assessments</li>
                                <li>Ensure that new joiners have access to the tools and technology they need to do their job</li>
                            </ul>
                        </div>

                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="dfe-grid-container">

                            <div class="dfe-card">
                                <picture>
                                    <source srcset="/assets/images/andyjones.webp" type="image/webp">
                                    <img src="/assets/images/andyjones.png" alt="">
                                </picture>
                                <div class="dfe-card-container">
                                    <h2 class="govuk-heading-m">Andy Jones</h2>
                                    <p>Head of Profession for Design</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        {% endblock %}