{% set pageName = "Design system" %}
{% set pageDescription = "Use the DfE Design System design consistent services for people using Department for Education services." %}
{% set selectedNav = "Design system" %}
{% set lastUpdated = "April 2023" %}
{% set backlog_issue_id = "44" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <div class="govuk-inset-text">
    <p>If you are designing a service which is being provided on the education.gov.uk domain, you must implement the DfE <a class="govuk-link" href="/design-system/components/header">header</a> and <a href="/design-system/dfe-frontend#font" class="govuk-link">font stack</a> in addition to GOV Frontend.</p>

    <p>This ensures we meet the requirements detailed in the GOV Service Manual - <a href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk">If your service is not on GOV.UK or service.gov.uk</a>
    </p>

  </div>

  <h2 class="govuk-heading-l" id="start-with-govuk-design-system">Start with the GOV.UK Design System</h2>

  <p>If you are building a digital service, you must use the <a href="https://design-system.service.gov.uk/" target="_blank" rel="noopener noreferrer" class="govuk-link">GOV.UK Design System</a> as a starting point for all DfE digital services.</p>

  <p>If something isn't in the Design System, check the <a href="https://github.com/orgs/alphagov/projects/43/views/1" target="_blank" rel="noopener noreferrer" class="govuk-link">Design System backlog</a> to see what others have done before.</p>

  <p>Before starting to build anything custom or new, ask what others have done in the following Slack channels:</p>

  <ul class="govuk-list">
    <li>
      <a href="https://ukgovernmentdfe.slack.com/archives/C7JG0399S" target="_blank" rel="noopener noreferrer" class="govuk-link">#design channel in DfE Slack</a>
    </li>
    <li>
      <a href="https://ukgovernmentdigital.slack.com/archives/C062GAGLW" target="_blank" rel="noopener noreferrer" class="govuk-link">#design channel in cross-government Slack</a>
    </li>
  </ul>

  <p>You can also <a href="/design-ops/" class="govuk-link">contact the design ops team</a> for advice and guidance.</p>

  <h3 class="govuk-heading-s" id="contributing-back-to-the-govuk-design-system">Contributing back to the GOV.UK Design System</h3>

  <p>If you create or amend an existing GOV.UK frontend component, you must also <a class="govuk-link" href="https://design-system.service.gov.uk/community/contribution-criteria/" target="_blank">contribute</a> the change back, along with evidence and research to support the change. </p>

  <h3 class="govuk-heading-s" id="check-xgovuk-projects">Check X-GOVUK projects</h3>

  <p>You can also find community built tools, components, and patterns in the <a href="https://x-govuk.github.io/#shared-projects" target="_blank" rel="noopener noreferrer" class="govuk-link">X-GOVUK project site</a>
  </p>

  <h2 class="govuk-heading-l" id="start-with-govuk-design-system">Using the DfE Frontend</h2>

  <p>You should also use DfE Frontend alongside GOV.UK Frontend styles when creating internal serivces or services on education.gov.uk.</p>
    <p>This means uing the <a class="govuk-link" href="/design-system/components/header">header</a> and <a href="/design-system/dfe-frontend#font" class="govuk-link">font stack</a>. As well as being able to use <a class="govuk-link" href="/design-system/components/" class="govuk-link">DfE Frontend components</a>.</p>



{% endblock %}