{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Writing inside design page" %}
{% set pageDescription = "Inside design pages provide a space for digital project teams to share their work in the open and in collaboration with others." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "27 November 2023 "%}
{% set backlog_issue_id = "144" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<p>
    The <a href="https://design.education.gov.uk/inside-design">inside design projects area</a> of the DfE design manual allows digital teams to publish project updates for external stakeholders, and people who use our services.
  </p>

  <h2>Purpose</h2>

  <p>
    The content you add to your inside design page should be specific to your product or service. It should give an update on the status of your team's work.
  </p><p>
    The purpose of the page is to keep stakeholders interested in your project informed. You can also use them to inform them of opportunities to get involved with your teams engagement acitivites, such as research, workshops or webinars.
    </p><p>
    By working in the open, you can involve people who may not be in your user group that are affected by your services.
    </p><p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You should only include information that can be shared publicly. Do not include sensitive information.
        </strong>
      </div>
    </p>
   <p>Providing project updates on your work can help make sure our products and services are fit for purpose. They help us to deliver to the <a href="https://educationgovuk.sharepoint.com/sites/strategy-and-vision">DfE strategy and vision</a> and meet people’s needs.
  </p>

  <h2>Planning</h2>

  <p>
    You need to have a detailed plan for the launch and maintenance of your inside design content.
    </p>
    <p>The plan should:</p>
  <ul>
    <li>mirror your delivery plan</li>
    <li>cover key stages and deliverables</li>
    <li>consider related policy and departmental activity</li>
  </ul>
  <p>
    Your page should be updated to give the current details of the project. It is not a mechanism to document the history of the project, you can do this through <a href="https://design-histories.education.gov.uk/">design histories</a>. It is a medium to use to inform and engage others in current project activities.
  </p>

  <h2>Risks</h2>

  <p>
    There is always a risk when publishing information. You should consider how you mitigate those risks, through your publishing and sign off process, planning, and signposting people who may wish to raise a concern.
  </p>

  <h2>Approval</h2>

  <p>
    As with everything you publish publicly, you need to have sign off at Deputy Director (DD) level. DDs can delegate approval, this should be reviewed every 12 months. You should also consider whether to liaise with <a href="https://educationgovuk.sharepoint.com/sites/communications/SitePages/strategic-communications-planning.aspx">central DfE communication colleagues</a>, depending on the nature and sensitivity of the project.
  </p>

  <h2>Launch</h2>

  <p>
    You should already have an established list of stakeholders and interested parties. Be aware of who you are aiming to engage and understand what they need from your updates.
    </p><p>
    You may want to consider holding a webinar or virtual event as part of your launch activities, along with using emails or the sector newsletters. You could also consider a post on the <a href="https://dfedigital.blog.gov.uk/">DfE digital blog</a>.
    </p><P>
    You can add images and recordings to your page.
  </p>

  <h2>Wider strategy</h2>

  <p>
    Our digital delivery projects sit under strategic aims and policy areas. We should signpost to these where appropriate and be sure to monitor updates to consider any impact on our content. This could include updating your <a href="https://design.education.gov.uk/content-design/content-strategies/">content strategy</a>.
  </p>

{% endblock %}