{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}

{% set pageName = "Task guidance" %}
{% set pageDescription = "Give internal product users guidance on how to complete a task, and hide the guidance from experienced colleagues who may not need it." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2024 "%}
{% set backlog_issue_id = "105" %}

Give internal product users guidance on how to complete a task, and hide the guidance from experienced colleagues who may not need it.

{% set htmlCode = '<code class="hljs language-html">
    &lt;footer class=&quot;govuk-footer&quot; role=&quot;contentinfo&quot;&gt;
        &lt;div class=&quot;govuk-width-container&quot;&gt;
          &lt;div class=&quot;govuk-footer__navigation&quot;&gt;
            &lt;div class=&quot;govuk-footer__section govuk-grid-column-two-thirds&quot;&gt;
              &lt;h2 class=&quot;govuk-footer__heading govuk-heading-m&quot;&gt;Get help&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__list govuk-footer__list--column-1&quot;&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;mailto:testEmail@education.gov.uk?subject=Service%20Name:%20support%20query&quot;&gt;
                    Email Service Support for help with using this system
                  &lt;/a&gt;
                  &lt;p&gt;We aim to respond within 5 working days, or one working day for more urgent queries.&lt;/p&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    How to use this system (opens in a new tab)
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;govuk-footer__section govuk-grid-column-one-third&quot;&gt;
              &lt;h2 class=&quot;govuk-footer__heading govuk-heading-m&quot;&gt;Give feedback&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__list&quot;&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;Give feedback (opens in a new tab)&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;Suggest a change (opens in a new tab)&lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;hr class=&quot;govuk-footer__section-break&quot;&gt;
          &lt;div class=&quot;govuk-footer__meta&quot;&gt;
            &lt;div class=&quot;govuk-footer__meta-item govuk-footer__meta-item--grow dfe-footer__meta-item--grow&quot;&gt;
              &lt;h2 class=&quot;govuk-visually-hidden&quot;&gt;Support links&lt;/h2&gt;
              &lt;ul class=&quot;govuk-footer__inline-list&quot;&gt;
                &lt;li class=&quot;govuk-footer__inline-list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    Accessibility statement
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;govuk-footer__inline-list-item&quot;&gt;
                  &lt;a class=&quot;govuk-footer__link&quot; href=&quot;#&quot;&gt;
                    Cookies
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
            &lt;div class=&quot;govuk-footer__meta-item&quot;&gt;
              &lt;a class=&quot;govuk-footer__link govuk-footer__copyright-logo&quot; href=&quot;https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/&quot;&gt;© Crown copyright&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/footer&gt;
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ sample.code('/design-system/rsd-design-system/design-patterns/contact-details/example.html', 'Contact details', 'contact-details',
        htmlCode) }}
        <br>

        <h2>When to use this component</h2>
        <p>Use this pattern if you need to present guidance that:</p>
        <ol>
          <li>Will sit in an internal product.</li>
          <li>Experienced users are likely to skip.</li>
        </ol>

        <h2>When not to use this component</h2>
        <p>Do not use this pattern for:</p>
        <ul>
          <li>external products or services</li>
          <li>tasks that most users will only see once</li>
        </ul>

        <h2>How it works </h2>

        <p>A <a href="https://design-system.service.gov.uk/components/details/">details component</a> with unique and descriptive wording below a task's hint text.</p>

    <p>When expanded, the details component should contain enough information for a new user to be able to complete their task.</p>
    
    <p>This information could be:</p>
    <ul>
      <li>context around the question or task</li>
      <li>a list of things they must do</li>
      <li>links to more guidance</li>
    </ul>

     <img src="task-guidance-details-component-hidden.png" alt="A checkbox, hint text, and a details component that is not expanded.">

     <img src="task-guidance-details-component-expanded.png" alt="A checkbox, hint text, and a details component that is expanded with guidance.">
    
    <h3>Hint text</h2>
    
    <p>You should still use hint text for information that could be useful even to experienced users, like reminding them to check something.</p>
    
    <h3>Links to more guidance</h2>
    
    <p>Try to avoid using this pattern to reveal standalone links. Consider whether you could save the user unnecessary clicks by moving the link somewhere else or providing the information another way.</p>
        
    <h2>Research on this pattern</h2>
    <p>The pattern is being used in <a href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes">Complete conversions, transfers and changes</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database</a>:</p>
    
    <p>User need 97: When I'm working on an academisation or free schools project, I need to see only the relevant guidance I need to complete my task, so that I don't waste time reading things I already know and I am using tools correctly to support a school converting to an academy, and academy transferring from one trust to another or a new free school opening.</p>

    </div>
</div>

{% endblock%}
