{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}

{% set pageName = "Task guidance" %}
{% set pageDescription = "Give internal product users guidance on how to complete a task, and hide the guidance from experienced colleagues who may not need it." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2024 "%}
{% set backlog_issue_id = "105" %}

{% set htmlCodeTaskGuidance = '<code class="hljs language-html">
&lt;div class=&quot;govuk-form-group&quot;&gt;
  &lt;fieldset class=&quot;govuk-fieldset&quot; aria-describedby=&quot;your-checkboxes-hint&quot;&gt;
    &lt;legend class=&quot;govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6&quot;&gt;
      &lt;h1 class=&quot;govuk-fieldset__heading&quot;&gt;
        Handover with regional delivery officer
      &lt;/h1&gt;
    &lt;/legend&gt;

    &lt;div class=&quot;govuk-checkboxes&quot; data-module=&quot;govuk-checkboxes&quot;&gt;
      &lt;div class=&quot;govuk-checkboxes__item&quot;&gt;
        &lt;input class=&quot;govuk-checkboxes__input&quot; id=&quot;your-checkboxes&quot; name=&quot;your-checkboxes&quot; type=&quot;checkbox&quot; value=&quot;british&quot; aria-describedby=&quot;your-checkboxes-item-hint&quot;&gt;
        &lt;label class=&quot;govuk-label govuk-checkboxes__label&quot; for=&quot;your-checkboxes&quot;&gt;
          Review the project information, check the documents and carry out research
        &lt;/label&gt;
        &lt;div id=&quot;your-checkboxes-item-hint&quot; class=&quot;govuk-hint govuk-checkboxes__hint&quot;&gt;
          Check that no information is missing from the existing project documents and there are no errors.
          &lt;details class=&quot;govuk-details govuk-!-margin-top-3&quot;&gt;
            &lt;summary class=&quot;govuk-details__summary&quot;&gt;
              &lt;span class=&quot;govuk-details__summary-text&quot;&gt;
                What to check for
              &lt;/span&gt;
            &lt;/summary&gt;
            &lt;div class=&quot;govuk-details__text&quot;&gt;
              &lt;p&gt;You should check existing project documents, including:&lt;/p&gt;
              &lt;ul&gt;
                &lt;li&gt;academy order&lt;/li&gt;
                &lt;li&gt;application to convert&lt;/li&gt;
              &lt;/ul&gt;
              &lt;p&gt;Check that no information is missing and there are no errors. You should also research the background of the project before you meet with the regional delivery officer.&lt;/p&gt;
              &lt;p&gt;Things to check during your background research include:&lt;/p&gt;
              &lt;ul&gt;
                &lt;li&gt;project information, such as advisory board conditions&lt;/li&gt;
                &lt;li&gt;school or trust website for more information about the school&lt;/li&gt;
                &lt;li&gt;Google Maps for potential land issues&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/details&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;govuk-checkboxes__item&quot;&gt;
        &lt;input class=&quot;govuk-checkboxes__input&quot; id=&quot;your-checkboxes-2&quot; name=&quot;your-checkboxes&quot; type=&quot;checkbox&quot; value=&quot;british&quot; aria-describedby=&quot;your-checkboxes-item-hint&quot;&gt;
        &lt;label class=&quot;govuk-label govuk-checkboxes__label&quot; for=&quot;your-checkboxes-2&quot;&gt;
          Make notes and write questions to ask the regional delivery officer
        &lt;/label&gt;
        &lt;div id=&quot;your-checkboxes-item-hint&quot; class=&quot;govuk-hint govuk-checkboxes__hint&quot;&gt;
          &lt;details class=&quot;govuk-details govuk-!-margin-top-3&quot;&gt;
            &lt;summary class=&quot;govuk-details__summary&quot;&gt;
              &lt;span class=&quot;govuk-details__summary-text&quot;&gt;
                What to make notes about
              &lt;/span&gt;
            &lt;/summary&gt;
            &lt;div class=&quot;govuk-details__text&quot;&gt;
              &lt;p&gt;Note down things you want to ask and talk about with the regional delivery officer at the handover meeting.&lt;/p&gt;
              &lt;p&gt;This is an opportunity to clarify anything that you&lsquo;re unsure about after reviewing the project and doing your background research.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/details&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/div&gt;
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{ sample.code('/design-system/rsd-design-system/design-patterns/task-guidance/example.html', 'Task guidance', 'task-guidance',
        htmlCodeTaskGuidance) }}
        <br>

        <h2>When to use this component</h2>
        <p>Use this pattern if you need to present guidance that:</p>
        <ol class="govuk-list govuk-list--number">
          <li>Will sit in an internal product.</li>
          <li>Experienced users are likely to skip.</li>
        </ol>

        <h2>When not to use this component</h2>
        <p>Do not use this pattern for:</p>
        <ul>
          <li>external products or services</li>
          <li>tasks that most users will only see once</li>
        </ul>

        <h2>How it works </h2>

        <p>A <a href="https://design-system.service.gov.uk/components/details/">details component</a> with unique and descriptive wording below a task's hint text.</p>

        <p>When expanded, the details component should contain enough information for a new user to be able to complete their task.</p>
        
        <p>This information could be:</p>
        <ul>
          <li>context around the question or task</li>
          <li>a list of things they must do</li>
          <li>links to more guidance</li>
        </ul>

        {{ sample.code('/design-system/rsd-design-system/design-patterns/task-guidance/example.html', 'Task guidance', 'task-guidance-how-it-works', htmlCodeTaskGuidance) }}
        
        <h3>Hint text</h2>
        
        <p>You should still use hint text for information that could be useful even to experienced users, like reminding them to check something.</p>
        
        <h3>Links to more guidance</h2>
        
        <p>Try to avoid using this pattern to reveal standalone links. Consider whether you could save the user unnecessary clicks by moving the link somewhere else or providing the information another way.</p>
            
        <h2>Research on this pattern</h2>
        <p>The pattern is being used in <a href="https://design-histories.education.gov.uk/complete-conversions-transfers-and-changes">Complete conversions, transfers and changes</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database</a>:</p>
        
        <p>User need 97: When I'm working on an academisation or free schools project, I need to see only the relevant guidance I need to complete my task, so that I don't waste time reading things I already know and I am using tools correctly to support a school converting to an academy, and academy transferring from one trust to another or a new free school opening.</p>

    </div>
</div>

{% endblock%}
