{% extends "./../example-layout.html" %}

{% block pageTitle %}
Edit contact details design pattern (contact per row) | RSD component library
{% endblock %}

{% block sample %}
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-l">Secondary title here</span>
  Edit Trust contacts
</h1>
<div class="govuk-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson1Name">
      Accounting officer name
    </label>
    <input class="govuk-input" id="trustContactsPerson1Name" name="trustContactsPerson1Name" type="text" value="Steph Park">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson1EmailAddress">
      Accounting officer email address
    </label>
    <input class="govuk-input" id="trustContactsPerson1EmailAddress" name="trustContactsPerson1EmailAddress" type="text" value="steph@trustname.org.uk">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson2Name">
      Chair of trustees name
    </label>
    <input class="govuk-input" id="trustContactsPerson2Name" name="trustContactsPerson2Name" type="text" value="Ren Kinley">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson2EmailAddress">
      Chair of trustees email address
    </label>
    <input class="govuk-input" id="trustContactsPerson2EmailAddress" name="trustContactsPerson2EmailAddress" type="text" value="ren@trustname.org.uk">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson3Name">
      Cheif financial officer name
    </label>
    <input class="govuk-input" id="trustContactsPerson3Name" name="trustContactsPerson3Name" type="text" value="Amar Vincent">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="trustContactsPerson3EmailAddress">
      Chief financial officer email address
    </label>
    <input class="govuk-input" id="trustContactsPerson3EmailAddress" name="trustContactsPerson3EmailAddress" type="text" value="amar@trustname.org.uk">
  </div>
</div>
{% endblock %}
