{% extends "./../example-layout.html" %}

{% block pageTitle %}
Edit contact details design pattern (contact per card) | RSD component library
{% endblock %}

{% block sample %}
<h1 class="govuk-heading-xl">
  <span class="govuk-caption-l">Secondary title here</span>
  Edit Project managed by
</h1>
<div class="govuk-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="teamLeadName">
      Name
    </label>
    <input class="govuk-input" id="teamLeadName" name="teamLeadName" type="text" value="Alex James">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label govuk-heading-m" for="teamLeadEmailAddress">
      Email address
    </label>
    <input class="govuk-input" id="teamLeadEmailAddress" name="teamLeadEmailAddress" type="text" value="alex.james@example.com">
  </div>
</div>
{% endblock %}
