{% extends "layouts/example.html" %}
{% set selectedNav = "Navigation link 1"%}

{% block content %}


{{ header({
"showNav": "true",
"showSearch": "true",
"showHeaderActionLinks": "true",
"logoPath": "assets/images",
"logoAltText": "Department for Education",
"searchAction": "/search/",
"searchInputName": "q",
"selectedNav": selectedNav,
"service": {
"name": "Service name",
"serviceUrl": "/d"
},
"headerActionLinks": [
{
"url" : "/",
"label" : "My account"
},
{
"url" : "/",
"label" : "Sign out"
}
],
"primaryLinks": [
{
"url" : "#",
"label" : "Navigation link 1"
}, {
"url" : "#",
"label" : "Navigation link 2"
}, {
"url" : "#",
"label" : "Navigation link 3"
}
]
})
}}


{% endblock %}