{% extends "layouts/content-full-width.html" %}

{% set pageName = "Header" %}
{% set pageDescription = "You must use the header for products hosted on the education.gov.uk domain" %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "" %}
{% set backlog_issue_id = "203" %}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l  govuk-!-margin-top-5">Design system</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/styles/">Styles</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page"
                href="/design-system/dfe-frontend/components">Components</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/patterns">Patterns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Guidance</h2>

      <p>You should <a href="/design-system/installation">follow the installation instructions</a> before using this
        component.</p>

      <p>If you're using Figma, there is a <a
          href="https://www.figma.com/community/file/1301933989342986606/dfe-frontend-library" target="_blank">Figma
          library</a> which contains the header for use in prototypes. We're working on bringing this up to date for version 2.</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Do </h3>
        </div>
        <div class="govuk-summary-card__content">
          <ul class="dfe-list dfe-list--tick" role="list">
            <li>
              <svg class="dfeuk-icon dfeuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="none" aria-hidden="true" width="34" height="34">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
              </svg>
              use the header on internal, staff-facing sites
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="none" aria-hidden="true" width="34" height="34">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
              </svg>
              use the header on public beta sites that are going to be provided on a education.gov.uk domain when live
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="none" aria-hidden="true" width="34" height="34">
                <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
              </svg>
              use the header on live sites that are provided on education.gov.uk
            </li>

          </ul>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">Don't </h3>
        </div>
        <div class="govuk-summary-card__content">
          <ul class="dfe-list dfe-list--cross" role="list">
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>
              Don't use the header on live sites hosted on service.gov.uk
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>
              Don't use the DfE header if the site is on education.gov.uk for private beta testing, and will eventually
              be on
              service.gov.uk, use the GOV.UK header
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>
              Don't put tags or phase banners in the header - use the <a
                href="https://design-system.service.gov.uk/components/phase-banner/" class="govuk-link"
                target="_blank">phase banner</a> in the <code class="code">beforeContent</code> layout section
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>Don't change the colours - they are the department brand colours and meet accessibility requirements
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>Don't change the placement or size of the logo - it meets Government Communication Service
              guidelines for
              government branding and logos
            </li>
            <li>
              <svg class="dfeuk-icon dfeuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true" width="34" height="34">
                <path
                  d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
                <path
                  d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"
                  fill="#d5281b"></path>
              </svg>Don't change the position of the service name - this is styled to support different breakpoints and
              viewports
            </li>
          </ul>
        </div>
      </div>

      <section class="custom-dfe-section">
        <h2 class="govuk-heading-l">All features</h2>



        <section id="all">

          <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#example">
                  Example
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#html">
                  HTML
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#nunjucks">
                  Nunjucks
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="example">
              <p>
                <a href="/design-system/dfe-frontend/components/header/examples/everything" target="_blank"
                  class="govuk-link">Open
                  example in a new window</a>
              </p>

              <header class="dfe-header" role="banner">
                <div class="govuk-width-container dfe-header__container">
                  <div class="dfe-header__logo">
                    <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                      <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                      <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                    </a>
                  </div>
                  <div class="dfe-header__content" id="content-header">
                    <ul class="dfe-header__action-links">
                      <li>
                        <a href="/" class="govuk-link govuk-link--inverse">My account</a>
                      </li>
                      <li>
                        <a href="/" class="govuk-link govuk-link--inverse">Sign out</a>
                      </li>
                    </ul>
                    <div class="dfe-header__menu">
                      <button class="dfe-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation"
                        aria-expanded="false">Menu</button>
                      <div id="extwaiokist" style="display:none" v="bmmch" q="f0ae2e3d" c="594.5" i="601" u="1.083"
                        s="04272401" sg="svr_09102316-ga_04272401-bai_04252415" d="1" w="false" e="}" a="2" m="BMe="
                        vn="9colr">
                        <div id="extwaigglbit" style="display:none" v="bmmch" q="f0ae2e3d" c="594.5" i="601" u="1.083"
                          s="04272401" sg="svr_09102316-ga_04272401-bai_04252415" d="1" w="false" e="}" a="2" m="BMe=">
                        </div>
                      </div>
                    </div>
                    <div class="dfe-header__search">
                      <button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search"
                        aria-label="Open search">
                        <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                          aria-hidden="true" focusable="false" width="27" height="27">
                          <path
                            d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                          </path>
                        </svg>
                        <span class="govuk-visually-hidden">Search</span>
                      </button>
                      <div class="dfe-header__search-wrap" id="wrap-search">
                        <form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search">
                          <label class="govuk-visually-hidden" for="search-field">Search this website</label>
                          <input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search"
                            autocomplete="off" spellcheck="false" data-ms-editor="true">
                          <button class="dfe-search__submit" type="submit">
                            <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                              <path
                                d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z">
                              </path>
                            </svg>
                            <span class="govuk-visually-hidden">Search</span>
                          </button>
                          <button class="dfe-search__close" id="close-search">
                            <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                              aria-hidden="true" focusable="false" width="27" height="27">
                              <path
                                d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                              </path>
                            </svg>
                            <span class="govuk-visually-hidden">Close search</span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="govuk-width-container dfe-header__service-name">
                  <a href="/" class="dfe-header__link--service">Service name</a>
                </div>
                <nav class="dfe-header__navigation" id="header-navigation" role="navigation"
                  aria-label="Primary navigation" aria-labelledby="label-navigation">
                  <div class="govuk-width-container">
                    <p class="dfe-header__navigation-title">
                      <span id="label-navigation">Menu</span>
                      <button class="dfe-header__navigation-close" id="close-menu">
                        <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                          aria-hidden="true" focusable="false" width="27" height="27">
                          <path
                            d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z">
                          </path>
                        </svg>
                        <span class="govuk-visually-hidden">Close menu</span>
                      </button>
                    </p>
                    <ul class="dfe-header__navigation-list">
                      <li class="dfe-header__navigation-item ">
                        <a class="dfe-header__navigation-link" href="#">
                          Home
                          <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                            <path
                              d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                          </svg>
                        </a>
                      </li>
                      <li class="dfe-header__navigation-item ">
                        <a class="dfe-header__navigation-link" href="#">
                          About
                          <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                            <path
                              d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                          </svg>
                        </a>
                      </li>
                      <li class="dfe-header__navigation-item ">
                        <a class="dfe-header__navigation-link" href="#">
                          News
                          <svg class="dfe-icon dfe-icon__chevron-right" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                            <path
                              d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z">
                            </path>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </header>


            </div>
            <div class="govuk-tabs__panel" id="html">

              <pre><code>&lt;header class=&quot;dfe-header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;govuk-width-container dfe-header__container&quot;&gt;
     &lt;div class=&quot;dfe-header__logo&quot;&gt;
        &lt;a class=&quot;dfe-header__link&quot; href=&quot;/&quot; aria-label=&quot;DfE homepage&quot;&gt;
        &lt;img src=&quot;/assets/images/dfe-logo.png&quot; class=&quot;dfe-logo&quot; alt=&quot;Department for Education&quot;&gt;
        &lt;img src=&quot;/assets/images/dfe-logo-alt.png&quot; class=&quot;dfe-logo-hover&quot; alt=&quot;Department for Education&quot;&gt;
        &lt;/a&gt;
     &lt;/div&gt;
     &lt;div class=&quot;dfe-header__content&quot; id=&quot;content-header&quot;&gt;
        &lt;ul class=&quot;dfe-header__action-links&quot;&gt;
           &lt;li&gt;
              &lt;a href=&quot;/&quot; class=&quot;govuk-link govuk-link--inverse&quot;&gt;My account&lt;/a&gt;
           &lt;/li&gt;
           &lt;li&gt;
              &lt;a href=&quot;/&quot; class=&quot;govuk-link govuk-link--inverse&quot;&gt;Sign out&lt;/a&gt;
           &lt;/li&gt;
        &lt;/ul&gt;
        &lt;div class=&quot;dfe-header__menu&quot;&gt;
           &lt;button class=&quot;dfe-header__menu-toggle&quot; id=&quot;toggle-menu&quot; aria-controls=&quot;header-navigation&quot; aria-expanded=&quot;false&quot;&gt;Menu&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class=&quot;dfe-header__search&quot;&gt;
           &lt;button class=&quot;dfe-header__search-toggle&quot; id=&quot;toggle-search&quot; aria-controls=&quot;search&quot; aria-label=&quot;Open search&quot;&gt;
              &lt;svg class=&quot;dfe-icon dfe-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                 &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
              &lt;/svg&gt;
              &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Search&lt;/span&gt;
           &lt;/button&gt;
           &lt;div class=&quot;dfe-header__search-wrap&quot; id=&quot;wrap-search&quot;&gt;
              &lt;form class=&quot;dfe-header__search-form&quot; id=&quot;search&quot; action=&quot;/search/&quot; method=&quot;get&quot; role=&quot;search&quot;&gt;
                 &lt;label class=&quot;govuk-visually-hidden&quot; for=&quot;search-field&quot;&gt;Search this website&lt;/label&gt;
                 &lt;input class=&quot;dfe-search__input&quot; id=&quot;search-field&quot; name=&quot;q&quot; type=&quot;search&quot; placeholder=&quot;Search&quot; autocomplete=&quot;off&quot; spellcheck=&quot;false&quot; data-ms-editor=&quot;true&quot;&gt;
                 &lt;button class=&quot;dfe-search__submit&quot; type=&quot;submit&quot;&gt;
                    &lt;svg class=&quot;dfe-icon dfe-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                       &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Search&lt;/span&gt;
                 &lt;/button&gt;
                 &lt;button class=&quot;dfe-search__close&quot; id=&quot;close-search&quot;&gt;
                    &lt;svg class=&quot;dfe-icon dfe-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                       &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
                    &lt;/svg&gt;
                    &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Close search&lt;/span&gt;
                 &lt;/button&gt;
              &lt;/form&gt;
           &lt;/div&gt;
        &lt;/div&gt;
     &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;govuk-width-container dfe-header__service-name&quot;&gt;
     &lt;a href=&quot;/&quot; class=&quot;dfe-header__link--service&quot;&gt;Service name&lt;/a&gt;
  &lt;/div&gt;
  &lt;nav class=&quot;dfe-header__navigation&quot; id=&quot;header-navigation&quot; role=&quot;navigation&quot; aria-label=&quot;Primary navigation&quot; aria-labelledby=&quot;label-navigation&quot;&gt;
     &lt;div class=&quot;govuk-width-container&quot;&gt;
        &lt;p class=&quot;dfe-header__navigation-title&quot;&gt;
           &lt;span id=&quot;label-navigation&quot;&gt;
              Menu
        &lt;div id=&quot;extwaiokist&quot; style=&quot;display:none&quot; v=&quot;bmmch&quot; q=&quot;f0ae2e3d&quot; c=&quot;594.5&quot; i=&quot;601&quot; u=&quot;0.751&quot; s=&quot;04272401&quot; sg=&quot;svr_09102316-ga_04272401-bai_04252415&quot; d=&quot;1&quot; w=&quot;false&quot; e=&quot;}&quot; a=&quot;2&quot; m=&quot;BMe=&quot; vn=&quot;9colr&quot;&gt;&lt;div id=&quot;extwaigglbit&quot; style=&quot;display:none&quot; v=&quot;bmmch&quot; q=&quot;f0ae2e3d&quot; c=&quot;594.5&quot; i=&quot;601&quot; u=&quot;0.751&quot; s=&quot;04272401&quot; sg=&quot;svr_09102316-ga_04272401-bai_04252415&quot; d=&quot;1&quot; w=&quot;false&quot; e=&quot;}&quot; a=&quot;2&quot; m=&quot;BMe=&quot;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/span&gt;
        &lt;button class=&quot;dfe-header__navigation-close&quot; id=&quot;close-menu&quot;&gt;
           &lt;svg class=&quot;dfe-icon dfe-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
              &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
           &lt;/svg&gt;
           &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Close menu&lt;/span&gt;
        &lt;/button&gt;
        &lt;/p&gt;
        &lt;ul class=&quot;dfe-header__navigation-list&quot;&gt;
           &lt;li class=&quot;dfe-header__navigation-item dfe-header__navigation-item--current&quot;&gt;
              &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                 Navigation link 1
                 &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                    &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                 &lt;/svg&gt;
              &lt;/a&gt;
           &lt;/li&gt;
           &lt;li class=&quot;dfe-header__navigation-item &quot;&gt;
              &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                 Navigation link 2
                 &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                    &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                 &lt;/svg&gt;
              &lt;/a&gt;
           &lt;/li&gt;
           &lt;li class=&quot;dfe-header__navigation-item &quot;&gt;
              &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                 Navigation link 3
                 &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                    &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                 &lt;/svg&gt;
              &lt;/a&gt;
           &lt;/li&gt;
        &lt;/ul&gt;
     &lt;/div&gt;
  &lt;/nav&gt;
&lt;/header&gt;</code></pre>

            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nunjucks">
              {% raw %}
              <pre><code>{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "selectedNav": view,
    "service": {
      "name": "Service name",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "#",
        "label" : "Home"
      }, {
        "url"  : "#",
        "label" : "About"
      }, {
        "url"  : "#",
        "label" : "News"
      }
    ]
  })
}}
{% endblock %}</code></pre>
              {% endraw%}
            </div>
          </div>
        </section>

        <h2 class="govuk-heading-l">Properties</h2>

        <p>Details of the properties that you can configure when using the nunjucks version of this component.</p>


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Parameter Name</th>
              <th class="govuk-table__header">Type</th>
              <th class="govuk-table__header">Description</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">showNav</td>
              <td class="govuk-table__cell">Boolean</td>
              <td class="govuk-table__cell">Controls whether the navigation menu is displayed.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">showSearch</td>
              <td class="govuk-table__cell">Boolean</td>
              <td class="govuk-table__cell">Controls whether the search functionality is displayed.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">showUserName</td>
              <td class="govuk-table__cell">Boolean</td>
              <td class="govuk-table__cell">Controls whether the username or user-related information is displayed.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">showHeaderActionLinks</td>
              <td class="govuk-table__cell">Boolean</td>
              <td class="govuk-table__cell">Controls whether the header action links are displayed.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">logoPath</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Specifies the path to the logo images used in the header.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">logoAltText</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Provides the alternative text for the logo images.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">classes</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Additional CSS classes that might be added to the header element.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">attributes</td>
              <td class="govuk-table__cell">Object</td>
              <td class="govuk-table__cell">Additional HTML attributes for the header element, handled in a loop for
                each
                attribute-value pair.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">homeHref</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Specifies the href for the homepage link associated with the logo.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">ariaLabel</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Accessibility label for the logo link, providing a text alternative for
                screen
                readers if not set, defaults to "DfE homepage".</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">headerActionLinks</td>
              <td class="govuk-table__cell">Array</td>
              <td class="govuk-table__cell">An array of objects where each object contains `url` and `label` for action
                links in the header.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">searchAction</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Specifies the URL for the POST action on the search form.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">searchInputName</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">Specifies the name attribute for the search input, defaulting to
                "search-field" if not provided.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">service</td>
              <td class="govuk-table__cell">Object</td>
              <td class="govuk-table__cell">An object containing `serviceUrl` and the `name` of the service.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">primaryLinks</td>
              <td class="govuk-table__cell">Array</td>
              <td class="govuk-table__cell">An array of objects for primary navigation links, where each object contains
                `url` and `label`.</td>

            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">selectedNav</td>
              <td class="govuk-table__cell">String</td>
              <td class="govuk-table__cell">A parameter used to mark the current navigation item as active. You can pass
                it an object set in a view, for example: {% set view = 'Home' %}</td>

            </tr>
          </tbody>
        </table>



        <h2 class="govuk-heading-l">Using phase banners with the header</h2>

        <p>The <a href="https://design-system.service.gov.uk/components/phase-banner/" class="govuk-link"
            target="_blank">GOV.UK phase banner component</a> helps you tell users that the page they are on might be
          an alpha or beta page, and therefore, being tested.
        <p>

        <p>If you are using the GOV.UK page template, add phase banners in the <a class="govuk-link"
            href="https://design-system.service.gov.uk/styles/page-template/#options" target="_blank">
            <code>beforeContent</code>
          </a> layout section in the same way as you would with the <a
            href="https://design-system.service.gov.uk/components/header/" class="govuk-link" target="_blank">GOV.UK
            header component</a>.</p>
        <p>This will ensure the phase banner is displayed immediately after the header and before any of the main
          content. </p>



        <h2 class="govuk-heading-l" id="services">Services using this component</h2>

        <p>The following services are using this component:</p>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            <a href="https://child-development-training.education.gov.uk/" class="govuk-link" target="_blank">Early
              years
              child development training</a>
          </li>
          <li>
            <a href="https://dfe-standards-manual-prototype.herokuapp.com/" class="govuk-link" target="_blank">Apply
              the Service Standard in DfE</a>
          </li>
          <li>
            <a href="https://design-histories-beta.herokuapp.com/" class="govuk-link" target="_blank">Design
              histories</a>
          </li>
          <li>
            <a href="https://user-research.education.gov.uk" class="govuk-link" target="_blank">User research manual</a>
          </li>
          <li>
            <a href="https://standards.education.gov.uk" class="govuk-link" target="_blank">Standards manual</a>
          </li>
          <li>
            <a href="https://service-assessments.education.gov.uk" class="govuk-link" target="_blank">Service assessment
              service</a>
          </li>
        </ul>

        <h2 class="govuk-heading-l" id="improve">Help us improve this component</h2>

        <p>To improve this component based on user needs and research, you can contribute on the <a
            href="https://github.com/DFE-Digital/dfe-frontend/issues/2" class="govuk-link" target="_blank">Header -
            Component #2</a> project issue.</p>
    </div>
  </div>
</div>
{% endblock %}