<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/professions" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to professions</a>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if title === 'Design skills framework' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/professions/framework">Design skills framework</a>
        </li>
        <li class="dfe-vertical-nav__section-item  {% if title === 'Working groups' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/professions/working-groups">Working groups</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if title === 'Meetups and events' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/professions/meetups">Meetups and events</a>
        </li>
    </ul>
</nav>