{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Design professions" %}
{% set pageDescription = "Learn about the different design professions in the Department for Education." %}
{% set selectedNav = "Professions" %}
{% set lastUpdated = "April 2023 "%}
{% set backlog_issue_id = "41" %}

{% block beforeContent %}{% endblock %}

{% block content %}

  <p>There are 3 design professions in the department:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/professions/content-design">Content design</a>
    </li>
    <li>
      <a href="/professions/interaction-design">Interaction design</a>
    </li>
    <li>
      <a href="/professions/service-design">Service design</a>
    </li>
  </ul>

  <h2 class="govuk-heading-l" id="team">Design leadership</h2>

  <p>The professions are led by the heads of design.</p>

  <div class="dfe-grid-container">
    <div class="dfe-card">
      <picture>
        <source srcset="/assets/images/andyjones.webp" type="image/webp">
        <img src="/assets/images/andyjones.png" alt="">

      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
          <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="mailto:andy.jones@education.gov.uk">Andy Jones</a>
        </h3>
        <p>Head of interaction and service design.</p>
      </div>
    </div>
    <div class="dfe-card">
      <picture>
        <source srcset="/assets/images/profile.webp" type="image/webp">
        <img src="/assets/images/profile.png" alt="">
      </picture>

      <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
          <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="mailto:andy.jones@education.gov.uk">Vacant</a>
        </h3>
        <p>Head of content design - currently being covered by Andy Jones.</p>
      </div>
    </div>
  </div>

   
    <h2 class="govuk-heading-l govuk-!-margin-top-5">Protected community time</h2>

    <p>Within the digital user-centred design professions, we have protected community time.</p>
    <p>This means every Thursday afternoon from 1pm, is dedictaed to improving the design profession. This might include: professional development, skills sharing, workshops, training, or running show and tells and community meetups.</p>

    <p>Find out about <a href="/professions/meetups/">community meetups</a> and <a href="/professions/show-and-tells/">regular show and tells</a> we run in the design community.</p>

    <h2 class="govuk-heading-l">Community objective themes</h2>

    <p>Our community objectives align to the <a href="/design-ops/">design ops</a> model. This means the work we do in our communities of practice help to improve:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>how we work together</li>
        <li>how we get work done</li>
        <li>how our work creates impact</li>
    </ul>
    <p>
        <a href="/professions/themes/">Read more about the themes we're working on</a>.</p>

{% endblock %}