{% extends "layouts/content-full-width.html" %}

{% set pageName = "Interaction design" %}
{% set pageDescription = "Interaction designers design the way people use a product, in our case digital products, websites and services. An interaction designer should always aim to design the best experience possible." %}
{% set selectedNav = "Professions" %}
{% set setSelectedSideNav = "SideNav Text" %}
{% set lastUpdated = "February 2024"%}
{% set backlog_issue_id = "21" %}


{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/professions">Professions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">{{pageName}}</li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

    <section>
      <div class="dfe-width-container">
        <div class="dfe-width-container">
          <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-quarter">
              {% include "includes/_side-nav.html"%}
            </div>
            <div class="govuk-grid-column-three-quarters">

              <h2 id="what-an-interaction-designer-does-">What an interaction designer does</h2>
              <p>Interaction designers are responsible for:</p>

              <ul class="govuk-list govuk-list--bullet">
                <li>exploring design solutions by mapping user journeys and creating prototypes</li>
                <li>test hypotheses and assumptions which address user needs, behaviours and pain points</li>
                <li>contribute into, and support, other disciplines and help to shape direction</li>
              </ul>

              <h3 id="interaction-designers-do-not-">Interaction designers do not:</h3>
              <ul class="govuk-list govuk-list--bullet">
                <li>build fully functional services</li>
                <li>write production quality code and are not expected to</li>
              </ul>

              <p>Prototypes are design artefacts, not an exact representation of the fully developed service. Prototypes should only be built to test solutions to user&#39;s needs.</p>

              <h2 id="expectations-of-interaction-designers">Expectations of interaction designers</h2>
              <ul class="govuk-list govuk-list--bullet">
                <li>work to <a href="/design-system/dfe-frontend/">DfE design standards</a> for digital services</li>
                <li>ensure that design is done in line with <a href="/accessibility/understanding-wcag/">accessibility guidelines</a>
                </li>
                <li>collaborate and share work with other designers across DfE, not just within your portfolio</li>
                <li>collaborate and work alongside other professions</li>
                <li>reuse patterns and components and contribute to the <a href="https://github.com/orgs/alphagov/projects/43" target="_blank">GOV.UK Design System</a>
                </li>
                <li>share <a href="/design-system/prototype-kit">prototypes</a> and journey maps</li>
                <li>contribute and write <a href="https://design-histories.education.gov.uk">design histories</a> detailing decisions to change a service</li>
                <li>take part in design reviews and design critiques</li>
                <li>use <a href="/design-ops/tools">our agreed design tools</a>, Lucid and Figma</li>
              </ul>

              <p>If you want to retrain to become an interaction designer, there are several steps you can take:</p>
              <h2 id="evaluate-your-current-skills">Evaluate your current skills</h2>
              <p>Before embarking on a new career path, it&#39;s important to assess your current skills and identify areas where you may need to improve. Interaction design requires a combination of design, technical, and interpersonal skills, so you may need to develop skills in these areas.</p>
              <p>You can read the <a href="https://www.gov.uk/guidance/interaction-designer" target="_blank">skills expected of an interaction designer</a> within the <a href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework" target="_blank">Digital, Data and Technology Profession Capability Framework</a>. </p>
              <h2 id="research-the-profession">Research the profession</h2>
              <p>Learn as much as you can about interaction design and the roles and responsibilities of an interaction designer. Read books, articles, and blogs about the subject and attend conferences or meetups to learn from professionals in the profession. You can find more in the <a href="https://www.gov.uk/service-manual/communities/design-community" target="_blank">cross-government design community</a>
              </p>
              <ul class="govuk-list">
                <li>
                  <a target="_blank" href="https://designnotes.blog.gov.uk/2022/03/25/a-day-in-the-life-of-an-interaction-designer-at-gds/">A day in the life of an interaction designer at GDS</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.youtube.com/c/ukgovdesign">UK GOV.UK Design YouTube channel</a>
                </li>
                <li>
                  <a target="_blank" href="https://designnotes.blog.gov.uk/">Design in government blog</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.nngroup.com/">Nielsen Norman Group</a>
                </li>
              </ul>

              <h2 id="learn-and-understand-ux-laws-and-principles">Learn and understand UX laws and principles</h2>
              <p>Interaction design is underpinned by user experience (UX) laws and usability principles. These are designed around how people use websites and services. </p>
              <ul class="govuk-list">
                <li>
                  <a href="https://www.gov.uk/guidance/government-design-principles" target="_blank">The 10 Government Design Principles</a>
                </li>
                <li>
                  <a href="https://lawsofux.com/" target="_blank">Laws of UX</a>
                </li>
              </ul>

              <h2 id="learn-to-use-ux-design-tools-and-software">Learn to use UX design tools and software</h2>
              <p>Practice using UX tools of the trade, what you can do with them. The tools we use for UX design in the Department for Education are:</p>
              <ul class="govuk-list">
                <li>
                  <a target="_blank" href="https://www.figma.com/">Figma</a>
                </li>
                <li>
                  <a target="_blank" href="https://lucid.app/">Lucid</a>
                </li>
              </ul>

              <p>Other industry-related tools are:</p>
              <ul class="govuk-list">
                <li>
                  <a target="_blank" href="https://www.sketch.com/">Sketch</a>
                </li>
                <li>
                  <a target="_blank" href="https://helpx.adobe.com/support/xd.html">Adobe XD</a>
                </li>
              </ul>

              <h2 id="take-courses-or-enroll-in-a-program">Take courses or enroll in a program</h2>
              <p>Consider taking courses or enrolling in a program that offers training in interaction design. Many universities and design schools offer courses or programs in UX/UI design or human-computer interaction.</p>
              <h3 id="courses-and-training">Courses and training</h3>
              <ul class="govuk-list">
                <li>
                  <a target="_blank" href="https://www.interaction-design.org/courses">Interaction Design Foundation courses</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.hyperisland.com/online-courses">Hyper Island</a>
                </li>
                <li>
                  <a target="_blank" href="https://www.pluralsight.com/courses/getting-started-ux-design">Pluralsight UX Design</a>
                </li>
              </ul>

              <h2 id="build-a-portfolio">Build a portfolio</h2>
              <p>A portfolio is essential for showcasing your skills and experience which you will be expected to talk about in interviews. Create a portfolio that demonstrates your ability to solve design problems, think creatively, and create effective designs.</p>
              <h2 id="look-for-roles-or-shadow-designers">Look for roles or shadow designers</h2>
              <p>As you gain skills and experience, look for opportunities to work on design projects. This can help you gain practical experience and make connections in the profession.</p>
              <p>You can ask to shadow designers across the department who are working on services. If you want to find out more, <a href="mailto:andy.jones@education.gov.uk?Subject=Career progression - Shadowing design">get in contact with the Head of Design Profession, Andy Jones</a>.</p>
              <p>You can read our <a href="https://dfe-digital.github.io/dfe-job-descriptions/interaction_design/index.html" target="_blank">interaction design job descriptions</a> for more information about skills and responsibilities.</p>

            </div>
          </div>
        </div>
      </section>

    {% endblock %}