{% extends "layouts/layout.html" %}

{% set serviceNav = "Professions" %}
{% set path = "professions/working-groups" %}
{% set title = "Working groups" %}
{% set description = "Our communities of practice come together to share work, develop skills and capability across the
 design profession." %}

{% block content %}

    <section>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-quarter">
                    {% include "./_sidenav.html" %}
                </div>
                <div class="govuk-grid-column-two-thirds">

                    <span class="govuk-caption-xl">Professions</span>
                    {% markdown %}
                    
                    # {{ title }}

                    {{description}}

                    ## Patterns and components

                    Developing consistent design components and patterns for digital services in DfE

                    The working group consists of a cross-profession group of people from design, content, and development. The group meets regularly to discuss and agree on design patterns and components for the department.

                    You can find out what we're working on in the [patterns](/design-system/patterns) and [components](/design-system/components) sections of the design system.

                    Get in touch with the patterns working group via the [patterns Teams channel (DfE staff only)](https://teams.microsoft.com/l/channel/19%3A4098c3b7ff1643ea93161c47c842b1e9%40thread.tacv2/WG%20-%20Service%20patterns%20working%20group?groupId=8912a6b5-cc25-446b-99cd-2ad2eb8cf90f&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9).

                    Get in touch with the components working group via the [components Teams channel (DfE staff only)](https://teams.microsoft.com/l/channel/19%3A6f316e8bf93a4c5ba206bbd4c8407424%40thread.tacv2/WG%20-%20Components%20working%20group?groupId=8912a6b5-cc25-446b-99cd-2ad2eb8cf90f&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9).

                    ## Content style working group

                    The content style working group develop and maintain the [style guide](/content-design/style-guide) for DfE

                    Get in touch through the [content style group Teams channel (DfE staff only)](https://teams.microsoft.com/l/channel/19%3Ad092596e67d7485b8ecac0eef0a6fa75%40thread.tacv2/WG%20-%20Content%20styles%20working%20group?groupId=8912a6b5-cc25-446b-99cd-2ad2eb8cf90f&tenantId=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9).

                    {% endmarkdown %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}