{% extends "./../example-layout.html" %}

{% block pageTitle %}
Adding a note design pattern | RSD component library
{% endblock %}

{% block sample %}
<style>
.dfe-tag--amber {
  color: #66420d;
  background: #ffe4bc;
}
</style>      
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">Test Primary School</span>
      Overall risk
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-font-size-27 govuk-!-margin-bottom-6">
          Risk rating
        </legend>
        <div class="govuk-radios govuk-!-margin-bottom-6" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="newRiskRatingOverall" name="newRiskRatingOverall" type="radio" value="Green">
            <label class="govuk-label govuk-radios__label" for="newRiskRatingOverall">
              <strong class="govuk-tag govuk-tag--green">Green</strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="newRiskRatingOverall-2" name="newRiskRatingOverall" type="radio" value="Amber Green">
            <label class="govuk-label govuk-radios__label" for="newRiskRatingOverall-2">
              <strong class="govuk-tag dfe-tag--amber">Amber</strong>&nbsp;<strong class="govuk-tag govuk-tag--green">Green</strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="newRiskRatingOverall-3" name="newRiskRatingOverall" type="radio" value="Amber Red">
            <label class="govuk-label govuk-radios__label" for="newRiskRatingOverall-3">
              <strong class="govuk-tag dfe-tag--amber">Amber</strong>&nbsp;<strong class="govuk-tag govuk-tag--red">Red</strong>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="newRiskRatingOverall-4" name="newRiskRatingOverall" type="radio" value="Red">
            <label class="govuk-label govuk-radios__label" for="newRiskRatingOverall-4">
              <strong class="govuk-tag govuk-tag--red">Red</strong>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--l govuk-!-font-size-27 govuk-!-margin-bottom-6" for="newRiskRatingOverallSummary">
        Risk summary
      </label>
      <textarea class="govuk-textarea" id="newRiskRatingOverallSummary" name="newRiskRatingOverallSummary" rows="10"></textarea>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </div>
</div>
{% endblock %}
