{% extends "./../example-layout.html" %}

{% block pageTitle %}
Risk rating summary card (editable) design pattern | RSD component library
{% endblock %}

{% block sample %}
<style>
  .dfe-tag--amber {
    color: #66420d;
    background: #ffe4bc;
  }
</style>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
    Overall risk
    </h2>
    <div class="govuk-summary-card__actions">
      <a class="govuk-link" href="other-info-rag-rating-current">Change<span class="govuk-visually-hidden"> Overall risk</span></a>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk rating
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag dfe-tag--amber">Amber</strong>&nbsp;<strong class="govuk-tag govuk-tag--green">Green</strong>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Risk summary
        </dt>
        <dd class="govuk-summary-list__value">
          A summary of why this risk rating was chosen, and what progress has been made in resolving it.
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}
