{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Risk rating" %}
{% set pageDescription = "Recording risk ratings." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "October 2024 "%}
{% set backlog_issue_id = "105" %}

{% set htmlCode = '<code class="hljs language-html">
&lt;div class=&quot;govuk-width-container&quot;&gt;
  &lt;main class=&quot;govuk-main-wrapper govuk-main-wrapper--l&quot; id=&quot;main-content&quot; role=&quot;main&quot;&gt;
    &lt;div class=&quot;govuk-grid-row&quot;&gt;
      &lt;div class=&quot;govuk-grid-column-two-thirds&quot;&gt;
        &lt;h1 class=&quot;govuk-heading-l&quot;&gt;Page not found&lt;/h1&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If you typed the web address, check it is correct.
        &lt;/p&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If you pasted the web address, check you copied the entire address.
        &lt;/p&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If the web address is correct or you selected a link or button, &lt;a href=&quot;#&quot; class=&quot;govuk-link&quot;&gt;get help with a Regions Group system (opens in a new tab)&lt;/a&gt;.
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/main&gt;
&lt;/div&gt;
</code>' %}

{% set nunjucksCode = '<code class="hljs language-html">
{% set mainClasses = &quot;govuk-main-wrapper--l&quot; %}

{% block content %}
  &lt;div class=&quot;govuk-grid-row&quot;&gt;
    &lt;div class=&quot;govuk-grid-column-two-thirds&quot;&gt;
        &lt;h1 class=&quot;govuk-heading-l&quot;&gt;Page not found&lt;/h1&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If you typed the web address, check it is correct.
        &lt;/p&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If you pasted the web address, check you copied the entire address.
        &lt;/p&gt;
        &lt;p class=&quot;govuk-body&quot;&gt;
          If the web address is correct or you selected a link or button, &lt;a href=&quot;#&quot; class=&quot;govuk-link&quot;&gt;get help with a Regions Group system (opens in a new tab)&lt;/a&gt;.
        &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
{% endblock %}
</code>' %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <figure class="govuk-!-margin-bottom-9" style="margin: 0;">
      <img style="border: 1px solid #999999;" src="/assets/images/rsd-design-patterns/risk-rating-radios-text-area-button.png"
        alt="A notes tab in a project. It has an 'Add a note' button and a note with an 'Edit note' link." width="100%">
      <figcaption>A notes tab in a project. It has an 'Add a note' button and a note with an 'Edit note' link.</figcaption>
    </figure>

    <h2>When to use this pattern</h2>
    <p>Use this pattern to record and display red, amber and green (RAG) risk ratings.</p>
    
    <h2>How it works</h2>
    <p>The pattern is a <a href="https://design-system.service.gov.uk/components/radios/">radios</a> list, with each item displaying one or more <a href="https://design-system.service.gov.uk/components/tag/">tag</a> components to indicate the risk rating.</p>
    <p>It also includes a <a href="https://design-system.service.gov.uk/components/textarea/">textarea</a> for users to explain why they chose a particular risk rating.</p>
    
    <h3>Radios list name</h3>
    <p>Call the list something like 'risk rating'. This is more inclusive than 'RAG rating'.</p>
    
    <h3>Tag classes</h3>
    <p>Use these classes for the tags:</p>
    <ul>
      <li>govuk-tag--green</li>
      <li>govuk-tag govuk-tag--amber. This is a <a href="link">custom amber-coloured tag</a></li>
      <li>govuk-tag--red</li>
    </ul>
    
    <h3>Textarea height</h3>
    <p>Make the height of the textarea proportional to the amount of text you expect users to enter.</p>
    
    <h3>Error messages</h3>
    <p>Make sure errors follow the <a href="https://design-system.service.gov.uk/components/error-message/">error message</a> guidance, with specific error messages for specific error states.</p>
    
    <h4>If a radio button has not been selected</h4>
    <p>Say 'Select a risk rating'.</p>
    
    <h4>If the textarea has not been filled in</h4>
    <p>Say 'Enter the risk summary'.</p>
    
    <h2>Research on this pattern</h2>
    <p>This pattern is being used in <a href="https://design-histories.education.gov.uk/manage-free-school-projects/risk-rating-iteration">Manage free school projects</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
    
    <p><strong>User need 134:</strong> when managing a free school project, I need to record and update the project's risk rating, so that stakeholders and I know if the school is likely to open on time.</p>
    
    <p>Here's a <a href="https://design-histories.education.gov.uk/manage-free-school-projects/risk-rating-iteration">design history post about the risk rating pattern</a>.</p>
    
  </div>
</div>


{% endblock%}