{% set pageName = "Standards and legislation" %}
{% set pageDescription = "The Accessibility standards we expect everyone building digital services to follow in the Department for Education." %}
{% set selectedNav  = "Accessibility" %}
{% set lastUpdated = "18 July 2022" %}
{% set backlog_issue_id = "25" %}

{# Add changes with newest at the top #}
{% set changeLog = [
  {
    change: 'Linking to correct issue number. See <a href="https://github.com/DFE-Digital/design/issues/25" target="_blank">GitHub issue #25</a>',
    changeDate: '18 July 2023'
  }
]
%}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}



  <p>The following laws and standards apply regardless of who the users of the service are, this includes:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>members of the public</li>
    <li>teachers and pupils</li>
    <li>DfE or other agency staff</li>
  </ul>

  <p>Accessibility requirements are enforced through different legislation and standards, specifically (the following links will open in a new tab):</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  target="_blank" rel="noopener noreferrer">Equality Act 2010</a>
    </li>
    <li>
      <a href="https://www.gov.uk/government/publications/public-sector-equality-duty" target="_blank" rel="noopener noreferrer">Public sector equality duty</a>
    </li>
    <li>
      <a href="https://www.legislation.gov.uk/uksi/2018/852/introduction/made" target="_blank" rel="noopener noreferrer">Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018</a>
    </li>
    <li>
      <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopener noreferrer">Public sector bodies accessibility regulations 2018</a>
    </li>
    <li>
      <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/02.01.02_60/en_301549v020102p.pdf" target="_blank" rel="noopener noreferrer">EN 301 549 Accessibility requirements for ICT products and services (PDF)</a>
    </li>
    <li>
      <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements"  target="_blank" rel="noopener noreferrer">GOV.UK accessibility requirements</a>
    </li>
  </ul>

  <div class="govuk-inset-text">
    <p>You'll be required to demonstrate how you are complying with the law and meeting the Service Standard as part of your <a href='https://apply-the-service-standard.education.gov.uk/service-assessments/' target="_blank">service assessments</a>.</p>

  </div>

  <h2 class="govuk-heading-l">Assuring accessibility through the Service Standard</h2>

  <p>Your service must:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>meet <a href="/accessibility/understanding-wcag/">ensure it meets WCAG 2.2 Level AA guidelines</a> which will be assured through <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service.html" target="_blank">Service Standard point 5</a>
    </li>
    <li>work on the most <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"  target="_blank" rel="noopener noreferrer">commonly used assistive technologies (opens in new tab)</a>, including screen magnifiers, screen readers and speech recognition tools</li>
    <li>include disabled people in user research</li>
    <li>have an <a href="/accessibility/accessibility-statements">accessbility statement</a> that explains how accessible the service is, you need to publish this when the service moves into public beta</li>
    <li>have an <a href="/accessibility/audits">accessibility audit</a> done before moving into public beta</li>
  </ul>

 
{% endblock %}