<div class="ncs-highlight-box">
    <a class="ncs-highlight-box__link" href="{{ params.link }}">
        <div class="ncs-highlight-box__card">
            <h3 class="govuk-heading-s">{{ params.title }}</h3>
            <p class="govuk-body-m">{{- params.text -}}</p>
        </div>
    </a>
</div>