{% set pageName = "Communities of practice" %}
{% set canonical = "https://design.education.gov.uk/community" %}
{% set pageDescription = "Find out about how our communities of practice drive forward change in the design profession."
%}
{% set selectedNav = "Community" %}
{% set lastUpdated = "May 2024" %}
{% set backlog_issue_id = "32" %}

{% extends "layouts/page.html" %}

{% block hero %}
<section class="dfe-page-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">


    <div class="govuk-grid-column-three-quarters">
        <p>Our communities of practice come together to share work, develop skills and capability across the design
            profession.</p>

        <p>We set aside Thursday afternoons to come together as a community. With weekly meetups at 1pm covering things
            like workshops, show and tells, learning and development or speaker sessions.</p>
        <p>We've recently run meetups around:</p>

        <ul>
            <li>giving and receiveing feedback</li>
            <li>accessibility in design</li>
            <li>measuring design</li>
            <li>standards and assurance</li>
        </ul>

        <p>We occasionally hold cross-profession meetups where we join up with another community such as user research,
            product or delivery communities.</p>

        <p>Our communities of practice are open to anyone in the Department for Education, including contractors.</p>


        <h2>Current working groups</h2>

        <p class="govuk-body">There are currently groups led by volunteers from within the design community working on:
        </p>
        <ul class="govuk-list govuk-list--bullet">

            <li><a href="/inside-design/working-group/people" class="govuk-link govuk-link--no-visited-state">community,
                    people, and objectives</a></li>

            <li><a href="/inside-design/working-group/patterns-and-components"
                    class="govuk-link govuk-link--no-visited-state">patterns and components</a></li>

            <li><a href="/inside-design/working-group/content-styles"
                    class="govuk-link govuk-link--no-visited-state">content styles</a></li>
        </ul>
        <p>If you would like to get involved with one of the community groups, reach out on the DfE Slack channel <a
                class="govuk-link govuk-link--no-visited-state"
                href="https://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#design</a>. </p>


        <h2 class="govuk-heading-l">Getting the meetup invite</h2>

        <p>If you are in DfE <a
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-RUE9wJmXYhLr0TiHQh5gIpUNlQ1MlZGNFVVU1Q5NzhKNFlQSTBPTEVGMC4u"
                target="_blank">complete this Microsoft Form to request the design meetup invite</a>.</p>
        <p>If you are in one of the agencies or arms length bodies of DfE, <a href="/design-ops">contact the DesignOps
                team</a> for the invite.</p>

    </div>

    <div class="govuk-grid-column-one-quarter">

        <aside class="dfe-aside">
            <h2 class="govuk-heading-m">Related content</h2>
            <ul class="govuk-list govuk-list--spaced">

                <li>
                    <a href="/design-ops/professions" target="_blank">Design professions</a>
                </li>
                <li>
                    <a href="/design-ops/maturity" target="_blank">Design maturity in DfE</a>
                </li>
                <li>
                    <a href="/design-ops/priorities" target="_blank">Head of design priorities</a>
                </li>

            </ul>

        </aside>

    </div>

    {% endblock %}