{% extends "layouts/content-full-width.html" %}

{% set pageName = "Iterate and improve" %}
{% set pageDescription = "Rapidly test concepts and prototypes with users to improve them." %}
{% set selectedNav = "Learn" %}

{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #ebf2f6;">
        <div class="dfe-width-container" style="padding-top: 5px;">
            <a href="/learn/user-centred-design" class="govuk-back-link">Back</a>
        </div>
        <div class="dfe-width-container" style="padding-top: 20px; padding-bottom: 60px;">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>

                </div>

            </div>
        </div>

    </section>

    <section style="background: #ffffff;">

        <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 40px;">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">

                    <a href="/learn/user-centred-design" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">What UCD is</a>

                    <h2 class="govuk-heading-m">UCD process</h2>

                    <ul class="dfe-vertical-nav__section">

                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/understand-the-user">Understand the user</a>
                        </li>

                        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/iterate-and-improve">Iterate and improve</a>
                        </li>

                    </ul>
                </div>
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-l">Techniques</h2>
                    <p>Iterating is vital for continually refining a product or service to meet and exceed user expectations. The approach is cyclical and encompasses several key phases, each of which is crucial for different reasons:</p>

                    <h3 class="govuk-heading-m">Low-fidelity prototypes</h3>
                    <p>Initial iterations often start with simple, paper-based wireframes to sketch out various designs. This is a quick method to visualise your ideas.</p>

                    <h3 class="govuk-heading-m">High-fidelity prototypes</h3>
                    <p>As you learn more about users, higher-fidelity prototypes can be developed, for example, using Figma. These look more like the final product and are a good first approach for more in-depth usability testing.</p>

                    <h3 class="govuk-heading-m">HTML prototypes</h3>
                    <p>For more complex products or services, HTML, or interactive prototypes that look and behave like a real product can provide deeper insights and help identify potential usability challenges.</p>

                    <h3 class="govuk-heading-m">A/B testing</h3>
                    <p>This type of testing compares two versions of particular features or patterns within the prototype to determine which performs better in terms of user experience.</p>

                    <h3 class="govuk-heading-m">Usability testing</h3>
                    <p>Usability testing enables you to identify pain points in a design, and where there are opportunities to further eliminate friction in the user experience.</p>

                    <h3 class="govuk-heading-m">Qualitative and quantitive data</h3>
                    <p>Using quantitative metrics such as time taken on page or on steps of a process through to qualitative feedback, comments and observations can help identify process improvements.</p>
                </div>
            </div>
        </div>

    </section>

{% endblock %}