{% extends "layouts/content-full-width.html" %}
{% set pageName = "Methods and tools" %}
{% set pageDescription = "" %}
{% set selectedNav = "Learn" %}
{% set zeroMainMargin = "true"%}
{% block content %}
    <section style="background: #ebf2f6;">
        <div class="dfe-width-container" style="padding-top: 5px;">
            <a href="/learn/user-centred-design" class="govuk-back-link">Back</a>
        </div>
        <div class="dfe-width-container" style="padding-top: 20px; padding-bottom: 60px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
        </div>
    </section>

    <section style="background: #ffffff;">
        <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 40px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <ul class="dfe-vertical-nav__section">
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design">What UCD is</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/methods">Methods and tools</a>
                        </li>
                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/case-studies">Case studies</a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-three-quarters">   </div>
            </div>
        </div>
    </section>
    

{% endblock %}