{% extends "layouts/content-full-width.html" %}

{% set pageName = "Understand the user" %}
{% set pageDescription = "Gain in-depth insights into the needs, motivations, and behaviour of our users." %}
{% set selectedNav = "Learn" %}

{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #f8bc5e;">
        <div class="dfe-width-container" style="padding-top: 5px;">
            <a href="/learn/user-centred-design" class="govuk-back-link">Back</a>
        </div>
        <div class="dfe-width-container" style="padding-top: 20px; padding-bottom: 60px;">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>

                </div>

            </div>
        </div>

    </section>

    <section style="background: #ffffff;">

        <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 40px;">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">

                     <a href="/learn/user-centred-design" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">What UCD is</a>

 <h2 class="govuk-heading-m">UCD process</h2>


                    <ul class="dfe-vertical-nav__section">

                        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/understand-the-user">Understand the user</a>
                        </li>

                        <li class="dfe-vertical-nav__section-item">
                            <a class="dfe-vertical-nav__link" href="/learn/user-centred-design/iterate-and-improve">Iterate and improve</a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-l">Techniques</h2>
                    <p>User-centered design starts with a comprehensive understanding of the user, who is at the heart of the process.</p>

                    <h3 class="govuk-heading-m">User research</h3>
                    <p>Conduct interviews, surveys, and observations to gather qualitative and quantitative data about users.</p>

                    <h3 class="govuk-heading-m">Create personas</h3>
                    <p>Create user personas to demonstrate common traits, behaviors, and needs among user groups.</p>

                          <h3 class="govuk-heading-m">Empathy mapping</h3>
                    <p>Build empathy for your users by putting yourself in their shoes to understand their behaviour and experiences.</p>


                    <h3 class="govuk-heading-m">User journey mapping</h3>
                    <p>Map out the steps a user takes to complete a task, identifying the pain points and opportunities for improvement.</p>

                    <h3 class="govuk-heading-m">Understand context</h3>
                    <p>Understand the situation in which the user will be interacting with your service or product. This context could include physical, real-world situations or the technology they use.</p>

                </div>
            </div>
        </div>

    </section>

{% endblock %}