{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Prime contractors" %}
{% set pageDescription = "Information for prime contractors working with the National Careers Service. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "prime contractors"%}
{% set hasChildren = "true"%}
{% set isChildSection = "true"%}


{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>Information for National Careers Service prime contractors will go here.</p>


{% endblock%}