{% extends "layouts/content-with-sidenav-right.html" %}

{% set pageName = "Job specification generator" %}
{% set pageDescription = "Ensure that you're using the most up to date, consistent job descriptions for recruiting design roles." %}
{% set selectedNav = "Tools" %}
{% set isBeta = "true" %}

{% set backlog_issue_id = "" %}

{% block content %}

<h2 class="govuk-heading-l">Who should use this service</h2>

<p>If you are recruiting for any of the following roles in the Department for Education, you should use this service to create consistent and up to date job descriptions.</p>

<p>This ensures that:<p>

<ul></ul>

{% endblock%}