{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Updates to the Design Manual" %}
{% set pageDescription = "A history of changes and updates to the Department for Education Design Manual" %}
{% set selectedNav = "Home" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


<h2 class="govuk-heading-l govuk-!-margin-bottom-2" id="design-manual-refresh">Design Manual refresh</h2>

<span class="govuk-body-s">On 28 April 2023 by Andy Jones, Head of Design</span>
</p>

<p>I'm pleased to say we have released our improved Design Manual for the Department for Education.</p>
<p>Since September 2022, the design community, and DesignOps, have been contributing to a manual which we quickly put
    together using the NHS Design System. </p>
<p>However, this contained lots of code and features that were NHS-based patterns and components. This wasn't in line
    with our mission to ensure that the Department for Education designs and builds user-centred, accessible services
    which meet our user's needs.</p>
<p>As a result, we have rebuilt the manual from the ground up, ensuring it's built on the GOV.UK Design System and
    implements our new <a href="/design-system/dfe-frontend">DfE Frontend</a> library. We have also:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>ensured the manual meets WCAG 2.1 Level AA throughout</li>
    <li>rewritten some sections to ensure plain language is used where possible</li>
    <li>published a <abbr title="Node Package Manager">NPM</abbr> package for DfE Frontend to implement in services</li>
    <li>introduced an "Our work" section for teams to talk about the work they are doing across design</li>
</ul>

<h3 class="govuk-heading-m">Why we have a Design Manual</h3>

<p>We identified that there was a need for people to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>have one place to find information and guidance on design in DfE</li>
    <li>be assured that the guidance they are using is accurate and up to date</li>
    <li>understand that the guidance and standards we publish are the one source of the truth</li>
    <li>find templates, components and patterns which can be easily implemented and reused in their services</li>
</ul>

<p>To find out more, contact the <a href="/design-ops">DesignOps</a> team.</p>

{% endblock %}