{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Our work" %}
{% set pageName = "Digital Education, Health and Care Plan (EHCP)" %}
{% set pageDescription = "The education, health and care plan (EHCP) digital project is a cross-government project. It aims to support local authorities in improving outcomes for children and young people with EHC plans. " %}

{% block hero %}
<section class="dfe-page-header">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/our-work">Our work</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">Project</li>
            </ol>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Published</h2>
                        <p class="govuk-!-margin-bottom-5">8 May 2024</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Author</h2>
                        <p class="govuk-!-margin-bottom-5">Vulnerable Children and Families Team</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="govuk-!-padding-bottom-9">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <img src="/assets/images/ehcp.webp" width="100%" alt=""
                    class="govuk-!-margin-bottom-5 govuk-!-margin-top-1">


                <h2 class="govuk-heading-l">Project overview</h2>


                <p>The Department for Education (DfE) have made a commitment in the <a
                        href="https://www.gov.uk/government/publications/send-and-alternative-provision-improvement-plan"
                        class="govuk-link">SEND and alternative provision improvement plan </a>to support further digitisation of the EHCP processes.</p>
                <p>We carried out a discovery phase in summer 2023 to understand the benefits, barriers and limitations of the EHCP digitisation process.  Following a subsequent alpha phase, we are now moving into our beta phase.  </p>
    
 

<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header ">Phase</th>
        <th scope="col" class="govuk-table__header ">Start</th>
        <th scope="col" class="govuk-table__header ">End</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Discovery</th>
      <td class="govuk-table__cell ">May 2023</td>
      <td class="govuk-table__cell ">June 2023</td>
      
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Alpha</th>
      <td class="govuk-table__cell ">October 2023</td>
      <td class="govuk-table__cell ">February 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Beta</th>
      <td class="govuk-table__cell ">February 2024</td>
      <td class="govuk-table__cell ">March 2025</td>
      </tr>
    </tbody>
  </table>
<h2 class="govuk-heading-l"> Recommendations </h2>
                <p>We are moving forward with the following recommendations during our beta phase.</p>
<h3 class="govuk-heading-l">1) Co-produced guidance </h3>

        <p>The guidance will be co-produced with local authorities (LAs), Integrated Care Board professionals, software suppliers and wider stakeholders in the sector. This is to ensure that children and young people gain the most benefit from digitisation.  </p>

        <h3 class="govuk-heading-l">2) Specification for minimum functionality of systems</h3>

        <p>These are the functions that a digital EHCP system must do as a minimum and will allow LAs to: </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>benchmark their level of digitisation</li>
            <li>identify areas they need to improve </li>
            <li>identify digital systems that meet the minimum functionality</li>
        </ul>.

        <p>It will also help software suppliers understand what they need to provide and allow new suppliers to come to market. </p>
        <p>We will look to mandate these.</p>

        <h3 class="govuk-heading-l">3) EHC record data standard</h3>
        <p>A data standard will support the digital EHC process, including: 
        <p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a data schema (the classification and categorisation of data fields and related hierarchies)</li>
            <li>guidance on how it should be used by suppliers and LAs </li>
        </ul>
        <p>This will ease data sharing across different systems, integration of systems and allow for consistent data reporting and analysis.   
        <p>
        <p>We will look to mandate the data standard.  
        <p>
        <h3 class="govuk-heading-l">4) Secure EHC record transfer mechanism</h3>
        <p>We aim to understand options for a technical mechanism for safely and securely transferring an EHC record and plan from one LA to another.   
        <p>
        <p>The mechanism will reduce the administrative burden for LAs and create smoother experiences for children, young people and families.  </p>
        <p>Once the options are considered, we will add the mechanism options to the minimum specifications and data standard. This will ensure that LAs use a consistent method which is supported by software suppliers.   </p>

        <h3 class="govuk-heading-l">5) LA support community</h3>
        <p>This is long-term engagement with all LAs, enabling them to network with and support one another during their digitisation process. The community will allow us to consistently engage with LAs to develop and test the:     </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>expected digital EHCP system functionality required </li>
            <li>EHC record data standard</li>
            <li>way a secure EHC record transfer mechanism would work in practice </li>
            <li>LA guidance</li>
        </ul>
        <p>This will include using digitised LAs to form an advisory group.</p>

        <h2 class="govuk-heading-l">6) DfE SEND digital supplier channel</h2>
        <p class="govuk-body">We will engage with suppliers and LAs on the minimum functionality and data standard of digital EHCP systems through regular meetings.  
        </p>
        <p class="govuk-body">When we reach business as usual, we will have one communication channel to engage with suppliers, share our plans and receive any feedback.   
        </p>
        <p class="govuk-body">This will be a dedicated public sign-up function for all current suppliers and new ones.  
        </p>

        <h2 class="govuk-heading-l">Playback webinars</h2>

        <p>We held four playback webinars for local authorities, Integrated Care Boards, software suppliers and wider stakeholders to share both our:  </p>
             <ul class="govuk-list govuk-list--bullet">
            <li>alpha findings</li>
            <li>recommendations for our beta phase.</li>
        </ul>

          <p>We explained the case for all SEND services to digitise their EHCP processes to:   </p>
             <ul class="govuk-list govuk-list--bullet">
            <li>deliver better experiences for both families and professionals</li>
            <li>enable them to continuously improve their services</li>
            <li>focus staff time on family engagement rather than managing bureaucracy.</li>
        </ul>

        <p>We are looking at the best way to do this, based on both: </p>
             <ul class="govuk-list govuk-list--bullet">
            <li>on-going user-centred research</li>
            <li>insights from the Change Programme.</li>
        </ul>

          <p>We would like all local authorities to gain the benefits outlined in the SEND and Alternative Provision (AP) Improvement Plan by digitising.  </p>
            <p>The DfE is also working hard to identify and spread best practice of delivering EHCPs to improve both the:  </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>quality of plans</li>
            <li>experience of getting or providing them</li>
        </ul>

        <p>Core principles of our digital EHCP system design and related guidance will include both: </p>
             <ul class="govuk-list govuk-list--bullet">
            <li>embedding transparency</li>
            <li>ensuring it captures the child or young person’s voice and needs. </li>
        </ul>

        <p>A local authority's digital EHCP system should cover the entire EHCP process, including, assessment, drafting, implementing and maintaining a plan.  </p>
 <p>Based on the SEND and AP Improvement Plan timelines, we will continue to communicate project timelines on this page and through our community group. </p>

<p>Dates for the next LA community group sessions: </p>
<ul class="govuk-list govuk-list--bullet">
    <li>9th May: 1.30 - 2.30pm </li>
    <li>11th June: 11 - 12noon </li>
    <li>18th July: 2.30 - 3.30pm</li>
</ul>
 <h2 class="govuk-heading-l">Contact the team</h2>

 <p>To find out more or get involved email: <a
                        href="EHCP.reform@education.gov.uk"
                        class="govuk-link">EHCP.reform@education.gov.uk</a></p>
 </div>

            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-m">Design histories</h2>

                <p><a href="https://design-histories.education.gov.uk/team/children-and-families">Read more in our design histories</a>.</p>



                <h2 class="govuk-heading-m govuk-!-margin-top-9">Other projects</h2>

                    <div class="grid-container">
                        <div class="grid-item grid-item-1">
                            <div class="card">
                                <picture>
                                    <source srcset="/assets/images/app.webp" type="image/webp">
                                    <img src="/assets/images/app.png" alt="">
                                </picture>
                                <div class="content">
                                    <h2 class="govuk-heading-s  govuk-!-font-size-16"><a
                                            href="/our-work/projects/service-assessment-service"
                                            class="card-link">Service assessment service</a></h2>

                                    <p>DesignOps Team</p>

                                </div>
                            </div>
                        </div>

                        <div class="grid-item grid-item-3">
                            <div class="card">
                                <picture>
                                    <source srcset="/assets/images/familyhubs.webp" type="image/webp">
                                    <img src="/assets/images/familyhubs.png" alt="">
                                </picture>
                                <div class="content">
                                    <h2 class="govuk-heading-s govuk-!-font-size-16"><a
                                            href="/our-work/projects/family-hubs"
                                            class="card-link">Family hubs
                                            digital project</a></h2>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
        </div>
    </div>
</section>

</div>
</div>




<style>
    .grid-container {
        display: grid;

        gap: 20px;
        margin-bottom: 40px;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        /* Adjust card width if necessary */
        height: 100%;
        /* Adjust card height to fill the container */
        background-color: #efefef;
        position: relative;

        .content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            font-size: 16px;

            padding: 20px;

            a {
                text-decoration: none;
            }

            p:last-child {
                margin-top: auto;
                margin-bottom: 0px;
                font-size: 16px;
            }
        }
    }



    .card-link:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* This creates an invisible overlay on the .card-link element */
    }



    .card img {
        width: 100%;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            /* Auto-adjust the height based on content */
        }

        .grid-item-1 {
            grid-row: auto;
            /* Reset to default behavior for mobile */
        }
    }
</style>




{% endblock %}
