{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Our work" %}
{% set pageName = "Service assessment service" %}
{% set pageDescription = "The service assessment service is a digital transformation of the end to end assessment
process for services, from guidance, to booking, through to assessment and reporting." %}


{% block hero %}
<section class="dfe-page-header">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/our-work">Our work</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">Project</li>
            </ol>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-6">Assuring services through assessment</h1>
                <p class="govuk-body-l">DfE employees can now work out what type of assurance they need and book their
                    service assessment online. The new service offers clear guidance and a consistent experience for
                    teams wanting to book an assessment or peer review. It also improves the experience for our service
                    assessment team who manage all the bookings, assessors and reports.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Published</h2>
                        <p class="govuk-!-margin-bottom-5">5 March 2024</p>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Author</h2>
                        <p class="govuk-!-margin-bottom-5">DesignOps team</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}


<section class="govuk-!-padding-bottom-9">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <picture>
                    <source srcset="/assets/images/app.webp" type="image/webp">
                    <img src="/assets/images/app.png" alt="" style="width: 100%;">
                </picture>

                <h2 class="govuk-heading-l govuk-!-margin-top-5">Project overview</h2>
                <p>We identified through research that the assessment process and guidance for digital services are
                    inconsistent at all stages. We know this is because guidance around the process is confusing. </p>
                <p class="govuk-body">Examples of why:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>there's no single place to find out about discovery peer reviews </li>
                    <li>guidance lives in multiple places across the intranet and Teams folders</li>
                    <li>guidance is often contradictory or out-to-date</li>
                    <li>unawareness of what assurance is available or whether an assessment is needed</li>
                </ul>
                <p>We also identified ways to improve the efficiency of the service for the internal team who manage it.
                </p>

                <h2 class="govuk-heading-l">Our users are split into 3 groups</h2>
                <p class="govuk-body">Service delivery teams, who:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>explore the problem</li>
                    <li>build a service or product</li>
                    <li>book an assessment or peer review</li>
                    <li>share their work with assessors</li>
                </ul>
                <p class="govuk-body">Service assessors, who:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>review the work the team have done druing an assessment</li>
                    <li>provide advice and support on how the team is performing against the <a
                            href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link">Service
                            Standard</a></li>
                    <li>identify areas for improvement</li>
                </ul>
                <p class="govuk-body">Service assessment team, who:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>book assessments and peer reviews</li>
                    <li>recruit assessors</li>
                    <li>prepare service teams</li>
                    <li>arrange pre-and-post assessment calls</li>
                    <li>share and publish the report</li>
                    <li>report to senior leadership and spend control on assessment results</li>
                </ul>
                <p>We also identified a range of secondary users, which include portfolio leadership, heads of
                    profession, and other government departments.</p>

                <p>Ultimately, by improving how services are assessed, and raising awareness of the <a
                        href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link">Service
                        Standard</a>, we will see an improvement in the quality of the services we develop.</p>

                <h2 class="govuk-heading-l">What we’ve done so far</h2>

                <p>We’re currently in beta phase, building out the service ready to test with the service assessment
                    team, assessors and service teams in April 2024.</p>

                <h3 class="govuk-heading-m">What we did in discovery and alpha</h3>

                <p>We spoke to 68 people in research from all 3 primary user groups. This was to learn about the
                    assessment and peer review experience in DfE.

                    We tested guidance content for teams to find out about and book discovery peer reviews.</p>

                <p class="govuk-body">We considered the role of assessors, to understand:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>their responsibilities at an assessment or peer review</li>
                    <li>how they write and submit the assessment report</li>
                    <li>how they prepare for assessment</li>
                </ul>

                <p class="govuk-body">Our research included time with the service assessment team to look at how they:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>book a service assessment or peer review</li>
                    <li>manage and administer assessments</li>
                </ul>

                <p class="govuk-body">We also spoke to people involved in assessments from across government, including:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>9 government departments other than DfE</li>
                    <li>digital colleagues at <a href="https://www.oneteamgov.uk/" class="govuk-link">OneTeamGov</a>
                        events</li>
                    <li>service and delivery teams at Services Week 2023</li>
                    <li>assessors from across government at panel meet-ups</li>
                    <li>CDDO (Central Digital and Data Office) </li>
                </ul>

                <p>This helped our understanding of shared pain points with assessments across government. We also
                    shared our service assessment service work to understand if it could benefit other departments, too.
                </p>

                <h2 class="govuk-heading-l">Next steps</h2>


                <p>We will continue to build out the service to test with users in our private beta phase. This will
                    include how teams start their assessment journey and find out about what’s involved.</p>

                <p class="govuk-body">This includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>the start of user journeys from DfE intranet pages</li>
                    <li><a href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link">Apply the
                            Service Standard in DfE</a></li>
                    <li>how teams find guidance and book an assessment or peer review</li>
                </ul>


                <h2 class="govuk-heading-l">Get involved</h2>

                <p>If you are interested in contributing to, or using this service in your own organisation, <a
                        href="/design-ops">contact the DesignOps team</a>.</p>
                <p>You can follow the progress of the service through the <a
                        href="https://design-histories.education.gov.uk/service-assessment-plus">service assessment
                        design histories</a>.</p>



            </div>
            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-m">Design histories</h2>

                <p><a href="https://design-histories.education.gov.uk/service-assessment-plus">Read more in our
                        design histories</a>.</p>



                <h2 class="govuk-heading-m govuk-!-margin-top-9">Other projects</h2>

                <div class="grid-container">

                    <div class="grid-item grid-item-3">
                        <div class="card">
                            <picture>
                                <source srcset="/assets/images/familyhubs.webp" type="image/webp">
                                <img src="/assets/images/familyhubs.png" alt="">
                            </picture>
                            <div class="content">
                                <h2 class="govuk-heading-s govuk-!-font-size-16"><a
                                        href="/our-work/projects/family-hubs" class="card-link">Family hubs
                                        digital project</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item grid-item-3">
                        <div class="card">
                            <picture>
                                <source srcset="/assets/images/ehcp.webp" type="image/webp">
                                <img src="/assets/images/ehcp.png" alt="">
                            </picture>
                            <div class="content">
                                <h2 class="govuk-heading-s govuk-!-font-size-16"><a
                                        href="/our-work/projects/education-health-care-plan" class="card-link">Education
                                        health and care plan digital project</a></h2>
                                <p>Vulnerable Children and Families Team</p>
                            </div>
                        </div>
                    </div>

                </div>






            </div>
        </div>
    </div>
</section>




</div>
</div>




<style>
    .grid-container {
        display: grid;

        gap: 20px;
        margin-bottom: 40px;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .card {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        /* Adjust card width if necessary */
        height: 100%;
        /* Adjust card height to fill the container */
        background-color: #efefef;
        position: relative;

        .content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            font-size: 16px;

            padding: 20px;

            a {
                text-decoration: none;
            }

            p:last-child {
                margin-top: auto;
                margin-bottom: 0px;
                font-size: 16px;
            }
        }
    }



    .card-link:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* This creates an invisible overlay on the .card-link element */
    }



    .card img {
        width: 100%;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            /* Auto-adjust the height based on content */
        }

        .grid-item-1 {
            grid-row: auto;
            /* Reset to default behavior for mobile */
        }
    }
</style>




{% endblock %}