{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Writing page titles" %}
{% set pageDescription = "Good page titles help people know where they are in a website." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Content"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "9 May 2024 "%}
{% set backlog_issue_id = "72" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<p>
 The title attribute defines the page title shown in the browser tab. For example:</p>
 
 <p>Your applications – Apply to become an academy – GOV.UK</p>
 
  <img src="/assets/images/browser-title.png" alt="A page called Your applications in a GOV.UK service called Apply to become an academy." class="govuk-!-margin-bottom-5">
      
    <p>When writing page titles, you should:</p>
    <ul>
        <li>make sure they’re similar to the H1, although they can be different if needed</li>
        <li>use the H1 and section names of the product (if applicable) to create a logical, consistent naming structure</li>
        <li>put the name of the product at the end, so it's quicker for users to know what page they are on</li>
        <li>make them unique</li>
    </ul>
    <h2>Making titles unique</h2>
    <p>Titles need to be unique because they tell people what page they're on. If the title is the same, people can think they have read the page before or answered a question before.</p>
    <p>It's particularly important to people who use assistive technology and may have access needs, which make it harder to find where they are. For example, magnification and seeing less of the screen area at once could mean users see only a few words of the title.</p>
    <p>It's about helping users easily identify where they are, and if that’s where they should be. Read <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#make-your-title-unique">writing titles – GOV.UK content design</a> </p>.
    <h2>Writing titles on education.gov.uk domains</h2>
    <p>If your product has an education.gov.uk domain, you don’t need to include GOV.UK at the end of your titles.</p>
    <p>For example, a page called Statistics on complete.education.gov.uk might have one of the below titles, depending on the product’s content hierarchy:</p>
    <ul>
        <li>Statistics – Complete conversions, transfers and changes</li>
        <li>Statistics – All projects - Complete conversions, transfers and changes</li>
    </ul>
   
     <img src="/assets/images/stats-page.png" alt="A page called Statistics in a service called Complete conversions, transfers and changes.">
    
{% endblock %}
