# Writing page titles

The <title> attribute defines the page title shown in the browser tab. For example:   

>Your applications – Apply to become an academy – GOV.UK

![Browser tab title, example.png](/.attachments/Browser%20tab%20title,%20example-3beec0c3-6219-40bc-a4c0-58944141c6d3.png)

When writing page titles, you should: 

- make sure they’re similar to the H1, although they can be different if needed  
- use the H1 and section names of the product (if applicable) to create a logical, consistent naming structure 
- put the name of the product at the end, so it's quicker for users to know what page they are on
- make them unique 

## Making titles unique 

Titles need to be unique because they tell people what page they're on. If the title is the same, people can think they have read the page before or answered a question before. 

It's particularly important to people who use assistive technology and may have access needs, which make it harder to find where they are. For example, magnification and seeing less of the screen area at once could mean users see only a few words of the title.  

It's about helping users easily identify where they are, and if that’s where they should be. 

Read [writing titles – GOV.UK content design](https://www.gov.uk/guidance/content-design/writing-for-gov-uk#make-your-title-unique). 

## education.gov.uk domains 

If your product has an education.gov.uk domain, you don’t need to include GOV.UK at the end of your titles. 

For example, a page called Statistics on complete.education.gov.uk might have one of the below titles, depending on the product’s content hierarchy: 

>Statistics – Complete conversions, transfers and changes 
 
>Statistics – All projects - Complete conversions, transfers and changes 

![Statistics page - Complete conversions, transfers and changes.png](/.attachments/Statistics%20page%20-%20Complete%20conversions,%20transfers%20and%20changes-08e6cc6e-a0bf-45de-9a35-37c5618d17a6.png)
