{% set pageName = "Audits" %}
{% set pageDescription = "Getting an accessibility audit can help independently assure conformance to accessibility standards." %}
{% set selectedNav = "Accessibility" %}
{% set dateUpdated = "January 2023" %}
{% set backlog_issue_id = "21" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block content %}

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive"> Warning </span>
    "Services built using the prototype kit, must not be presented for audits. They are not intended for production quality products or services."
  </strong>
  </div>

  <h2 class="govuk-heading-m">Testing and templates</h2>
  <div class="govuk-inset-text">
As part of the Service Standard, you are required to have an accessibility audit completed before moving to public beta phase.
</div>
  <p>You should have your service audited by a professional accessibility auditor, such as an <a class="govuk-link"  href="https://www.digitalmarketplace.service.gov.uk/buyers/frameworks/digital-outcomes-and-specialists-5/requirements/digital-outcomes" target="_blank">external audit provider</a> or the <a href="mailto:accessibility.support@education.gov.uk">DfE internal accessibility team</a>.</p>
  <p>The audit should satisfy the <a class="govuk-link"  target="_blank" href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/getting-an-accessibility-audit">audit requirements in the GOV.UK Service Manual</a> for device and browser combinations.</p>

  <p>Before you send the service for an auditor to review, you can find common issues by using this <a href="https://gist.github.com/tvararu/8752e3ec5446bfafa9224db958b48e79"  class="govuk-link" target="_blank">Trello template</a>.</p>

  <p>You can also use the <a class="govuk-link"  href="/downloads/wcag-checklist-december-2022.xlsx">spreadsheet to test against the full WCAG guidelines</a> as a checklist.</p>

  <h2 class="govuk-heading-m">Prepare a requirements brief</h2>

  <p>Audit requirements and reporting should be completed in line with <a class="govuk-link"  href="/accessibility/evaluation-methodology">Website Accessibility Conformance Evaluation Methodology (WCAG-EM)</a>.</p>

  <p>You can use the <a  class="govuk-link" href="/accessibility/evaluation-methodology#audit-template">template on the evaluation methodology page</a> to give to auditors outlining the testing requirements. As this is a standard evaulation and reporting approach, they should be familiar with the approach.</p>

  <p>You should also tell potential suppliers:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>where you are in your development cycle</li>
    <li>if you want to attend any of the testing and the dates you could attend</li>
    <li>if any part of your service was built by a third party</li>
  </ul>

{% endblock %}
