{% set canonical = "https://design.education.gov.uk/accessibility/standard/accessibility-statements" %}
{% set pageName = "How to apply the standard for the publication of accessibility statements" %}
{% set pageDescription = "Guidance and mandatory criteria for the publication of a statement of accessibility for websites and mobile applications." %}
{% set selectedNav = "Accessibility" %}
{% set lastUpdated = "17 July 2024" %}


{% extends "layouts/content-full-width.html" %}



{% block content %}

<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

      <ul class="govuk-list govuk-list--spaced govuk-!-margin-top-5">
        <li><a href="/accessibility/standard/accessibility-statements">Standard for the publication of accessibility statements</a></li>
        <li><a class="govuk-!-font-weight-bold" href="/accessibility/standard/accessibility-statements/application">Guidance for application of the standard</a></li>
      </ul>

    </div>
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-l  govuk-!-margin-top-5">Standard</span>
      <h1 class="govuk-heading-xl">{{pageName}}</h1>
      <p class="govuk-body-l">{{pageDescription}}</p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            You will be breaking the law if you falsely declare your service to be fully compliant but have accessibility issues.
        </strong>
    </div>
    
      <div class="dfe-timeline">
        <ol>
            <li>
                <h2 class="govuk-heading-l" id="identify">Identify issues</h2>
                <p>You need to test your product and website and identify any issues.</p>
                <p>You can do this by:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>testing you've carried out</li>
                    <li>getting feedback from users</li>
                    <li>carrying out third-party or internal accessibility audits</li>
                    <li>using automated testing tools</li>
                </ul>
                <p>You should implement good practice for identifying, tracking, and managing accessibility issues in your product or website. For example using GitHub, Azure DevOps or other issue tracking service.</p>
            </li>
            <li>
                <h2 class="govuk-heading-l">Write your accessibility statement</h2>
                <p>Statements contain legally-required wording so it's important you use the correct statement for your website.</p>
                <p>We have created <a href="/accessibility/accessibility-statements">templates to help you write your statement</a>.</p>
                <h3 class="govuk-heading-m">Declare conformance and compliance</h3>
                <p>You must declare the <a href="/accessibility/determine-conformance">level of conformance</a> you have achieved with the WCAG (Web Content Accessibility Guidelines) 2.2.</p>
                <p>We aim to meet Level AA as a minimum. Unless you have a reason to meet level AAA, we do not expect teams in DfE to meet this level.</p>
               
                <h3 class="govuk-heading-m">Detail accessibility issues</h3>
                <p>The statement must include details of all known WCAG criteria failures you have identified.</p>
                <p>You should also detail any <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#when-complying-with-accessibility-regulations-might-be-a-disproportionate-burden">disproportionate burden</a> you are applying for any issues.</p>
                <h3 class="govuk-heading-m">Mitigation and resolution actions</h3>
                <p>You must state clearly what actions you're taking to mitigate or resolve any accessibility issues. Include any expected timelines for resolution.</p>
                <p>This provides users with assurance that their concerns are being actively addressed and that improvements are being made to enhance their user experience.</p>
                <h3 class="govuk-heading-m">Contact information</h3>
                <p>Provide contact information for users to report accessibility issues. This could be an email address or phone number, or a link to an online form.</p>
            </li>
            <li>
                <h2 class="govuk-heading-l">Publish your statement</h2>
                <p>Once you have written your statement, you must make it available to users before they start using your website or app.</p>
                <h3 class="govuk-heading-m">Publishing for a website</h3>
                <p>You must link to the statement from the footer of every page on the website. The link text for the statement must say "Accessibility statement".</p>
                <h3 class="govuk-heading-m">Publishing for an app</h3>
                <p>You must link to the statement from the app store listing description. The link text for the statement must say "Accessibility statement".</p>
            </li>
            <li>
                <h2 class="govuk-heading-l" id="updated">Keep your statement updated</h2>
                <p>It's important to keep your statement up to date. You should review and update it whenever:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>you carry out accessibility testing or have an audit</li>
                    <li>you identify new accessibility issues</li>
                    <li>you resolve existing accessibility issues</li>
                    <li>the legislation or mandatory content changes</li>
                </ul>
            </li>
            <li>
                <h2 class="govuk-heading-l">Review your statement annually</h2>
                <p>The accessibility statement must be reviewed and the last reviewed date updated by 23 September each year. Even if no interim testing or audits happen.</p>
                <p>This regular review process shows ongoing compliance with accessibility standards. It also demonstrates a commitment to maintaining an accessible digital product for all users.</p>
            </li>
        </ol>
    </div>
    
<style>
    .dfe-timeline ol>li>h3::before{
        content: "";
        display: block;
        width: 15px;
        height: 0px;
        border-radius: 0%;
        background-color: #fff;
        border: 2px solid #b1b4b6;
        position: absolute;
        z-index: 2;
        left: -22px;
        margin-top: 12px;

    }

    .dfe-timeline ol>li:before {
       
        top: 7px;
    }
</style>


  </div>

</div>
</div>

<style>
  .custom-standard-meta {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }



  .custom-standard-meta li {
    display: inline;
    margin-right: 1em;
    font-size: 0.85em;
  }

  .custom-standard-meta li span {
    font-weight: bold;
  }
</style>

{% endblock %}