{% extends "layouts/content-full-width.html" %}
{% set pageName = "Learn" %}
{% set pageDescription = "Learn and develop new design skills while gaining a deeper understanding of the design professions in the Department for Education." %}
{% set selectedNav = "Learn" %}
{% set zeroMainMargin = "true"%}
{% block content %}
    <section style="background: #f8bc5e;">
        <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
                <div class="govuk-grid-column-one-third dfe-text-align--centre">
                    <img src="/assets/images/knowledge.png" class="dfemanual-hero-image" style="max-width: 50%;" alt="">
                </div>
            </div>
        </div>
    </section>

    <section style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Coming soon</h2>
                    <p>We'll soon be launching a series of training modules to help people understand and learn more about design.</p>
                 
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">Example modules</h3>
                    <ul class="dfemanual-cta-cards">
                        <li class="card">
                            <h3>Design 101</h3>
                            <p>The basics of user-centred design. including tools and methods for designing good services.</p>
                        </li>
                        <li class="card">
                            <h3>Products vs Services</h3>
                            <p>Understanding the difference between a product and a service.</p>
                        </li>

                        <li class="card">
                            <h3>Working in the open</h3>
                            <p>What it really means to work in the open and to talk about, and share your work.</p>
                        </li>
                        <li class="card">
                            <h3>Service maps and blueprints</h3>
                            <p>Mapping your products and services strategically and how it helps understanding.</p>
                        </li>
                        <li class="card">
                            <h3>Running a good design crit</h3>
                            <p>How to run a crit to get feedback on your work and spot problems.</p>
                        </li>
                        <li class="card">
                            <h3>Inclusive design</h3>
                            <p>Why inclusive design is important, and how to embed it right from the start of a project.</p>
                        </li>
                    </ul>

                   

                </div>

            </div>
        </div>
    </section>

    <section style="background: #c7eedf;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">How many people?</h2>
                    <p  class="govuk-!-margin-bottom-9">Understand how many people who might use your service might have a disability, impairment, and view demographic information about users in the education sector.</p>
                    <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">
                        <a href="/tools/inclusivity-calculator" class="dfe-cta">Use the calculator</a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-third" style=" text-align: center;">
                    <img src="/assets/images/group.png" style="max-width: 60%;" alt="">
                </div>
            </div>
        </div>
    </section>
    <section style="background: #abcae5;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Develop your prototype skills</h2>
                    <p>We're working on a training programme for developing skills with prototyping.</p>
                    <p>From basic skills to more advanced features.</p>
                    <p class="govuk-!-margin-bottom-9">You'll learn how to set your device up, connect with services like GitHub and Heroku, through to integrating API's and databases.</p>
                    <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-0">
                        <a href="/learn/prototyping" class="dfe-cta">Learn more <span class="govuk-visually-hidden">about developing your prototype skills</span></a>
                    </p>
                </div>
                <div class="govuk-grid-column-one-third" style=" text-align: center;">
                    <img src="/assets/images/product.png" style="max-width: 80%;" alt="">
                </div>
            </div>
        </div>
    </section>
{% endblock %}