{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Button" %}
{% set pageDescription = "The National Careers Service button should be used to start a process or navigate the site on a high level. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set childSection = "components" %}
{% set ncs_components_nav = "true"%}
{% set isChildSection = "true"%}
{% set ncs_hide_parent_nav = "true" %}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}
{% block heroExtra %}
<p><strong class="govuk-tag">National Careers Service</strong>
  <strong class="govuk-tag">Component</strong></p>

  {% endblock%}

{% import "../code-frame.html" as sample %}

{% set htmlCode_primary = '<code class="hljs language-html">
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-button ncs-button__primary"</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"govuk-button"</span>&gt;</span>Explore careers<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code>' %}

{% set htmlCode_secondary = '<code class="hljs language-html">
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-button ncs-button__secondary"</span> <span class="hljs-attr">data-module</span>=<span class="hljs-string">"govuk-button"</span>&gt;</span>Explore careers<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code>' %}

  {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-body">
      {{ sample.code('/design-system/ncs-design-system/components/button/example-primary.html', 'primary button example', 'primary-button', htmlCode_primary) }}
<br>
      <h2>When to use this component</h2>
      <p>Use the button component to help users carry out an action like starting an application or saving their information.</p>
      <p>You can use a button to highlight the main action a user likely wants to take.</p>

      <h2>How to use this component</h2>
      <p>You can copy the HTML and paste it where you'd like to display the panel on your page. You should align buttons to the left edge of the page.</p>
      <p>You can then edit the text to show the content you'd like.</p>
    </div>
  </div>
</div>
{% endblock %}