{% extends "./../example-layout.html" %}

{% block pageTitle %}
Adding a note design pattern | RSD component library
{% endblock %}

{% block sample %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="new_note" id="new_note">
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label for="note-body-field" class="govuk-label govuk-label--l">Note</label>
        </h1>
        <div class="govuk-hint" id="note-body-hint">
          Do not include personal or financial information.
        </div>
        <textarea id="note-body-field" class="govuk-textarea" rows="5" aria-describedby="note-body-hint" name="note[body]"></textarea>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
