{% extends "./../example-layout.html" %}

{% block pageTitle %}
Adding notes error message design pattern | RSD component library
{% endblock %}

{% block sample %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#">Enter a note</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form class="new_note" id="new_note">
      <div class="govuk-form-group govuk-form-group--error">
        <h1 class="govuk-label-wrapper">
          <label for="note-body-field" class="govuk-label govuk-label--l">Add a note</label>
        </h1>
        <div class="govuk-hint" id="note-body-hint">
          Do not include personal or financial information.
        </div>
        <p class="govuk-error-message" id="note-body-error"><span class="govuk-visually-hidden">Error: </span>Enter a note</p>
        <textarea id="note-body-field" class="govuk-textarea govuk-textarea--error" rows="5" aria-describedby="note-body-hint" name="note[body]"></textarea>
      </div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
