{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Publishing content on GOV.UK" %}
{% set pageDescription = "You need to work with the digital communications team (DCT) to publish content on the mainstream and departmental areas of GOV.UK." %}
{% set selectedNav = "Content design" %}
{% set lastUpdated = "April 2023 "%}
{% set backlog_issue_id = "" %}


{% block beforeContent %}{% endblock %}

{% block content %}

<p>The Digital Communication Team (DCT) create, publish and manage DfE's content on GOV.UK</p> 


<p>GOV.UK is one of DfE’s biggest communication channels. DCT is made up of GOV.UK content designers who specialise in writing for this channel, making sure that we follow best practice at a departmental level.<p> 

 

    <h2 class="govuk-heading-m" id="start-with-govuk-design-system">Designing content for GOV.UK</h2> 

    <p>Before you start to draft content for GOV.UK, have a chat with a GOV.UK content designers about:</p> 

    <ul class="govuk-list govuk-list--bullet">
<li>the problem you’re trying to solve</li> 
<li>your user needs</li> 
<li>any user research or insight you have</li> 
<li>what’s been done before</li> 
</ul>

    <p>You should do this when you’re:</p> 

    <ul class="govuk-list govuk-list--bullet"> 
        <li>working on content that's planned to go on GOV.UK</li> 
        <li>if you’re not sure whether content should be on GOV.UK or qualifies to be built as an information service</li> 
        <li>planning changes to user journeys that start on GOV.UK or depend on related content published on GOV.UK</li> 
        </ul>

<p> By working collaboratively with a GOV.UK content designer you’ll be able to get a better understanding of what is possible on GOV.UK before prototyping or testing content. Remember, your content has to work with all of the other content on GOV.UK, not just the service it’s associated with.<p> 
<p>You can reach out to a GOV.UK content designed by <a href="https://dfe.service-now.com/serviceportal?id=sc_category&sys_id=611828a6db6c2f403b929334ca9619f6" target="_blank">raising a ticket (opens intranet page in new tab)</a>.<p>  
<p>You can find out more about working with DCT colleaguses on the <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">DCT intranet page (opens intranet page in new tab)</a>.</p> 
<p>Please note some of the links on this page go to the DfE intranet. If you don't have access to the intranet, ask a colleague with access to get the information for you.</p> 

    <h2 class="govuk-heading-m" id="start-with-govuk-design-system">DCT content check (2i review)</h2> 

    <p>Before it's published, all GOV.UK content needs to be checked by a DCT content designer to make sure it's accessible and follows the GOV.UK style guide.</p> 

    <p>A 2i is a where a DCT content designer reviews the final content ahead of publication in-line with the <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/reviewing-and-approving-content" target="_blank"> GOV.UK 2i checklist (opens in new tab)</a> prior to publishing.</p> 

    <p>A 2i is different to a peer review. Peer reviews can be done at any stage of the drafting process and should be done regularly whilst developing your designs. Content which will be published on GOV.UK should be peer reviewed by a content designer from DCT.</p> 

    <h2 class="govuk-heading-m" id="start-with-govuk-design-system">Get the right clearances</h2> 

    <p>DfE has strict clearance requirements for all content published on GOV.UK.</p> 

    <p>This usually involves clearance from a deputy director (DD) and from strategic communications at DfE.</p> 

    <p>You may need to agree a publication date for certain content. This is to ensure the strategic communications planning team know when the content will be published. It's important to let the planning team know if it relates to a high priority policy area, as this may require a no 10 grid slot. They can advise. </p> 

    <p>Find out more about <a href="https://educationgovuk.sharepoint.com/sites/communications/SitePages/publish-gov-uk.aspx#get-clearance-to-publish-content" target="_blank">DfE clearance processes for GOV.UK content (opens intranet page in new tab)</a>. If you do not have access to the DfE intranet, ask a colleague with access to get the information for you.</p> 

    <p>DCT will publish the content to GOV.UK after 2i checks have been completed and clearances have been confirmed.</p> 

    <p>Contact DCT by filling out a <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/communications-publish-gov-uk.aspx" target="_blank">request form (opens intranet page in new tab)</a>.</p> 
  

    <h2 class="govuk-heading-m" id="start-with-govuk-design-system">Get an induction from DCT if you're using Whitehall</h2> 

    <p>Get an induction from DCT if you've been given a Whitehall publisher account to work on GOV.UK content.</p> 

    <p>This will give you an overview of DfE processes for GOV.UK content, including 2i checks and clearances. It also means that content will go through 3 people to check it.</p> 
{% endblock %}