{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "National Careers Service design system" %}
{% set pageDescription = "Designing and building National Careers Service products. " %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "ncs-design-system"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "June 2023 "%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block content %}


   
<p>You should use the National Careers Service design system to help you design and create pages on the National Careers Service website. They can not be used on any other websites or products.</p>
<p>This will help ensure we design a consistent service for users accessing the National Careers Service.</p>
<h2>GOV.UK and DfE design systems</h2>
<p>If a component does not exist in the National Careers Service design system, you should check the <a href="https://design-system.service.gov.uk/get-started/">GOV.UK design system</a> and the main <a href="https://design.education.gov.uk/design-system/">DfE design manual</a>.</p>

{% endblock%}