{% extends "layouts/our-work-home-layout.html" %}

{% set pageName = "Our work" %}
{% set pageDescription = "Read about some of the work we're doing in the Department for Education from the teams delivering the work." %}
{% set selectedNav = "Our work" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = ""%}
{% set backlog_issue_id = "" %}

{% block beforeContent %}{% endblock %}

{% block featured %}

    <section>
        <div class="dfe-o-banner dfe-o-banner--blog govuk-!-margin-top-2">

            <div class="dfe-o-banner__content-container dfe-light-blue-tint">
                <div class="dfe-o-banner__inner-content-container">

                    <h2 class="govuk-heading-l"><a class="govuk-link" href="">How we're working to improve the service assurance process</a></h2>
                    <p>Working across department boundaries to create an assurance process that is robust and suitable.</p>
                    <p>Andy Jones<br/>Head of Design</p>
                    
                </div>
            </div>

            <div class="dfe-o-banner__image-container">
                <figure class="dfe-a-image dfe-a-image--cover">
                    <picture class="dfe-a-image__picture">
                        <source srcset="/assets/images/assessment-blog.webp" type="image/webp">
                        <img src="/assets/images/assessment-blog.png" alt="">
                    </picture>
                </figure>

            </div>
        </div>
    </section>

{% endblock %}

{% block content %}

  <section class="govuk-!-margin-top-9">

        <div class="dfe-grid-container dfe-grid-container--wider">

                 <div class="dfe-card dfe-card--blog-card">
            <picture>
              <source srcset="/assets/images/imgacc.webp" type="image/webp">
              <img src="/assets/images/imgacc.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">A post title about something</a>
              </h2>
              <p class="govuk-body-s">Author's name<br/>Role</p>
            </div>
          </div>

           <div class="dfe-card dfe-card--blog-card">
            <picture>
              <source srcset="/assets/images/imgacc.webp" type="image/webp">
              <img src="/assets/images/imgacc.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">A post title about something</a>
              </h2>
              <p class="govuk-body-s">Author's name<br/>Role</p>
            </div>
          </div>

                  <div class="dfe-card dfe-card--blog-card">
            <picture>
              <source srcset="/assets/images/imgacc.webp" type="image/webp">
              <img src="/assets/images/imgacc.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">A post title about something</a>
              </h2>
              <p class="govuk-body-s">Author's name<br/>Role</p>
            </div>
          </div>


  </section>

{% endblock %}

{% block sidebar %}

    {% endblock%}