
{% extends "layouts/page.html" %}
{% set canonical = "https://design.education.gov.uk/our-work"%}

{% set pageName = "Our work" %}
{% set pageDescription = "Find out about some of the work we do in the Department for Education through our project
updates and design histories." %}
{% set selectedNav = "Our work" %}
{% set lastUpdated = "February 2024" %}
{% set backlog_issue_id = "" %}

{% block hero %}
<section class="dfe-page-hero">
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section>

    <div class="dfe-width-container">

        <h2 class="govuk-heading-l">Current projects</h2>

        <div class="dfe-grid-container govuk-!-margin-top-5">
             <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/app.jpeg" type="image/webp">
                    <img src="/assets/images/app.jpeg" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h2 class="govuk-heading-m">
                        <a href="/our-work/projects/service-assessment-service"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Book, manage and
                            assess a
                            service</a>
                    </h2>
                    <p>Find out how we're transforming service assessments in the department, with a view to working
                        across
                        government for better outcomes for our teams and users of our services.
                    </p>
                    <p class="govuk-body-s">DesignOps Team</p>
                </div>
            </div> 
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/familyhubs.webp" type="image/webp">
                    <img src="/assets/images/familyhubs.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/our-work/projects/family-hubs"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Family hubs digital
                            project</a>
                    </h3>
                    <p>A cross-government project to improve outcomes for vulnerable and disadvantaged children, young
                        people, and families.
                    </p>
                    <p class="govuk-body-s">Vulnerable Children and Families Team</p>
                </div>
            </div>
            <div class="dfe-card">
                <picture>
                    <source srcset="/assets/images/ehcp.webp" type="image/webp">
                    <img src="/assets/images/ehcp.png" alt="">
                </picture>
                <div class="dfe-card-container">
                    <h3 class="govuk-heading-m">
                        <a href="/our-work/projects/education-health-care-plan"
                            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Education health and
                            care
                            plan digital project</a>
                    </h3>
                    <p>The Education, Health and Care Plan (EHCP) digital project aims to support local authorities to
                        improve outcomes for children and young people with EHC plans.
                    </p>
                    <p class="govuk-body-s">Vulnerable Children and Families Team</p>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="govuk-!-margin-top-9">

    <div class="dfe-width-container">
        <div class="govuk-grid-row">


            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">From our design histories</h2>


                {% for post in posts.data %}

                <p class=" govuk-!-margin-bottom-2">
                    <a href="https://design-histories.education.gov.uk/{{post.attributes.service.data.attributes.Slug}}/{{post.attributes.Slug}}"
                        target="_blank"
                        class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-m">{{post.attributes.Title}}</a>
                </p>

                <p class="govuk-body govuk-body-s">For {{post.attributes.service.data.attributes.Title}} on
                    {{post.attributes.Publication_date | date('D MMMM YYYY')}}</p>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                {% endfor %}

                <p><a href="https://design-histories.education.gov.uk" target="_blank" class="govuk-link">Read more
                        posts on the design
                        history service</a></p>



            </div>

            <div class="govuk-grid-column-one-third">

                <h3 class="govuk-heading-m">From the DfE Digital, Data and Technology blog</h3>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://dfedigital.blog.gov.uk/2024/05/01/making-the-service-assessment-process-easier-and-more-consistent/"
                            target="_blank">Making the service assessment process easier and more consistent</a>
                    </li>
                    <li>
                        <a href="https://dfedigital.blog.gov.uk/2024/04/24/forming-good-habits-early-in-figma/"
                            target="_blank">Forming good habits early in Figma </a>
                    </li>
                    <li>
                        <a href="https://dfedigital.blog.gov.uk/2024/03/21/better-together-co-designing-with-local-authorities/"
                            target="_blank">Better Together: Co-Designing with Local Authorities</a>
                    </li>
                    <li>
                        <a href="https://dfedigital.blog.gov.uk/2023/12/20/desk-research-in-discovery/"
                            target="_blank">Desk Research in
                            Discovery</a>
                    </li>
                    <li>
                        <a href="https://dfedigital.blog.gov.uk/2023/11/22/working-collaboratively-across-professions/"
                            target="_blank">Working
                            Collaboratively Across Professions</a>
                    </li>
                </ul>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p><a href="https://dfedigital.blog.gov.uk/" target="_blank">Read more on the DfE blog on GOV.UK</a>.
                </p>

            </div>

        </div>
    </div>

</section>

<style>
    .grid-container {
        display: grid;
        grid-template-rows: repeat(2, calc(50% - 10px));
        grid-template-columns: calc(50% - 25px) calc(25% - 5px) calc(25% - 10px);
        gap: 20px;
        margin-bottom: 40px;
    }

    .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-item-1 {
        grid-row: 1 / span 2;
        /* This makes the first item span two rows */
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        width: 100%;
        /* Adjust card width if necessary */
        height: 100%;
        /* Adjust card height to fill the container */
        background-color: #efefef;
        position: relative;

        .content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;

            padding: 15px 20px 30px 20px;

            a {
                text-decoration: none;
            }

            p:last-child {
                margin-top: auto;
                margin-bottom: 0px;
                font-size: 16px;
            }
        }
    }



    .card-link:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* This creates an invisible overlay on the .card-link element */
    }



    .card img {
        width: 100%;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 100%;
            grid-template-rows: auto;
            /* Auto-adjust the height based on content */
        }

        .grid-item-1 {
            grid-row: auto;
            /* Reset to default behavior for mobile */
        }
    }
</style>

{% endblock %}