{% extends "layouts/work-post-layout.html" %}

{% set pageName = "Our work" %}
{% set pageDescription = "Read about some of the work we're doing in the Department for Education from the teams delivering the work." %}
{% set selectedNav = "Our work" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = ""%}
{% set backlog_issue_id = "" %}
{% set author = "Andy Jones" %}
{% set authorRole = "Head of Design" %}
{% set publishedDate = "28 April 2023" %}


{% block beforeContent %}{% endblock %}


{% block content %}
ddewfewf
{% endblock %}


{% block sidebar %}
ddwef
{% endblock%}