<pre><code>&lt;header class=&quot;dfe-header&quot; role=&quot;banner&quot;&gt;
   &lt;div class=&quot;dfe-width-container dfe-header__container&quot;&gt;
      &lt;div class=&quot;dfe-header__logo&quot;&gt;
         &lt;a class=&quot;dfe-header__link&quot; href=&quot;https://gov.uk&quot; aria-label=&quot;DfE homepage&quot;&gt;
         &lt;img src=&quot;/assets/images/dfe-logo.png&quot; class=&quot;dfe-logo&quot; alt=&quot;Department for Education&quot;&gt;
         &lt;img src=&quot;/assets/images/dfe-logo-alt.png&quot; class=&quot;dfe-logo-hover&quot; alt=&quot;Department for Education&quot;&gt;
         &lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;dfe-header__content&quot; id=&quot;content-header&quot;&gt;
         &lt;ul class=&quot;dfe-header__action-links&quot;&gt;
            &lt;li&gt;
               &lt;a href=&quot;/&quot; class=&quot;govuk-link govuk-link--inverse&quot;&gt;My account&lt;/a&gt;
            &lt;/li&gt;
            &lt;li&gt;
               &lt;a href=&quot;/&quot; class=&quot;govuk-link govuk-link--inverse&quot;&gt;Sign out&lt;/a&gt;
            &lt;/li&gt;
         &lt;/ul&gt;
         &lt;div class=&quot;dfe-header__menu&quot;&gt;
            &lt;button class=&quot;dfe-header__menu-toggle&quot; id=&quot;toggle-menu&quot; aria-controls=&quot;header-navigation&quot; aria-expanded=&quot;false&quot;&gt;Menu&lt;/button&gt;
            &lt;div id=&quot;extwaiokist&quot; style=&quot;display:none&quot; v=&quot;bmmch&quot; q=&quot;f0ae2e3d&quot; c=&quot;594.5&quot; i=&quot;601&quot; u=&quot;1.083&quot; s=&quot;04272401&quot; sg=&quot;svr_09102316-ga_04272401-bai_04252415&quot; d=&quot;1&quot; w=&quot;false&quot; e=&quot;}&quot; a=&quot;2&quot; m=&quot;BMe=&quot; vn=&quot;9colr&quot;&gt;
               &lt;div id=&quot;extwaigglbit&quot; style=&quot;display:none&quot; v=&quot;bmmch&quot; q=&quot;f0ae2e3d&quot; c=&quot;594.5&quot; i=&quot;601&quot; u=&quot;1.083&quot; s=&quot;04272401&quot; sg=&quot;svr_09102316-ga_04272401-bai_04252415&quot; d=&quot;1&quot; w=&quot;false&quot; e=&quot;}&quot; a=&quot;2&quot; m=&quot;BMe=&quot;&gt;&lt;/div&gt;
            &lt;/div&gt;
         &lt;/div&gt;
         &lt;div class=&quot;dfe-header__search&quot;&gt;
            &lt;button class=&quot;dfe-header__search-toggle&quot; id=&quot;toggle-search&quot; aria-controls=&quot;search&quot; aria-label=&quot;Open search&quot;&gt;
               &lt;svg class=&quot;dfe-icon dfe-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                  &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
               &lt;/svg&gt;
               &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Search&lt;/span&gt;
            &lt;/button&gt;
            &lt;div class=&quot;dfe-header__search-wrap&quot; id=&quot;wrap-search&quot;&gt;
               &lt;form class=&quot;dfe-header__search-form&quot; id=&quot;search&quot; action=&quot;/search/&quot; method=&quot;get&quot; role=&quot;search&quot;&gt;
                  &lt;label class=&quot;govuk-visually-hidden&quot; for=&quot;search-field&quot;&gt;Search this website&lt;/label&gt;
                  &lt;input class=&quot;dfe-search__input&quot; id=&quot;search-field&quot; name=&quot;q&quot; type=&quot;search&quot; placeholder=&quot;Search&quot; autocomplete=&quot;off&quot; spellcheck=&quot;false&quot; data-ms-editor=&quot;true&quot;&gt;
                  &lt;button class=&quot;dfe-search__submit&quot; type=&quot;submit&quot;&gt;
                     &lt;svg class=&quot;dfe-icon dfe-icon__search&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                        &lt;path d=&quot;M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z&quot;&gt;&lt;/path&gt;
                     &lt;/svg&gt;
                     &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Search&lt;/span&gt;
                  &lt;/button&gt;
                  &lt;button class=&quot;dfe-search__close&quot; id=&quot;close-search&quot;&gt;
                     &lt;svg class=&quot;dfe-icon dfe-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                        &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
                     &lt;/svg&gt;
                     &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Close search&lt;/span&gt;
                  &lt;/button&gt;
               &lt;/form&gt;
            &lt;/div&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&quot;dfe-width-container dfe-header__service-name&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;dfe-header__link--service&quot;&gt;Service name&lt;/a&gt;
   &lt;/div&gt;
   &lt;nav class=&quot;dfe-header__navigation&quot; id=&quot;header-navigation&quot; role=&quot;navigation&quot; aria-label=&quot;Primary navigation&quot; aria-labelledby=&quot;label-navigation&quot;&gt;
      &lt;div class=&quot;dfe-width-container&quot;&gt;
         &lt;p class=&quot;dfe-header__navigation-title&quot;&gt;
            &lt;span id=&quot;label-navigation&quot;&gt;Menu&lt;/span&gt;
            &lt;button class=&quot;dfe-header__navigation-close&quot; id=&quot;close-menu&quot;&gt;
               &lt;svg class=&quot;dfe-icon dfe-icon__close&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; width=&quot;27&quot; height=&quot;27&quot;&gt;
                  &lt;path d=&quot;M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z&quot;&gt;&lt;/path&gt;
               &lt;/svg&gt;
               &lt;span class=&quot;govuk-visually-hidden&quot;&gt;Close menu&lt;/span&gt;
            &lt;/button&gt;
         &lt;/p&gt;
         &lt;ul class=&quot;dfe-header__navigation-list&quot;&gt;
            &lt;li class=&quot;dfe-header__navigation-item &quot;&gt;
               &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                  Home
                  &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                     &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                  &lt;/svg&gt;
               &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;dfe-header__navigation-item &quot;&gt;
               &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                  About
                  &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                     &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                  &lt;/svg&gt;
               &lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;dfe-header__navigation-item &quot;&gt;
               &lt;a class=&quot;dfe-header__navigation-link&quot; href=&quot;#&quot;&gt;
                  News
                  &lt;svg class=&quot;dfe-icon dfe-icon__chevron-right&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 24 24&quot; aria-hidden=&quot;true&quot; width=&quot;34&quot; height=&quot;34&quot;&gt;
                     &lt;path d=&quot;M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z&quot;&gt;&lt;/path&gt;
                  &lt;/svg&gt;
               &lt;/a&gt;
            &lt;/li&gt;
         &lt;/ul&gt;
      &lt;/div&gt;
   &lt;/nav&gt;
&lt;/header&gt;</pre></code>