<pre><code>&lt;header class=&quot;dfe-header&quot; role=&quot;banner&quot;&gt;
   &lt;div class=&quot;dfe-width-container dfe-header__container&quot;&gt;
      &lt;div class=&quot;dfe-header__logo&quot;&gt;
         &lt;a class=&quot;dfe-header__link&quot; href=&quot;https://gov.uk&quot; aria-label=&quot;DfE homepage&quot;&gt;
         &lt;img src=&quot;/public/images/dfe-logo.png&quot; class=&quot;dfe-logo&quot; alt=&quot;Department for Education&quot;&gt;
         &lt;img src=&quot;/public/images/dfe-logo-alt.png&quot; class=&quot;dfe-logo-hover&quot; alt=&quot;Department for Education&quot;&gt;
         &lt;/a&gt;
      &lt;/div&gt;
      &lt;div class=&quot;dfe-header__content&quot; id=&quot;content-header&quot;&gt;
      &lt;/div&gt;
   &lt;/div&gt;
   &lt;div class=&quot;dfe-width-container dfe-header__service-name&quot;&gt;
      &lt;a href=&quot;/&quot; class=&quot;dfe-header__link--service&quot;&gt;Service name&lt;/a&gt;
   &lt;/div&gt;
&lt;/header&gt;</pre></code>