{% extends "layouts/content-full-width.html" %}

{% set pageName = "Header" %}
{% set pageDescription = "Use the DfE header for services hosted on education.gov.uk" %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "" %}
{% set backlog_issue_id = "6" %}


{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system">Design system</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system/components">Components</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Header
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/components/header">Guidance</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/components/header/variants">Variants</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page"
                href="/design-system/components/header/properties">Properties</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Properties</h2>

      <p>Details of the properties that you can configure when using the nunjucks version of this component.</p>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Parameter Name</th>
            <th class="govuk-table__header">Type</th>
            <th class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">showNav</td>
            <td class="govuk-table__cell">Boolean</td>
            <td class="govuk-table__cell">Controls whether the navigation menu is displayed.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">showSearch</td>
            <td class="govuk-table__cell">Boolean</td>
            <td class="govuk-table__cell">Controls whether the search functionality is displayed.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">showUserName</td>
            <td class="govuk-table__cell">Boolean</td>
            <td class="govuk-table__cell">Controls whether the username or user-related information is displayed.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">showHeaderActionLinks</td>
            <td class="govuk-table__cell">Boolean</td>
            <td class="govuk-table__cell">Controls whether the header action links are displayed.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">logoPath</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Specifies the path to the logo images used in the header.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">logoAltText</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Provides the alternative text for the logo images.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">classes</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Additional CSS classes that might be added to the header element.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">attributes</td>
            <td class="govuk-table__cell">Object</td>
            <td class="govuk-table__cell">Additional HTML attributes for the header element, handled in a loop for each
              attribute-value pair.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">homeHref</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Specifies the href for the homepage link associated with the logo.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ariaLabel</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Accessibility label for the logo link, providing a text alternative for screen
              readers if not set, defaults to "DfE homepage".</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">headerActionLinks</td>
            <td class="govuk-table__cell">Array</td>
            <td class="govuk-table__cell">An array of objects where each object contains `url` and `label` for action
              links in the header.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">searchAction</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Specifies the URL for the POST action on the search form.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">searchInputName</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">Specifies the name attribute for the search input, defaulting to
              "search-field" if not provided.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">service</td>
            <td class="govuk-table__cell">Object</td>
            <td class="govuk-table__cell">An object containing `serviceUrl` and the `name` of the service.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">primaryLinks</td>
            <td class="govuk-table__cell">Array</td>
            <td class="govuk-table__cell">An array of objects for primary navigation links, where each object contains
              `url` and `label`.</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">selectedNav</td>
            <td class="govuk-table__cell">String</td>
            <td class="govuk-table__cell">A parameter used to mark the current navigation item as active. You can pass it an object set in a view, for example: {% set view = 'Home' %}</td>

          </tr>
        </tbody>
      </table>




    </div>
  </div>
</div>
{% endblock %}