{% extends "layouts/content-full-width.html" %}

{% set pageName = "Header" %}
{% set pageDescription = "Use the DfE header for services hosted on education.gov.uk" %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set lastUpdated = "" %}
{% set backlog_issue_id = "6" %}


{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system">Design system</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Styles
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"href="/design-system/components/header">Guidance</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/components/header/variants">Variants</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link"  aria-current="page" href="/design-system/components/header/properties">Properties</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Properties</h2>

      <p>Details of the properties that you can configure when using the nunjucks version of this component.</p>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Required</th>
            <th scope="col" class="govuk-table__header">Description</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>showNav</strong>
            </td>
            <td class="govuk-table__cell">boolean</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Set to "true" to show the navigation links in the header.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>showSearch</strong>
            </td>
            <td class="govuk-table__cell">boolean</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Set to "true" to show the site search input form.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>showHeaderActionLinks</strong>
            </td>
            <td class="govuk-table__cell">boolean</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Set to "true" to show list if items in the top right of page.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>homeHref</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The href of the link for the logo and mobile home link in the navigation
              links. Defaults to "/".</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>ariaLabel</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Aria label for the logo href. Defaults to "DfE homepage".</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>logoPath</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Set this to the local path for images. In version 13 of the prototype kit,
              set this is 'public/images'.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>selectedNav</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Pass in a value from the view which matches the
              <code>primaryLinks.label</code> and it will add the class
              <code>dfe-header__navigation-item--current</code> to the corresponding nav item.
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>headerActionLinks</strong>
            </td>
            <td class="govuk-table__cell">array</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Array of links for use in the header on the top right.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>headerActionLinks[].url</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The href of a navigation item in the header. If blank, it will just display
              the label</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>headerActionLinks[].label</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The label of the item in the header.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>primaryLinks</strong>
            </td>
            <td class="govuk-table__cell">array</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Array of navigation links for use in the header.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>primaryLinks[].url</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The href of a navigation item in the header.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>primaryLinks[].label</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The label of a navigation item in the header.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>service</strong>
            </td>
            <td class="govuk-table__cell">object</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Object containing the *name* of the service.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>attributes</strong>
            </td>
            <td class="govuk-table__cell">object</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Any extra HTML attributes (for example data attributes) to add to the header
              container.</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>searchAction</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The search action endpoint. Defaults to "/search".</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <strong>searchInputName</strong>
            </td>
            <td class="govuk-table__cell">string</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">The name for the search field. Defaults to "searchterm".</td>
          </tr>
        </tbody>
      </table>


    

    </div>
  </div>
</div>
{% endblock %}