<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/design-system" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to design system</a>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'Rebrand' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/govuk-rebrand">Rebrand overview</a>
        </li>
          <li class="dfe-vertical-nav__section-item {% if sidenav === 'Header' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/govuk-rebrand/dfe-header-rebrand">DfE Header (Rebrand)</a>
        </li>
    </ul>
</nav>