{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Contribute" %}
{% set pageDescription = "Guidance for proposing a new pattern or component to the DfE Design System." %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = "25 July 2023 "%}
{% set backlog_issue_id = "14" %}

{# Add changes with newest at the top #}
{% set changeLog = [
 {
    change: 'Fixed styles for links so hover and active states are correct. </a>',
    changeDate: '25 July 2023'
  },
  {
    change: 'Fixed typo on page See <a href="https://github.com/DFE-Digital/design/issues/14" target="_blank">GitHub issue #14</a>',
    changeDate: '25 July 2023'
  }
]
%}

{% block beforeContent %}{% endblock %}

{% block content %}

  <h2 class="govuk-heading-m">Proposing a component or pattern</h2>
  <p>The contents of the DfE Design System must be of a high quality and meet user needs. To guarantee this, all components and patterns need to meet certain criteria.</p>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">New proposals criteria</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Criteria</th>
        <th scope="col" class="govuk-table__header">Description</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Useful</th>
        <td class="govuk-table__cell">
          <p>You can demonstrate that this component or pattern would be useful for other DfE teams or services.</p>
          <p>The need for the pattern or component has been validated through user research.</p>
          <p>Evidence could be screenshot or links to versions of it being used in different services.</p>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Unique</a>
        </th>
        <td class="govuk-table__cell">It does not replicate something already in the GOV.UK or DfE Design System.</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Users</a>
      </th>
      <td class="govuk-table__cell">There are other user groups completing similar tasks who would benefit from this component or pattern.</td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">Add a ticket</h2>
<p>If your idea is not on the <a href = "https://github.com/orgs/DFE-Digital/projects/22/views/13" class="govuk-link" rel="noopener noreferrer" >DfE Design system backlog</a>, and meets the criteria above, add a ticket. You can add to either the <a href ="https://github.com/orgs/DFE-Digital/projects/22/views/13" class="govuk-link" rel="noopener noreferrer" >Github backlog</a> or <a href="https://trello.com/invite/b/spu5Mg7D/ATTIc87c4be1790962d265422d24ee366598BD7012BD/submit-a-pattern-or-component" class="govuk-link" rel="noopener noreferrer" >the components and patterns Trello</a>. If you submit a component or pattern to Trello, it will automatically appear on the Github backlog. </p>

<h2 class="govuk-heading-m">What to include</h2>
<p>At this stage, you just need to present your idea and evidence of the user needs. You can include screenshots or links to versions of the component or pattern in use, but avoid spending time working on a specific design or writing code.</p>

<h2 class="govuk-heading-m">What happens next</h2>
<p>The Components and patterns working group will discuss your proposal. If they think it is something that should be added to DfE design system, they will publish it. </p>

<h2 class="govuk-heading-m">More information</h2>
<p>If you’ve got a question about the DfE Design System, <a href="/design-ops/contact" class="govuk-link" >contact the Design Ops team</a>.</p>

{% endblock%}