{% set pageName = "Design maturity" %}
{% set pageDescription = "How we measure how well we are performing as a design-led organisation." %}
{% set selectedNav = "Design Ops" %}
{% set lastUpdated = "April 2023" %}
{% set backlog_issue_id = "" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}
    <p>We measure our maturity against the <a href="https://www.nngroup.com/articles/ux-maturity-model/" target="_blank" rel="noopener noreferrer">Nielsen Normal Group - User Experience (UX) Maturity Model</a>. We run the survey every 6 months in March and September.</p>

    <p>The 6 maturity levels are:</p>

 <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__header">
      <th scope="col">Level</th>
      <th scope="col">Maturity</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">Absent</td>
      <td class="govuk-table__cell">UX is ignored or nonexistent.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">Limited</td>
      <td class="govuk-table__cell">UX work is rare, done haphazardly, and lacking importance.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">3</td>
      <td class="govuk-table__cell">Emergent</td>
      <td class="govuk-table__cell">The UX work is functional and promising but done inconsistently and inefficiently.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">4</td>
      <td class="govuk-table__cell">Structured</td>
      <td class="govuk-table__cell">The organization has semisystematic UX-related methodology that is widespread, but with varying degrees of effectiveness and efficiency.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">Integrated</td>
      <td class="govuk-table__cell">UX work is comprehensive, effective, and pervasive.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">6</td>
      <td class="govuk-table__cell">User-driven</td>
      <td class="govuk-table__cell">Dedication to UX at all levels leads to deep insights and exceptional user-centered–design outcomes.</td>
    </tr>
  </tbody>
</table>

    <p>We ran the first maturity survey in September 2022. This gave us a baseline measure and to identify any areas we need to focus on immediately.</p>

    <p>You can view more details of the results by clicking on a month.</p>

    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Summary results</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Survey period</th>
                <th scope="col" class="govuk-table__header">Maturity score</th>
                <th scope="col" class="govuk-table__header">Responses</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a href="/design-ops/design-maturity/september-2022">September 2022</a></th>
                <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">3</strong>
                </td>
                <td class="govuk-table__cell">41</td>
            </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">March 2023 (breakdown coming soon)</th>
                <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">3</strong>
                </td>
                <td class="govuk-table__cell">57</td>
            </tr>
        </tbody>
    </table>

{% endblock %}