
{% extends "./../layout.html" %}
{% import "./../code-frame.html" as sample %}

{% block pageTitle %}
  Progress bar component | NCS component library
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	        text: "Home",
	        href: "/"
	    },
        {
            text: "Components",
            href: "/components"
        }
	  ]
	}) }}
{% endblock %}

{% set htmlCode = '<code class="hljs language-html">
  <!--opening tag-->
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ncs-progress"</span>&gt;</span>
  <!----> 
    <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ncs-progress__count govuk-body"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">strong</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-!-font-size-36"</span>&gt;</span>
        10% <span class="hljs-tag">&lt;<span class="hljs-name">strong</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"govuk-visually-hidden"</span>&gt;</span>Complete<span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">strong</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ncs-progress__bar"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ncs-progress__10"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <!--closeing tag-->
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <!----> 
</code>' %}

{% block twoThirdGridContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Components</span>
        Progress bar
    </h1>
    <p>The progress bar is a visual status representation of how a user is progressing in the DYSAC asscessment.</p>
    <p>It helps set expectations, provides instant feedback and reduces user friction.</p>

    {{ sample.code('/components/progress-bar/example.html', 'Progress bar example', 'progress-bar', htmlCode) }}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-body">
      <h2 class="govuk-heading-m">When to use</h2>
      <p>Use the progress bar component to show the progress when user is through a series such as the DYSAC assessment</p>

      <h2 class="govuk-heading-m">How to use</h2>
      <p>Copy the HTML code and paste it where you want the highlight box to be displayed within your page.</p>
      <p>Add the css or scss style to your stylesheet</p>
      <p>Edit the text to suit your need</p>
    </div>
  </div>
</div>

{% endblock %}