<div class="ncs-progress">
  <span class="ncs-progress__count govuk-body">
    <strong class="govuk-!-font-size-36">{{ params.count }}%</strong> <strong class="govuk-visually-hidden">Complete</strong>
  </span>
  <div class="ncs-progress__bar">
    <span class="ncs-progress__{{ params.count }}"></span>
  </div>
</div>