{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside Design" %}
{% set pageName = "Digital Education, Health and Care Plan (EHCP)" %}
{% set pageDescription = "The Education, Health and Care Plan (EHCP) digital project is a cross-government project. It aims to support local authorities to improve outcomes for children and young people with EHC plans." %}
{% set zeroMainMargin = "true"%}

{% block content %}
    <section style="background: #ebf2f6;">
          <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/inside-design">Inside Design</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row govuk-!-margin-top-6">
                        <div class="govuk-grid-column-one-quarter">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Published</h2>
                            <p class="govuk-!-margin-bottom-0">14 November 2023</p>
                        </div>

                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Author</h2>
                            <p class="govuk-!-margin-bottom-0">Vulnerable Children and Families Team</p>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                                  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Share this page</h2>
                            <div class="sharethis-inline-share-buttons"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <img src="/assets/images/ehcp.webp" width="100%" alt="">
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-l">Project overview</h2>

            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
                <p>The DfE have made a commitment in the <a href="https://www.gov.uk/government/publications/send-and-alternative-provision-improvement-plan" class="govuk-link">SEND and alternative provision improvement plan</a> to support further digitisation of the EHCP process.</p>
                <p>Following a discovery in summer 2023 to understand the benefits, barriers and limitations of the digitisation of the EHCP process, we are moving into alpha. </p>
                </div></div>
        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">The EHCP</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
               
               <p>An EHCP is a legal document for an individual child or young person (aged 0-24 years) with special educational needs and disabilities (SEND).</p>
               <p>The EHCP includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>a description of the child or young person’s educational, health and social care needs</li>
                    <li>what provisions must be put in place to help the child or young person achieve key life outcomes</li>
                    <li>details about the child or young person’s aspirations</li>
                    <li>details for those in Year 9 or above about preparation for adulthood</li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Discovery activity</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>The discovery looked to understand what part digitisation should play in the EHCP process and the potential longer-term benefits of digital, through research with:<p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>local authorities</li>
                        <li>national bodies</li>
                        <li>families</li>
                        <li>digital system suppliers</li>
                        </ul>
                <p>The team conducted two deep dives with local authorities (LA) who have established digital EHCP systems in place. They spoke to a wide range of LAs, education and healthcare professionals based in that region, and to local families who had used the software.​ This led to an understanding of LA and other professionals' experiences of procuring, implementing and using a digital EHCP hub.<p>
                <p>The team also reviewed a selection of local authority digital EHCP systems. They considered how information is captured and whether better communication could improve efficiency.<p>
                <p>Working with digital Case Management System (CMS) and digital EHCP system providers, the team looked to better understand the products and services on offer.</p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Digital EHCP implementation</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>Our research found benefits to adopting digital EHCP systems for users including families, young people and children, and LA case workers. There were still some issues EHCP users faced when using digital systems, which impacted upon the:<p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>experiences of families</li>
                    <li>quality of plans</li>
                    <li>ability to keep to deadlines</li>
                </ul>
                <p>As professionals and families are asked to use the systems multiple times, these pain points occur multiple times, therefore exacerbating the need to address them.</p>
                <p>The experiences vary depending on where the professional is based, for example within health, education or special educational needs and disability case management.</p>

            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">During alpha phase</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We conducted research to understand the experiences of special educational needs and disabilities (SEND) leaders in local authorities, education, health and care settings.</p>
                <p>The alpha phase is where we test and shape the ideas and hypotheses from our discovery.</p>
                <p>At the end of this phase, we want a clear set of recommendations that we will look to fund and test during a private beta phase (like a pilot).</p>
                <p>We are currently testing whether local authorities would be best supported to digitise their EHCP processes through all or a combination of the following:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>a data standard</li>
                    <li>a set of requirements for digital systems</li>
                    <li>standardised EHCP record</li>
                    <li>facilitation of advice and support</li>
                </ul>
                <p>To understand the challenges, benefits and further ideas, we have engaged with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>local authority special educational needs and disabilities (SEND) leads</li>
                    <li>SEND coordinators within education settings</li>
                    <li>local authority digital and IT leads</li>
                    <li>suppliers of digital systems</li>
                    <li>integrated care board designated clinical or medical officers</li>
                </ul>
                <p>We have spoken to people using user research interviews, and we held three online workshops. We are also testing our ideas with a prototype that helps aid discussions during the later stages of the alpha phase.</p>
                <p>You can find out more about our research and design on <a href="https://design-histories.education.gov.uk/education-health-and-care-plan-ehcp-digital-alpha" class="govuk-link">our design history.</a></p>
            </div>
        </div> 
                
        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Get involved</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p class="govuk-body">To find out more or get involved email: <a href="mailto:EHCP.reform@education.gov.uk" class="govuk-link">EHCP.reform@education.gov.uk</a>
                </p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Background information</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>The education, health and care plan digital project is work that forms part of the <a href="https://www.gov.uk/government/publications/send-and-alternative-provision-improvement-plan" class="govuk-link">Department for Education's SEND and alternative provision improvement plan.</a></p>

            </div>
        </div>

    </div>
</div>
</div>

<section  style="background: #f9f9f9">
<div class="dfe-width-container" style="padding: 60px 0px; ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body  govuk-!-font-size-27">This page shares the ideas and thinking of the project team at DfE. Please be aware that we cannot respond to questions about the department, policy, or other services. 
            </p>

            <p class="govuk-body  govuk-!-font-size-27">
                
   You can find out more about the <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link">DfE’s priorities and policies on GOV.UK</a>, along with how to raise enquiries with the department.
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}