{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside design" %}
{% set pageName = "Family hubs digital project" %}
{% set pageDescription = "The Family hubs digital project is a cross-government project. It aims to improve outcomes for vulnerable and disadvantaged children, young people, and families." %}
{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #ebf2f6;">
          <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/inside-design">Inside design</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row govuk-!-margin-top-6">
                        <div class="govuk-grid-column-one-quarter">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Published</h2>
                            <p class="govuk-!-margin-bottom-0">12 October 2023</p>
                        </div>

                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Author</h2>
                            <p class="govuk-!-margin-bottom-0">Vulnerable Children and Families Team</p>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                                  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Share this page</h2>
                            <div class="sharethis-inline-share-buttons"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <img src="/assets/images/familyhubs.webp" width="100%" alt="">
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-l">Project overview</h2>

            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
<p>We have developed several digital products to improve how professionals, parents, guardians, young people and families engage with support services in their local family hub network. This supports the work of the wider <a href="https://www.gov.uk/government/collections/family-hubs-and-start-for-life-programme">family hubs and start for life programme</a> led by DfE and DHSC, which is funding local authorities to implement family hubs.</p>                
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Partnership working</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We are delivering the project through an iterative, agile process. We are working collaboratively with a small number of local authorities. These local authorities are helping to develop, test and iterate these digital products.</p>
                <p>We are working with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Lancashire</li>
                    <li>Redbridge</li>
                    <li>Salford</li>
                </ul>
                <p>During the discovery phase we identified user needs and developed digital solutions. These digital solutions were then tested in the alpha phase. We are now in the private beta stage. This stage involves piloting the digital products within our partner local authority areas.</p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Gaining wider input</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>Our partnership working is supplemented by our local authority co-design group.</p>
                <p>We set up the co-design group in September 2022. The group is made up of representatives from local authorities across England who have an interest in supporting families and family hubs. Each local authority provides updates on family hub progress in their area and brings with them their own expertise, experience and roles. This provides a deeper understanding of different local authority:</p>
<ul class="govuk-list govuk-list--bullet">
<li>goals</li>
<li>challenges</li>
<li>preferences</li>
<li>feedback</li>
</ul>
<p>The group has joined several workshops we have organised. This has helped us with developing the family hubs digital products, including allowing us to identify:</p>
<ul class="govuk-list govuk-list--bullet">
<li>new features</li>
<li>project risks</li>
<li>what we need to include in specific pieces of communications</li>
</ul>
            </div>
        </div>
                <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Products in test stage</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We are currently building and testing two products which allow users to search and find support services. We are also building a third product that allows local authorities and voluntary and community sector (VCS) organisations to add and manage details of services.</p>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Find support for your family ('Find')</h3>
                <p>Helps parents, guardians, young people and families can find support services available to them within their local family hub network.</p>
                <p>This product allows people to find and access services themselves. It provides access to preventative support which will in turn reduce the need for statutory support.</p>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Connect families to support ('Connect')</h3>
                <p>Local authority professionals (such as social workers) who work with families, parents, guardians or young people can search for relevant support services and make requests on their behalf. This product allows professionals to share information about families with service providers more efficiently. This will:</p>
                <p>This service allows professionals to share information about families with service providers more efficiently. This will:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>save time</li>
<li>allow professionals to make better-informed decisions</li>
<li>help families receive the right support at the right time</li>
                </ul>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Manage family support services and accounts ('Manage')</h3>
                <p>Helps local authorities and voluntary and community sector (VCS) services manage users and services on Find and Connect.</p>
                <p>Service providers can update their service information on the national directory that powers both Find and Connect.</p>

            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Data and sustainability</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We know that many local authorities do not have robust, standardised data systems. This will act as a barrier to the wider adoption of our products.</p>
                <p><p>Organisations will have the ability to manually enter data about their services into the directory. However, we know that having the option to automatically add services from existing databases will make things easier for everyone. The use of data standards could make this process easier. We are now using a single data standard&nbsp;(<a href="https://openreferraluk.org/">Open Referral UK</a>). We are planning to create application programme interfaces (APIs) to allow the exchange of services data between local authority and DfE systems. option of using these APIs to collect and share family services data across local authorities.</p>
                <p>The benefits would include making it easier for local authorities to store and share data with us, central and local government, and VCS organisations. This would also allow better integration with existing systems including:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>council run Family Information Services (FIS) which provide advice on available support</li>
                    <li>local internal systems</li>
                    <li>borough and partnership special educational needs and disabilities (SEND) provision</li>
                    <li>other regional and national directories</li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Next steps</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We will continue refining and iterating the digital products and work towards them covering more local authority areas. We will then move into the live phase to continue improving the products in a sustainable way. </p>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Digital Pilot opportunities for new local authority partners</h3>
<p>To support the family hubs digital project, we are looking to recruit and provide funding to up to 5 new local authorities for 2 digital pilot opportunities. You can apply if you are interested in either:</p>
<ul class="govuk-list govuk-list--bullet">
<li>implementing the family hubs digital products</li>
<li>becoming compliant with the Open Referral UK data standard</li>
</ul>
<p>If you are from an interested local authority, you can <a href="https://find-government-grants.service.gov.uk/grants/family-hubs-digital-implementation-pilot--family-hubs-data-standard-pilot-1">find out more about the pilots and how to apply</a>. The closing date for applications is 23:59,19 February 2024.</p>
<p>Alternatively, if you want to &nbsp;contact us directly and obtain a copy of the application form and guidance, send an email to <a href="mailto:digital.familyhubs@education.gov.uk">digital.familyhubs@education.gov.uk</a>.</p>

            </div>
        </div>

    </div>
</div>
</div>

<section  style="background: #f9f9f9">
<div class="dfe-width-container" style="padding: 60px 0px; ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body  govuk-!-font-size-27">
                
    This page shares the ideas and thinking of the project team at DfE. Please be aware that we cannot respond to questions about the department, policy, or other services. 
            </p>

            <p class="govuk-body  govuk-!-font-size-27">
                
   You can find out more about the <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link">DfE’s priorities and policies on GOV.UK</a>, along with how to raise enquiries with the department.
            </p>
        </div>
    </div>
</div>
</section>

{% endblock %}
