{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside Design" %}
{% set pageName = "Family hubs digital project" %}
{% set pageDescription = "The Family hubs digital project is a cross-government project. It aims to improve outcomes for vulnerable and disadvantaged children, young people, and families." %}
{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #ebf2f6;">
          <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/inside-design">Inside Design</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="govuk-grid-row govuk-!-margin-top-6">
                        <div class="govuk-grid-column-one-quarter">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Published</h2>
                            <p class="govuk-!-margin-bottom-0">12 October 2023</p>
                        </div>

                        <div class="govuk-grid-column-one-half">
                            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Author</h2>
                            <p class="govuk-!-margin-bottom-0">Vulnerable Children and Families Team</p>
                        </div>

                        <div class="govuk-grid-column-one-quarter">
                                  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Share this page</h2>
                            <div class="sharethis-inline-share-buttons"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="dfe-width-container" style="padding: 60px 0px;">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <img src="/assets/images/nursery.webp" width="100%" alt="">
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-l">Project overview</h2>

            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-2">
                <p>We have developed several digital products to improve how professionals and families engage with services in their local family hub network.</p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Partnership working</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We are delivering the project through an iterative, agile process. We are working with a small number of local authorities. These local authorities are helping to develop, test and iterate these digital products.</p>
                <p>We are working with:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Bristol</li>
                    <li>Lancashire</li>
                    <li>Redbridge</li>
                    <li>Salford</li>
                </ul>
                <p>During the discovery phase we identified user needs and developed digital solutions. These digital solutions were then tested in the alpha phase. We are now in the private beta stage. This stage involves piloting the digital products within our partner local authority areas.</p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Gaining wider input</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>Our partnership working is supplemented by our local authority co-design group.</p>
                <p>We set up the co-design group in September 2022. The group is made up of representatives from local authorities across England. The group all have an interest in supporting families and family hubs. The group brings together a range of experience, roles, and seniority. This provides a deeper understanding of their goals, challenges, preferences, and feedback.</p>
                <p>The group has joined in many workshops. This has helped to shape the family hubs digital products, including helping to identify new features, project risks, and communications.</p>
                <p>Each member brings with them their own expertise. They also share family hub progress from their own local areas with the group.</p>

            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Products in test stage</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We are testing the ability to search and find support services from a directory.</p>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Find support for your family</h3>
                <p>Helps families find their local family hubs and support services available to them within their local family hub network.</p>
                <p>This service allows families to find and access services themselves. It provides access to preventative support for families, reducing the need for statutory support.</p>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Connect families to support</h3>
                <p>Professionals who work with families can search for relevant services and then request support on behalf of the family, parent, or young person.</p>
                <p>This service allows professionals to share information about families with service providers more efficiently. This will:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>save time</li>
                    <li>allow professionals to make better-informed decisions</li>
                    <li>help families receive the right support at the right time</li>
                </ul>

                <h3 class="govuk-heading-m  govuk-!-margin-top-9">Manage family support services and accounts</h3>
                <p>Helps local authorities and voluntary and community sector (VCS) services manage users and services on Find and Connect.</p>
                <p>Service providers can update their service information on the ‘national directory’. The national directory powers both Find and Connect.</p>

            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Data and sustainability</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We know that many local authorities do not have robust, standardized data systems. This will act as a barrier to the adoption of our products at scale.</p>
                <p>The project team has used spreadsheets from our partner local authorities to bulk upload service information onto the national directory. This is not ideal nor sustainable.</p>
                <p>The use of data standards could make it easier for people to use our products. We are looking into using a single data standard such as <a href="https://openreferraluk.org/" class="govuk-link">Open Referral UK</a>.</p>
                <p>The benefits would include making it easier for local authorities to store and share data with us, central and local government, and VCS organizations. This would also allow better integration with existing systems including:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Family Information Services (FIS)</li>
                    <li>local internal systems</li>
                    <li>borough and partnership offers</li>
                    <li>regional and national directories</li>
                </ul>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Next steps</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>We will be launching an early adopter programme at the end of 2023 and will communicate in advance how authorities can take part. We will continue refining and iterating the digital products and work towards wider roll-out. We will then move into the live phase to continue improving the service in a sustainable way.</p>

                <p class="govuk-body">Get involved email: <a href="mailto:digital.familyhubs@education.gov.uk" class="govuk-link">digital.familyhubs@education.gov.uk</a>
                </p>
            </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l">Background information</h2>
            </div>
            <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-2">
                <p>Family Hubs digital is part of the wider family hubs and <a href="https://www.gov.uk/government/collections/family-hubs-and-start-for-life-programme" class="govuk-link">start for life programme led by DfE and DHSC</a>, which is funding local authorities to implement family hubs.</p>

            </div>
        </div>

    </div>
</div>
</div>

<section  style="background: #46badd">
<div class="dfe-width-container" style="padding: 60px 0px; ">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body  govuk-!-font-size-27">
                
    This page shares the ideas and thinking of the project team at DfE. Please be aware that we cannot respond to questions about the department, policy, or other services. 
            </p>

            <p class="govuk-body  govuk-!-font-size-27">
                
   You can find out more about the <a href="https://www.gov.uk/government/organisations/department-for-education" class="govuk-link">DfE’s priorities and policies on GOV.UK</a>, along with how to raise enquiries with the department.
            </p>
        </div>
    </div>
</div>
</section>

{% endblock %}