{% extends "layouts/content-full-width.html" %}

{% set pageName = " How many people?" %}
{% set pageDescription = "Estimate how many people might have a disability, impairment or other characteristics which might affect how they use your service." %}
{% set selectedNav = "Learn" %}
{% set isBeta = "true" %}

{% set backlog_issue_id = "62" %}
{% set zeroMainMargin = "true"%}

{% block content %}

    <section style="background: #ebf2f6;">
        <div class="dfe-width-container">
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/learn">Learn</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">{{pageName}}</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="dfe-width-container" style="padding-top: 40px; padding-bottom: 20px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l">{{pageDescription}}</p>

                      <form action="/learn/how-many-users" method="post">
            <div class="govuk-form-group">

              <label class="govuk-label govuk-label--m" for="numberOfUsers">
      Estimated number of users
    </label>

              <input class="govuk-input govuk-!-width-one-third" id="numberOfUsers" name="numberOfUsers" type="text" value="{{number}}">
            </div>

            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button">
    Calculate
  </button>
              {% if number !== undefined %}
                <a class="govuk-button govuk-button--secondary" href="/learn/how-many-users">Clear results</a>{% endif%}
              </div>

            </form>
                </div>
            </div>
        </div>
    </section>

  

    <div class="dfe-width-container" style="padding-top: 60px; padding-bottom: 60px;">
      <div class="govuk-grid-row">

        {% if number === undefined %}
          <div class="govuk-grid-column-two-thirds">
            <p>By entering a number, and clicking calculate, you'll get information on the estimated number of people who:</p>

            <ul>
              <li>might have a disability</li>
              <li>might have a temporary, situational, or permanent impairment</li>
              <li>have certain characteristics and work in the education sector</li>
              <li>might have difficulties accessing digital services or devices</li>
            </ul>
          </div>

        {% else %}

          <div class="govuk-grid-column-one-quarter">

            <h2 class="govuk-heading-m">Results</h2>
            <ul class="dfe-vertical-nav__section">

              <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link" href="#disability-impairments-conditions">Disability, impairments, and conditions</a>
              </li>
              <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link" href="#teacher-gender">Teacher demographic data by gender</a>
              </li>
              <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link" href="#teacher-ethnicity">Teacher demographic data by ethnicity</a>
              </li>
              <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link" href="#digital-inclusion">General population digital inclusion</a>
              </li>
            </ul>

          </div>
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-l">Results for {{number | formatNumber}} people.</h2>

            <p>These results use data from several sources, and people may fall into one or more criteria, therefore, the numbers won't add up to {{number | formatNumber}}.</p>

            <div class="govuk-inset-text">
              <p>Share these results</p>
              <p>
                <a href="https://design.education.gov.uk/learn/how-many-users/{{number}}">{{baseURL}}https://design.education.gov.uk/learn/how-many-users/{{number}}</a>
              </p>
            </div>

            <h3 class="govuk-heading-l" id="disability-impairments-conditions">Disability, impairments, and conditions</h3>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Measure</th>
                  <th scope="col" class="govuk-table__header">Estimated people</th>
                  <th scope="col" class="govuk-table__header">Source</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                {% for data in calculatedData %}
                  {% if data.type === "a" %}

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        {{ data.measure }}<br/>
                        <span class="govuk-body-s">{{ data.summary }}</span>
                      </th>
                      <td class="govuk-table__cell">
                        {% if data.number < 1 %}
          1
        {% else %}
                          {{ data.number | formatNumber }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell">
                        {% if data.source %}
                          <a class="govuk-link" target="_blank" href="{{ data.source }}">
            View data source<span class="govuk-visually-hidden"> for {{ data.measure }}</span>
                          </a>
                        {% else %}
          Source missing
        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

            <h3 class="govuk-heading-l govuk-!-margin-top-9" id="teacher-gender">Teacher demographic data by gender</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Measure</th>
                  <th scope="col" class="govuk-table__header">Estimated people</th>
                  <th scope="col" class="govuk-table__header">Source</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                {% for data in calculatedData %}
                  {% if data.type === "b" %}

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        {{ data.measure }}<br/>
                        <span class="govuk-body-s">{{ data.summary }}</span>
                      </th>
                      <td class="govuk-table__cell">
                        {% if data.number < 1 %}
          1
        {% else %}
                          {{ data.number | formatNumber }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell">
                        {% if data.source %}
                          <a class="govuk-link" target="_blank" href="{{ data.source }}">
            View data source<span class="govuk-visually-hidden"> for {{ data.measure }}</span>
                          </a>
                        {% else %}
          Source missing
        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

            <h3 class="govuk-heading-l govuk-!-margin-top-9" id="teacher-ethnicity">Teacher demographic data by ethnicity</h3>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Measure</th>
                  <th scope="col" class="govuk-table__header">Estimated people</th>
                  <th scope="col" class="govuk-table__header">Source</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                {% for data in calculatedData %}
                  {% if data.type === "c" %}

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        {{ data.measure }}<br/>
                        <span class="govuk-body-s">{{ data.summary }}</span>
                      </th>
                      <td class="govuk-table__cell">
                        {% if data.number < 1 %}
          1
        {% else %}
                          {{ data.number | formatNumber }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell">
                        {% if data.source %}
                          <a class="govuk-link" target="_blank" href="{{ data.source }}">
            View data source<span class="govuk-visually-hidden"> for {{ data.measure }}</span>
                          </a>
                        {% else %}
          Source missing
        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

            <h3 class="govuk-heading-l govuk-!-margin-top-9" id="digital-inclusion">General population digital inclusion</h3>

            <p>The digital inclusion scale includes 5 metrics:</p>

            <ol class="govuk-list govuk-list--number">
              <li>Manage information such as searching or downloading files</li>
              <li>Communicating such as sending an email or message</li>
              <li>Transacting such as buying something or installing an app</li>
              <li>Problem solving such as getting help or verifying information online</li>
              <li>Creating such as completing and submitting an application form</li>
            </ol>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Measure</th>
                  <th scope="col" class="govuk-table__header">Estimated people</th>
                  <th scope="col" class="govuk-table__header">Source</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                {% for data in calculatedData %}
                  {% if data.type === "d" %}

                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        {{ data.measure }}<br/>
                        <span class="govuk-body-s">{{ data.summary }}</span>
                      </th>
                      <td class="govuk-table__cell">
                        {% if data.number < 1 %}
          1
        {% else %}
                          {{ data.number | formatNumber }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell">
                        {% if data.source %}
                          <a class="govuk-link" target="_blank" href="{{ data.source }}">
            View data source<span class="govuk-visually-hidden"> for {{ data.measure }}</span>
                          </a>
                        {% else %}
          Source missing
        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}

              </tbody>
            </table>

          {% endif %}

        </div>

      {% endblock %}