{% extends "layouts/content-full-width.html" %}

{% set canonical = "https://design.education.gov.uk/design-system/dfe-frontend/styles/typography" %}
{% set pageName = "Typography" %}
{% set pageDescription = "Font family and styles for Department for Education services." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Styles"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set dateUpdated = "February 2024 "%}
{% set backlog_issue_id = "199" %}

{# Add changes with newest at the top #}
{% set changeLog = [
{
change: 'Page added to the design manual.',
changeDate: '24 February 2024'
}
]
%}

{% block hero %}
<section class="dfe-page-header">
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l  govuk-!-margin-top-5">Design system</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page"
                href="/design-system/dfe-frontend/styles/">Styles</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/components">Components</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/dfe-frontend/patterns">Patterns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      {% include "includes/_side-nav.html"%}
    </div>
    <div class="govuk-grid-column-three-quarters">

      <h2 class="govuk-heading-l">Overview</h2>

      <p>By default, you must use the <a href="https://design-system.service.gov.uk/styles/typeface/">GOV Frontend
          typography</a> and GDS Transport typeface for sites on a <>.service.gov.uk domain.</p>

      <p>If your site is on <>.education.gov.uk, you must use the inter typeface.</p>
      <p>The only exception to this is where you are using education.gov.uk to host a service in private beta and will
        eventually be on <>.service.gov.uk domain. You're fine to use the GDS Transport and GOV.UK header in this
          instance.</p>

      <p>If you're unsure, <a href="/design-ops">contact DesignOps</a>.</p>

      <p>To ensure your service meets the <a
          href="https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk">requirements
          for when your service isn't on GOV.UK</a>, you should use the following guidance.</p>

      <h3 class="govuk-heading-m">Typeface vs font</h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Typeface
          </dt>
          <dd class="govuk-summary-list__value">
            This is the name given to a specific design of letting, in this case Inter is a typeface. Other examples of
            typefaces include Aptos, Arial, and Helvetica.
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Font
          </dt>
          <dd class="govuk-summary-list__value">
            Fonts are variations of the typeface, for example, light, regular, bold, and style, for example, italic,
            underlined.
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-l">Import the Inter typeface</h2>

      <p>We are migrating to use the web-font <a href="https://rsms.me/inter/" target="_blank">Inter</a> in our products
        and services that are not provided on GOV.UK.</p>

      <p>Inter is a web-based, open source font. If your product is available to the internet you can include these by
        adding the following imports to your SCSS/CSS files, otherwise you'll need to bundle the physical fonts in your
        build. Styles will drop to system fonts if the internet is not available.</p>


      <div class="govuk-inset-text">
        If using the GOV.UK prototype kit, create a settings.scss file in your /app/assets/sass folder for this step.
      </div>

      <div class="govuk-inset-text">This guidance is accurate up to and including version <strong>13.16.2</strong> of
        the GOV.UK Prototype kit.</div>

      <p>If something doesn't work <a href="/design-ops">contact DesignOps</a> for help so we can understand the
        problem and improve guidance where possible.</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">settings.scss or application scss/css file</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Add the following code to the file.</p>
          <code>@import url('https://rsms.me/inter/inter.css');</code><br />
          <code>$govuk-font-family: 'Inter', sans-serif;</code>
        </div>
      </div>


      <p>If you want table data to use the <a href="https://rsms.me/inter/#features" target="_blank">Inter font
          feature</a> for tabular numbers, slashed zero and alternate digits, add these to your scss/css file. You can
        then add these classes to your table headers and cells as required.</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Adding alternative number formatting</h2>
        </div>
        <div class="govuk-summary-card__content">
          <p>Add the following code to the file.</p>
          <pre><code>.tableNumbers{
    font-feature-settings: 'tnum' 1, 'ss01' 1, 'zero' 1;
}</code></pre>
        </div>
      </div>

      <p>All styles which use the GDS Transport typeface will now be replaced with the Inter typeface.</p>
      <p>You do not need to use different classes.</p>

      <h2 class="govuk-heading-l">Typographic styles</h2>

      <p>These styles are the same as the <a href="https://design-system.service.gov.uk/styles/typeface/"
          target="_blank">GOV.UK Design System typography</a> examples. They are here to demonstrate how the Inter
        typeface
        is applied to core GOV typography styles.</p>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Headings</h2>
        </div>
        <div class="govuk-summary-card__content">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Sample</th>
                <th scope="col" class="govuk-table__header">Class</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-heading-xl">XL heading</td>
                <td class="govuk-table__cell">govuk-heading-xl</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-heading-l">Large heading</td>
                <td class="govuk-table__cell">govuk-heading-l</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-heading-m">Medium heading</td>
                <td class="govuk-table__cell">govuk-heading-m</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-heading-s">Small heading</td>
                <td class="govuk-table__cell">govuk-heading-s</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-summary-card govuk-!-margin-top-9">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Headings with captions</h2>
        </div>
        <div class="govuk-summary-card__content">

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Sample</th>
                <th scope="col" class="govuk-table__header">Class</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-caption-xl">XL caption</span><span
                    class="govuk-heading-xl">XL heading</td>
                <td class="govuk-table__cell">govuk-caption-xl</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-caption-l">Large caption</span><span
                    class="govuk-heading-l">Large heading</td>
                <td class="govuk-table__cell">govuk-caption-l</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-caption-m">Medium caption</span><span
                    class="govuk-heading-m">Medium heading</td>
                <td class="govuk-table__cell">govuk-caption-m</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-caption-s">Small caption</span><span
                    class="govuk-heading-s">Small heading</td>
                <td class="govuk-table__cell">govuk-caption-s</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-summary-card govuk-!-margin-top-9">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Body</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Sample</th>
                <th scope="col" class="govuk-table__header">Class</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body">Body</td>
                <td class="govuk-table__cell">govuk-body</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body-l">Large body</td>
                <td class="govuk-table__cell">govuk-body-l</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body-s">Small body</td>
                <td class="govuk-table__cell">govuk-body-s</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>


      <div class="govuk-summary-card govuk-!-margin-top-9">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Text modifiers</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Sample</th>
                <th scope="col" class="govuk-table__header">Class</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-weight-bold">Bold</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-weight-bold</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-summary-card govuk-!-margin-top-9">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Font size modifiers</h2>
        </div>
        <div class="govuk-summary-card__content">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Sample</th>
                <th scope="col" class="govuk-table__header">Class</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-80">Size 80</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-80</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-48">Size 48</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-48</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-36">Size 36</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-36</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-27">Size 27</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-27</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-24">Size 24</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-24</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-19">Size 19</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-19</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-16">Size 16</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-16</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><span class="govuk-body govuk-!-font-size-14">Size 14</td>
                <td class="govuk-table__cell">govuk-body govuk-!-font-size-14</td>
              </tr>
            </tbody>
          </table>




        </div>
      </div>
    </div>

    {% endblock %}