{% extends "layouts/content-full-width.html" %}

{% set pageName = "Service satisfaction scores" %}
{% set pageDescription = "Information about the satisfaction scores for our services" %}
{% set selectedNav = "DesignOps" %}
{% set lastUpdated = "March 2024" %}
{% set backlog_issue_id = "" %}

{% block hero %}
<section class="dfe-page-header">
    <div class="dfe-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/design-ops">DesignOps</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">Service satisfaction scores</li>
            </ol>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
                <p class="govuk-body-l">{{pageDescription}}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section>
    <div class="dfe-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Our services</h2>

                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m govuk-!-font-size-80 ">100%</h3>
                            <p>Design manual</p>
                            <p class="govuk-!-margin-bottom-0 govuk-body-s">8 Responses</p>
                        </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m govuk-!-font-size-80 ">50%</h3>
                            <p>Design history</p>
                            <p class="govuk-!-margin-bottom-0 govuk-body-s">6 Responses</p>
                        </div>
                    </div>
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h3 class="govuk-heading-m govuk-!-font-size-80 ">100%</h3>
                            <p>Find a job description</p>
                            <p class="govuk-!-margin-bottom-0 govuk-body-s">1 Response</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}