{% extends "layouts/content-full-width.html" %}

{% set pageName = "DesignOps" %}
{% set pageDescription = "The DesignOps team in the Department for Education support designers all across the
department." %}
{% set selectedNav = "DesignOps" %}
{% set lastUpdated = "April 2023 "%}
{% set backlog_issue_id = "41" %}


{% block hero %}
<section class="dfe-page-hero">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{pageName}}</h1>
        <p class="govuk-body-l">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}


<section>
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-l">Who we are</h2>

        <p>We are made up of professionals who lead on design and accessibility for the design professions across the
          department.</p>

        <p>The team members are:</p>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Andy Jones
            </dt>
            <dd class="govuk-summary-list__value">
              Head of Profession for Design
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Kerry Lyons
            </dt>
            <dd class="govuk-summary-list__value">
              Senior Content Designer
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Jake Lloyd
            </dt>
            <dd class="govuk-summary-list__value">
              Senior Accessibility Specialist
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-l">What we do</h2>

        <p>We support the following <a class="govuk-link govuk-link--no-visited-state"
            href="https://www.gov.uk/government/collections/digital-data-and-technology-profession-capability-framework#user-centred-design-job-family"
            target="_blank">user-centred design professions</a> across the department:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/inside-design/professions/content-design">Content
              design</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state"
              href="/inside-design/professions/interaction-design">Interaction design</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/inside-design/professions/service-design">Service
              design</a>
          </li>
        </ul>

        <p>The user resesarch profession is supported by the <a class="govuk-link govuk-link--no-visited-state"
            href="https://user-research.education.gov.uk/" target="_blank">Research Ops team</a>.</p>

        <p>We support designers with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>setting <a href="/standards">standards</a> and guidance for good design practices</li>
          <li>working across services to identify and publish common components and patterns</li>
          <li>creating tools and services to improve design processes</li>
          <li>raising awareness and understanding of design and accessibility in DfE</li>
        </ul>




        <h2 class="govuk-heading-l">Get in touch</h2>

        <p>You can contact us in the following ways:</p>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--no-visited-state"
                href="mailto:design.ops@education.gov.uk">design.ops@education.gov.uk</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              DfE slack
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--no-visited-state"
                href="https://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#design-ops</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              X-GOV Slack
            </dt>
            <dd class="govuk-summary-list__value">
              <a class="govuk-link govuk-link--no-visited-state"
                href="https://ukgovernmentdigital.slack.com/archives/C04GXQ0320Z" target="_blank">#dfe-design-ops</a>
            </dd>
          </div>
        </dl>


      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">More from DesignOps</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li>
              <a href="https://design-histories.education.gov.uk/team/design-ops" target="_blank">Read our design
                histories</a>
            </li>
            <li>
              <a href="https://trello.com/b/MUHTdo0w/head-of-design-work" target="_blank">See our Trello board of
                work</a>
            </li>
          </ul>

          <div class="dfe-panel govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Our design goals</h2>
            <p>Our goals for design cut across all design professions and aim to raise design maturity, awareness and
              solve common and repeatable problems.</p>
            <p class="govuk-!-margin-bottom-0"><a href="/design-ops/goals" target="_blank" class="govuk-link">See our
                progress <i class="chevron chevron-narrow"></i></a></p>
          </div>
        </aside>
      </div>
    </div>
</section>

{% endblock %}