{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk/design-ops" %}

{% set pageName = "DesignOps" %}
{% set pageDescription = "Supporting and enabling good design across the department." %}
{% set selectedNav = "DesignOps" %}
{% set lastUpdated = "May 2024 "%}
{% set backlog_issue_id = "28" %}


{% block hero %}
<section class="dfe-page-header dfe-page-header--with-sub-nav">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl  govuk-!-margin-top-5">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-6">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="/design-ops">Overview</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops/professions">Professions</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops/priorities">Our priorities</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-ops/maturity">Design maturity</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}


<section>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <p>We are a team who lead on design and accessibility for design acoss the
          department and support the following professions.</p>

        <ul class="govuk-list govuk">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/design-ops/professions/content-design">content
              design</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state"
              href="/design-ops/professions/interaction-design">interaction
              design</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/design-ops/professions/service-design">service
              design</a>
          </li>
        </ul>

        <p>This is around 150 people across the department.</p>



        <h2 class="govuk-heading-l">What we do</h2>


        <p>We enable designers to do their job, through:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>organising and identifying learning, development and training</li>
          <li>setting <a href="/standards">standards</a> for good design practices</li>
          <li>identifying and publishing common <a href="/design-system">components and patterns</a></li>
          <li>creating <a href="/tools">tools</a> and services to improve design processes</li>
          <li>raising awareness and understanding of design and <a href="/accessibility">accessibility</a> in DfE</li>
        </ul>

        <p>We work in the open. You can read <a href="/design-ops/priorities">our priorities</a> which help us work on
          the right problems.</a></p>


        <h2 class="govuk-heading-l">Read about our recent work</h2>

        {{ card({
        cards: [
        {
        "headingLevel": "3",
        "linkCard": true,
        "link":
        "https://dfedigital.blog.gov.uk/2024/05/01/making-the-service-assessment-process-easier-and-more-consistent/",
        "openInNewTab": true,
        "heading": "Making the service assessment process easier and more consistent",
        "description": "From the DfE Digital, Data and Technology blog.",
        "meta": "1 May 2024"
        },
        {
        "headingLevel": "3",
        "linkCard": true,
        "link": "https://design-histories.education.gov.uk/service-assessment/find-out-about-assessments",
        "openInNewTab": true,
        "heading": "How service teams find out about assessments and assurance in DfE",
        "description": "From our design history service.",
        "meta": "18 March 2024"
        }
        ]
        }) }}

        <p>Read more about our work in the <a href="https://design-histories.education.gov.uk/team/design-ops">DesignOps
            design histories</a>.</a></p>




      </div>

      <div class="govuk-grid-column-one-third">
        <aside class="dfe-aside ">

          <h2 class="govuk-heading-l">The team</h2>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Andy Jones</h3>
          <p>Head of Profession for Design</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Kerry Lyons</h3>
          <p>Senior Content Designer</p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Jake Lloyd</h3>
          <p>Senior Accessibility Specialist</p>


          <h2 class="govuk-heading-l">Contact us</h2>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Email us</h3>
          <p><a href="mailto:design.ops@education.gov.uk">design.ops@education.gov.uk</a></p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">DfE Slack</h3>
          <p> <a class="govuk-link govuk-link--no-visited-state"
              href="slack://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#designops</a></p>

          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Cross-GOV Slack</h3>
          <p><a class="govuk-link govuk-link--no-visited-state"
              href="slack://ukgovernmentdigital.slack.com/archives/C04GXQ0320Z" target="_blank">#dfe-design-ops</a></p>

        </aside>
      </div>
    </div>
</section>

{% endblock %}