<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/content-design" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to content design</a>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if title === 'Components' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/components">Components</a>
        </li>
        <li class="dfe-vertical-nav__section-item  {% if title === 'Card' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/components/card">Card</a>
        </li>

        <li class="dfe-vertical-nav__section-item {% if title === 'Filter' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/components/filter">Filter</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if title === 'Header' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/design-system/components/header">Header</a>
        </li>
    </ul>
</nav>