{% extends "layouts/layout.html" %}

{% set serviceNav = "Design system" %}
{% set path = "design-system/components/filter" %}
{% set title = "Filter" %}
{% set description = "This is how to best use the Ministry of Justice filter component to help users of DfE services refine their search results." %}

{% block content %}

<style>
    .example-img {
        margin: 25px 0px;
        padding: 25px;
        border: 1px solid #b1b4b6;
        background-color: #f3f2f1;
    }
</style>


<section>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-quarter">
                    {% include "./_sidenav.html" %}
                </div>

                <div class="govuk-grid-column-three-quarters">

                    <span class="govuk-caption-xl govuk-!-margin-top-1">Components</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>

                    {% markdown %}

This is how to best use [the Ministry of Justice’s filter component](https://design-patterns.service.justice.gov.uk/components/filter/) to help users of DfE services refine their search results.

## Adding MoJ components to your prototype

You can read the guidance on [how to use the MoJ design system in the GOV.UK prototyping kit](https://design-patterns.service.justice.gov.uk/prototyping/setting-up-coded-prototypes/).

If you’re using Figma, there is [an MoJ Figma kit](https://design-patterns.service.justice.gov.uk/prototyping/setting-up-figma-prototypes/) which contains the filter for use in prototypes.

## Use filters on the left first

You should place filters on the left of the screen.

This allows the list of results to take up the middle and right-hand columns.

This can make it easier for users to notice changes to the list of results as they select and apply filters.

<img src="/assets/images/filter1.png" alt="Filter on the left" style="width: 50%;" class="example-img">

## When to put filters at the top of the page

There are some cases where it is more suitable to use a filter on the top of the page.

For example, when you need to show data in a table across the full width of a page or if related content in the right-hand column cannot be moved.

Test each approach with your users and choose the one that works best for them.

<img src="/assets/images/filter2.png" alt="Filter on the top" style="width: 50%;" class="example-img">

## Things to consider when using filters

### Mobile design

When using mobile devices, users have missed the “Show filters” secondary action button.

Reasons for this include:

* it looks inactive
* the colour of the button is too similar to the background colour of the filters
* the button is too far away from the results it relates to 


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <img src="/assets/images/filter3.png" alt="Filter on the top" style="width: 60%;" class="example-img">
    </div>
    <div class="govuk-grid-column-one-half">

   <img src="/assets/images/filter4.png" alt="Filter on the top" style="width: 60%;" class="example-img">

    </div>
</div>



Think about ways you might be able to make this more visible to mobile users. 

Test your approach and [share your findings with the DfE patterns and components group](https://ukgovernmentdfe.slack.com/archives/C04JZ5YL8F7) on DfE Slack, or [contact the MoJ design system team](https://ukgovernmentdigital.slack.com/archives/CJ6QDRDGC) on cross-gov Slack.


### Moving the “Apply filters” button

Adding an apply filters button at the bottom of a long set of filters is helpful for users.

It stops them having to scroll down a long list of filters and go back up to apply them.

Try this approach in prototypes and testing if you have a long list of filters. 

Tell us about your findings and share your insights.

    <img src="/assets/images/filter5.png" alt="Filter on the top" style="width: 60%;" class="example-img">


### Categories with many filter options

Filter categories that contain many options can become long and hard to read or navigate.

The MoJ design system suggests a few ways to help:

* show or hide filter categories in an accordion
* enable users to scroll through the list of filter options in a category
* reduce the amount of filter options in a category
* make long filter categories searchable

However, there can be some issues with some of these options. 

For example, it can be hard for a person using a mobile device to scroll through a list of filter options accurately.

We want to hear from you if you’ve been in a team that have used any of these approaches and found any usability or accessibility issues.

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <img src="/assets/images/filter6.png" alt="" style="width: 60%;" class="example-img">
    </div>
    <div class="govuk-grid-column-one-half">

   <img src="/assets/images/filter7.png" alt="" style="width: 60%;" class="example-img">

    </div>
</div>

## Services using this component

Services using versions of the MoJ filters component include:

* Family hubs
* Find and apply for initial teacher training
* Find apprenticeship training
* Manage free school projects
* Prepare conversions and transfers
* Manage school improvement

## Help us improve this component

To improve this component based on user needs and research, you can [contact the DfE patterns and components group](https://ukgovernmentdfe.slack.com/archives/C04JZ5YL8F7) on DfE Slack, or [contact the MoJ design system team](https://ukgovernmentdigital.slack.com/archives/CJ6QDRDGC) on cross-gov Slack.

{% endmarkdown %}
                </div>

            </div>
        </div>
    </section>

{% endblock %}