{% extends "layouts/layout.html" %}

{% set serviceNav = "Design system" %}
{% set path = "design-system/components/header" %}
{% set title = "Header" %}
{% set description = "The DfE header component tells users they're using a service provided by DfE on an education.gov.uk domain." %}

{% block content %}

    <section>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-quarter">
                    {% include "./_sidenav.html" %}
                </div>

                <div class="govuk-grid-column-three-quarters">

                    <span class="govuk-caption-xl govuk-!-margin-top-1">Components</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>

                    <div class="govuk-inset-text" style="border-left-color: #d4351c">
                        <h2 class="govuk-heading-m">This component will be decommissioned on 1 January 2026</h2>
                        <p class="govuk-body">Follow instructions to update your products to use the <a href="/design-system/govuk-rebrand/dfe-header-rebrand" class="govuk-link govuk-link--no-visited-state">DfE Header (Rebrand)</a> to update your codebase.</p>
                    </div>
                    <h2 class="govuk-heading-m">The Digital Product Branding standard affects this standard</h2>
                    <p class="govuk-body">You can <a href="https://standards.education.gov.uk/standard/digital-product-branding" class="govuk-link govuk-link--no-visited-state">read the standard</a> in Find and use standards.</p>

                    <p class="govuk-body">{{description}}</p>

                    <h2 class="govuk-heading-l">When to use the DfE header</h2>

                    <p class="govuk-body">If you product or website is hosted on an education.gov.uk domain, you must use the DfE header.</p>

                    <p class="govuk-body">You must also use the DfE header for internal products and websites.</p>

                    <h2 class="govuk-heading-l">When not to use the DfE header</h2>

                    <p class="govuk-body">Do not use the DfE header for products and websites hosted on:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>gov.uk/[myservice]</li>
                        <li>[myservice].service.gov.uk</li>
                    </ul>

                    <h2 class="govuk-heading-l">Service name</h2>

                    <p class="govuk-body">The service name should be implemented within the <a href="https://design-system.service.gov.uk/components/service-navigation/" class="govuk-link">GOV.UK Service Navigation</a> component. It should not be set in the DfE header.</p>

                    <h2 class="govuk-heading-l">Navigation</h2>

                    <p class="govuk-body">The DfE header component should be used with the <a href="https://design-system.service.gov.uk/components/service-navigation/" class="govuk-link">GOV.UK Service Navigation</a> component directly adjacent to the header component.</p>

                    <p class="govuk-body">Set the <code class="govuk-code">showNav</code> attribute to <code class="govuk-code">false</code> to hide the navigation element of the DfE header.</p>

                    <p class="govuk-body">You can follow the <a href="#logo-action-service-nav" class="govuk-link">example code to implement the DfE header with service name and navigation.</a>
                    </p>

                    <h2 class="govuk-heading-l">Variants</h2>

                    <section class="custom-dfe-section">
                        <h3 class="govuk-heading-m">Logo only</h3>

                        <section id="logo-only">
                            <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">Contents</h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#example-logo">Example</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#html-logo">HTML</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#nunjucks-logo">Nunjucks</a>
                                    </li>
                                </ul>
                                <div class="govuk-tabs__panel" id="example-logo">
                                    <header class="dfe-header" role="banner">
                                        <div class="govuk-width-container dfe-header__container">
                                            <div class="dfe-header__logo">
                                                <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                                                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                                                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                                                </a>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="govuk-tabs__panel" id="html-logo">
                                    <pre><code class="language-html">&lt;header class="dfe-header" role="banner"&gt;
    &lt;div class="govuk-width-container dfe-header__container"&gt;
        &lt;div class="dfe-header__logo"&gt;
            &lt;a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage"&gt;
                &lt;img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education"&gt;
                &lt;img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;</code></pre>
                                </div>
                                <div class="govuk-tabs__panel" id="nunjucks-logo">
                                    {% raw %}
                                        <pre><code class="language-html">{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
    "showNav": false,
    "showSearch": false,
    "showHeaderActionLinks": false,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk"
}) }}</code></pre>
                                    {% endraw %}
                                </div>
                            </div>
                        </section>

                        <h3 class="govuk-heading-m">Logo with action links</h3>

                        <section id="logo-action-links">
                            <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">Contents</h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#example-action">Example</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#html-action">HTML</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#nunjucks-action">Nunjucks</a>
                                    </li>
                                </ul>
                                <div class="govuk-tabs__panel" id="example-action">
                                    <header class="dfe-header" role="banner">
                                        <div class="govuk-width-container dfe-header__container">
                                            <div class="dfe-header__logo">
                                                <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                                                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                                                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                                                </a>
                                            </div>
                                            <div class="dfe-header__content" id="content-header">
                                                <ul class="dfe-header__action-links">
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">My account</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">Sign out</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="govuk-tabs__panel" id="html-action">
                                    <pre><code class="language-html">&lt;header class="dfe-header" role="banner"&gt;
    &lt;div class="govuk-width-container dfe-header__container"&gt;
        &lt;div class="dfe-header__logo"&gt;
            &lt;a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage"&gt;
                &lt;img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education"&gt;
                &lt;img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="dfe-header__content" id="content-header"&gt;
            &lt;ul class="dfe-header__action-links"&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;My account&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;Sign out&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;</code></pre>
                                </div>
                                <div class="govuk-tabs__panel" id="nunjucks-action">
                                    {% raw %}
                                        <pre><code class="language-html">{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
    "showNav": false,
    "showSearch": false,
    "showHeaderActionLinks": true,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "headerActionLinks": [
        {
            "url": "/",
            "label": "My account"
        },
        {
            "url": "/",
            "label": "Sign out"
        }
    ]
}) }}</code></pre>
                                    {% endraw %}
                                </div>
                            </div>
                        </section>

                        <h3 class="govuk-heading-m">Logo with search</h3>

                        <section id="logo-search">
                            <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">Contents</h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#example-search">Example</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#html-search">HTML</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#nunjucks-search">Nunjucks</a>
                                    </li>
                                </ul>
                                <div class="govuk-tabs__panel" id="example-search">
                                    <header class="dfe-header" role="banner">
                                        <div class="govuk-width-container dfe-header__container">
                                            <div class="dfe-header__logo">
                                                <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                                                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                                                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                                                </a>
                                            </div>
                                            <div class="dfe-header__content" id="content-header">
                                                <div class="dfe-header__search">
                                                    <button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
                                                        <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                                                        </svg>
                                                        <span class="govuk-visually-hidden">Search</span>
                                                    </button>
                                                    <div class="dfe-header__search-wrap" id="wrap-search">
                                                        <form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search">
                                                            <label class="govuk-visually-hidden" for="search-field">Search this website</label>
                                                            <input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off">
                                                            <button class="dfe-search__submit" type="submit">
                                                                <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                                                                </svg>
                                                                <span class="govuk-visually-hidden">Search</span>
                                                            </button>
                                                            <button class="dfe-search__close" id="close-search">
                                                                <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                                                                </svg>
                                                                <span class="govuk-visually-hidden">Close search</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="govuk-tabs__panel" id="html-search">
                                    <pre><code class="language-html">&lt;header class="dfe-header" role="banner"&gt;
    &lt;div class="govuk-width-container dfe-header__container"&gt;
        &lt;div class="dfe-header__logo"&gt;
            &lt;a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage"&gt;
                &lt;img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education"&gt;
                &lt;img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="dfe-header__content" id="content-header"&gt;
            &lt;div class="dfe-header__search"&gt;
                &lt;button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search"&gt;
                    &lt;svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                        &lt;path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"&gt;&lt;/path&gt;
                    &lt;/svg&gt;
                    &lt;span class="govuk-visually-hidden"&gt;Search&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class="dfe-header__search-wrap" id="wrap-search"&gt;
                    &lt;form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search"&gt;
                        &lt;label class="govuk-visually-hidden" for="search-field"&gt;Search this website&lt;/label&gt;
                        &lt;input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off"&gt;
                        &lt;button class="dfe-search__submit" type="submit"&gt;
                            &lt;svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                                &lt;path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"&gt;&lt;/path&gt;
                            &lt;/svg&gt;
                            &lt;span class="govuk-visually-hidden"&gt;Search&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;button class="dfe-search__close" id="close-search"&gt;
                            &lt;svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                                &lt;path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"&gt;&lt;/path&gt;
                            &lt;/svg&gt;
                            &lt;span class="govuk-visually-hidden"&gt;Close search&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;</code></pre>
                                </div>
                                <div class="govuk-tabs__panel" id="nunjucks-search">
                                    {% raw %}
                                        <pre><code class="language-html">{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
    "showNav": false,
    "showSearch": true,
    "showHeaderActionLinks": false,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "searchAction": "/search/",
    "searchInputName": "q"
}) }}</code></pre>
                                    {% endraw %}
                                </div>
                            </div>
                        </section>

                        <h3 class="govuk-heading-m">Logo with action links and search</h3>

                        <section id="logo-action-search">
                            <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">Contents</h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#example-all">Example</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#html-all">HTML</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#nunjucks-all">Nunjucks</a>
                                    </li>
                                </ul>
                                <div class="govuk-tabs__panel" id="example-all">
                                    <header class="dfe-header" role="banner">
                                        <div class="govuk-width-container dfe-header__container">
                                            <div class="dfe-header__logo">
                                                <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                                                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                                                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                                                </a>
                                            </div>
                                            <div class="dfe-header__content" id="content-header">
                                                <ul class="dfe-header__action-links">
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">My account</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">Sign out</a>
                                                    </li>
                                                </ul>
                                                <div class="dfe-header__search">
                                                    <button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
                                                        <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                                                        </svg>
                                                        <span class="govuk-visually-hidden">Search</span>
                                                    </button>
                                                    <div class="dfe-header__search-wrap" id="wrap-search">
                                                        <form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search">
                                                            <label class="govuk-visually-hidden" for="search-field">Search this website</label>
                                                            <input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off">
                                                            <button class="dfe-search__submit" type="submit">
                                                                <svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                                    <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                                                                </svg>
                                                                <span class="govuk-visually-hidden">Search</span>
                                                            </button>
                                                            <button class="dfe-search__close" id="close-search">
                                                                <svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
                                                                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                                                                </svg>
                                                                <span class="govuk-visually-hidden">Close search</span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </header>
                                </div>
                                <div class="govuk-tabs__panel" id="html-all">
                                    <pre><code class="language-html">&lt;header class="dfe-header" role="banner"&gt;
    &lt;div class="govuk-width-container dfe-header__container"&gt;
        &lt;div class="dfe-header__logo"&gt;
            &lt;a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage"&gt;
                &lt;img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education"&gt;
                &lt;img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="dfe-header__content" id="content-header"&gt;
            &lt;ul class="dfe-header__action-links"&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;My account&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;Sign out&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
            &lt;div class="dfe-header__search"&gt;
                &lt;button class="dfe-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search"&gt;
                    &lt;svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                        &lt;path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"&gt;&lt;/path&gt;
                    &lt;/svg&gt;
                    &lt;span class="govuk-visually-hidden"&gt;Search&lt;/span&gt;
                &lt;/button&gt;
                &lt;div class="dfe-header__search-wrap" id="wrap-search"&gt;
                    &lt;form class="dfe-header__search-form" id="search" action="/search/" method="get" role="search"&gt;
                        &lt;label class="govuk-visually-hidden" for="search-field"&gt;Search this website&lt;/label&gt;
                        &lt;input class="dfe-search__input" id="search-field" name="q" type="search" placeholder="Search" autocomplete="off"&gt;
                        &lt;button class="dfe-search__submit" type="submit"&gt;
                            &lt;svg class="dfe-icon dfe-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                                &lt;path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"&gt;&lt;/path&gt;
                            &lt;/svg&gt;
                            &lt;span class="govuk-visually-hidden"&gt;Search&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;button class="dfe-search__close" id="close-search"&gt;
                            &lt;svg class="dfe-icon dfe-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27"&gt;
                                &lt;path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"&gt;&lt;/path&gt;
                            &lt;/svg&gt;
                            &lt;span class="govuk-visually-hidden"&gt;Close search&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/form&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;</code></pre>
                                </div>
                                <div class="govuk-tabs__panel" id="nunjucks-all">
                                    {% raw %}
                                        <pre><code class="language-html">{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{{ header({
    "showNav": false,
    "showSearch": true,
    "showHeaderActionLinks": true,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "searchAction": "/search/",
    "searchInputName": "q",
    "headerActionLinks": [
        {
            "url": "/",
            "label": "My account"
        },
        {
            "url": "/",
            "label": "Sign out"
        }
    ]
}) }}</code></pre>
                                    {% endraw %}
                                </div>
                            </div>
                        </section>

                        <h3 class="govuk-heading-m" >Logo with action links and service navigation</h3>

                        <section id="logo-action-service-nav">
                            <div class="govuk-tabs govuk-!-margin-top-5 code-example" data-module="govuk-tabs">
                                <h2 class="govuk-tabs__title">Contents</h2>
                                <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                        <a class="govuk-tabs__tab" href="#example-service-nav">Example</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#html-service-nav">HTML</a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                        <a class="govuk-tabs__tab" href="#nunjucks-service-nav">Nunjucks</a>
                                    </li>
                                </ul>
                                <div class="govuk-tabs__panel" id="example-service-nav">
                                    <header class="dfe-header" role="banner">
                                        <div class="govuk-width-container dfe-header__container">
                                            <div class="dfe-header__logo">
                                                <a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage">
                                                    <img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education">
                                                    <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education">
                                                </a>
                                            </div>
                                            <div class="dfe-header__content" id="content-header">
                                                <ul class="dfe-header__action-links">
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">My account</a>
                                                    </li>
                                                    <li>
                                                        <a href="/" class="govuk-link govuk-link--inverse">Sign out</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </header>
                                    <section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
                                        <div class="govuk-width-container">
                                            <div class="govuk-service-navigation__container">
                                                <span class="govuk-service-navigation__service-name">
                                                    <a href="/" class="govuk-service-navigation__link">Service name</a>
                                                </span>
                                                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                                                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>Menu</button>
                                                    <ul class="govuk-service-navigation__list" id="navigation">
                                                        <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
                                                            <a class="govuk-service-navigation__link" href="#">Navigation item 1</a>
                                                        </li>
                                                        <li class="govuk-service-navigation__item">
                                                            <a class="govuk-service-navigation__link" href="#">Navigation item 2</a>
                                                        </li>
                                                        <li class="govuk-service-navigation__item">
                                                            <a class="govuk-service-navigation__link" href="#">Navigation item 3</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="govuk-tabs__panel" id="html-service-nav">
                                    <pre><code class="language-html">&lt;header class="dfe-header" role="banner"&gt;
    &lt;div class="govuk-width-container dfe-header__container"&gt;
        &lt;div class="dfe-header__logo"&gt;
            &lt;a class="dfe-header__link" href="https://gov.uk" aria-label="DfE homepage"&gt;
                &lt;img src="/assets/images/dfe-logo.png" class="dfe-logo" alt="Department for Education"&gt;
                &lt;img src="/assets/images/dfe-logo-alt.png" class="dfe-logo-hover" alt="Department for Education"&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="dfe-header__content" id="content-header"&gt;
            &lt;ul class="dfe-header__action-links"&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;My account&lt;/a&gt;
                &lt;/li&gt;
                &lt;li&gt;
                    &lt;a href="/" class="govuk-link govuk-link--inverse"&gt;Sign out&lt;/a&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;

&lt;section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation"&gt;
    &lt;div class="govuk-width-container"&gt;
        &lt;div class="govuk-service-navigation__container"&gt;
            &lt;span class="govuk-service-navigation__service-name"&gt;
                &lt;a href="/" class="govuk-service-navigation__link"&gt;Service name&lt;/a&gt;
            &lt;/span&gt;
            &lt;nav aria-label="Menu" class="govuk-service-navigation__wrapper"&gt;
                &lt;button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden&gt;Menu&lt;/button&gt;
                &lt;ul class="govuk-service-navigation__list" id="navigation"&gt;
                    &lt;li class="govuk-service-navigation__item govuk-service-navigation__item--active"&gt;
                        &lt;a class="govuk-service-navigation__link" href="#"&gt;Navigation item 1&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="govuk-service-navigation__item"&gt;
                        &lt;a class="govuk-service-navigation__link" href="#"&gt;Navigation item 2&lt;/a&gt;
                    &lt;/li&gt;
                    &lt;li class="govuk-service-navigation__item"&gt;
                        &lt;a class="govuk-service-navigation__link" href="#"&gt;Navigation item 3&lt;/a&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/nav&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/section&gt;</code></pre>
                                </div>
                                <div class="govuk-tabs__panel" id="nunjucks-service-nav">
                                    {% raw %}
                                        <pre><code class="language-html">{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
{% from 'govuk/components/service-navigation/macro.njk' import govukServiceNavigation %}

{{ header({
    "showNav": false,
    "showSearch": false,
    "showHeaderActionLinks": true,
    "logoPath": "public/images",
    "logoAltText": "Department for Education",
    "homeHref": "https://gov.uk",
    "headerActionLinks": [
        {
            "url": "/",
            "label": "My account"
        },
        {
            "url": "/",
            "label": "Sign out"
        }
    ]
}) }}

{{ govukServiceNavigation({
    "serviceName": "Service name",
    "serviceUrl": "/",
    "navigation": [
        {
            "href": "#",
            "text": "Navigation item 1",
            "active": true
        },
        {
            "href": "#",
            "text": "Navigation item 2"
        },
        {
            "href": "#",
            "text": "Navigation item 3"
        }
    ]
}) }}</code></pre>
                                    {% endraw %}
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}