{% extends "layouts/content-full-width.html" %}


{% set pageName = "Components" %}
{% set pageDescription = "Components are the building blocks for consistent looking, accessible, usable services in the
Department for Education." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set dateUpdated = "25 July 2023 "%}
{% set backlog_issue_id = "90" %}

{% block hero %}
<section class="dfe-page-header">
  <div class="dfe-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/design-system">Design system</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
          Styles
        </li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-top-6">{{pageName}}</h1>
        <p class="govuk-body-l govuk-!-margin-bottom-8">{{pageDescription}}</p>
        <nav class="app-sub-navigation" aria-label="Application menu">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/styles/">Styles</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="/design-system/components">Components</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="/design-system/patterns">Patterns</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}

<div class="dfe-width-container">

  <h2 class="govuk-header-l">Published components</h2>

  <div class="dfe-grid-container">

    <div class="dfe-card">
      <div class="dfe-card-container">
        <h2 class="govuk-heading-m">
          <a href="/design-system/components/header"
            class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Header</a>
        </h2>
        <p>Use the DfE header on internal services or those hosted on education.gov.uk</p>
      </div>
    </div>

  </div>


  <h2 class="govuk-header-l govuk-!-margin-top-5">On our backlog</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter ">Component</th>
        <th scope="col" class="govuk-table__header">Description</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter govuk-table__header--numeric">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/13"
            target="_blank">Cards</a></th>
        <td class="govuk-table__cell">A card component is a box-like container used to display information neatly,
          featuring sections for text, images, and actions.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--green">In
            progress</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/12"
            target="_blank">Charts</a></th>
        <td class="govuk-table__cell">Using charts in services to present data in an accessible way.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/9"
            target="_blank">Interruption page</a></th>
        <td class="govuk-table__cell">A page which forces the user to read or take notice of important information
          before continuing.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/4"
            target="_blank">Vertical navigation</a></th>
        <td class="govuk-table__cell">A navigation component for multi-page products.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/5"
            target="_blank">Progress bar</a></th>
        <td class="govuk-table__cell">A navigation component for helping a user understand where they are in a fixed journey or process.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/6"
            target="_blank">Timeline</a></th>
        <td class="govuk-table__cell">A vertical styled list of steps which can be numbered or blank to indicate a history or steps in a process.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><a href="https://github.com/DFE-Digital/dfe-frontend/issues/7"
            target="_blank">Maintenance banner</a></th>
        <td class="govuk-table__cell">A component which indicates product or service downtime which is temporary.</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag--grey">Not
            started</strong></td>
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}