{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Components" %}
{% set pageDescription = "Components are the building blocks for consistent looking, accessible, usable services in the Department for Education." %}
{% set selectedNav = "Design system" %}
{% set parentSection = "Components"%}
{% set isChildSection = "true"%}
{% set isSubNavSection = "true" %}
{% set dateUpdated = "April 2023 "%}
{% set backlog_issue_id = "" %}


{% block beforeContent %}{% endblock %}

{% block content %}



  <p>The components in this section have been designed, built, tested, and implemented across several Department for Education services.</p>

  <div class="govuk-inset-text">
    To use these component <a href="/design-system/dfe-frontend">install DfE Frontend into your project</a> using the <abbr title="Node Package Manager">NPM</abbr> package or compiled CSS and Javascript.
  </div>


<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Current components</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Component</th>
      <th scope="col" class="govuk-table__header">Summary</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="/design-system/components/header">Header</a></th>
      <td class="govuk-table__cell">Component for the blue DfE header for websites and services on education.gov.uk domains.</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Published</strong></td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Components being developed</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Component</th>
      <th scope="col" class="govuk-table__header">Summary</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Cards</th>
      <td class="govuk-table__cell">Card component for grouping similar pieces of content together.</td>
      <td class="govuk-table__cell"><a href="https://github.com/DFE-Digital/design/issues/75" target="_blank">Discuss on GitHub</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}