{% extends "layouts/content-with-sidenav.html" %}
{% import "../code-frame.html" as sample %}
{% import "./code-snippets.html" as codeSnippet %}

{% set pageName = "Projects list" %}
{% set pageDescription = "Show important information about a set of projects." %}
{% set pageCaption = "Regional Services Division design pattern" %}
{% set selectedNav = "Design system" %}
{% set setSelectedSideNav = "" %}
{% set parentSection = "rsd-design-system"%}
{% set childSection = "design-patterns"%}
{% set isChildSection = "true"%}

{% set isSubNavSection = "true" %}
{% set lastUpdated = "December 2024 "%}
{% set backlog_issue_id = "292" %}

{% block beforeContent %}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h2>When to use this pattern</h2>

        <p>Use this pattern when users need to see summary information about a list of projects.</p>
        
        <h2>Summary fields for each project</h2>

        <p>When choosing which fields to display for each project, research with your users to see which fields they find most useful.
          
        <p>Here are some fields you could display:</p>
  
          <ul>
            <li>project title</li>
            <li>project ID</li>
            <li>dates</li>
            <li>project status</li>
            <li>a link to the individual project page. This could be the project title</li>
          </ul>

          <h2>List format</h2>

        <p>Display the list of projects in a vertical format.</p> 

        <p>There are 2 variations you can use:</p>

        <ol>
          <li>tabular design</li>
          <li>card design</li>
        </ol>
        
        <p>Choose the variation that works best for your service. Consider page width and whether it's important for users to:</p>
        <ul>
          <li>compare projects</li>
          <li>see a lot of information about a project up-front</li>
        </ul>

        <h3>Tabular design</h3>

        <p>This design uses the <a href="https://design-system.service.gov.uk/components/table/">GOV.UK Table component</a> to show a header at the top, with a list of projects below.</p>

        {{ sample.code('/design-system/rsd-design-system/design-patterns/projects-list/example-projects-list-tabular-design.html', 'List of projects (tabular design)', 'projects-list-tabular-design',
          codeSnippet.htmlCodeListofProjectsTabularDesign) }}

        <p>The height of each project summary is relatively short. This makes the tabular design suitable if users need to compare mutliple projects on a page.</p>

        <h3>Card design</h3>

        <p>A card design uses the <a href="https://design-system.service.gov.uk/components/table/">GOV.UK Table component</a> to stack up projects, but the content and layout inside each project is more flexible.</p>

        {{ sample.code('/design-system/rsd-design-system/design-patterns/projects-list/example-projects-list-card-design.html', 'List of projects (card design)', 'projects-list-card-design',
          codeSnippet.htmlCodeListofProjectsCardDesign) }}
        
        <p>The height of each project summary is relatively tall. Therefore the card design is suitable if users need to read lots of information about a project at a high level, but comparing projects is not important.</p>

        <!--
        <h2>Multiple views</h2>

        <p>Show a subset of projects in a separate list if there is a user need for this.</p> 
        
        <p>For example, users may want to see a list of their own projects, or a list of projects of people they manage.</p> 
          
        <p>You may want to show this list alongside the full projects list.</p>

        {{ sample.code('/design-system/rsd-design-system/design-patterns/projects-list/example-projects-list-tabular-design-all-projects.html', 'List of projects (tabular design) - all projects', 'projects-list-tabular-design-all-projects',
          codeSnippet.htmlCodeListofProjectsTabularDesignAllProjects) }}
        -->

        <h2>Research on this pattern</h2>

        <p>We have not done research on this design pattern, but parts of the pattern are being used in <a href="https://design-histories.education.gov.uk/find-information-about-academies-trusts">Find information about academies and trusts</a> and <a href="https://design-histories.education.gov.uk/manage-free-school-projects">Manage free school projects</a> to meet this need from our <a href="https://educationgovuk.sharepoint.com/sites/ServiceDeliveryDirectorate/Lists/RSD%20crossprogramme%20user%20needs/AllItems.aspx?env=WebViewList">user needs database (opens a DfE Microsoft List)</a>:</p>
        
        <ul>
          <li><strong>user need 8:</strong> when managing my team's workload, I need to see the projects each individual is working on alongside new incoming projects, so that I can understand capacity in my team and allocate project accordingly</li>
          <li><strong>user need 30:</strong> when looking at the projects happing in my region, I need to know the status and progress being made on different projects so that I see the workload of different team members</li>
          <li><strong>user need 90:</strong> when looking for my projects, I need an easy way to view all projects I'm working on in one view, so I can monitor and manage my own workload</li>
        </ul>
    </div>
</div>

{% endblock%}
