{% set pageName = "Themes" %}
{% set pageDescription = "The themes we're working on within the communities of practice in the Department for Education." %}
{% set selectedNav = "Community" %}
{% set lastUpdated = "January 2023" %}
{% set backlog_issue_id = "40" %}

{% extends "layouts/content-with-sidenav.html" %}

{% block beforeContent %}{% endblock %}

{% block content %}

    <h2 class="govuk-heading-l"> Theme 1 - Communities of practice</h2>
    <p>Developing what it means to have a community of practice for design professions.</p>
    <p>How we encourage people to join our communities and contribute.</p>
    <p>How we develop mature communities.</p>

    <h2 class="govuk-heading-l"> Theme 2 - People and objectives</h2>
    <p>What are our professional objectives across design and how we measure them consistently.</p>
    <p>How we onboard new people joining design professions.</p>
    <p>How we develop peoples skills and capability.</p>

    <h2 class="govuk-heading-l"> Theme 3 - Career Pathways</h2>
    <p>What does it look like to change profession within design or move into a design profession.</p>
    <p>Identifying skills and training opportunities.</p>

    <h2 class="govuk-heading-l"> Theme 4 - Patterns and Components</h2>
    <p>Creating a common component library for DfE specific components to reuse across services.</p>
    <p>Publishing the patterns in services that enable us to design consistent services for our users.</p>
    <p>Make it easy to find and use patterns and contribute research and insight on patterns.</p>

    <h2 class="govuk-heading-l"> Theme 5 - Content Styles</h2>
    <p>The language we use in services is important. How do we ensure this is consisitent, easy to understand, and uses plain English.</p>
    <p>How do we ensure we explain complicated things easily, and in an accessible way.</p>

    <h2 class="govuk-heading-l"> Theme 6 - Measuring design</h2>
    <p>Recognise we need to understand how our services work for our users.</p>
    <p>Creating a base set of design metrics for all services to measure against.</p>
    <p>Demonstrate what good design looks like and share good practice.</p>

    <h2 class="govuk-heading-l"> Theme 7 - Accessibility</h2>
    <p>How we ensure accessibility is at the core of everything we design.</p>
    <p>Developing accessibility testing and awareness skills and capability.</p>

    <h2 class="govuk-heading-l"> Theme 8 - Design maturity</h2>
    <p>Working across professions and the department to develop and grow design maturity.</p>
    <p><a href="/design-ops/design-maturity">See progress on theme 8</a></p>

{% endblock %}