<section style="background-color:#ffffff;" class="govuk-!-margin-top-0 govuk-!-margin-bottom-9">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Design system</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/design-system/styles" class="govuk-link">Styles</a>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="/design-system/styles/colour" class="govuk-link">Colour</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/styles/typography" class="govuk-link">Typography</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/design-system/components" class="govuk-link">Components</a>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="/design-system/components/card" class="govuk-link">Card</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/components/filter" class="govuk-link">Filter</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/components/header" class="govuk-link">Header</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/design-system/patterns" class="govuk-link">Patterns</a>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="/design-system/patterns/select-a-school" class="govuk-link">Select a school</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Design system / Prototyping</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/design-system/figma" class="govuk-link">Figma training guides</a>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="/design-system/figma/figma-in-dfe" class="govuk-link">Figma in DfE</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/design-system/prototyping" class="govuk-link">Prototyping, GitHub, and Heroku</a>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        <a href="/design-system/prototyping/prerequisites" class="govuk-link">Pre-requisites</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/prototyping/setup-device" class="govuk-link">Set up your device</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/prototyping/working-with-code" class="govuk-link">Working with VS Code</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/prototyping/using-github" class="govuk-link">Using GitHub</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/prototyping/using-heroku" class="govuk-link">Using Heroku</a>
                                    </li>
                                    <li>
                                        <a href="/design-system/prototyping/tips-troubleshooting" class="govuk-link">Tips and troubleshooting</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Standards</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/standards" class="govuk-link">Standards</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-9">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Content design</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/content-design/content-strategies" class="govuk-link">Content strategies</a>
                            </li>
                            <li>
                                <a href="/content-design/plain-language" class="govuk-link">Guidance to meet the Plain Language standard</a>
                            </li>
                            <li>
                                <a href="/content-design/quality-and-assurance" class="govuk-link">Quality and assurance</a>
                            </li>
                            <li>
                                <a href="/content-design/publishing-content" class="govuk-link">Publishing content</a>
                            </li>
                            <li>
                                <a href="/content-design/style-guide" class="govuk-link">Style guide</a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">Professions</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/professions" class="govuk-link">Professions</a>
                            </li>
                            <li>
                                <a href="/professions/framework" class="govuk-link">Design skills framework</a>
                            </li>
                            <li>
                                <a href="/professions/working-groups" class="govuk-link">Working groups</a>
                            </li>
                            <li>
                                <a href="/professions/meetups" class="govuk-link">Meetups</a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <h2 class="govuk-heading-m">DesignOps</h2>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>
                                <a href="/designops" class="govuk-link">DesignOps</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>