{% extends "layouts/main.html" %}

{% set selectedNav = "" %}
{% set pageTitle = "Sorry, an error has occured" %}

{% block content %}

<h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, <a href="/design-ops/contact" class="govuk-link">contact the Design Ops team</a> for help.
        </p>

{% endblock %}