{% extends "layouts/homepage.html" %}

{% set selectedNav = "Home" %}
{% set pageName = "Homepage" %}
{% set pageDescription = "Principles, guidance, and standards to support people delivering joined-up, effective, user-centred outcomes for people who use Department for Education services" %}

{% block hero %}
  <section class="dfe-hero">
    <div class="dfe-width-container ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl">Department for Education<br/>Design Manual</h1>
          <p class="govuk-body-l">{{pageDescription}}</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}
  <div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      WCAG 2.2 is due to be published in August
    </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading" style="max-width: 90%">Read the guidance for understanding and applying the <a href="/accessibility/understanding-wcag/draft-2-2"  class="govuk-link" >9 new criteria in WCAG 2.2</a>.</p>
      <p  style="max-width: 90%">These are expected to be in place by the end of August with compliance expected within 12 months.</p>
    </div>
  </div>
  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-grid-container">
          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/imgdes.webp" type="image/webp">
              <img src="/assets/images/imgdes.png" alt="">
            </picture>

            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">Design system</a>
              </h2>
              <p>We use a combination of the GOV.UK Design System and DfE Frontend to create consistent looking services.</p>
            </div>
          </div>
          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/imgacc.webp" type="image/webp">
              <img src="/assets/images/imgacc.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/accessibility">Accessibility</a>
              </h2>
              <p>Use our templates, audit plans and WCAG guidelines to ensure we design with accessibility in mind.</p>
            </div>
          </div>
          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/imgcon.webp" type="image/webp">
              <img src="/assets/images/imgcon.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/content-design">Content design</a>
              </h2>
              <p>Writing in plain language, to create clear and consistent content for the departments digital services.</p>
            </div>
          </div>
          <div class="dfe-card">
            <picture>
              <source srcset="/assets/images/imgcop.webp" type="image/webp">
              <img src="/assets/images/imgcop.png" alt="">
            </picture>
            <div class="dfe-card-container">
              <h2 class="govuk-heading-m">
                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/professions">Professions</a>
              </h2>
              <p>Find out what it's like to work in design at DfE and how our communities of practice develop the design professions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
          <div class="dfe-o-banner__content-container dfe-light-blue-tint">
            <div class="dfe-o-banner__inner-content-container">
              <h2 class="govuk-heading-l">How to apply <br/>the Service Standard</h2>
              <p>We’ve built a companion service to the <br/>Government Service Standard.</p>
              <p>This service helps teams follow standards to build accessible, usable, safe, secure, and trusted services.</p>
              <a href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link govuk-body-l govuk-!-font-weight-bold">View the service</a>
            </div>
          </div>
          <div class="dfe-o-banner__image-container">
            <figure class="dfe-a-image dfe-a-image--cover">
              <picture class="dfe-a-image__picture">
                <source srcset="/assets/images/assidfe.webp" type="image/webp">
                <img src="/assets/images/assidfe.png" alt="">
              </picture>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="dfe-section-break dfe-section-break--m"></div>
    </div>
  </div>
  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Job vacanices</h2>   <p>
          <a  class="govuk-link" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=c2VhcmNocGFnZT0xJm93bmVydHlwZT1mYWlyJmpvYmxpc3Rfdmlld192YWM9MTg2NjcxNCZwYWdlYWN0aW9uPXZpZXd2YWNieWpvYmxpc3Qmb3duZXI9NTA3MDAwMCZzZWFyY2hzb3J0PXNjb3JlJnBhZ2VjbGFzcz1Kb2JzJnVzZXJzZWFyY2hjb250ZXh0PTQyNjIwODI0JnJlcXNpZz0xNjg5MjY2MzY1LTg5OTI0NjIzNmI0MDdhNjgwZDcwZTFlZmM0MjBiZTJjMTA5MDBiZGE=" target="_blank">Senior GOV.UK Content Designer (HEO - 1 Role)</a><br/>
          <span class="govuk-body-s">Salary of £33,952. <br/>Apply by 11:55pm on Wednesday 2 August 2023</span>
          <hr class="govuk-section-break govuk-section-break--visible"></p>
        <p>
          <a  class="govuk-link" href="https://www.civilservicejobs.service.gov.uk/csr/index.cgi?SID=cGFnZWNsYXNzPUpvYnMmcGFnZWFjdGlvbj12aWV3dmFjYnlqb2JsaXN0JmpvYmxpc3Rfdmlld192YWM9MTg2Nzg0OSZzZWFyY2hzb3J0PXNjb3JlJnVzZXJzZWFyY2hjb250ZXh0PTQzNTE3MTc0Jm93bmVyPTUwNzAwMDAmb3duZXJ0eXBlPWZhaXImc2VhcmNocGFnZT0xJnJlcXNpZz0xNjg5OTMwNDkwLTg4OGNhODM1MmMzYTFlNWMwNTQ4NmU0N2UyYWVkNWMzYTQ5OGRlMGI=" target="_blank">Senior Accessibility Specialist (G7 - 1 Role)</a><br/>
          <span class="govuk-body-s">Salary of £51,357. <br/>Apply by 11:55pm on Wednesday 9 August 2023</span>
          <hr class="govuk-section-break govuk-section-break--visible"></p>
      </div>
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">Other resources and guidance</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a class="govuk-link" href="https://apply-the-service-standard.education.gov.uk/">Apply the Service Standard in DfE</a>
          </li>
          <li>
            <a class="govuk-link" href="https://user-research.education.gov.uk/">User Research in DfE</a>
          </li>
          <li>
            <a class="govuk-link" href="https://standards.education.gov.uk/">All Standards and profession guidance</a>
          </li>
          <li>
            <a class="govuk-link" href="https://design-system.service.gov.uk/">GOV.UK Design System</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/service-manual">GOV.UK Service Manual</a>
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/service-manual/communities/design-community">Cross government design community</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}