{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education Design Manual" %}
{% set pageDescription = "Principles, guidance, and standards to support people delivering joined-up, effective, user-centred outcomes for people who use Department for Education services." %}

{% set zeroMainMargin = "true"%}

{% block content %}
   <section style="background: #ebf2f6;">
      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Design Manual</h1>
               <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
            </div>
         </div>
      </div>
   </section>

   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 40px 0px 0px 0px">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

               <h2 class="govuk-heading-l">Guidance for good design</h2>

               <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
                  <li class="card">
                     <h3>Design system</h3>
                     <p>Create consistent products and services with the GOV.UK and DfE Design Systems.</p>
                     <p>
                        <a href="/design-system" class="govuk-link govuk-link--no-visited-state">Go to the design system</a>
                     </p>
                  </li>
                  <li class="card">
                     <h3>Accessibility</h3>
                     <p>Guidance on accessibility standards, statement templates and understanding conformance.</p>
                     <p>
                        <a href="/accessibility" class="govuk-link govuk-link--no-visited-state">Understand accessibility</a>
                     </p>
                  </li>
                  <li class="card">
                     <h3>Content design</h3>
                     <p>Using plain language and a common style guide for creating easy to use content.</p>
                     <p>
                        <a href="/content-design" class="govuk-link govuk-link--no-visited-state">View content design guidance</a>
                     </p>
                  </li>

                  <li class="card">
                     <h3>Apply the Service Standard</h3>
                     <p>Understand how to embed standards and good ways of working throughout your agile delivery process.</p>
                     <p>
                        <a href="https://apply-the-service-standard.education.gov.uk/" class="govuk-link govuk-link--no-visited-state">Visit Apply the Service Standard</a>
                     </p>
                  </li>

               </ul>

               <h2 class="govuk-heading-l govuk-!-margin-top-5">Design goals</h2>
               <p class="govuk-body-l">How we set out to acheive the best design outcomes for users of our services.</p>

               <ul class="dfemanual-cta-cards dfemanual-cta-cards--full">
                  <li class="card">
                     <h3>1. Accessibility</h3>
                     <p>Raise the standard of accessible and inclusive design across the department.</p>
                  </li>
                  <li class="card">
                     <h3>2. People</h3>
                     <p>A consistent approach to recruitment and onboarding for design professionals with clear objectives for professions and community.</p>
                  </li>

                  <li class="card">
                     <h3>3. Standards</h3>
                     <p>A Design Standard for implementing consistent content design, service patterns and components in digital products and services.</p>
                  </li>
                  <li class="card">
                     <h3>4. Maturity</h3>
                     <p>Mature the design profession around a framework of guidance, principles, good practice, learning and development</p>
                  </li>
               </ul>

            </div>

            <div class="govuk-grid-column-one-third">

               <h2 class="govuk-heading-l">Vacancies</h2>
               <p>No design vacancies at the moment.</p>
               <section class="dfe-width-container">
                  <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                        <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
                     </div>
                  </div>
               </section>
               <div class="govuk-!-margin-top-9" style="background: #f8bc5e; border-radius: 8px;">
                  <div class="dfe-width-container" style="padding: 40px;">
                     <div class="govuk-grid-row">

                        <div class="govuk-grid-column-two-thirds">
                           <h3 class="govuk-heading-m govuk-!-margin-bottom-6">How many users?</h3>
                           <p class="govuk-body govuk-!-margin-bottom-5">Estimate how many people might have a disability, impairment or other characteristics which might affect how they use your service.</p>
                           <p class="govuk-body govuk-!-margin-bottom-0">
                              <a href="/learn/how-many-users" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Use the calculator</a>
                           </p>
                        </div>

                        <div class="govuk-grid-column-one-third dfe-text-align--centre ">
                           <img src="/assets/images/group.png" style="max-width: 50%;" alt="">
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

{% endblock %}