{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Home" %}
{% set pageName = "Department for Education Design Manual" %}
{% set pageDescription = "Principles, guidance, and standards to support people delivering joined-up, effective, user-centred outcomes for people who use Department for Education services." %}

{% block hero %}
   <section class="dfe-hero">
      <div class="govuk-width-container ">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-font-size-80">Design</h1>
               <p class="govuk-body-l">Principles, guidance, and standards to support people delivering joined-up, effective, user-centred outcomes for people who use Department for Education services.</p>

            </div>
         </div>
      </div>

   </section>

{% endblock %}

{% block content %}

   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">

         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Guidance and standards</h2>
               <p class="govuk-body-l">The standards and guidelines by which we design products and services.</p>
               <div class="dfe-grid-container">
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system/">Design system</a>
                        </h2>
                        <p>Understand how to ensure we design consistent services for Department for Education users.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system/dfe-frontend">DfE Frontend</a>
                        </h2>
                        <p>Using the frontend styles, components, and patterns in Department for Education services.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/content-design/">Content design</a>
                        </h2>
                        <p>Advice on how to create clear and consistent content for digital DfE services and guidance.</p>
                     </div>
                  </div>
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/accessibility/">Accessibility</a>
                        </h2>
                        <p>Everyone who works on Department for Education services has a role to play in making services accessible and inclusive.</p>
                     </div>
                  </div>
               </div>

               <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                     <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
                  </div>
               </div>

               <div class="dfe-panel-section govuk-!-margin-top-3">
                  <div class="govuk-grid-row">
                     <div class="govuk-grid-column-two-thirds">
                        <h2 class="govuk-heading-l">Apply the Service Standard in the<br/>Department for Education</h2>
                        <p>Guidance and information for how to apply the Government Service Standard to design and build accessible, usable and understandable services in DfE.</p>
                        <p>
                           <a href="https://apply-the-service-standard.education.gov.uk/service-standard" target="_blank" class="govuk-link govuk-link--inverse govuk-!-font-weight-bold">Read the service standards guidance</a>
                        </p>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </section>

   <section class="dfemanual-color-bg" style="background: #f2f2f2;">
      <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full"></div>
            <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-l">How many users?</h2>

               <p class="govuk-body-l govuk-!-margin-bottom-9">Estimate how many people might have a disability, impairment or other characteristics which might affect how they use your service.</p>
               <p>
                  <a href="/learn/how-many-users" class="dfe-cta">Use the calculator</a>
               </p>
            </div>
            <div class="govuk-grid-column-one-third dfe-text-align--centre govuk-!-padding-top-8">
               <img src="/assets/images/group.png" style="max-width: 50%;" alt="">
            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="dfe-width-container" style="padding: 80px 0px 40px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                  <div class="dfe-o-banner__content-container">
                     <div class="dfe-o-banner__inner-content-container">
                        <strong class="govuk-tag">Results updated</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-2">Design maturity</h2>
                        <p>Understand how we are working to develop a mature design profession and how we measure this on an annual basis.</p>
                        <a href="/inside-design/maturity" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more and view maturity results</a>
                     </div>
                  </div>
                  <div class="dfe-o-banner__image-container">
                     <figure class="dfe-a-image dfe-a-image--cover">
                        <picture class="dfe-a-image__picture">
                           <source srcset="/assets/images/objectives.webp" type="image/webp">
                           <img src="/assets/images/objectives.png" alt="">
                        </picture>
                     </figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="dfe-width-container" style="padding: 40px 0px 80px 0px">
         <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">

            <li class="card">
               <h3>Our design goals</h3>
               <p>The 4 goals focus on accessibility, people, standards, and maturity.</p>
               <p>
                  <a href="/inside-design/goals">Read about our progress <span class="govuk-visually-hidden">on design goals</a>
                  </a>
               </p>
            </li>
            <li class="card">
               <h3>Learn about design</h3>
               <p>Learn and develop new design skills and grow your understanding.</p>
               <p>
                  <a href="/learn">Start your learning journey</a>
               </p>
            </li>

         </ul>
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
            </div>
         </div>

         <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
               <h2 class="govuk-heading-l">Current design vacancies</h2>
               {# <div class="dfe-grid-container">
                  <div class="dfe-card">
                     <div class="dfe-card-container">
                        <h2 class="govuk-heading-m">
                           <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="#">Role</a>
                        </h2>
                        <p>Salary</p>
                        <p>Location</p>
                        <p>Closes</p>
                     </div>
                  </div>
               </div> #}

               <p>We have no design vacancies at the moment.</p>

            </div>
         </div>
      </div>
   </section>
{% endblock %}