{% extends "layouts/content-full-width.html" %}
{% set canonical = "https://design.education.gov.uk"%}
{% set selectedNav = "" %}
{% set pageName = "This content has moved" %}
{% set pageDescription = "All access" %}
{% set backlog_issue_id = "195" %}




{% block content %}


   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This content has moved</h1>

            <p>All content relating to accessibility and inclusive design can now be found in the new <a href="https://accessibility.education.gov.uk" target="_blank">Accessibility&nbsp;and&nbsp;inclusive&nbsp;design&nbsp;manual (opens in a new tab)</a>.</p>

            <p>You can also find a link to the new manual in the "Manuals and services" menu above the header.</p>

         </div>
      
      </div>
   </div>
</section>



{% endblock %}
