{% extends "layouts/content-with-sidenav.html" %}

{% set pageName = "Site map" %}
{% set pageDescription = "Site map for the design manual in the Department for Education." %}
{% set selectedNav = "" %}
{% set lastUpdated = "May 2024"%}

{% block content %}

<ul class="govuk-list govuk-list--bullet">
  <li><a href="/">Home</a></li>
  <li><a href="/cookie-policy">Cookie Policy</a></li>
  <li><a href="/design-system">Design System</a>
    <ul>
      <li><a href="/design-system/installation">Getting Started</a></li>
      <li><a href="/design-system/dfe-frontend">DfE Frontend</a></li>
      <li><a href="/design-system/dfe-frontend/updating">Updating from dfe-frontend-alpha</a></li>
      <li><a href="/design-system/dfe-frontend/styles">Styles</a>
        <ul>
          <li><a href="/design-system/dfe-frontend/styles/typography">Typography</a></li>
          <li><a href="/design-system/dfe-frontend/styles/colour">Colour</a></li>
        </ul>
      </li>
      <li><a href="/design-system/dfe-frontend/components">Components</a>
        <ul>
          <li><a href="/design-system/dfe-frontend/components/header">Header</a>
          </li>
        </ul>
      </li>
      <li><a href="/design-system/dfe-frontend/patterns">Patterns</a>
        <ul>
          <li><a href="/design-system/dfe-frontend/patterns/select-a-school">Select a School</a></li>
        </ul>
      </li>
      <li><a href="/design-system/content-design">Content Design</a>
        <ul>
          <li><a href="/design-system/language-we-use">Language We Use</a></li>
          <li><a href="/design-system/how-we-write-emails">How We Write Emails</a></li>
          <li><a href="/design-system/writing-project-page">Writing a project page</a></li>
          <li><a href="/design-system/types-of-content-we-publish">Types of Content We Publish</a></li>
          <li><a href="/design-system/publishing-content-on-govuk">Publishing Content on GOV.UK</a></li>
          <li><a href="/design-system/reviewing-and-checking-content">Reviewing and Checking Content</a></li>
        </ul>
      </li>
      <li><a href="/design-system/style-guide">Style Guide</a></li>
      <li><a href="/design-system/content-strategies">Content Strategies</a></li>
      <li><a href="/design-system/figma">Figma</a></li>
      <li><a href="/design-system/prototype-kit">Prototype Kit</a></li>
      <li><a href="/design-system/github-heroku">GitHub Heroku</a></li>
    </ul>
  </li>
  <li><a href="/community">Community</a></li>
  <li><a href="/our-work">Our Work</a>
    <ul>
      <li><a href="/our-work/projects/family-hubs">Family Hubs</a></li>
      <li><a href="/our-work/projects/education-health-care-plan">Education Health Care Plan</a></li>
      <li><a href="/our-work/projects/service-assessment-service">Service Assessment Service</a></li>
    </ul>
  </li>
  <li><a href="/tools">Tools</a>
    <ul>
      <li><a href="/tools/proposition-checker">Proposition Checker</a></li>
      <li><a href="/tools/how-many-users">How Many Users</a></li>
    </ul>
  </li>
  <li><a href="/accessibility">Accessibility</a>
    <ul>
      <li><a href="/accessibility/standards">Standards</a></li>
      <li><a href="/accessibility/roles-and-responsibilities">Roles and Responsibilities</a></li>
      <li><a href="/accessibility/understanding-wcag">Understanding WCAG</a>
        <ul>
          <li><a href="/accessibility/understanding-wcag/perceivable">Perceivable</a></li>
          <li><a href="/accessibility/understanding-wcag/operable">Operable</a></li>
          <li><a href="/accessibility/understanding-wcag/understandable">Understandable</a></li>
          <li><a href="/accessibility/understanding-wcag/robust">Robust</a></li>
        </ul>
      </li>
      <li><a href="/accessibility/assurance">Assurance</a></li>
      <li><a href="/accessibility/audits">Audits</a></li>
      <li><a href="/accessibility/evaluation-methodology">Evaluation Methodology</a></li>
      <li><a href="/accessibility/determine-conformance">Determine Conformance</a></li>
      <li><a href="/accessibility/accessibility-statements">Accessibility Statements</a>
        <ul>
          <li><a href="/accessibility/accessibility-statements/full-statement">Full Statement</a></li>
          <li><a href="/accessibility/accessibility-statements/partial-statement">Partial Statement</a></li>
          <li><a href="/accessibility/accessibility-statements/notmet-statement">Not Met Statement</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a href="/design-ops">Design Ops</a>
    <ul>
      <li><a href="/design-ops/professions/priotirites">Priorities</a></li>
      <li><a href="/design-ops/professions">Professions</a>
        <ul>
          <li><a href="/design-ops/professions/content-design">Content Design</a></li>
          <li><a href="/design-ops/professions/interaction-design">Interaction Design</a></li>
          <li><a href="/design-ops/professions/service-design">Service Design</a></li>
          <li><a href="/design-ops/professions/head-of-profession">Head of Profession</a></li>
        </ul>
      </li>
      <li><a href="/design-ops/professions/maturity">Maturity</a>
        <ul>
          <li><a href="/design-ops/professions/maturity/results/september-2023">Results September 2023</a></li>
          <li><a href="/design-ops/professions/maturity/results/september-2022">Results September 2022</a></li>
        </ul>
      </li>
      <li><a href="/design-ops/satisfaction-scores">Satisfaction Scores</a></li>
      <li><a href="/tools">Tools</a></li>
    </ul>
  </li>
  <li><a href="/standards">Standards</a></li>
</ul>
{% endblock %}