{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside Design" %}
{% set pageName = "Inside Design" %}
{% set pageDescription = "How our professions work together as a design community to develop standards, better ways of working, and designing good solutions and outcomes for our users." %}
{% set zeroMainMargin = "true"%}

{% block content %}
   <section style="background: #ebf2f6;">

      <div class="dfe-width-container" style="padding: 60px 0px;">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
               <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
               <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
            </div>
         </div>
      </div>
   </section>
   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 80px 0px 0px 0px">

         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
               <h2 class="govuk-heading-l">Design goals</h2>
               <p class="govuk-body-l">How we set out to acheive the best design outcomes for users of our services.</p>
            </div>
            <div class="govuk-grid-column-two-thirds">

               <ul class="dfemanual-cta-cards dfemanual-cta-cards--half">
                  <li class="card">
                     <h3>1. Accessibility</h3>
                     <p>Raise the standard of accessible and inclusive design across the department.</p>
                  </li>
                  <li class="card">
                     <h3>2. People</h3>
                     <p>A consistent approach to recruitment and onboarding for design professionals with clear objectives for professions and community.</p>
                  </li>

                  <li class="card">
                     <h3>3. Standards</h3>
                     <p>A Design Standard for implementing consistent content design, service patterns and components in digital products and services.</p>
                  </li>
                  <li class="card">
                     <h3>4. Maturity</h3>
                     <p>Mature the design profession around a framework of guidance, principles, good practice, learning and development</p>
                  </li>
               </ul>
               <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0">
                  <a href="/inside-design/goals" class="dfe-cta">How we're doing <span class="govuk-visually-hidden">against our design goals.</span></a>
               </p>

            </div>
         </div>
      </div>
   </section>

   <section>
      <div class="dfe-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
               <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m "></div>
            </div>
         </div>
      </div>
   </section>

   <section class="" style="background: #ffffff;">
      <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
               <h2 class="govuk-heading-l">Profession maturity</h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
               <p class="govuk-body">The community of practice is an essential part of the design profession that helps us work more efficiently and effectively together.</p>
               <p class="govuk-body">Within the department, it's used to break down siloes, improve design processes, develop skills and knowledge and share work.</p>
               <p class="govuk-body">It also creates opportunities to work with other designers, on shared problems or goals, who you might not usually work with.</p>
               <p class="govuk-body">Combined, these help to grow maturity in our design professions.</p>

               <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-0">
                  <a href="/inside-design/maturity" class="dfe-cta">How we measure maturity</a>
               </p>
            </div>
         </div>
      </div>
   </section>

       <section class="dfemanual-color-bg" style="background: #c7eedf;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Professions</h2>
                    <p class="govuk-body-l">Understand more about the design professions in the Department for Education.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <ul class="dfemanual-cta-cards">
                        <li class="card">
                            <span class="icon"><img src="/assets/images/grid.png" alt=""></span>
                            <h3>Content design</h3>
                            <p>Find out about the content design profession, and how designers use plain language to help users get the outcomes they need.</p>
                            <p>
                                <a href="/inside-design/professions/content-design" class="govuk-link govuk-link--no-visited-state">Learn more <span class="govuk-visually-hidden">about content design</span></a>
                            </p>
                        </li>
                        <li class="card">
                            <span class="icon"><img src="/assets/images/window.png" alt=""></span>
                            <h3>Interaction design</h3>
                            <p>Interaction designers design the way people use a product and remove risk from user interactions with our services.</p>
                            <p>
                                <a href="/inside-design/professions/interaction-design" class="govuk-link govuk-link--no-visited-state">Learn more <span class="govuk-visually-hidden">about interaction design</span></a>
                            </p>
                        </li>
                        <li class="card">
                            <span class="icon"><img src="/assets/images/monitor.png" alt=""></span>
                            <h3>Service design</h3>
                            <p>Learn how service designers design the end-to-end journey of a service. This helps a user complete their goal and the department deliver a policy intent.</p>
                            <p>
                                <a href="/inside-design/professions/service-design" class="govuk-link govuk-link--no-visited-state">Learn more <span class="govuk-visually-hidden">about service design</span></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="dfemanual-color-bg" style="background: #abcae5;">
        <div class="dfe-width-container" style="padding: 80px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Our working groups</h2>
                    <p class="govuk-body-l">Find out about the objectives of our working groups on maturing the design profession in the department.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <ul class="dfemanual-cta-cards">
                        <li class="card">
                            <h3>Community, people, and objectives</h3>
                            <p>Working to improve the recruitment and onboarding experience for designers.</p>
                            <p>
                                <a href="/inside-design/working-group/people" class="govuk-link govuk-link--no-visited-state">Updates and more <span class="govuk-visually-hidden">about community, people, and objectives working group</span></a>
                            </p>
                        </li>
                        <li class="card">
                            <h3>Patterns and components</h3>
                            <p>Developing consistent design components and patterns for digital services.</p>
                            <p>
                                <a href="/inside-design/working-group/patterns-and-components" class="govuk-link govuk-link--no-visited-state">Updates and more <span class="govuk-visually-hidden">about patterns and components working group</span></a>
                            </p>
                        </li>
                        <li class="card">
                            <h3>Content styles</h3>
                            <p>How we're ensuring consistent tone of voice, language and content style in our products and services..</p>
                            <p>
                                <a href="/inside-design/working-group/content-styles" class="govuk-link govuk-link--no-visited-state">Updates and more <span class="govuk-visually-hidden">about content styles working group</span></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

{% endblock %}