{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside design" %}
{% set pageName = "Inside design" %}
{% set pageDescription = "Learn more about the work we do across design in the Department for Education, from our people, professions, and communities of practice." %}
{% set zeroMainMargin = "true"%}

{% block content %}
    <section style="background: #ebf2f6;">

        <div class="dfe-width-container" style="padding: 60px 0px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
        </div>
    </section>


    <section style="background: #ffffff;">

        <div class="dfe-width-container" style="padding: 60px 0 0 0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-l govuk-!-margin-top-2">Our work</h2>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body-l">Read about some of the work from our digital teams across the department.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="dfe-grid-container dfe-grid-container--wider">

                        <div class="dfe-card">
                            <picture>
                                <source srcset="/assets/images/familyhubs.webp" type="image/webp">
                                <img src="/assets/images/familyhubs.png" alt="">
                            </picture>
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/projects/family-hubs" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Family hubs digital project</a>
                                </h2>
                                <p>The Family hubs digital project is a cross-government project. It aims to improve outcomes for vulnerable and disadvantaged children, young people, and families.</p>
                                <p class="govuk-body-s">Vulnerable Children and Families Team</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <picture>
                                <source srcset="/assets/images/ehcp.webp" type="image/webp">
                                <img src="/assets/images/ehcp.png" alt="">
                            </picture>
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/projects/education-health-care-plan" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Education health and care plan digital project</a>
                                </h2>
                                <p>The Education, Health and Care Plan (EHCP) digital project is a cross-government project. It aims to support local authorities to improve outcomes for children and young people with EHC plans.</p>
                                <p class="govuk-body-s">Vulnerable Children and Families Team</p>
                            </div>
                        </div>

                       

                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 20px 0px 0px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
                </div>
            </div>
        </div>
    </section>

        <section style="background: #ffffff;">

        <div class="dfe-width-container" style="padding: 80px 0 80px 0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-l govuk-!-margin-top-2">Our goals</h2>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body-l">The design goals and objectives and the initiatives we're working on to meet them.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="dfe-grid-container dfe-grid-container--wider">

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/goals#accessibility" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">1. Accessibility</a>
                                </h2>
                                <p>Raise the standard of accessible and inclusive design across the department.</p>
                            </div>
                        </div>

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/goals#people" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">2. People</a>
                                </h2>
                                <p>A consistent approach to recruitment and onboarding for design professionals with clear objectives for professions and community.</p>
                            </div>
                        </div>

                         <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/goals#standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">3. Standards</a>
                                </h2>
                                <p>A Design Standard for implementing consistent content design, service patterns and components in digital products and services.</p>
                            </div>
                        </div>

                         <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a href="/inside-design/goals#maturity" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">4. Maturity</a>
                                </h2>
                                <p>Mature the design profession around a framework of guidance, principles, good practice, learning and development.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="dfe-width-container" style="padding: 10px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                        <div class="dfe-o-banner__content-container">
                            <div class="dfe-o-banner__inner-content-container">
                                <strong class="govuk-tag">2023 results published</strong>
                                <h2 class="govuk-heading-l govuk-!-margin-top-2">Design maturity</h2>
                                <p>Understand how we are working to develop a mature design profession and how we measure this on an annual basis.</p>
                                <a href="/inside-design/maturity" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more and view maturity results</a>
                            </div>
                        </div>
                        <div class="dfe-o-banner__image-container">
                            <figure class="dfe-a-image dfe-a-image--cover">
                                <picture class="dfe-a-image__picture">
                                    <source srcset="/assets/images/objectives.webp" type="image/webp">
                                    <img src="/assets/images/objectives.png" alt="">
                                </picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
             <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Professions</h2>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body-l">Understand more about the design professions in the Department for Education.</p>
                </div>
         
                <div class="govuk-grid-column-two-thirds">

                    <div class="dfe-grid-container dfe-grid-container--wider">
                        <div class="dfe-card">
                            <div class="dfe-card-container ">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/content-design">Content design</a>
                                </h2>
                                <p>Find out about the content design profession, and how designers use plain language to help users get the outcomes they need.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/interaction-design">Interaction design</a>
                                </h2>
                                <p>Interaction designers design the way people use a product and remove risk from user interactions with our services.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/service-design">Service design</a>
                                </h2>
                                <p>Learn how service designers design the end-to-end journey of a service. This helps a user complete their goal and the department deliver a policy intent.</p>
                            </div>
                        </div>

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/head-of-profession">Head of Profession</a>
                                </h2>
                                <p>The head of profession for design, enables and empowers designers across the department with the tools, support, standards, and guidance for delivering good design outcomes.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Our working groups</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body">Find out about profession time and the objectives of our working groups on maturing the design profession in the department.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                                    <h3>Profession time in DfE</a>
                    </h3>
                    <p>Every Thursday in DfE we have dedicated profession time. In practice, this means that between 1-4pm each profession can use some – or all – of this time for professional development.</p>
                    <p>Within this time, communities of practice meet between 1-2pm.</p> 
                    <p class="govuk-body">Then 2-4pm can be used for:</p>
                    <ul class="govuk-list govuk-list--bullet">
                    <li>cross-design group objectives, for example, style guide or patterns</li>
                    <li>content, service and interaction design specific meet-ups </li>
                    <li>crits, either in profession or profession families</li>
                    <li>personal learning and development time</li>
                    </ul>
                    <p></p>
                    <h3>Join a DfE community of practice</a>
                    </h3>
                    <p>Communities of practice help to drive the learning and development of the professions and their practice through sharing ideas, skills and experience.</p>
                    <p>The design community meets every Thursday between 1-2pm. This time is used to share cross-community information and learnings, for example, checking in with the cross-design working groups progress, or inviting cross-gov people to talk.</p>
                    <p>Once a month we have themes, and crowd source topics, facilitators and speakers. People can volunteer to chair and run a session. We also join up with other professions, such as user research or product to run multidisciplinary meet-ups. We encourage designers to set up user-centred profession meet-ups with their portfolio or business area, too.</p>
                    <p>To join the design community send a request to <a class="govuk-link govuk-link--no-visited-state" href="https://ukgovernmentdfe.slack.com/archives/C0432A8JSV7" target="_blank">#design</a>  in DfE Slack.</p>

                    <p>Current working groups include:</p>
                    <h3>
                        <a href="/inside-design/working-group/people" class="govuk-link govuk-link--no-visited-state">Community, people, and objectives</a>
                    </h3>
                    <p>Working to improve the recruitment and onboarding experience for designers.</p>
                    <h3>
                        <a href="/inside-design/working-group/patterns-and-components" class="govuk-link govuk-link--no-visited-state">Patterns and components</a>
                    </h3>
                    <p>Developing consistent design components and patterns for digital services.</p>
                    <h3>
                        <a href="/inside-design/working-group/content-styles" class="govuk-link govuk-link--no-visited-state">Content styles</a>
                    </h3>
                    <p>How we're ensuring consistent tone of voice, language and content style in our products and services.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}