{% extends "layouts/content-full-width.html" %}
{% set selectedNav = "Inside Design" %}
{% set pageName = "Inside Design" %}
{% set pageDescription = "Learn more about the work we do across design in the Department for Education, from our people, professions, and communities of practice." %}
{% set zeroMainMargin = "true"%}

{% block content %}
    <section style="background: #ebf2f6;">

        <div class="dfe-width-container" style="padding: 60px 0px;">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{pageName}}</h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-0">{{pageDescription}}</p>
                </div>
            </div>
        </div>
    </section>

    {# <section>
        <div class="dfe-width-container" style="padding: 40px 0px 40px 0px">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Our work</h2>
                    <p class="govuk-body-l">Case studies, posts, and projects from teams across DfE.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                        <div class="dfe-o-banner__content-container">
                            <div class="dfe-o-banner__inner-content-container">
                                <strong class="govuk-tag">Vulnerable children and families</strong>
                                <h2 class="govuk-heading-l govuk-!-margin-top-2">Working together</h2>
                                <p></p>
                                <a href="#" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold"></a>
                            </div>
                        </div>
                        <div class="dfe-o-banner__image-container">
                            <figure class="dfe-a-image dfe-a-image--cover">
                                <picture class="dfe-a-image__picture">
                                    <source srcset="/assets/images/teacher.jpg" type="image/jpeg">
                                    <img src="/assets/images/teacher.jpg" alt="">
                                </picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> #}

    {# <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 0px 0px 0px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dfe-section-break dfe-section-break--light-dashed dfe-section-break--m"></div>
                </div>
            </div>
        </div>
    </section> #}

    <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 40px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Professions</h2>
                    <p class="govuk-body-l">Understand more about the design professions in the Department for Education.</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div class="dfe-grid-container dfe-grid-container--wider">
                        <div class="dfe-card">
                            <div class="dfe-card-container ">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/content-design">Content design</a>
                                </h2>
                                <p>Find out about the content design profession, and how designers use plain language to help users get the outcomes they need.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/interaction-design">Interaction design</a>
                                </h2>
                                <p>Interaction designers design the way people use a product and remove risk from user interactions with our services.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/inside-design/professions/service-design">Service design</a>
                                </h2>
                                <p>Learn how service designers design the end-to-end journey of a service. This helps a user complete their goal and the department deliver a policy intent.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="dfemanual-color-bg" style="background: #ffffff;">
        <div class="dfe-width-container" style="padding: 0px 0px 80px 0px">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Our working groups</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body-l">Find out about the objectives of our working groups on maturing the design profession in the department.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <h3>
                        <a href="/inside-design/working-group/people" class="govuk-link govuk-link--no-visited-state">Community, people, and objectives</a>
                    </h3>
                    <p>Working to improve the recruitment and onboarding experience for designers.</p>
                    <h3>
                        <a href="/inside-design/working-group/patterns-and-components" class="govuk-link govuk-link--no-visited-state">Patterns and components</a>
                    </h3>
                    <p>Developing consistent design components and patterns for digital services.</p>
                    <h3>
                        <a href="/inside-design/working-group/content-styles" class="govuk-link govuk-link--no-visited-state">Content styles</a>
                    </h3>
                    <p>How we're ensuring consistent tone of voice, language and content style in our products and services..</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}