<div class="app-your-reference govuk-body">
  <p>
    <span class="app-your-reference__code govuk-heading-xl">{{ params.header }}</span>
  </p>
  <div class="app-your-reference__meta">
    {{ params.body | safe }}
  </div>
</div>