{% extends "layouts/main.html" %}

{% set selectedNav = "" %}
{% set pageTitle = "Privacy Policy for Feedback Form" %}

{% block content %}  
  
  <h1>Privacy Policy for Feedback Form</h1>
    <p>
        The Department for Education Design Ops team is committed to protecting your privacy. 
        This privacy policy explains how we use any personal information we collect about you when you use this feedback form.
    </p>
    <h2>What information do we collect about you?</h2>
    <p>
        We collect your email address when you submit feedback through our form.
    </p>
    <h2>How will we use the information about you?</h2>
    <p>
        We collect information about you to respond to your feedback. 
        Your email address is used solely for this purpose by the Design Ops team and is not used for any other purposes.
    </p>
    <h2>Retention of Data</h2>
    <p>
        Your email address will be retained for a period of 2 years or less if deleted earlier.
    </p>
    <h2>Data Protection</h2>
    <p>
        For more information on how your data is protected, please review our <a href="https://assets.publishing.service.gov.uk/media/64a2a18745b6a200123d471d/Data_protection_policy_v.4.pdf">Data Protection Policy</a>.
    </p>
    <h2>Contact Us</h2>
    <p>
        If you have any questions about our privacy policy or the information we hold about you, please contact us at <a href="mailto:design.ops@education.gov.uk">design.ops@education.gov.uk</a>.
    </p>

    {% endblock %}