{{ govukFooter({
navigation: [
{
title: "Site information",
width: "two-thirds",
columns: 2,
items: [
{
href: "/accessibility-statement",
text: "Accessibility statement"
},
{
href: "/design-ops/contact",
text: "Contact DesignOps"
},
{
href: "/cookie-policy",
text: "Cookie policy"
},
{
href: "https://github.com/DFE-Digital/design",
text: "GitHub source code"
}
]
},
{
title: "Other services",
width: "one-third",
items: [
{
href: "https://design-histories.education.gov.uk/",
text: "Design Histories"
},
{
href: "https://apply-the-service-standard.education.gov.uk/",
text: "Apply the Service Standard"
},
{
href: "https://user-research.education.gov.uk/",
text: "User Research Manual"
},
{
href: "https://technical-guidance.education.gov.uk/",
text: "Technical Manual"
},
{
href: "https://dfe-digital.github.io/architecture/#dfe-architecture",
text: "Architecture Manual"
}
]
}
]
}) }}