<header
  class="gem-c-layout-super-navigation-header">
    <div class="gem-c-layout-super-navigation-header__container govuk-clearfix">
        <div class="govuk-width-container transparent-bottom-border">
            <div class="gem-c-layout-super-navigation-header__header-logo">
                <a class="govuk-header__link govuk-header__link--homepage"        
          id="logo" aria-label="Go to the GOV.UK homepage" href="/">
                    <img src="/public/images/department-for-education_white.png" alt="Department for Education"
            class="govuk-header__logotype">
                </a>
            </div>
        </div>
        <nav aria-labelledby="super-navigation-menu-heading"
      class="gem-c-layout-super-navigation-header__content govuk-!-display-none-print js-module-initialised"
      data-module="super-navigation-mega-menu" data-super-navigation-mega-menu-module-started="true">
            <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
        Navigation menu
      </h2>

            <div class="govuk-width-container gem-c-layout-super-navigation-header__button-width-container">
                <div class="gem-c-layout-super-navigation-header__button-container">
                    <div class="gem-c-layout-super-navigation-header__navigation-item">
                        <a class="gem-c-layout-super-navigation-header__navigation-item-link" href="/browse" hidden="hidden">
                            <span
                class="gem-c-layout-super-navigation-header__navigation-item-link-inner"> Menu
              </span></a>
                        <button aria-controls="super-navigation-menu" aria-expanded="false" aria-label="Show navigation menu"
              class="gem-c-layout-super-navigation-header__navigation-top-toggle-button"
              data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu"
              data-toggle-desktop-group="top" data-toggle-mobile-group="top"
              data-ga4-event="{&quot;event_name&quot;:&quot;select_content&quot;,&quot;type&quot;:&quot;header menu bar&quot;,&quot;text&quot;:&quot;Menu&quot;,&quot;index_section&quot;:1,&quot;index_section_count&quot;:2,&quot;section&quot;:&quot;Menu&quot;}"
              id="super-navigation-menu-toggle" type="button">
                            <span class="gem-c-layout-super-navigation-header__navigation-top-toggle-button-inner">Menu</span>
                        </button>
                    </div>

                </div>
            </div>

            <div id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu"
        hidden="hidden">
                <div class="govuk-width-container">
                    <div class="govuk-grid-row gem-c-layout-super-navigation-header__navigation-items">

                        <div
              class="govuk-grid-column-two-thirds-from-desktop gem-c-layout-super-navigation-header__column--services-and-information">
                            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                Profession guidance and information
              </h3>
                            <ul
                class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--services-and-information">
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://accessibility.education.gov.uk">Accessibility</a>

                                </li>

                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://apply-the-service-standard.education.gov.uk">Apply the Service Standard</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://dfe-digital.github.io/architecture/#dfe-architecture">Architecture</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://cyber-security.education.gov.uk">Cyber and information security</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                     href="https://design.education.gov.uk">Design</a>

                                </li>

                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://design-histories.education.gov.uk">Design histories</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                     href="https://job-descriptions.education.gov.uk/">Find a job description</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://standards.education.gov.uk">Find and use standards</a>

                                </li>

                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                    href="https://technical-guidance.education.gov.uk/">Technical</a>

                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link"
                     href="https://user-research.education.gov.uk/">User research</a>

                                </li>

                            </ul>
                        </div>

                        <div
              class="govuk-grid-column-one-third-from-desktop gem-c-layout-super-navigation-header__column--government-activity">
                            <h3 class="govuk-heading-m gem-c-layout-super-navigation-header__column-header">
                Services for teams
              </h3>
                            <ul
                class="gem-c-layout-super-navigation-header__navigation-second-items gem-c-layout-super-navigation-header__navigation-second-items--government-activity">

                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description"
                    href="https://service-assessments.education.gov.uk/">Service assessment service</a>
                                    <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Book and manage service assessments, assess and report outcomes.</p>
                                </li>
                                <li class="gem-c-layout-super-navigation-header__dropdown-list-item">
                                    <a class="govuk-link gem-c-layout-super-navigation-header__navigation-second-item-link gem-c-layout-super-navigation-header__navigation-second-item-link--with-description"
                     href="https://accessibility-statements.education.gov.uk/">Manage your accessibility issues and statements</a>
                                    <p class="gem-c-layout-super-navigation-header__navigation-second-item-description">Track issues and generate realtime accessibility statements</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>