{{ header({
"showNav": "true",
"showSearch": "true",
"showUserName": "false",
"userName": "",
"userNameURL": "",
"selectedNav": selectedNav,
"logoPath": "assets/images",
"searchInputName": "searchterm",
"service": {
"name": serviceName,
"serviceUrl": "/"
},
"primaryLinks": [
{
"url" : "/",
"label" : "Home"
},
{
"url" : "/design-system",
"label" : "Design system"
},
{
"url" : "/design-ops",
"label" : "DesignOps"
},
{
"url" : "/community",
"label" : "Community"
},{
"url" : "/our-work",
"label" : "Our work"
},
{
"url" : "/tools",
"label" : "Tools"
}
]
})
}}