 {{ header({
    "showNav": "true",
    "showSearch": "true",
    "showUserName": "false",
    "userName": "",
    "userNameURL": "",
    "selectedNav": selectedNav,
    "logoPath": "assets/images",
    "searchInputName": "searchterm",
    "service": {
      "name": serviceName
    },
    "primaryLinks": [
      {
        "url"  : "/",
        "label" : "Home"
      },
       {
        "url"  : "/design-system",
        "label" : "Design system"
      },
       {
        "url"  : "/accessibility",
        "label" : "Accessibility"
      },
       {
        "url"  : "/content-design",
        "label" : "Content design"
      },
       {
        "url"  : "/tools",
        "label" : "Tools"
      },
       {
        "url"  : "/professions",
        "label" : "Professions"
      },
       {
        "url"  : "/community",
        "label" : "Community"
      },
       {
        "url"  : "/design-ops",
        "label" : "Design Ops"
      }
    ]
  })
}}