<div class="dfe-services-panel" id="services-panel" style="display: none;" aria-hidden="true">
    <div class="govuk-width-container">
        <div class="govuk-!-padding-top-5 govuk-!-padding-bottom-0">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Other manuals</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://design.education.gov.uk" class="govuk-link govuk-link--no-visited-state">Design manual</a>
                        </li>
                        <li>
                            <a href="https://user-research.education.gov.uk" class="govuk-link govuk-link--no-visited-state">User research manual</a>
                        </li>
                        <li>
                            <a href="https://technical-guidance.education.gov.uk" class="govuk-link govuk-link--no-visited-state">Technical manual</a>
                        </li>
                        <li>
                            <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" class="govuk-link govuk-link--no-visited-state">Architecture manual</a>
                        </li>

                    </ul>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Standards and assurance</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://apply-the-service-standard.education.gov.uk" class="govuk-link govuk-link--no-visited-state">Apply the Service Standard</a>
                        </li>
                        <li>
                            <a href="https://standards.education.gov.uk" class="govuk-link govuk-link--no-visited-state">Standards manual</a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-third">
                    <h2 class="govuk-heading-m">Working in DfE</h2>
                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://design-histories.education.gov.uk" class="govuk-link govuk-link--no-visited-state">Design histories</a>
                        </li>
                        <li>
                            <a href="https://dfe-digital.github.io/dfe-job-descriptions/index.html" class="govuk-link govuk-link--no-visited-state">DfE DDaT job descriptions</a>
                        </li>
                        <li>
                            <a href="https://ddt-job-descriptions-5ca184d3d4ce.herokuapp.com" class="govuk-link govuk-link--no-visited-state">Find a job description</a> <strong class="govuk-tag">BETA</strong>
                        </li>
                        
                    </ul>
                </div>

                <div class="govuk-grid-column-full">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <p>
                        <i class="fa-solid fa-circle-xmark"></i> <a href="#closeNav" id="closeNav" class="govuk-link">Close this menu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>