<nav class="dfe-topnav" name="Other services navigation">
    <div class="govuk-width-container">
        <div class="flex-nav">
            <ul class="flex-left">
                <li>
                    <a href="/" class=" active" id="nav-public-and-players">Design Manual</a>
                </li>
                <li>
                    <a href="https://user-research.education.gov.uk/" class="" target="_blank" id="">User Research Manual</a>
                </li>
                <li>
                    <a href="https://apply-the-service-standard.education.gov.uk/" class="" id="">
                        <span class="govuk-visually-hidden">Visit the </span>Standards Manual</a>
                </li>
                <li>
                    <a href="https://design-histories.education.gov.uk/" class="" id="">Design Histories</a>
                </li>
            </ul>
            <ul class="flex-right">
                <li>
                    <a href="#feedback" class="feedback-tab" id="feedback-tab">Give us feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>