<nav class="dfe-topnav">
    <div class="govuk-width-container">
        <div class="dfe-topnav__nav">
            <ul class="dfe-topnav__left">
              <li>
                    <a href="#services" id="services-tab">Manuals and services</a>
                </li>
            </ul>
            <ul class="dfe-topnav__right">
                <li>
                    <a href="https://github.com/DFE-Digital/design/issues" target="_blank" class="dfe-topnav__link">
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>